@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";


.finish{margin:0 auto;margin-top:40px;padding-top:118px;margin-bottom:40px;width:1180px;height:460px;text-align:center;border:solid 1px #d8d8d8;background-color:#ffffff;}
.finish i.gm-success-1{font-size:50px;color:#4bc5d1;}
.finish .txt{margin-top:10px;margin-bottom:20px;font-size:16px;color:#4bc5d1;}
.finish .page a{padding:7px 10px;color:#666666;border:solid 1px #eaeaea;border-radius:4px;}
.finish .page a:first-child{margin-right:20px;}
.finish .page a:hover{color:#ffffff;background-color:#ff7e1d;border:solid 1px #ff7e1d;}