@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";


.add-info{position:relative;margin:0 auto;margin-top:40px;margin-bottom:40px;padding:40px;width:1180px;border:solid 1px #e5e5e5;background-color:#ffffff;}

/* 填写出游信息 */
.add-info .travel-info{width:800px;border:solid 1px #e5e5e5;}
.add-info .travel-info>div.title{padding-left:10px;height:50px;line-height:50px;color:#333333;font-size:16px;background-color:#f5f5f5;border-bottom:solid 1px #e5e5e5;}
.add-info .add-travel-info{margin:20px;color:#666666;}
.add-info .add-travel-info li{margin-top:15px;overflow:hidden;}
.add-info .add-travel-info .child-no i.fa-exclamation-circle{padding-right:2px;color:#4bc5d1;}
.add-info .add-travel-info li:first-child{margin-top:0px;}
.add-info .add-travel-info li>div .title{float:left;margin-right:10px;width:100px;height:30px;line-height:30px;text-align:right;}
.add-info .add-travel-info .go-time .value{float:left;color:#666;min-height:18px;}
.add-info .add-travel-info .go-time .has-feedback{width:200px;margin-bottom:0px;}
.add-info .add-travel-info .go-time input{color:#333333;}



.reduce,.increase{float:left;width:30px;height:30px;line-height:30px;background:#F6F6F6;text-align:center;border:solid 1px #d8d8d8;cursor:pointer; }
.add-info .add-travel-info table .reduce{border-right:none;border-top-left-radius:4px;border-bottom-left-radius:4px;color:#999;}
.add-info .add-travel-info table .increase{border-left:none;border-top-right-radius:4px;border-bottom-right-radius:4px; color:#666666;}
.add-info .add-travel-info table .disabled{color:#ccc;}
.add-info .add-travel-info .add-number{float:left;width:44px;height:30px;text-align:center;background:#fff;border-radius:0;}

.add-info .add-travel-info table .multiply,.add-info .add-travel-info table .money{padding-left:10px;font-size:14px;}




.add-info .add-travel-info .name{width:700px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.add-info .add-travel-info .name span{color:#333333;line-height:32px;}
.add-info .add-travel-info .name span a{color:#333;font-weight:700;}
.add-info .add-travel-info .name span a:hover{color:#ff7e1d;}
.add-info .add-travel-info .required{color:#ff7e1d;padding-right:5px;}
.add-info .add-travel-info .money{color:#333333;}
.add-info .add-travel-info .money em{font-style:normal;font-size:12px;}
.add-info .add-travel-info .msg{margin-left:94px;margin-top:10px;font-size:12px;color:#999999;}




/* 填写联系人信息 */
.add-info .contact-info{margin-top:20px;width:800px;border:solid 1px #e5e5e5;}
.add-info .contact-info>div.title{padding-left:10px;height:50px;line-height:50px;color:#333333;font-size:16px;background-color:#f5f5f5;border-bottom:solid 1px #e5e5e5;}
.add-info .contact-info>div.title span{margin-left:10px;color:#999999;font-size:12px;}
.add-info .add-people-info label{font-weight:400;}
.add-info .add-people-info .help-block{padding-left:110px;}
.add-info .add-people-info{margin:30px 20px 20px 20px;color:#666666;}
.add-info .add-people-info>div:first-child{margin-top:0px;}
.add-info .add-people-info>div .title{float:left;margin-right:20px;width:84px;height:30px;line-height:30px;text-align:right;}
.add-info .add-people-info .required{color:#ff7e1d;padding-right:5px;}
.add-info .add-people-info input{display:inline-block;width:300px;}
.add-info .add-people-info textarea{display:inline-block;width:500px;height:110px;}


/* 优惠方案 */

.add-info .discount-info{margin-top:20px;width:800px;border:solid 1px #e5e5e5;}
.add-info .discount-info>div.title{padding-left:10px;height:50px;line-height:50px;color:#333333;font-size:16px;background-color:#f5f5f5;border-bottom:solid 1px #e5e5e5;}
.add-info .discount-info .discount-list{padding:20px;}
.add-info .discount-info .discount-select{margin-bottom:10px;}
.add-info .discount-info .discount-select .btn:before{border-radius:50%;}
.add-info .discount-info .discount-select .txt{padding-left:8px;}
.add-info .discount-info .discount-select .num{margin-left:5px;padding:2px;color:#fff;font-size:12px;background-color:#64c8dc;border-radius:4px;border:solid 1px #5bc0ce;}
.add-info .discount-info .discount-tab{padding-left:43px;}
.add-info .discount-info .discount-tab .title{height:38px;}
.add-info .discount-info .discount-tab .title>div{position:relative;z-index:99;float:left;padding:0 20px;cursor:pointer;height:38px;line-height:38px;color:#999;background-color:#fff;}
.add-info .discount-info .discount-tab .title>div:hover{color:#333;}
.add-info .discount-info .discount-tab .title .active{height:39px;color:#333;border:solid 1px #ccc;border-bottom:none;border-top-right-radius:4px;border-top-left-radius:4px;}
.add-info .discount-info .discount-con{width:600px;border:solid 1px #ccc;border-top-right-radius:4px;border-bottom-right-radius:4px;border-bottom-left-radius:4px;}
.add-info .discount-info .discount-con .discount--con-box{max-height:300px;overflow:auto;}
.add-info .discount-info .discount-con ul{overflow:hidden;}
.add-info .discount-info .discount-con li{float:left;line-height:32px;}
.add-info .discount-info .discount-con .select{width:190px;overflow:hidden;}
.add-info .discount-info .discount-con .name{width:200px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:12px;color:#999;}
.add-info .discount-info .discount-con .time{width:164px;text-align:right;}
.add-info .discount-info .discount-con .J-unuse{display:none;}
.add-info .discount-info .discount-con .select-group{padding:20px 20px 20px 7px;}
.add-info .discount-info .discount-con .select-group .btn{color:#666!important;}
.add-info .discount-info .discount-con .remark{margin:10px 20px 0 20px;padding-bottom:10px;color:#999;font-size:12px;border-bottom:dashed 1px #cccccc;}
.add-info .discount-info .discount-tab{display:none;}
.add-info .discount-info .nologin{padding:20px;}
.add-info .discount-info a{padding:0 3px;color:#ff7e1d;}
.add-info .discount-info .discount-con .no-discount{padding:10px 20px 20px 20px;font-size:12px;color:#999;}

/*优惠码*/
.discount-info input{width:300px;}
.add-info .discount-info .discount-select .btn{border-radius:50%;margin:0px 5px;}
.add-info .discount-info .discount-tab{padding-left:18px;position:relative;}
.add-info .queryCoupon{padding:0px;width:50px;height:32px;line-height:32px;text-align:center;font-size:14px;border-radius:0px 2px 2px 0px;color:#ffffff;background-color:#ff7e1d;border:solid 1px #ff7e1d;display:inline-block;position:absolute;left:317px;top:0px;cursor:pointer;}
.add-info .discount-list p.error{margin-left:20px;}
.add-info .discount-list p.info{color:#4BC5D1;margin-left:18px;margin-top: 8px;margin-bottom: 0px;font-size: 12px;display: block;}
.add-info .gm-close{color:#999;font-size:14px;position:absolute;left:290px;top:6px;}
/* 提交订单信息 */
input[type="checkbox"]{width:20px;height:20px;border: 1px solid #ff7e1d;}
input[type="checkbox"],input[type=radio]{-webkit-appearance: none;appearance: none;width: 18px;height: 18px;margin: 0;cursor: pointer;vertical-align: bottom;border: 1px solid #e5e5e5;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;position: relative;}
input[type="checkbox"]:checked::after {content:"";display: block;position: absolute;top: -2px;right: 0px;left: -2px;height: 18px;width:18px;border-radius:2px;background:#ff7e1d url(/m/theme/manage/images/common/iconfont-gmgouxuan.png) no-repeat center;border:solid 1px #ff7e1d;}
input[type="checkbox"]:focus {outline: none;}
input[type="checkbox"]:after{background-color:#ff7e1d;color:#ff7e1d;}
input[type="checkbox"]{position:absolute;left:0px;top:0px;}
.add-info .bottom-check{overflow:hidden;}
.add-info .bottom-check .msg{float:left;margin-top:10px;color:#999999;}
.add-info .bottom-check label.font12{position:relative;float:right;margin-top:10px;padding-left:30px;}
.add-info .bottom-check{width:800px;}

/* 提交订单按钮 */
.add-info .order-con{margin-top:20px;width:800px;overflow:hidden;}
.add-info .order-btn{float:right;}
.add-info .order-btn .submit-btn{float:left;padding:0px;width:110px;height:40px;line-height:40px;text-align:center;font-size:18px;border-radius:4px;color:#ffffff;background-color:#ff7e1d;border:solid 1px #ff7e1d;}
.add-info .order-btn .disable{cursor:not-allowed;color:#999999;border:solid 1px #e5e5e5;background-color:#ffffff;}
.add-info .order-btn .all-money{float:left;margin:5px 40px 0px 74px;font-size:16px;}
.add-info .order-btn .all-money span{color:#ff7e1d;}
.add-info .order-btn .all-money span:first-child{color:#666;margin-right:5px;}
.add-info .order-btn .all-money span.money{font-size:24px;}


/* 总结信息 */
.add-info .balance-info{position:absolute;right:40px;top:40px;width:280px;padding:0 20px 20px 20px;background-color:#fff8f0;border:solid 1px #edd9c8;}
.add-info .balance-info .title{height:50px;line-height:50px;color:#ff7e1d;border-bottom:solid 1px #e5e5e5;font-size:16px;}
.add-info .balance-info .money-list{padding-bottom:20px;border-bottom:dotted 1px #e5e5e5;}
.add-info .balance-info .money-list li{padding-top:20px;}
.add-info .balance-info .money-list li .money{float:right;}
.add-info .balance-info .money-list li .money .num{color:#ff7e1d;font-size:18px;}
.add-info .balance-info .money-list li .money .num em:first-child{font-size:16px;}
.add-info .balance-info .money-list li em{font-style:normal;}
.add-info .balance-info .all-money{padding-top:20px;font-size:16px;}
.add-info .balance-info .all-money .money{float:right;color:#ff7e1d;font-weight:700;line-height:1;}
.add-info .balance-info .all-money .money .num{font-size:24px;}
.add-info .balance-info.fixed{position:fixed;top:20px;right:402px;}


p.error{margin-left:105px;}
.J-child,.J-child-yes,.J-child-no{display:none;}
/* 全局错误提示 */
.global-error{display:none;position:fixed;top:20px;width:100%;text-align:center;}

.aui_outer .aui_buttons button.aui_state_highlight{color:#fff;background-color:#ff7e1d;border:solid 1px #ff7e1d;}
.aui_content{max-height:575px !important;overflow:auto;}
.rules_Info p{text-indent:2em;}
