@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";

/* 更改背景颜色 */
.bg{background-color:#fff;padding-bottom:40px;}
/* 面包屑 */
.bread{background-color:#f6f6f6;}
.bread .bread-list{margin:0 auto;width:1180px;height:40px;line-height:40px;}
.bread .bread-list span{padding-right:10px;}

/* 个人中心列表 */
.mine{margin:0 auto;margin-top:40px;width:1180px;overflow:hidden;}
.mine .mine-list{float:left;width:280px;min-height:450px;background-color:#f6f6f6;border:solid 1px #eaeaea;}
.mine .mine-list .title{height:80px;line-height:80px;padding-left:20px;font-size:18px;color:#333333;}
.mine .mine-list li a{display:block;padding-left:30px;height:40px;line-height:40px;color:#666;border:solid 1px transparent;}
.mine .mine-list li a.active,.mine .mine-list li a:hover{margin-right:-1px;cursor:pointer;background-color:#fff;color:#ff7e1d;border-top:solid 1px #eaeaea;border-bottom:solid 1px #eaeaea;}

/* 订单信息内容选项卡 */
.mine .order{float:left;margin-top:20px;margin-left:20px;width:880px;}
.mine .order .order-tab{border-bottom:solid 2px #eaeaea;height:40px;}
.mine .order .order-tab li{float:left;padding:0 20px;height:40px;line-height:40px;text-align:center;font-size:16px;}
.mine .order .order-tab li .num{padding-left:5px;color:#ff7e1d;}
.mine .order .order-tab li.active{cursor:pointer;color:#ff7e1d;border-bottom:solid 2px #ff7e1d;}
.mine .order .order-tab li:hover{cursor:pointer;color:#ff7e1d;}
/* 订单信息列表 */
.mine .order-list em{font-style:normal;}
.mine .order-list li .outtime{color:#ff7e1d;}
.mine .order-list li{margin-top:20px;height:170px;border:solid 1px #eaeaea;}


.mine .order-list .top{padding-left:20px;padding-right:20px;height:38px;line-height:38px;background-color:#f6f6f6;border-bottom:solid 1px #eaeaea;}
.mine .order-list .top .time{padding-right:40px;color:#666;}
.mine .order-list .top .order-num{color:#999;}
.mine .order-list .top .order-num em{color:#666;}
.mine .order-list .top .status{float:right;}
.mine .order-list .top .status.orange{color:#ff7e1d;}


.mine .order-list .info{position:relative;height:130px;padding:20px;}
.mine .order-list .info .pro-info{float:left;padding-right:20px;width:540px;border-right:solid 1px #eaeaea;}
.mine .order-list .info .pro-info .pic{float:left;margin-right:10px;}
.mine .order-list .info .pro-info .title{max-height:44px;overflow:hidden;}
.mine .order-list .info .pro-info .title span{padding:3px;font-size:12px;color:#ffffff;border-radius:4px;}
.mine .order-list .info .pro-info .title span.team{background-color:#ff7e1d;}
.mine .order-list .info .pro-info .title span.ship{background-color:#f98282;}
.mine .order-list .info .pro-info .title span.free{background-color:#4bc5d1;}
.mine .order-list .info .pro-info .title a{color:#666;line-height:22px;}
.mine .order-list .info .pro-info .title a:hover{color:#ff7e1d;}
.mine .order-list .info .pro-info .money{position:absolute;left:150px;bottom:20px;}
.mine .order-list .info .pro-info .money span{color:#999999;}
.mine .order-list .info .pro-info .money .money-num{font-size:12px;color:#ff7e1d;}
.mine .order-list .info .pro-info .money .num{font-size:24px;}



.mine .order-list .info .time-con{float:left;padding-left:15px;padding-right:15px;width:173px;height:90px;border-right:solid 1px #eaeaea;}
.mine .order-list .info .time-con>div{padding-bottom:5px;}
.mine .order-list .info .time-con .remarks{display: -webkit-box;width: 100%;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height:32px;line-height:16px;overflow:hidden;font-size:12px;}
.mine .order-list .info .time-con span{color:#999;}
.mine .order-list .info .time-con .time{color:#666;}
.mine .order-list .info .status-btn{float:left;margin-left:19px;width:106px;text-align:left;}
.mine .order-list .info .status-btn a{display:inline-block;margin-top:10px;padding-left:10px;padding-right:10px;height:20px;line-height:20px;text-align:center;font-size:12px;color:#666;border:solid 1px #eaeaea;border-radius:4px;}
.mine .order-list .info .status-btn a:first-child{margin-top:0px;}
.mine .order-list .info .status-btn a:hover,.mine .order-list .info .status-btn a.active{color:#ffffff;background-color:#ff7e1d;border:solid 1px #ff7e1d;}


/* 订单为空 */
.order-null{display:none;text-align:center;}
.order-null .order-icon{margin-top:120px;}
.order-null i{font-size:88px;color:#c4c4c4;line-height:1;}
.order-null .title{margin-top:10px;font-size:16px;color:#666;}
.order-null .txt{margin-top:10px;font-size:14px;color:#999;}