@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";


/* 支付成功 */
.addPassenger{margin:0 auto;margin-bottom:40px;margin-top:40px;padding:40px;width:1180px;border:solid 1px #eaeaea;background-color:#fff;overflow:hidden;}
.addPassenger .pay-success{margin:0 auto;margin-bottom:40px;width:150px;height:48px;line-height:48px;}
.addPassenger .pay-success i.gm-success-1{float:left;margin-right:10px;font-size:48px;color:#4bc5d1;}
.addPassenger .pay-success .success{font-size:18px;color:#4bc5d1;font-size:18px;}



/* 订单信息 */
.order-info{border:solid 1px #eaeaea;}
.order-info>.title{padding-left:10px;height:40px;line-height:40px;color:#333;background-color:#f6f6f6;}

.order-info ul{padding-left:20px;padding-top:10px;padding-bottom:20px;}
.order-info li{margin-top:15px;}
.order-info li em{font-style:normal;}
.order-info li .info{color:#333;}
.order-info li .name a{color:#333;}
.order-info li .name a:hover{color:#ff7e1d;}
.order-info li .money{color:#ff7e1d;}
.order-info li .money .num{font-size:24px;}

/* 常用旅客信息选择 */
.passenger-info{margin-top:20px;border:solid 1px #eaeaea;}
.passenger-info>.title{padding-left:10px;height:40px;line-height:40px;color:#333;background-color:#f6f6f6;}
.passenger-info .passenger-select{margin:15px 20px 0 20px;padding-bottom:20px;border-bottom:solid 1px #eaeaea;overflow:hidden;}
.passenger-info .passenger-select .title{float:left;padding-top:5px;margin-right:30px;}
.passenger-info .passenger-select .title i{color:#ff7e1d;}
.passenger-info .passenger-select .title span{color:#666;}
.passenger-info .passenger-select ul{float:left;width:840px;height:32px;overflow:hidden;}
.passenger-info .passenger-select ul li{float:left;width:120px;overflow:hidden;}
.passenger-info .passenger-select .more{float:right;cursor:pointer;padding-top:5px;color:#ff7e1d;}
.passenger-info .passenger-select .more span{margin-right:5px;}



/* 常用旅客信息填写 */
.passenger-input{margin:0 20px;}
.passenger-input .travel-list{margin-top:20px;padding-bottom:5px;overflow:hidden;border-bottom:dotted 1px #eaeaea;}
.passenger-input .travel-list:last-child{border-bottom:none;}
.passenger-input .travel-list em{font-style:normal;}
.passenger-input .travel-list .name{float:left;margin-right:90px;width:120px;text-align:center;}
.passenger-input .travel-list .name .passenger{font-size:16px;color:#333;}
.passenger-input .travel-list .name .txt{font-size:12px;color:#999;}
.passenger-input .travel-list .input-info{float:left;}
.passenger-input .travel-list .null-btn{float:right;}
.passenger-input .travel-list .null-btn .btn{padding:2px 6px;}
.passenger-input .travel-list .required{color:#ff7e1d;margin-right:5px;line-height:30px;}
.passenger-input .travel-list .form-group label.title{float:left;margin-right:20px;width:84px;height:30px;line-height:30px;text-align:right;font-weight:400;}
.passenger-input .travel-list .form-group input{display:inline-block;width:200px;margin-right:5px;}
.passenger-input .travel-list .form-group span.title{color:#999;margin-left:5px;font-size:12px;}
.passenger-input .travel-list .form-group span.error{color:#f98282}
.passenger-input .travel-list .form-control[disabled]{width:120px;background-color:#fff;color:#333;}
.passenger-input .travel-list .form-group .help-txt{margin-top:5px;padding-left:104px;width:531px;color:#999;font-size:12px;}
.passenger-input .travel-list .form-group .dropdown{float:left;margin-right:10px;}

.passenger-input .travel-list .form-group .HKCardNum,.passenger-input .travel-list .form-group .TWCardNum{display:none;}
.sure-btn{float:right;margin-top:20px;}
.passenger-input .travel-list label{margin-bottom:11px;}


p[id$="-error"]{padding-left:106px;}


/* 全局错误提示 */
.global-error {display: none;position: fixed;top: 20px;width: 100%;text-align: center; }
