@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";


.pay{margin:0 auto;margin-top:40px;margin-bottom:40px;padding:30px;width:1180px;height:460px;border:solid 1px #d8d8d8;background-color:#ffffff;}
.pay .time-txt i{font-size:18px;color:#ff7e1d;}
.pay .time-txt span{color:#333;font-size:16px;font-weight:700;}
.pay .time-txt .time{color:#ff7e1d;}
.pay .time-txt .txt{padding-left:10px;color:#999;font-size:14px;font-weight:normal;}
.pay .pro-info{padding-left:20px;padding-right:20px;margin-top:20px;background-color:#f6f6f6;height:50px;line-height:50px;}
.pay .pro-info em{font-style:normal;}
.pay .pro-info .name{float:left;margin-right:60px;width:660px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.pay .pro-info .name a{color:#333;}
.pay .pro-info .name a:hover{color:#ff7e1d;}
.pay .pro-info .order-num{float:left;margin-right:60px;}
.pay .pro-info .order-num .num{color:#333;}
.pay .pro-info .order-price{float:left;}
.pay .pro-info .order-price span{color:#ff7e1d;}
.pay .pro-info .order-price .num{font-size:24px;line-height:1;}
.pay .pay-type{margin-top:20px;overflow:hidden;}
.pay .pay-type a{float:left;margin-right:20px;cursor:pointer;width:208px;height:72px;background-size:166px 48px;border:solid 1px #eaeaea;-webkit-transition: 0s;-o-transition: 0s;transition: 0s;border-radius:4px;background-position:center;background-repeat:no-repeat;}
.pay .pay-type .weixin{background-image:url(../../images/weixin.svg);}
.pay .pay-type .alipay{background-image:url(../../images/alipay.svg);}
.pay .pay-type .weixin:hover{background-image:url(../../images/weixin_hover.svg);background-color:#00c901;border:solid 1px #00c901;}
.pay .pay-type .alipay:hover{background-image:url(../../images/alipay_hover.svg);background-color:#00aaee;border:solid 1px #00aaee;}