@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";

.weixinpay{margin:0 auto;margin-top:40px;margin-bottom:40px;padding:40px;width:1180px;background-color:#fff;border:solid 1px #eaeaea;}
.weixinpay .order-info{padding:20px;background-color:#f6f6f6;}
.weixinpay .order-info .title{color:#333;}
.weixinpay .order-info .prompt{margin-top:10px;font-size:12px;color:#999;}
.weixinpay .order-info .prompt span{color:#ff7e1d;}



.weixinpay .pay{margin-top:20px;padding:40px;width:1098px;border:solid 1px #eaeaea;overflow:hidden;}
.weixinpay .pay .erweima{float:left;width:580px;text-align:center;border-right:solid 1px #eaeaea;overflow:hidden;}
.weixinpay .pay .erweima .title,.weixinpay .pay .erweima .money{font-size:16px;color:#333;}
.weixinpay .pay .erweima .money span{color:#ff7e1d;}
.weixinpay .pay .erweima .money span.num{font-size:24px;}
.weixinpay .pay .erweima .pic{margin:0 auto;margin-top:20px;padding:20px;width:240px;height:240px;border:solid 1px #eaeaea;}
.weixinpay .pay .erweima .pic img{cursor:pointer;width:200px;height:200px;}
.weixinpay .pay .erweima .prompt{margin:0 auto;margin-top:20px;width:162px;overflow:hidden;}
.weixinpay .pay .erweima .prompt i{float:left;margin-right:10px;line-height:1;font-size:32px;color:#4bc5d1;}
.weixinpay .pay .erweima .prompt .txt{float:left;font-size:12px;text-align:left;}


.weixinpay .pay>.pic{float:left;width:436px;text-align:center;}
