@CHARSET "UTF-8";


.banner * {
	-webkit-box-sizing:content-box;
	-moz-box-sizing: content-box;
    box-sizing:content-box;
}

.banner .ui-resizable-handle.ui-resizable-e {width: 20px;}
.banner .ui-resizable-handle.ui-resizable-s {height: 20px;}

.banner .ui-resizable-handle.ui-resizable-se.ui-icon{background-image: none;} 

.banner .element {
	border: 2px solid transparent;
}
.banner .editable:hover {
	border-color: #FFA340 !important;
	border-style: dotted !important;
	z-index: 9999 !important;
}

.banner .handles{
	position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 100;
}

.banner .handles .handle{
    border-radius: 50%;
    box-shadow: inset 0 0 0 10px;
    opacity: .8;
    -webkit-transition: opacity .25s;
    transition: opacity .25s;
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
    
    position: absolute;
    width: 20px;
    height: 20px;
}

.banner .handles .handle:after {
    display: block;
    content: "";
    position: absolute;
    top: -8px;
    left: -8px;
    right: -8px;
    bottom: -8px;
}

.banner .handles .handle.is-dragging{z-index:100;box-shadow:inset 0 0 0 3px;cursor:none;-webkit-transition:box-shadow 0;transition:box-shadow 0}

.banner .handles .handle:nth-of-type(1) {color: tomato;}
.banner .handles .handle:nth-of-type(2) {color: #3cb371;}
.banner .handles .handle:nth-of-type(3) {color: orange;}
.banner .handles .handle:nth-of-type(4) {color: #1e90ff;}


.banner .cursor {cursor: move;}

.banner .icon-op {padding: 2px 4px;}
.banner .editable .element-active-op {position: absolute; top:0;right: -90px; width: 90px;padding: 0 10px;z-index: 9999}
.banner .editable .element-active-img-op {position: absolute; top:0;right: -47px; width: 45px;padding: 0 5px;z-index: 9999}

.banner .hover-show {display: none;} 
.banner .editable:hover .hover-show {display: block !important;}

.aui_state_noTitle.aui_state_focus.aui_state_lock {z-index: 99999 !important;}