input[type='checkbox']:checked::before {
  top: 2px;
}
#contents {
  background: #fff;
}
input {
  height: 25px;
  font-size: 14px;
}
label {
  margin-right: 10px;
}
#rightBody {
  width: 100%;
}
.ct_title_ffff {
  line-height: 40px;
  background: #fff;
  color: #777;
  font-size: 18px;
  font-weight: bold;
}
.ct_title_ffff.div_static {
  position: fixed;
  top: 0;
  z-index: 999;
}
.ct_title_ffff .right_buts {
  float: right;
  display: inline-block;
  padding: 5px 20px;
  height: 30px;
  overflow: hidden;
}
.ct_title_ffff .right_buts .top_opt {
  float: left;
  display: inline-block;
  height: 30px;
  line-height: 30px;
  padding: 0 10px;
  margin-right: 10px;
  font-size: 14px;
}
.ct_title_ffff .right_buts .save_but {
  float: left;
  display: inline-block;
}
.ct_title_ffff #step_btn {
   margin-top :10px;
  font-size: 16px;
  line-height: 32px;
}
.ct_title_ffff #step_btn {
  margin-top :10px;
  font-size: 16px;
  line-height: 50px;
}
.ct_title_ffff .step {
  width: 33.33%;
  display: inline-block;
  text-align: center;
  background-color: #fafbfd;
  float: left;
  font-weight: normal;
  position: relative;
  cursor: pointer;
  color: #000;
}
.ct_title_ffff .step .line {
  both: clear;
  display: block;
  position: absolute;
  width:100%;
  background-color: #e2e2e2;
  height: 3px;
}
.ct_title_ffff .step .icon {
	color:#fafbfd;background-color: #c9c9c9;padding: 3px 12px; border-radius:5px; text-align: center;vertical-align: middle;
}
.ct_title_ffff .step .label {
	color: #c9c9c9;padding: 3px 12px; border-radius:5px; text-align: center;vertical-align: middle;
}

.ct_title_ffff .step:hover .icon {
  background: #ff8400;
}
.ct_title_ffff .step:hover .label {
  	color: #ff8400;
}
.ct_title_ffff .step.current {
  color: #77c8e2;
  cursor: default;
}
.ct_title_ffff .step.current .line {
  background-color: #ff8400;
}
.ct_title_ffff .step.current .icon {
  background-color: #5bc0de;
}

.ct_title_ffff .step.current .label {
  color: #5bc0de;
}


.ct_title_ffff #step_btn:before {
  content: " ";
  display: table;
}
.ct_title_ffff #step_btn:after {
  content: " ";
  display: table;
  clear: both;
}
.input_ct .error {
  color: red;
}
.input_ct .message {
  line-height: 26px;
  height: 26px;
}
.input_ct .upload_btn {
  position: relative;
  height: 25px;
  padding: 0 20px;
  height: 26px;
  cursor: pointer;
  line-height: 26px;
  display: inline-block;
  color: #fff;
  margin-bottom: 10px;
}
.input_ct .upload_btn .upload_div {
  width: auto;
}
.input_ct .upload_btn .upload_div .btns input {
  border-width: 0;
  width: 180px;
  height: 26px;
}
.attachment_item {
  height: 28px;
  line-height: 28px;
}
.attachment_item .del_file {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 4px;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.attachment_item .del_file:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.attachment_item:hover .del_file {
  display: block;
}
.attachment_item .result {
  position: relative;
  float: left;
}
.attachment_item .result .file_title {
  height: 26px;
  line-height: 26px;
}
.attachment_item .result .progress_bar {
  background-color: #00CCFF;
  height: 28px;
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
}
.attachment_item .place_items {
  width: 202px;
  vertical-align: top;
  display: inline-block;
}
.link {
  background-image: url(../../images/tour/add-small.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 0 20px;
  height: 20px;
  line-height: 20px;
}
.link:hover {
  text-decoration: underline;
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
  background-color: #abd3e3;
  line-height: 20px;
  height: 20px;
}
.link:hover:hover {
  background-color: #85bfd6;
}
.place_item {
  width: 224px;
  border: 1px solid #ccc;
  padding: 10px;
  padding: 2px;
  display: block;
  margin: 0 5px 5px 0;
  vertical-align: top;
}
.place_item .tip {
  padding-right: 3px;
  color: #ccc;
}
.place_item input {
  width: 174px;
  border: none;
}
.place_item .del_destination {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.place_item .del_destination:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.place_item:not(:first-child):hover .del_destination {
  display: inline-block;
}
.img_up_block {
  position: relative;
  z-index: 1;
  display: inline-block;
  width: 228px;
  height: 160px;
  border: 1px #bfbfbf solid;
  -o-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
  box-shadow: inset 1px 1px 1px rgba(0, 0, 0, 0.3);
}
.img_up_block img {
  width: 100%;
  height: 100%;
}
.img_up_block .img_up_info {
  width: 100%;
  position: absolute;
  display: inline-block;
  text-align: center;
  z-index: 9;
  left: 0px;
  top: 68px;
}
.img_up_block .img_up_info span.up_title {
  height: 25px;
  line-height: 25px;
  width: 100%;
  display: inline-block;
  overflow: hidden;
  color: #bfc6c6;
}
.img_up_block .img_up_info .upload_img_but {
  padding: 0 20px 0 46px;
  height: 26px;
  line-height: 26px;
  background-image: url("../../images/tour/picture_icon.png");
  background-repeat: no-repeat;
  background-position: 19px center;
}
#info_menus {
  position: fixed;
  top: 150px;
  width: 130px;
  display: inline-block;
  background: #fff;
  z-index: 90;
  box-shadow: 0 0 2px #777;
  -moz-box-shadow: 0 0 2px #777;
  -webkit-box-shadow: 0 0 2px #777;
  -o-box-shadow: 0 0 2px #777;
}
#info_menus a, #back-top {
  display: block;
  margin: 5px;
  cursor: pointer;
}
#info_menus .day_link {
  padding: 5px 10px;
  text-align: center;
}
#info_menus .day_link.on {
  background-color: #5AD8CF;
  color: #fff;
}
#info_menus .day_link:not(.on):hover {
  background-color: #93E2DC;
  color: #fff;
}
#info_menus .bottom_return {
  background: url("../../images/tour/return.png") no-repeat center center #4595f1;
  height: 40px;
  width: 100%;
  display: inline-block;
  cursor: pointer;
}
.travel_num_li.on {
  background-color: #e8e8e8;
}
.sortable li {
  margin: 0 3px 3px 3px;
  padding: 0.4em;
  padding-left: 1.5em;
  font-size: 1.4em;
  height: 18px;
  width: 200px;
  cursor: move;
}
.sortable tr,
.sortable li {
  cursor: move;
}
.sortable li span {
  position: absolute;
  margin-left: -1.3em;
}
.button {
  color: #fff;
  text-align: center;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-radius: 5px;
  display: inline-block;
  background-color: #abd3e3;
}
.button:hover {
  background-color: #85bfd6;
}
.add_day {
  background-image: url(../../images/tour/add_big.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 0 30px;
}
.hide {
  display: none;
}
.rl {
  position: relative;
}
#step1 select {
  width: 230px;
}
#tripsStat {
  font-size: 15px;
  margin-top: 20px;
}
#tripsStat b {
  margin: 0 5px;
}
#tripsStat input {
  width: 20px;
  height: 20px;
  margin: 0 5px;
  text-align: center;
}
.fw {
  width: 600px;
}
.margin {
  margin: 10px;
}
.padding {
  padding: 10px;
}
.col1 {
  display: inline-block;
  width: 108px;
  float: left;
  text-align: center;
}
.col2 {
  margin-left: 108px;
}
.border {
  border: 1px solid #ccc;
  padding: 10px;
}
.bottom {
  clear: both;
}
.row {
  font-size: 14px;
  margin-left: 180px;
  margin-top: 20px;
  width: 750px;
}
.row .index {
  background-color: #abd3e3;
  color: #fff;
  line-height: 35px;
}
.row .title input {
  width: 612px;
  font-size: 14px;
  height: 31px;
}
.row .del_item {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.row .del_item:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.row .time {
  float: left;
  display: inline-block;
}
.row .time select {
  height: 32px;
  margin: 0;
}
.row .one {
  width: 107px;
}
.row.trip_item:hover {
  background-color: #FCFCFC;
}
.row.trip_item:hover .del_item {
  display: block;
}
.hotel .option {
  margin-bottom: 10px;
}
/* .hotel .arrow {
  position: relative;
  display: none;
  margin-right: 10px;
}
.hotel .arrow:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.hotel .arrow:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
.hotel .arrow.n:before {
  left: 159px;
}
.hotel .arrow.n:after {
  left: 160px;
} */
.hotel .arrow {
  position: relative;
  display: none;
  margin-right: 10px;
}
.hotel .arrow:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 187px;
  position: absolute;
  top: -7px;
}
.hotel .arrow:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 188px;
  position: absolute;
  top: -6px;
}


.hotel .arrow.secend:before {
  left: 1px;
}
.hotel .arrow.secend:after {
  left: 2px;
}

.hotel .input {
  margin: 10px 0;
}
.hotel .input input {
  height: 30px;
  width: 590px;
}
.hotel .selected {
  display: none;
}
.hotel .selected .item {
  margin: 5px 0px 0 0;
  padding: 7px 2px;
}
.hotel .selected .item .del {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.hotel .selected .item .del:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.hotel .selected .item:hover .del {
  display: inline-block;
}
.hotel .options label {
  display: inline-block;
  margin: 5px;
}
.hotel .hot {
  margin-top: 10px;
}
.hotel .hot a {
  display: inline-block;
  margin-right: 20px;
  line-height: 30px;
}
.traffics .col1 {
  margin-top: 11px;
}
.traffics .tip {
  text-align: center;
  color: #ccc;
}
.traffics .flight_table {
  text-align: left;
  font-size: 14px;
  width: 580px;
}
.traffics .flight_table thead {
  background-color: #ccc;
}
.traffics .flight_table thead th {
  padding: 5px 10px 5px 0;
  white-space: nowrap;
}
.traffics .flight_table thead th:first-child {
  width: 10px;
}
.traffics .flight_table td {
  padding: 5px 0px;
}
.traffics .flight_table tbody > tr:hover {
  background-color: #d1e7f0;
}
.traffics .flight_table tbody > tr:not(:hover):not(.selected):nth-child(even) {
  background-color: #F9F9F9;
}
.traffics .flight_table tbody > tr.selected {
  background-color: #abd3e3;
}
.traffics .flight_table tbody > tr.selected td:nth-child(1) {
  background: url(../../images/common/checkmark.png) no-repeat center center;
}
.traffics .flight_table .nodata {
  text-align: center;
  padding: 20px 0px;
}
.traffics .flight_table div {
  text-overflow: ellipsis;
  height: 22px;
  overflow: hidden;
  white-space: nowrap;
  padding-right: 12px;
}
.traffics .pagination {
  text-align: center;
}
.traffics .pagination .button {
  margin-top: 10px;
  padding: 0 10px;
}
.traffics .traffic_item {
  margin-bottom: 10px;
  margin-right: 10px;
}
.traffics .traffic_item > div {
  margin: 5px 0;
}
.traffics .traffic_item:hover .del_traffic {
  display: inline-block;
}
.traffics .add_traffic {
  background-image: url(../../images/tour/add_small.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 0 20px;
}
.traffics .customize_link {
  float: right;
  cursor: pointer;
}
.traffics .del_traffic {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.traffics .del_traffic:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.schedules > .col1 {
  margin-top: 5px;
}
.schedules .trip_desc {
  display: inline-block;
  width: 492px;
}
.schedules .option,
.schedules .fw {
  margin-bottom: 10px;
}
.schedules .add_trip {
  background-image: url(../../images/tour/add_small.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 0 20px;
}
.schedules .del_trip {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.schedules .del_trip:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.schedules .fw:hover .del_trip {
  display: inline-block;
}
#step3 .border {
  line-height: 30px;
}
#step3 .tip {
  color: #ccc;
  margin: 5px 0;
}
.border2 {
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}
.price .item {
  margin-bottom: 5px;
  width: 220px;
  position: relative;
}
.price .item .del_price {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.price .item .del_price:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.price .item:hover .del_price {
  display: inline-block;
  z-index: 2;
}
.price .input {
  border: 1px solid #ccc;
  padding: 10px;
  width: 200px;
  display: inline-block;
}
.price .input input {
  border: none;
}
.price .input input:nth-child(1) {
  width: 60%;
}
.price .input input:nth-child(2) {
  width: 40%;
}
.price #calendar {
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
}
.price #calendar th,
.price #calendar td {
  text-align: center;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  position: relative;
  width: 165px;
  height: 50px;
}
.price #calendar .day {
  float: left;
  position: absolute;
  top: 0;
}
.price #calendar .item {
  width: 100%;
  clear: both;
}
.price #calendar .input {
  width: 112px;
}
.price #calendar .bottom {
  display: block;
  position: absolute;
  bottom: 0;
}
.price #calendar .items {
  width: 140px;
  margin: 20px auto;
}
.table {
  border-right: 1px solid #ccc;
  border-top: 1px solid #ccc;
  margin: 10px 0 5px;
}
.table th,
.table td {
  text-align: center;
  border-left: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
  padding: 5px;
  position: relative;
  font-size: 14px;
  width: 165px;
}
.table .del_tr {
  width: 20px;
  height: 20px;
  background: url(../../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 6px;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.table .del_tr:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.table tr:not( :nth-child(1)):hover .del_tr {
  display: block;
}
.table .short {
  width: 120px;
}
#tips label {
  display: inline-block;
}
