@charset "utf-8";
input,textarea,select{	font-size:12px; font-family:Arial, Helvetica, sans-serif;outline: none;}


select.diySelect{min-width:120px;max-width:100%;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
margin:0;padding:0;}
table{ border-collapse:collapse; border-spacing:0; }
a{text-decoration:none;cursor: pointer; text-decoration:none;}
img{ border:none; }
ul,li{margin:0;padding:0;list-style:none;}
p { line-height: 1.6; }

#allBody{width:100%;display:inline-block;text-align: center;}
.top_info{width:100%;display:inline-block;text-align: center;}
.top_info .top_status{height:60px;width:1200px;text-align: left;display:inline-block;font-size: 14px;}
.top_info .top_status .logo{width:180px;height:60px;}
.top_info .top_status .user_info{margin-top:10px;padding:5px;height:30px;line-height:30px;color:#fff;}
.top_info .top_status .user_info *{float:left;display:inline-block;margin-right:8px;}
.top_info .top_status .user_info .user_icon{width:29px;height:29px;border-left:1px #fb6e53 solid;margin-right:12px;box-shadow:1px 1px 2px #777;-webkit-box-shadow:1px 1px 2px #777;-moz-box-shadow:1px 1px 2px #777;-o-box-shadow:1px 1px 2px #777;}
.top_info .top_status .user_info .user_icon img{width:100%;height:100%;}
.top_info .top_status .status_right{margin-top:10px;padding:5px;height:30px;line-height:30px;}
.top_info .top_status .status_right *{float:left;display:inline-block;margin-right:8px;}
.top_info .top_body_title{width:1200px;height:64px;line-height:64px;display:inline-block;font-size: 24px;color:#fff;text-align: left;}
.top_info .bg-red{background:transparent;color:orange;border-radius:4px;border:1px solid orange;font-size:14px;position: relative;top:0px;left:20px;height:30px;padding:2px 5px 2px 5px;line-height: 30px;}
.top_info .statusBlock{position:absolute;margin-left:180px;margin-top:-20px;z-index:1000;font-size:15px;width:300px;height:auto;background:transparent url(../images/common/Popup.png) no-repeat;background-size:100% 100%;color:gray;padding:20px;}
.top_info .statusBlock .updateBtn{width:60%;margin-left:20%;height:30px;line-height:30px;background:orange;color:white;font-size:14px;font-weight:bold;border:none;border-radius:6px;}
.top_info .statusBlock .statusTitle{font-size:18px;color:orange;}
.top_info .menus{padding:0px 0px; height:45px;width:1200px;display:inline-block;position: relative;text-align: left;z-index: 1;}
.top_info .menus .menusItem{width:394px;border-right:1px solid #bbbbbc;height:45px;margin-left:186px;}
.top_info .menus .menus_bg{position:absolute;top:0;left:0;right:0;bottom:0; background: #31add1;width:100%;height:100%;border-top-left-radius:5px;border-top-right-radius:5px;z-index: -1;}
.top_info .menus .menu_li{position:relative; width:130px;text-align:center; float:left; height:45px;line-height:45px;display: inline-block;color:#fff;font-size: 16px;border-right:1px solid #bbbbbc;}
.top_info .menus .menu_li.on,.top_info .menus .menu_li:hover{background: #19e3f1;color:white;height:45px;}
.top_info .menus .menu_li:first-child.on,.top_info .menus .menu_li:first-child:hover{background: #19e3f1;color:white;height:45px; border-top-left-radius:5px;}
.top_info .menus .menu_li.disabled{color:#4f4f4f;}
.top_info .menus .menu_li.disabled:hover{background: none;}
.top_info .menus .menu_li .tips{position: absolute;right:2px;top:-8px;padding:0 5px;height:16px;border-radius:50%;font-size: 10px;color:#fff;background: #ff746d;line-height:16px;display:inline-block;}
#contents{margin:0 auto;width:1170px;z-index: 5;display:inline-block;text-align: left;}
#contents .content_body{width:100%;display:inline-block;padding-bottom:20px;}
#contents .content_body .ct_body_left{float:left;width:900px;min-height:300px; background:#fff;display:inline-block;border-bottom-left-radius:5px;border-bottom-right-radius:5px;overflow: hidden;}
#contents .content_body .ct_body_right{float:left;margin-left:5px;width:295px;display: inline-block;padding-bottom:10px;}
#contents .content_body .right-top-radius{border-top-right-radius:5px;}
#contents .content_body .right-bottom-radius{border-bottom-right-radius:5px;}
#contents .content_body .ct_body_right .div_block{width:100%;background: #fff;}
#contents .content_body .ct_body_left .block_title, #contents .content_body .ct_body_all .block_title{padding:10px 20px;height:30px;line-height:30px;background: #f3f8fb;box-shadow:0px 2px 3px #ccc;-webkit-box-shadow:0px 2px 3px #ccc;-moz-box-shadow:0px 2px 3px #ccc;-o-box-shadow:0px 2px 3px #ccc;overflow: hidden;font-size: 14px;}
#contents .content_body .ct_body_right .block_title{padding:10px;height:30px;line-height:30px;background: #f3f8fb;box-shadow:0px 2px 3px #ccc;-webkit-box-shadow:0px 2px 3px #ccc;-moz-box-shadow:0px 2px 3px #ccc;-o-box-shadow:0px 2px 3px #ccc;}
#contents .content_body .ct_body_right .right_ct{padding:20px 10px;width:275px;display:inline-block;}
#contents .content_body .ct_body_right .right_ct .right_title{height:25px;line-height:25px;font-size: 14px;color:#101010;}
#contents .content_body .ct_body_right .right_ct .right_title_text{height:25px;line-height:25px;font-size: 14px;color:#8c3000;}
#contents .content_body .ct_body_right .right_ct .right_no_logs{padding:50px 0;}
#contents .content_body .ct_body_right .table_ct{padding:5px 0;border:1px #d1c0a5 solid;border-radius:5px;}
#contents .content_body .ct_body_right .table_ct .right_table_li{padding-left:10px;height:28px;line-height:28px;border-bottom:1px #d1c0a5 solid;}
#contents .content_body .ct_body_right .table_ct_ad{padding:5px 0; border:1px #abd3e3 solid;border-radius:5px;}
#contents .content_body .ct_body_right .table_ct_ad .right_table_li{padding-left:10px;height:28px;line-height:28px;border-bottom:1px #abd3e3 solid;}
#contents .content_body .ct_body_right .table_ct_ad .noborder_bottom,
#contents .content_body .ct_body_right .table_ct .noborder_bottom{border-bottom:0px;}
#contents .content_body .ct_body_right .table_ct_ad a,#contents .content_body .ct_body_right .table_ct a{color:#4f4f4f;}
#contents .content_body .ct_body_right .remarks{padding:5px 10px;line-height:22px;font-size: 14px;color:#7c7c7c;}
#contents .content_body .shadows{background:#fff;border-bottom-left-radius:5px;border-bottom-right-radius:5px;box-shadow:2px 3px 5px #999;-webkit-box-shadow:2px 3px 5px #999;-moz-box-shadow:2px 3px 5px #999;-o-box-shadow:2px 3px 5px #999;overflow: hidden;}
#contents .content_body .ct_body_all{width:100%;min-height:300px;background:#fff; display:inline-block;border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
#contents .content_body .table_list{width:100%;border-collapse:collapse;}
#contents .content_body .table_list thead{background: #f3f8fb;width:100%;height:50px;line-height:50px;list-style:none;margin:0;padding:0;box-shadow:0px 2px 3px #ccc;-webkit-box-shadow:0px 2px 3px #ccc;-moz-box-shadow:0px 2px 3px #ccc;-o-box-shadow:0px 2px 3px #ccc;}
#contents .content_body .table_list thead tr{width:100%;height:50px;line-height:50px;}
#contents .content_body .table_list tr th{text-align: center;border:none;max-width:100%;word-break:break-all;}
#contents .content_body .table_list tr th .title_tips{line-height:20px;padding-right:20px;background: url("../images/common/u108.png") no-repeat right center;cursor: pointer;}
#contents .content_body .table_list tr th .sel_more{padding:0 20px 0 10px; height:30px;line-height:30px;background: url("../images/common/triangle2.png") no-repeat center right;cursor: pointer;display: inline-block;position: relative;}
#contents .content_body .table_list tr th .sel_more:hover .sel_more_list{display:inline-block;}
#contents .content_body .table_list tr th .sel_more .sel_more_list{display:none;width:200px;position: absolute;left:0;top:30px;background: #fff;box-shadow:1px 1px 2px #777;-webkit-box-shadow:1px 1px 2px #777;-moz-box-shadow:1px 1px 2px #777;-o-box-shadow:1px 1px 2px #777;border:1px #eee solid;}
#contents .content_body .table_list tr th .sel_more .sel_more_list a{width:100%;height:30px;line-height:30px;display:inline-block;}
#contents .content_body .table_list tr th .sel_more .sel_more_list a.on{background: #e7f3fa;}
#contents .content_body .table_list tbody{padding:0 2%;width:96%;}
#contents .content_body .table_list tbody tr{width:100%;line-height:30px; border-bottom:1px #f2f2f2 solid;}
#contents .content_body .table_list tr td{padding:10px 5px 8px 1px;height:25px;max-width:100%;line-height:25px;border:none;text-align: center;min-width:60px;word-break:break-all;}
#contents .no_datas{padding:300px 0;text-align: center;font-size: 14px;color:#c1c0c0;}
#contents .no_datas .cue_info{padding-top:60px;background: url("../images/common/no_data.png") no-repeat center top;}
/*提示信息*/
.bottom_point{padding:20px 0;height:30px;line-height:30px;font-size: 14px;color:#595959;text-align: center;}
.bottom_point .point_info{padding-left:35px;height:30px;line-height:30px;display:inline-block;background: url("../images/tour/point_out.png") no-repeat left center;}

/*按钮*/
.but_more{position:relative; display: inline-block;height:30px;line-height:30px;text-align: center;background: #f2d7c2;border-radius:5px;}
.but_more p{padding:0 8px 0 0;}
.but_more a.default_but{padding:0 15px 0 10px;height:30px;line-height:30px;background: url("../images/common/triangle.png") no-repeat center right;display:inline-block;color:#fff;}
.but_more .more_buts a{width:100%;height:30px;line-height:30px;display:inline-block;color:#fff;overflow: hidden;}
.but_more .more_buts{position: absolute;left:0px;top:0px;z-index: 8;display:none;background: #f2d7c2;border-radius:5px;}
.but_more .more_buts .top_radius{border-top-left-radius:5px;border-top-right-radius:5px;}
.but_more .more_buts .bottom_radius{border-bottom-left-radius:5px;border-bottom-right-radius:5px;}
/*.but_more .more_buts a:hover{background: #edcbb1;}*/
.but_more:hover .more_buts{display:inline-block;}
.theme_but,a.theme_but{padding:0 10px;color:#fff;background: #f2d7c2;border-radius:5px;display:inline-block;line-height:25px;}
.theme_radio{vertical-align: middle;margin-top:-2px;}
.theme_but_blur,a.theme_but_blur{padding:0 15px;color:#fff;background: #5bc0de;border-radius:5px;display:inline-block;line-height:25px;}
.theme_but_red,a.theme_but_red{padding:0 10px;color:#fff;background: #ff746d;border-radius:5px;display:inline-block;line-height:25px;}
.theme_but_red_dis,a.theme_but_red_dis{padding:0 10px;color:#fff;background: #E2746E;border-radius:5px;display:inline-block;line-height:25px;}
.theme_but_h30{padding:0 15px;height:30px;line-height:30px;border:none;float:left;margin-right:10px; background: #4595f1; color:#fff;display:inline-block;cursor: pointer;}
.button {color: #fff;text-align: center;height: 25px;line-height: 25px;padding: 0 10px;font-size: 14px;border-radius: 5px;display: inline-block;background-color: #5bc0de;min-width:60px;border:none;cursor: pointer;}
.button:hover,a.button:hover {background-color: #31b0d5;}

/*分页*/
#pagination{padding:58px 0;width:100%;display:inline-block;font-size: 14px;}
#pagination .pagetable .pagenumber{display: inline-block;height:30px;}
#pagination .pagetable .pagenumber .page{padding:0 10px;margin:0 2px; float:left; height:25px;line-height:25px; border:1px #e1e1e1 solid;text-align: center;color:#777;display:inline-block;}
#pagination .pagetable .pagenumber>.page{background: #f6f6f6;}
#pagination .pagetable .pagenumber>a>.page:hover{background: #5eb5f4;color:#fff;border:1px #5eb5f4 solid;}
#pagination .pagetable .pagenumber .fisrtPage,#pagination .pagetable .pagenumber .previousPage,
#pagination .pagetable .pagenumber .nextPage,#pagination .pagetable .pagenumber .lastPage{color:#4595f1;box-shadow:0 2px 2px #e1e1e1;-moz-box-shadow:0 2px 2px #e1e1e1;-webkit-box-shadow:0 2px 2px #e1e1e1;-o-box-shadow:0 2px 2px #e1e1e1;}
#pagination .pagetable .pagenumber>.currentPage{background: #4595f1;color:#fff;border:1px #4595f1 solid;}
/*搜索框样式*/
.list_search_text{float:left;margin-right:10px; padding-left:10px;width:220px;height:30px;border:none;background: #eee;border-radius:5px;line-height:30px;display:inline-block;}
.list_search_but{float:left; background: url("../images/common/search.png") no-repeat center center #5bc0de;width:33px;height:28px;line-height:28px;display:inline-block;border:1px #a0d6e6 solid;border-radius:5px;}
.list_search_but_cloes{float:left; background: url("../images/common/searchCloes.png") no-repeat center center #5bc0de;width:33px;height:28px;line-height:28px;display:inline-block;border:1px #a0d6e6 solid;border-radius:5px;}
/*无结果样式*/
.ct_info .list_no_datas {width: 100%;line-height: 30px;font-size: 16px;color: #555;padding: 285px 0;text-align: center;}

/*头部样式*/
.userChoice{width: 240px;position:relative;margin-top:-50px;margin-right:-65px;z-index:200;}
 .userChoice .beforeLogin li{	width: 90px;	text-align: center;	line-height: 40px;	color:  #2e42a1;}
.userChoice .btn{display:inline-block;font-size:16px;padding:0 10px;margin:5px 3px;line-height:28px;height:28px;overflow: hidden;border-radius:3px;border:1px #4050a7 solid;color:#4050a7;}
.userChoice .login-on{	width:240px;	height: 40px;}
 .userChoice .login-on .user{	width:140px;	height: 40px;	line-height:40px;}
 .userChoice .login-on .user .downBtn{height:24px;width:24px;	position:relative;top:10px;	left:125px;	border:none;	background:url(/supplier/theme/manage/blue/images/common/submenu-btn.png) no-repeat;}
 .userChoice  .login-on .user .downUpBtn{	height:34px;	width:24px;	border:none;	position:relative;	top:10px;	left:125px;	background:url(/supplier/theme/manage/blue/images/common/submenuon-btn.png) no-repeat;}
 .userChoice .login-on .choice{	width:130px;	margin-top:-2px;	margin-left:13px;	border-left:1px solid #11216f;border-right:1px solid #11216f;border-bottom:1px solid #11216f;}
 .userChoice .login-on .choice li{width:130px;height: 30px;line-height: 30px;	border-top:1px solid #11216f;background:#2e42a4;}
 .userChoice .login-on .choice li img{position:relative;margin-left:10px;margin-top:5px;width:20px;height:20px;}
 .userChoice .login-on .choice li a{color:white;font-size:15px;margin-left:5px;}
 .userChoice .login-on .block{width:180px;height: 65px;	position:relative;top:200px;right:0px;	background:transparent url(../images/common/block.png) no-repeat;background-size:100%;}
 .userChoice .login-on .block img{width:15px;height: 15px;position:relative;top:28px;left:20px;} 
.userChoice .login-on .block span{position:relative;top:22px;	left:20px;color:white;	font-size:14px;line-height: 30px;}

/*底部导航*/
.new_foot{width:100%;height:60px;text-align:center;font-size:14px;color:#A0A0A0;margin-top:30px;  display: inline-block;}
.foot-p{position: relative;width:400px;display: inline-block;}
.weixin{margin-right:10px;cursor: pointer;}
.hot_phone{margin-left:10px;cursor: pointer;}
.weixinImg{position: absolute;top:-215px;left:-12px;box-shadow:0px 4px 4px #e0e1e2;}
.weixinImg img{width:200px;height:200px;}
.weixinImg::after{color:white; border-width: 10px 10px 0px 10px; border-style: solid;border-color:white  transparent  transparent  transparent ; content: ""; position: absolute;display: inline-block; left: 25px; top: 200px;}

/*公共常量定义*/
.major_a{color:#de6a6f;display:inline-block;}
a.cl_fff,.cl_fff{color:#fff;}
a.cl_default,.cl_default{color:#4f4f4f;}
.fl{float:left;display:inline-block;}
.fr{float:right;display:inline-block;}
.w1200{width:1200px;}
.mgauto{margin:0 auto;}
.tc{text-align: center;}
.tl{text-align: left;}
.ft16{font-size: 16px;}
.mt10{margin-top:10px;}

/* 清除浮动 */
.clearfix:before,.clearfix:after{ content:"";display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }

/* 浮动定义 */
.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }

.right {
    float: right;
}
.left {
    float: left;
}

/* 定位 */
.ps-a{ position:absolute; }
.ps-r{ position:relative; }
.ps-f{ position:fixed; }

.dp-b{ display:block; }
.dp-i{ display:inline; }
.dp-ib{ display:inline-block; }

/* hide */
.hidden{
	display: none;
}

/*遮罩*/
.right_{position: relative;}
.mask{position: absolute;left: 0;top: 0;width:100%;height: 100%;z-index: 9998;display: none;
    /*background: #ccc;*/
    /*opacity: 0.3;*/
}
.loading-wrap{display: none;position: absolute;z-index: 9999;width: 100%;height: 400px;left: 0;top: 0;}
.loading{width: 200px;height: 110px;margin: auto;margin-top: 165px;}
.logo-loading{ margin: auto;width: 100px;height: 72px;}
.loading-wait{ width: 21px; height: 5px;margin: auto;}
.loading-text{text-align: center;padding-top: 15px;}

/*订单与库存*/
.top_info .menus .menu_li.disabled{color:#ccc;}
.top_info .menus .menu_li.no-access{color:#ccc;}
.top_info .menus .menu_li.no-access:hover{background: none;}
.tips-no-access,.tips-disabled{display:none;width: 170px;height: 44px;position: absolute;background:url("../images/common/bubble.png");color: #ff913a;text-align: center;line-height: 44px;z-index: 9999;}

.common-notice .label{background-color:#ff7e1d;}
