input {
  height: 29px;
  font-size: 14px;
}
image {
  border: 0;
}
.fr {
  float: right;
}
.fl {
  float: left;
}
.f14 {
  font-size: 14px;
}
.add_day {
  background-image: url(../../images/tour/add_big.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 0 30px;
}
.hide {
  display: none;
}
.rl {
  position: relative;
}
.bar {
  position: relative;
  width: 100%;
  background:white;
  z-index:100px;
  line-height: 40px;
  text-align:center;
}
.loading-wrap{width:200px;height:180px;background:white;border-radius:4px;position:fixed;left:45%;top:50%;z-index:12000;box-shadow:6px 6px 6px grey}
.save-loading{width:180px;height:140px;padding-top:40px;margin-left:10px;background:white;}
.bar-scroll{
	width: 1200px;
	position:fixed;
	margin:0px auto;
	top:0px;
	z-index:100;
	border-bottom:1px solid grey;
	box-shadow:4px 4px 4px grey;
	padding-bottom:10px
}
.fixedMsg{position:fixed;z-index:100}
.bar .preview_link {
  position:absolute;
  top:20px;
  right:15px;
  padding-left:15px;
  color: #FF871E;
  background:url(../images/tourplan/cutuan_view.png) no-repeat left;
}
.bar .save_btn {
  background-color: #a1d851;
  margin-top:14px;
  padding:4px 47px;
  font-size:16px;
}
.bar .save_btn:hover {
  background-color: #89c92d;
}
.list {
  clear: both;
  margin: 0 10px;
}
.table {
  border-right: 1px solid #5bc0de;
  border-top: 1px solid #5bc0de;
  margin: 7px 0 5px;
  width: 100%;
}
.table th {
  color: #5bc0de;
  font-weight: normal;
  padding: 10px ;
}
.table th,
.table td {
  border-left: 1px solid #5bc0de;
  border-bottom: 1px solid #5bc0de;
  padding: 5px;
  position: relative;
  font-size: 14px;
  text-align: center;
}
.table .del_tr {
  width: 20px;
  height: 20px;
  background: url(../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 6px;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.table .del_tr:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.table tr:not( :nth-child(0)):hover .del_tr {
  display: block;
}
.table .short {
  width: 120px;
}
.table select {
  min-width: 170px;
}
.table input,
.table textarea {
  /*background: url("../images/tour/input_bg.png") repeat-y 0 center;*/
  width: 100%;
  height: 46px;
  resize: none;
  border: 0;
}
.table input:focus,
.table textarea:focus {
  background-image: none;
  background-color: #fff;
  border-radius: 5px;
}
.table textarea {
  height: 100%;
  width: 100%;
  /*background-position: -2px center;*/
}

.add_tr {
  background-image: url(../images/tour/add_small.png);
  background-repeat: no-repeat;
  background-position: 6px center;
  padding: 0 20px;
  margin: 10px auto;
  width: 100px;
  display: block;
}
.plan_dialog {
  width: 938px;
  display: none;
}
.plan_dialog .title {
  background-color: #5bc0de;
  border-bottom: 4px solid #f2d7c2;
  height: 40px;
  display: none;
}
.plan_dialog .imagebar {
  margin: 5px 10px;
}
.plan_dialog .option {
  margin: 10px;
}
.plan_dialog .option label {
  margin: 0 5px;
}
.plan_dialog a.button {
  color: #fff;
}
.plan_dialog input {
  color: #000;
}
.plan_dialog .content {
  padding: 5px;
  margin: 5px 10px;
  max-height: 400px;
  text-align: center;
}
.plan_dialog .content.preview .mCSB_inside > .mCSB_container {
  margin-right: 0;
}
.plan_dialog .content.preview .mCSB_scrollTools {
  right: -5px;
}
.plan_dialog .content.preview table {
  border-right: 1px solid #ffffff;
  border-top: 1px solid #ffffff;
  margin: 10px 0 5px;
  width: 100%;
  color: #fff;
}
.plan_dialog .content.preview table th {
  color: #5bc0de;
  font-weight: normal;
  padding: 10px ;
}
.plan_dialog .content.preview table th,
.plan_dialog .content.preview table td {
  text-align: center;
  border-left: 1px solid #ffffff;
  border-bottom: 1px solid #ffffff;
  padding: 5px;
  position: relative;
  font-size: 14px;
}
.plan_dialog .content.preview table .del_tr {
  width: 20px;
  height: 20px;
  background: url(../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 6px;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.plan_dialog .content.preview table .del_tr:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.plan_dialog .content.preview table tr:not( :nth-child(0)):hover .del_tr {
  display: block;
}
.plan_dialog .content.preview table .short {
  width: 120px;
}
.plan_dialog .content.preview table select {
  min-width: 170px;
}
.plan_dialog .content.preview table input,
.plan_dialog .content.preview table textarea {
  background: url("../images/tour/input_bg.png") repeat-y 0 center;
  width: 230px;
  height: 30px;
  resize: none;
  border: 0;
}
.plan_dialog .content.preview table input:focus,
.plan_dialog .content.preview table textarea:focus {
  background-image: none;
  background-color: #fff;
  border: 1px solid #f2d7c2;
  border-radius: 5px;
}
.plan_dialog .content.preview table textarea {
  height: 60px;
  width: 220px;
  background-position: -2px center;
}
.plan_dialog .content.ad > div {
  height: 347px;/*314px;*/
  border: 1px solid #5bc0de;
  display: inline-block;
  overflow: hidden;
}
.plan_dialog .content.ad > div .txt {
  padding: 10px;
  font-size: 14px;
  font-weight: bold;
}
.plan_dialog .content.ad > div .pic {
  width: 200px;
  height: 220px;
  border: 1px solid #ccc;
  margin: 0 auto 10px;
  position: relative;
}
.plan_dialog .content.ad > div .pic img {
  position: absolute;
  top: 0;
  left: 0;
  width: 200px;
  max-height: 220px;
}
.plan_dialog .content.ad > div .pic .progress {
  width: 0;
  height: 30px;
  top: 90px;
  background-color: #5bc0de;
  position: absolute;
  color:#fff;
  line-height:30px;
}
.plan_dialog .content.ad > div .upload_btn {
  background-color: #fff;
  line-height: 30px;
  padding: 0 0;
  width:150px;
  height:auto;
  color: rgb(111,111,111);
  cursor: pointer;
  position: relative;
  display: inline-block;
}
.upload{
	cursor:pointer;  margin-top: 15px;
}
.plan_dialog .content.ad > div .upload_btn input {
  position: relative;
  top: -28px;
  right: 0;
  margin: 0;
  border: solid transparent;
  opacity: 0;
  max-width:100px;
  cursor:pointer;
  font-size:50px;
}
.btns a{
	width:100%;
	height:30px;
	line-height:30px;
	color:rgb(111,111,111);
	display:inline-block;
}
.cancle{vertical-align: text-top;}
.plan_dialog .content.ad > div .input > div {
  width: 330px;
  border: 1px solid #5bc0de;
  margin: 0 auto 10px;
  height: 30px;
  line-height: 30px;
}
.plan_dialog .content.ad > div .input > div label {
  background-color: #5bc0de;
  padding: 7px 10px;
  color: #fff;
  width: 50px;
}
.plan_dialog .content.ad > div .input > div label a {
  color: #ffffff;
}
.plan_dialog .content.ad > div .input > div input {
  height: 28px;
  border: 0;
  width: 262px;
}
.plan_dialog .content.ad .col1 {
  width: 250px;
}
.plan_dialog .content.ad .col2 {
  width: 350px;
}
.plan_dialog .content.price .group {
  margin-bottom: 10px;
  position: relative;
  width: 690px;
}
.plan_dialog .content.price .group > div {
  min-height: 150px;
  vertical-align: top;
  border: 1px solid #5bc0de;
  display: inline-block;
  overflow: -hidden;
}
.plan_dialog .content.price .group .input {
  margin-top: 2px;
}
.plan_dialog .content.price .group .input > div {
  width: 159px;
  border: 1px solid #5bc0de;
  margin: 0 auto 10px;
  height: 30px;
  line-height: 30px;
  display: inline-block;
}
.plan_dialog .content.price .group .input > div label {
  background-color: #5bc0de;
  padding: 7px 10px;
  color: #fff;
}
.plan_dialog .content.price .group .input > div label a {
  color: #ffffff;
}
.plan_dialog .content.price .group .input > div input {
  height: 30px;
  border: 0;
  width: 77px;
  margin:0;
  padding:0;
}
.plan_dialog .content.price .group .input > div a[tip] {
  font-weight: bold;
  color: #fff;
}
.plan_dialog .content.price .group .input.flight > div {
  width: 210px;
  position: relative;
}
.plan_dialog .content.price .group .input.flight > div input {
  width: 130px;
}
.plan_dialog .content.price .group .col1 {
  width: 510px;
  text-align: left;
}
.plan_dialog .content.price .group .col1 select {
  width: 211px;
}
.plan_dialog .content.price .group .col1 .everyday .txt {
  margin: 20px 0;
}
.plan_dialog .content.price .group .col1 .datepicker .selected {
  border: 1px solid #003eff;
  background: #007fff;
  font-weight: normal;
  color: #fff;
}
.plan_dialog .content.price .group .col1 > div {
  margin: 5px;
  min-height: 242px;
  display: inline-block;
  overflow: -hidden;
  vertical-align: top;
}
.plan_dialog .content.price .group .col1 > div .dates {
  margin-top: 7px;
  width: 274px;
}
.plan_dialog .content.price .group .col1 > div .dates .item {
  width: 132px;
  margin-top: 5px;
  display: inline-block;
  overflow: -hidden;
}
.plan_dialog .content.price .group .col1 > div .dates .item label {
  width: 62px;
  display: inline-block;
  text-align: right;
}
.plan_dialog .content.price .group .col1 > div .dates .item input {
  width: 54px;
  border: 1px solid #5bc0de;
}
.plan_dialog .content.price .group .col2 {
  width: 170px;
}
.plan_dialog .content.price .group .col2 .txt {
  margin: 5px auto;
}
.plan_dialog .content.price .group .col2 table {
  border-right: 1px solid #f2d7c2;
  border-top: 1px solid #f2d7c2;
  margin: 10px 0 5px;
  width: 100%;
  border-top: 8px solid #5bc0de;
  margin: 0 5px;
  width: 160px;
}
.plan_dialog .content.price .group .col2 table th {
  color: #5bc0de;
  font-weight: normal;
  padding: 10px ;
}
.plan_dialog .content.price .group .col2 table th,
.plan_dialog .content.price .group .col2 table td {
  text-align: center;
  border-left: 1px solid #f2d7c2;
  border-bottom: 1px solid #f2d7c2;
  padding: 5px;
  position: relative;
  font-size: 14px;
}
.plan_dialog .content.price .group .col2 table .del_tr {
  width: 20px;
  height: 20px;
  background: url(../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 6px;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.plan_dialog .content.price .group .col2 table .del_tr:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.plan_dialog .content.price .group .col2 table tr:not( :nth-child(0)):hover .del_tr {
  display: block;
}
.plan_dialog .content.price .group .col2 table .short {
  width: 120px;
}
.plan_dialog .content.price .group .col2 table select {
  min-width: 170px;
}
.plan_dialog .content.price .group .col2 table input,
.plan_dialog .content.price .group .col2 table textarea {
  background: url("../images/tour/input_bg.png") repeat-y 0 center;
  width: 230px;
  height: 30px;
  resize: none;
  border: 0;
}
.plan_dialog .content.price .group .col2 table input:focus,
.plan_dialog .content.price .group .col2 table textarea:focus {
  background-image: none;
  background-color: #fff;
  border: 1px solid #f2d7c2;
  border-radius: 5px;
}
.plan_dialog .content.price .group .col2 table textarea {
  height: 60px;
  width: 220px;
  background-position: -2px center;
}
.plan_dialog .content.price .group .col2 table input {
  width: 68px;
  background: none;
}
.plan_dialog .content.price .group .col2 table .del_tr {
  top: 10px;
  right: 0px;
}
.plan_dialog .content.price .group .col2 .add_priceitem {
  background-color: #5bc0de;
  color: #fff;
  cursor: pointer;
  padding: 2px;
  margin: 0 5px 5px;
  display: inline-block;
  width: 240px;
}
.plan_dialog .content.price .group .del_group {
  width: 20px;
  height: 20px;
  background: url(../images/tour/close.png) no-repeat #fdf4f4;
  position: absolute;
  top: 0;
  right: -20px;
  -webkit-transition: 0.5s;
  -ms-transition: 0.5s;
  transition: 0.5s;
  cursor: pointer;
  display: none;
}
.plan_dialog .content.price .group .del_group:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  display: block;
}
.plan_dialog .content.price .group:hover .del_group {
  display: block;
}
.plan_dialog .imagebar ul {
  list-style: none;
}
.plan_dialog .imagebar ul li {
  width: 150px;
  height: 80px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  display: inline-block;
}
.plan_dialog .imagebar ul li .icon {
  cursor: pointer;
  width: 150px;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 0;
  background-repeat: no-repeat;
}
.plan_dialog .imagebar ul li .icon:hover {
  width: 144px;
  height: 74px;
  border: 3px solid #1094fa;
}
.plan_dialog .imagebar ul li.selected .icon {
  background: rgba(0,0,0,0.5) url(../images/tourplan/selet.png) no-repeat center center;
  width: 144px;
  height: 74px;
  border: 3px solid #1094fa;
}
.plan_dialog .imagebar ul li image {
  width: 200px;
}
.plan_dialog .preview {
  color: #fff;
}
.plan_dialog .preview table {
  table-layout: fixed;
  word-wrap: break-word;
  word-break: break-all;
}
.plan_dialog .preview table td.aleft {
  text-align: left;
}
.plan_dialog .preview .more {
  width: 10px;
  height: 8px;
  display: inline-block;
  background: url("../images/common/triangle.png") no-repeat center right;
}
.plan_dialog .preview .dates,
.plan_dialog .preview .prices {
  position: relative;
}
.plan_dialog .preview .dates .more_t,
.plan_dialog .preview .prices .more_t {
  border-radius: 4px;
  padding: 5px 10px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  right: 0;
  bottom: 18px;
  color: #5C5959;
  z-index: 2;
  display: none;
}
.plan_dialog .preview .prices .more_t{
  white-space: nowrap;
}
.plan_dialog .preview .dates:hover .more_t,
.plan_dialog .preview .prices:hover .more_t {
  display: inline-block;
}
.plan_dialog .buttonbar {
  height: 40px;
  line-height: 40px;
  margin-top: 10px;
  padding: 10px;
  border-top: 1px solid #f2d7c2;
  clear: both;
}
.plan_dialog .buttonbar .tip {
  color: #ccc;
  line-height: 20px;
}
.plan_dialog .buttonbar .tip a {
  color: red;
  margin-left: 10px;
}
.plan_dialog .buttonbar .button {
  margin: 7px;
  padding: 0 16px 0 38px;
  color: #fff;
}
.plan_dialog .buttonbar .button.cancel {
  background: url(../images/tourplan/close-icon.png) 15px center no-repeat #f06464;
}
.plan_dialog .buttonbar .button.save {
  background: url(../images/tourplan/save-icon.png) 15px center no-repeat #60d878;
}
.dialog_custom.ui-widget-content {
  border: 0;
}
.dialog_custom .ui-widget-header {
  border: 0;
  background: #5bc0de;
  color: #fff;
  border-bottom: 4px solid #f2d7c2;
}
.dialog_custom .ui-widget-header .ui-dialog-titlebar-close {
  display: none;
}
.ui-dialog .ui-dialog-content.plan_dialog {
  padding: 0;
}
.arrow {
  box-shadow: 2px 3px 6px #D3CFCF;
  -webkit-box-shadow: 2px 3px 6px #D3CFCF;
  -moz-box-shadow: 2px 3px 6px #D3CFCF;
  -o-box-shadow: 2px 3px 6px #D3CFCF;
  border-radius: 5px;
  padding: 10px 20px;
  position: absolute;
  border: 1px solid #ccc;
  background-color: #F9F9F9;
  text-align: center;
  z-index: 200;
  display: none;
}
.arrow .arrow_btn {
  margin: 10px 0 0 0;
}
.arrow .arrow_ctn i {
  width: 20px;
  height: 16px;
  display: inline-block;
  background: url("../images/tour/confirm.png") no-repeat center center;
}
.arrow .button {
  padding: 0px 14px;
  line-height: 20px;
  height: 20px;
  font-size: 12px;
}
.arrow:before {
  border-bottom: 7px solid rgba(0, 0, 0, 0.2);
  border-left: 7px solid transparent;
  border-right: 7px solid transparent;
  content: "";
  display: inline-block;
  left: 9px;
  position: absolute;
  top: -7px;
}
.arrow:after {
  border-bottom: 6px solid #FFFFFF;
  border-left: 6px solid transparent;
  border-right: 6px solid transparent;
  content: "";
  display: inline-block;
  left: 10px;
  position: absolute;
  top: -6px;
}
.formError .formErrorContent {
  min-width: 80px;
}
.but_more,
.but_more .more_buts {
  background: #5bc0de;
}
/*.but_more .more_buts a:hover {
 	padding-left:21px;
	background:url(../images/tourplan/edit.png) no-repeat 6px;	
}*/
.but_more,
.but_more a.default_but {
  line-height: 25px;
  height: 25px;
}

input{
  text-indent:0.5rem;
  font-size: 14px;
}
.ui-widget input{
  font-family: "Microsoft YaHei";
}
textarea{
  text-indent: 0.5rem;
}

.add_ad{
	padding-left:21px;
	background-image:url(../images/tourplan/add.png) ;
	background-repeat:no-repeat;
	background-position:6px;
}
.del_plan{
	/*padding-left:10px;*/
	background-image:url(../images/tourplan/delete.png) ;
	background-repeat:no-repeat;
	background-position:6px;
}
.add_price{
	padding-left:21px;
	background-image:url(../images/tourplan/edit.png) ;
	background-repeat:no-repeat;
	background-position:6px;
}
/*.but_more a.default_but,.add_tour{*/
	/*padding-left:20px;*/
	/*height:25px;*/
	/*line-height:25px;*/
	/*/!*background: url("../images/tourplan/edit.png") no-repeat 6px,url("../images/common/triangle.png") no-repeat center right;display:inline-block;*!/*/
  /*color:#fff;}*/
/*.add_tour{padding-left:10px; }*/
.but_more .more_buts a{ width:87%; height:25px; line-height:25px; }

.about-trip{
  background: #5bc0de;
  height: 23px;
  line-height: 23px;
  padding:0 5px;
  display: inline-block;
  border-radius: 4px;
  color: #fff;
  padding-bottom:2px;
}
.about-trip i,.about-ad i{
  display: inline-block;
  width: 13px;
  height: 13px;
  /*padding-left: 5px;*/
}
.about-ad i{ padding-top: 5px;}
.add_ad i{
  padding-top: 3px;
  padding-right: 3px;
}
.about-ad{
  display: inline-block;
  background: #5bc0de;
  height: 25px;
  border-radius: 4px;
  position: relative;
  padding-right: 5px;
}

.about-ad-add{
  color: #fff;
  display: block;
  width: 100%;
  padding-right: 5px;
  border-radius: 4px;
}
.about-ad-add i{
  padding-left:5px;
}

.about-ad-delete i{
  padding-left:8px;
}
.about-ad-delete{
  position: absolute;
  width:  100%;
  height: 100%;
  left: 0;
  background: #5bc0de;
  border-radius:0px 0px  4px 4px;
  text-align:left!important;
  color: #fff;
  display: none;
  z-index: 1;
}
.add_ad:hover,.about-ad-add:hover,.about-ad-delete:hover{
  background: #31b0d5;
}
.about-ad:hover .about-ad-delete{
  display: inline-block;
}

/*价格样式*/
#plan-prices .ui-plan-price-tab {border:none;border-radius:0;background: #5bc0de;color:#eef7fb;}
#plan-prices li .ui-icon-close { float: left; margin: 0.4em 0.2em 0 0; cursor: pointer; }
#plan-prices li .ui-icon-close:hover { background-image: url("../images/tourplan/delete-icon.png"); background-position: 4px 4px;}
#plan-prices li .ui-icon-plus{background-image: url("../images/tourplan/add-icon.png");background-position: 4px 4px;background-repeat:no-repeat;height:10px;width:10px;float:left;}
#plan-prices .add_group{border:1px dotted #61c2df;background: #fff;color:#78c9e3;list-style: none;float: left;position: relative;top: 0;margin-top: 1px;padding: .4em .5em;white-space: nowrap;cursor: pointer;}
#plan-prices .add_group .add-icon{background-image: url("../images/tourplan/add-icon.png");background-repeat:no-repeat;position: relative;margin-right:2px;top: 2px;left:1px;width:10px;height:10px;float:left;}
#plan-prices .content .ui-tabs-panel{padding: 0.1em 0.1em 20px 0.1em;}
#plan-prices .group{width:840px;}
#plan-prices .group .col2{width:310px;}
#plan-prices .group .col2 .input {text-align: center;}
#plan-prices .group .col2 .input > div{width:240px;}
#plan-prices .group .col2 .input > div input{width:120px;}
#plan-prices .group .col2 .input > div label {display:inline-block;padding:0;width:120px}
#plan-prices .group .col2 table {width:240px;margin:0 auto;}
#plan-prices .content.price .group .col2 table input{width:110px;text-align: center;}
#plan-prices .group .col2 .price_table .del_tr{/*display:inline-block;*/float: left;vertical-align: middle;width: 20px;height: 30px;top: 3px;right: -20px; background: url("../images/tourplan/re_23.png");}
#plan-prices .group .col2 .price_table .del_tr:hover {
  -webkit-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  display: block;
}
#plan-prices .group .col2 .price_table tr:hover .del_tr{display:block;}
#plan-prices .group .col2 .input .add_priceitem{width:238px;margin:0 auto;}
#plan-prices .content{margin:5px 10px 5px 11px;}
#plan-prices .plan-prices-tabs{background: none;border: none;margin: 0px 0px -10px 20px;}

#plan-prices .ac_results .hottip { margin:0 auto 0; display: block;}

.plan_dialog .content.price .group .input.flight .radio {height: 15px; width: 15px; border: 1px solid #a0a0a0;margin:auto;padding:auto;cursor: pointer;}

.plan_dialog .content.price .group .input.flight .option {
	float:left; width:50%; text-align:center;
	margin:0px;
	cursor: pointer;
}
/*航班*/
.hottip .charter{width:100%;display:inline-block;border-bottom:1px solid #a7a7a7;}
.hottip .diy_text{height:26px;padding:4px 2%;width:96%;display:inline-block;border-bottom:1px solid #a7a7a7;}
.plan_dialog .content.price .group .input.flight > div input.diy_text_input{width:100%;outline: 1px solid #a7a7a7;line-height:26px;height:26px;}
