*{
	padding: 0;
	margin: 0;
}
/*浮动*/
.left{
	float: left;
}
.right{
	float: right;
}
/* 清除浮动 */
.clearfix:before,.clearfix:after{ content:"";display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }

.hidden{
	display: none;
}
/*
 * 文本
 */
.text-center{
	text-align: center;
}
a{
	text-decoration: none;
}
.text-black{
	color: black;
}
.text-gray{
	color: gray;
}
.text-lightgrey{
	color: lightgrey;
}
.text-blue{
	color: blue;
}
.text-info{
	color: skyblue;
}
.text-deepskyblue{
	color: deepskyblue;
}
.text-orange{
	color: darkorange;
}
/*
 * 细边框
 */
.b-a{
	border: 1px bold lightgrey;
}
.b-l{
	border-left: 1px bold lightgrey;
}
.b-r{
	border-right: 1px bold lightgrey;
}
.b-t{
	border-top: 1px bold lightgrey;
}
.b-b{
	border-bottom: 1px bold lightgrey;
}

/*虚线边框*/
.b-dashed{
	border: 1px dashed lightgrey;
}
.b-dashed-l{
	border-left: 1px dashed lightgrey;
}
.b-dashed-r{
	border-right: 1px dashed lightgrey;
}
.b-dashed-t{
	border-top: 1px dashed lightgrey;
}
.b-dashed-b{
	border-bottom: 1px dashed lightgrey;
}

/*双线边框*/
.b-double{
	border: 1px double lightgrey;
}
.b-double-l{
	border-left: 1px double lightgrey;
}
.b-double-r{
	border-right: 1px double lightgrey;
}
.b-double-t{
	border-top: 1px double lightgrey;
}
.b-double-b{
	border-bottom: 1px double lightgrey;
}

.b-radius-sm{
	border-radius:4px ;
}
.b-radius-md{
	border-radius:8px ;
}
.b-radius-l{
	border-radius:12px ;
}

/*调整左边距*/
.m-l-xs{
	margin-left:5px ;
}
.m-l-sm{
	margin-left:10px ;
}
.m-l-md{
	margin-left: 20px;
}
.m-l-l{
	margin-left:30px ;
}
.m-l-xl{
	margin-left:40px ;
}

.m-l-n-xs{
	margin-left:-5px ;
}
.m-l-n-sm{
	margin-left:-10px ;
}
.m-l-n-md{
	margin-left: -20px;
}
.m-l-n-l{
	margin-left:-30px ;
}
.m-l-n-xl{
	margin-left:-40px ;
}

/*调整右边距*/
.m-r-xs{
	margin-right:5px ;
}
.m-r-sm{
	margin-right:10px ;
}
.m-r-md{
	margin-right: 20px;
}
.m-r-l{
	margin-right:30px ;
}
.m-r-l-xl{
	margin-right:40px ;
}

.m-r-n-xs{
	margin-right:-5px ;
}
.m-r-n-sm{
	margin-right:-10px ;
}
.m-r-n-md{
	margin-right: -20px;
}
.m-r-n-l{
	margin-right:-30px ;
}
.m-r-n-xl{
	margin-right:-40px ;
}

/*调整上边距*/
.m-t-xs{
	margin-top:5px ;
}
.m-t-sm{
	margin-top:10px ;
}
.m-t-md{
	margin-top:20px ;
}
.m-t-l{
	margin-top:30px ;
}
.m-t-xl{
	margin-top:40px ;
}

.m-t-n-xs{
	margin-top:-5px ;
}
.m-t-n-sm{
	margin-top:-10px ;
}
.m-t-n-md{
	margin-top:-20px ;
}
.m-t-n-l{
	margin-top:-30px ;
}
.m-t-n-xl{
	margin-top:-40px ;
}

/*调整下边距*/
.m-b-xs{
	margin-bottom:5px ;
}
.m-b-sm{
	margin-bottom:10px ;
}
.m-b-md{
	margin-bottom:20px ;
}
.m-b-l{
	margin-bottom:30px ;
}
.m-b-l-xl{
	margin-bottom:40px ;
}

.m-b-n-xs{
	margin-bottom:-5px ;
}
.m-b-n-sm{
	margin-bottom:-10px ;
}
.m-b-n-md{
	margin-bottom:-20px ;
}
.m-b-n-l{
	margin-bottom:-30px ;
}
.m-b-n-xl{
	margin-bottom:-40px ;
}


