.page-main-staff {
  margin: 0; }
  .page-main-staff .scope-toolbar-wrapper {
    height: 60px; }
  .page-main-staff .scope-toolbar {
    padding: 10px 0;
    text-align: center;
    background: white;
    border-bottom: 1px solid #e5e5e5; }
  .page-main-staff .scope-content {
    padding: 10px;
    overflow: hidden; }
  .page-main-staff .alert-info {
    margin: 10px; }
  .page-main-staff .emptylist-placeholder {
    margin: 10px;
    background: white;
    color: #999999;
    overflow: hidden; }
  .page-main-staff .staff-list {
    overflow: hidden; }
    .page-main-staff .staff-list li {
      position: relative;
      margin: 10px;
      background: white;
      display: inline-block;
      padding: 20px;
      border-radius: 4px;
      text-align: center; }
    .page-main-staff .staff-list h4 {
      font-weight: normal;
      color: #313233;
      margin-bottom: 10px;
      line-height: 100%;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis; }
    .page-main-staff .staff-list .staff-portrait {
      border-radius: 50%;
      width: 70px;
      height: 70px;
      line-height: 70px;
      background: #edf0f2;
      margin-bottom: 10px;
      display: inline-block;
      text-align: center; }
  .page-main-staff .staff-portrait .gm-icon {
    font-size: 34px;
    color: white; }
  .page-main-staff .staff-list img {
    width: 100%;
    height: 100%;
    border: none; }
  .page-main-staff .staff-list .staff-phone {
    color: #939699;
    margin-bottom: 10px;
    line-height: 100%; }
  .page-main-staff .staff-toolbar {
    text-align: center;
    line-height: 100%; }
    .page-main-staff .staff-toolbar .btn {
      padding: 5px 12px;
      line-height: 100%; }
      .page-main-staff .staff-toolbar .btn:first-child {
        margin-right: 10px; }

#staff-name-editbox {
  display: none;
  position: absolute;
  z-index: 3;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 255, 255, 0.9); }
  #staff-name-editbox .editbox-inner {
    position: relative;
    width: 100%;
    padding: 0 20px;
    top: 50%;
    margin-top: -18px; }
  #staff-name-editbox form {
    position: relative; }
  #staff-name-editbox .input-group {
    display: block;
    margin-right: 64px; }
  #staff-name-editbox button {
    position: absolute;
    right: 0;
    top: 0; }

.staff-permission-editbox {
  min-width: 300px;
  padding: 0;
  display: inline-block;
  box-sizing: content-box; }
  .staff-permission-editbox.add-mode {
    min-width: 525px; }
  .staff-permission-editbox .user-meta {
    margin-bottom: 35px;
    overflow: hidden; }
    .staff-permission-editbox .user-meta .gm-user {
      font-size: 40px;
      border-radius: 50%;
      background-color: #edf0f2;
      display: inline-block;
      vertical-align: middle;
      width: 80px;
      height: 80px;
      line-height: 80px;
      color: #fff;
      text-align: center; }
    .staff-permission-editbox .user-meta .user-info {
      display: inline-block;
      vertical-align: middle; }
    .staff-permission-editbox .user-meta .user-contact {
      color: #333333; }
    .staff-permission-editbox .user-meta .user-jointime {
      color: #999999; }
  .staff-permission-editbox .edit-note {
    margin-bottom: 20px;
    font-size: 14px; }
  .staff-permission-editbox .input-group {
    line-height: 100%;
    font-size: 0; }
    .staff-permission-editbox .input-group .input-group-btn > .btn {
      border-top-left-radius: 0;
      border-bottom-left-radius: 0; }
  .staff-permission-editbox .form-group {
    margin-left: 0;
    margin-right: 0;
    white-space: nowrap; }
    .staff-permission-editbox .form-group:last-child {
      margin-bottom: 0; }
    .staff-permission-editbox .form-group .control-label {
      display: inline-block;
      vertical-align: middle;
      width: 100px;
      padding-right: 20px;
      padding-top: 0;
      font-size: 14px;
      text-align: right;
      margin: 0;
      line-height: 105%; }
    .staff-permission-editbox .form-group.form-group-top-vertical .control-label {
      padding-top: 2px; }
    .staff-permission-editbox .form-group.form-group-top-vertical .control-label, .staff-permission-editbox .form-group.form-group-top-vertical .input-outer {
      vertical-align: top; }
    .staff-permission-editbox .form-group .form-control {
      width: 240px; }
    .staff-permission-editbox .form-group .input-outer {
      display: inline-block;
      vertical-align: middle; }
  .staff-permission-editbox .Validform_error {
    background: transparent;
    border-color: #f98282; }
    .staff-permission-editbox .Validform_error:focus {
      border-color: #f98282;
      outline: 0; }
  .staff-permission-editbox .Validform_checktip {
    position: relative;
    padding: 0 10px;
    height: 36px;
    line-height: 34px;
    background-image: none;
    border-radius: 4px; }
    .staff-permission-editbox .Validform_checktip.Validform_wrong {
      border: 1px solid #f9cdcd;
      background-color: #fff0f0;
      color: #e42519; }
    .staff-permission-editbox .Validform_checktip.Validform_right {
      border: 1px solid #b5eabb;
      background-color: #e6ffeb;
      color: #0ea865; }
  .staff-permission-editbox .J_longTips {
    width: 300px;
    white-space: normal;
    height: auto;
    margin: 0 0 0 105px; }
  .staff-permission-editbox .fancytree-container {
    overflow: visible;
    border: none;
    padding: 0 !important; }
    .staff-permission-editbox .fancytree-container li:nth-child(n+2) {
      margin-top: 7px; }
    .staff-permission-editbox .fancytree-container span.fancytree-expander {
      display: none; }
    .staff-permission-editbox .fancytree-container span.fancytree-checkbox {
      margin-left: 0;
      margin-top: 0;
      background-image: none;
      position: relative; }
      .staff-permission-editbox .fancytree-container span.fancytree-checkbox:before {
        content: '';
        display: inline-block;
        width: 18px;
        height: 18px;
        margin-right: 5px;
        border: 1px solid #d0d5d9;
        vertical-align: middle; }
    .staff-permission-editbox .fancytree-container li:hover span.fancytree-checkbox:before {
      border-width: 2px;
      border-color: #ff9248; }
    .staff-permission-editbox .fancytree-container .fancytree-selected .fancytree-checkbox:before {
      border-color: #ff9248;
      background-color: #ff9248; }
    .staff-permission-editbox .fancytree-container .fancytree-selected .fancytree-checkbox:after {
      content: '\e61a';
      font-family: "gmIcon" !important;
      font-size: 17px;
      font-style: normal;
      position: absolute;
      left: 1px;
      color: #fff;
      line-height: 1; }
    .staff-permission-editbox .fancytree-container span.fancytree-title {
      margin-left: 10px;
      color: #333333;
      outline: none;
      border: none;
      border-radius: 0;
      background-color: transparent !important; }
    .staff-permission-editbox .fancytree-container span.fancytree-active span.fancytree-title,
    .staff-permission-editbox .fancytree-container span.fancytree-selected span.fancytree-title,
    .staff-permission-editbox .fancytree-container .fancytree-treefocus span.fancytree-title {
      border: none;
      background-image: none;
      background-color: transparent !important;
      color: #333333; }

.staff-apply-list {
  padding: 0;
  display: inline-block;
  min-width: 480px;
  min-height: 80px; }
  .staff-apply-list .staff-list-item {
    margin: 20px 0;
    overflow: hidden; }
    .staff-apply-list .staff-list-item .gm-user {
      font-size: 40px;
      border-radius: 50%;
      background-color: #edf0f2;
      display: inline-block;
      vertical-align: middle;
      width: 80px;
      height: 80px;
      line-height: 80px;
      color: #fff;
      text-align: center; }
    .staff-apply-list .staff-list-item .apply-user, .staff-apply-list .staff-list-item .apply-actions {
      display: inline-block;
      vertical-align: middle; }
    .staff-apply-list .staff-list-item .apply-user {
      margin: 0 50px 0 15px; }
    .staff-apply-list .staff-list-item .user-contact,
    .staff-apply-list .staff-list-item .user-message {
      color: #333333; }
    .staff-apply-list .staff-list-item .user-label {
      color: #999999; }
    .staff-apply-list .staff-list-item .user-jointime {
      color: #999999; }
    .staff-apply-list .staff-list-item .apply-actions .btn {
      display: block;
      line-height: 100%;
      padding: 3px 7px; }
      .staff-apply-list .staff-list-item .apply-actions .btn:nth-child(2) {
        margin-top: 15px; }
