@charset "utf-8";

#allBody{height:100%;}
#contents{width:1200px;height:820px;display:inline-block;text-align: center;overflow:hidden;}
#contents .content_body{width:1200px;height:820px;display:inline-block;text-align: center;overflow:hidden;}
#contents .content_body .shadows{width:1200px;padding-bottom:20px;height:820px;display:inline-block;text-align: center;overflow:hidden;}

/*以下是以前的css，目前没有用到*/
.plan_tip{background: url('../images/tour/point_out.png') no-repeat 29% center;height:30px; line-height: 30px;text-align: center;}

/*tab菜单样式*/
.plan_menu{position: absolute;left: -40px; width: 40px;}
.plan_menu .plan_tab{background: #fff; margin-bottom:6px;border-bottom-left-radius:5px;border-top-left-radius:5px;}
.plan_menu .plan_tab .plan_tab_title{position: relative;width:23px;padding: 15px 8px;font-size:14px;line-height:15px;text-align:center;border-bottom-left-radius:5px;border-top-left-radius:5px;overflow: hidden;color:#a1a1a1;}
.plan_menu .plan_tab .plan_tab_title.on,.plan_menu .plan_tab .plan_tab_title:hover{color:#3ebcef;box-shadow:none;-webkit-box-shadow:none;-moz-box-shadow:none;-o-box-shadow:none;}
.plan_menu .plan_tab .plan_tab_title.on span,.plan_menu .plan_tab .plan_tab_title:hover span{border-right:1px solid #93eaea;height:76px;position:absolute;left:38px;top:18px;}
.plan_menu .plan_tab .off{box-shadow:1px 2px 4px #999;-webkit-box-shadow:1px 2px 4px #999;-moz-box-shadow:1px 2px 4px #999;-o-box-shadow:1px 2px 4px #999;}

.plan_body{display:inline-block;width:100%;}
/*网页版计划样式*/
.plan_body .web_plan{display:inline-block;width:100%;}
.plan_body .web_plan .web_plan_header{display:inline-block;width:100%;}
.plan_body .web_plan .web_plan_header .header_left{float:left;padding:15px 20px;height:30px; line-height: 30px;}
.plan_body .web_plan .web_plan_header .header_center{width:880px;float:left;padding:15px 20px;}
.plan_body .web_plan .web_plan_header .header_right{float:right;padding:15px 20px;height:30px; line-height: 30px;}
.plan_body .web_plan .web_plan_header .header_right a{color: #3ebcef;}
.save_btn{display:inline-block;background: url('../images/tourplan/save_btn.png') no-repeat 8px center #a1d851; height:30px;line-height:30px;padding:0 8px 0 35px;border:none;color:#fff;cursor:pointer;border-radius:4px;}

.plan_body .web_plan .web_plan_content{padding:0px 15px;}
.plan_body .web_plan .web_plan_content .web_plan_bg{position: relative;z-index:0;padding: 20px 10px;background: url("../images/tourplan/plan_bg.png") no-repeat center center;}
.plan_body .web_plan .web_plan_content .web_plan_bg .web_plan_opacity{position:absolute;z-index:-1;top:20px;right:10px;bottom:20px;left:10px;background: #000;filter:alpha(opacity=40); -moz-opacity:0.4;opacity:0.4;}
.plan_body .web_plan .web_plan_content .table_plan{width:100%;text-align: center;border:1px solid #d5dee4;border-collapse: collapse;color:#fff;}
.plan_body .web_plan .web_plan_content .table_plan tr th{height:45px;line-height:45px;border:1px solid #d5dee4;font-size: 16px;}
.plan_body .web_plan .web_plan_content .table_plan tr td{height:35px;border:1px solid #d5dee4;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title_val{display:none;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title_val input{height:30px;line-height:30px;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title{position:relative;display:inline-block;z-index:0;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title_show{display:inline-block;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title_edit{display:none;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title_edit .plan_title_edit_opacity{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;background: #000;filter:alpha(opacity=50); -moz-opacity:0.5;opacity:0.5;display:inline-block;width:100%;}
.plan_body .web_plan .web_plan_content .table_plan .plan_title_edit .plan_title_edit_btn{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;display:inline-block;width:100%;cursor:pointer;}
.plan_body .web_plan .web_plan_content .table_plan i.edit_icon{background: url('../images/tourplan/plan_edit.png') no-repeat center center;height:20px;width:20px;display:inline-block;}
.plan_body .web_plan .web_plan_content .plan_bottom{width:100%;background-position: 39%;padding:15px 0px;}
.plan_body .web_plan .web_plan_content .table_plan .plan_add{display:inline-block;background: url('../images/tourplan/plan_add.png') no-repeat left center;  height: 35px;line-height: 35px;cursor: pointer;padding-left:25px;}
.plan_body .web_plan .web_plan_content .table_plan .line_tab{margin: 0; padding: 0;}
.plan_body .web_plan .web_plan_content .table_plan .line_tab li{float: left;position: relative;top: 0;margin: 0;padding: 0 0.5em;white-space: nowrap;height: 35px;line-height: 35px;font-size: 14px;cursor: pointer;}
.plan_body .web_plan .web_plan_content .table_plan .line_tab li.on,.plan_body .web_plan .web_plan_content .table_plan .line_tab li:hover{background-color: #122E3E;}
.plan_body .web_plan .web_plan_content .table_plan .plan_item{padding:5px 0;}
.plan_body .web_plan .web_plan_content .table_plan .operate{display:inline-block;background: url('../images/tourplan/remark_add.png') no-repeat left center;padding-left:25px;height: 35px;line-height: 35px;cursor: pointer;font-size:13px;color: #d8ffe7;}
.plan_body .web_plan .web_plan_content .table_plan .plan_item a{display:inline-block;color:#fff;text-decoration:underline;}

.plan_body .web_plan .web_plan_content .table_plan .brightspot{position:relative;display:inline-block;z-index:0;height:100%;}
.plan_body .web_plan .web_plan_content .table_plan .brightspot_val{display:none;height: 100%;}
.plan_body .web_plan .web_plan_content .table_plan .brightspot_val textarea{width:100%;height:100%;}
.plan_body .web_plan .web_plan_content .table_plan .brightspot_show{display:inline-block;  height: 100%;text-align: left;}
.plan_body .web_plan .web_plan_content .table_plan .brightspot_edit{display:none;}
.plan_body .web_plan .web_plan_content .table_plan .brightspot_edit .brightspot_edit_opacity{position:absolute;top:0;left:0;right:0;bottom:0;z-index:1;background: #000;filter:alpha(opacity=50); -moz-opacity:0.5;opacity:0.5;display:inline-block;width:100%;}
.plan_body .web_plan .web_plan_content .table_plan .brightspot_edit .brightspot_edit_btn{position:absolute;top:0;left:0;right:0;bottom:0;z-index:2;display:inline-block;width:100%;cursor:pointer;}


