.information_content{padding:0px 20px;}
.order_information{padding:20px 0px;overflow:hidden;border-bottom:1px solid #d9d9d9}
.print{display: inline-block;background-color: #4595f1;padding:8px 20px;color:white;border-radius:3px;position: absolute;top:80px;right:20px}
.pad_content{padding:10px 0 0 0;clear:both;}
.order_title{font-weight:bold;}
.order_information p a{color:#45aaf1 !important;}
.product_img{width:250px;height:150px;}
.product_img img{width:250px;height:150px;}
.float_lef{float:left;}
.product_information{clear:both;overflow: hidden;}
.product_information p{margin-left:20px;}
.border_none{border:none}
.ct_info{border:1px solid #dadada ;padding-bottom:0px !important;}
#table_list table tr td{border-bottom:0px;}
#table_list table tr{border-bottom:1px #f2f2f2 solid}
#table_list table tr:last-child{border-bottom:0px}
.settlement_name{color: #c4c4c4}
.color_info{color: #ff9600 !important;}
.total{text-align: left;padding-left: 10px !important;}