@charset "utf-8";

/*旧版的返回和home*/
.header .return_block{position: absolute;left:0;top:0;height:45px;cursor: pointer;line-height:50px;}
.header .return_block span{background:url(/m/theme/manage/images/back-btn.png) no-repeat 5px 15px;background-size:20px 20px;height:45px;width:30px;display: inline-block;}
.header .return_oldHome{position: absolute;right:5px;top:0;height:40px;width:30px;cursor: pointer;background: url(/m/theme/manage/images/xq_ico.png) no-repeat 0px -88px;background-size: 31px 148px;}
/*end*/

body{ height:100%; background-color: #f2f2f2; font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53; overflow-x: hidden; }
/* 清除浮动 */
.clearfix:before,.clearfix:after{ content:"";display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }

input::-webkit-input-placeholder{ color:#878686; }
a{ text-decoration:none; }
.input{ padding:4px; }
.mt{ margin-top: 20px; }
.form-box{ 
		position:relative;
		margin-top:30px;
		width: 100%;
		border: 1px solid #bcbcbc;
		border-left:none;
		border-right: none; 
		border-bottom: none;
		border-top: none;
		color: #878686;
		font-size: 1rem;
}
.form-box .small-ipt,.form-box .dom-input{ padding:4px 0 4px 13px;box-sizing:border-box; width:100%; height:45px; line-height:36px; color: #878686; font-size: 1rem; border:1px solid #bcbcbc; border-right: none; border-left:none;}
.form-box .check-notice{ display: none; margin-top:3px; padding-left:2px; color: #ff0000;  }
.form-box .Validform_wrong { position:absolute; display: block; padding-left:22px; margin-left:15px; background: url(../../images/common/error2.png) no-repeat left; background-size:18px 18px;  }
/*.form-box .Validform_wrong i{ display:none; width:50px; height:50px; margin-top: -2px;   }*/
.textMoni{ position:relative; z-index:-1; }


.regsubmit{ width:90%; margin:34px auto 22px; }
.larginput{ margin: 0 auto; width: 100%; height: 45px; line-height: 45px; 
	background-color: #b6b7b7; border-radius: 8px; 
	font-size: 1rem; color: #fff;
	border: 1px solid #b6b7b7;
	text-align:center;
}
.larginputH{ border: 1px solid #6599FF; background-color:#6699ff; }
.mod-p{ margin: 0 auto 16px; text-align: center; font-size: #464646; }

/ * 验证码 */
.yanzen-code{ display:block; height:44px; line-height:44px; background:#fff; }
.yanzen-codespan{ display:block; height:44px; line-height:44px; background:#fff; }
.yanzen-codespan .small-ipt{ float:left; width:55%; border:none; }
.sendcode-notice{position:absolute; top:-22px; display:none; width:100%; text-align:center; height:20px; line-height:10px; }
.sendCode{background:none;display:inline-block;padding-left:20px;margin-top:10px; font-size:16px;  /*border-right: none; border-bottom: none; border-left: 1px solid #ccc;*/ border-top: none; background-color:none;  }
.header .next{ position:absolute; top:0; right:9px; /*width:70px;*/ }
.header .next a,.header .next a span{ font-size:1.2rem; }


/* 分销商注册页面 step3 */
.add-btn{ text-align: center; }
.adddate{ margin-top: 18px; display: inline-block; width:50%; height: 40px; line-height: 40px; text-align: center; border-radius:8px; color: #fff; background-color: #6699ff; }
.dom-input{ width: 100%; height: 36px; color: #878686; font-size: 1rem;}
.form-boxdz{position:relative;}
.form-boxdz .textauto { width:100%;min-height:34px; line-height:20px; word-wrap:break-word;
  margin-bottom: 10px;
  padding:12px 0 0 13px;
  color:#878686;
  font-size: 1rem;
  outline: none;
  border:1px solid #bcbcbc;
  background:#fff;
}
.textMoni{ position:absolute; z-index:-1; top:0; width:100%; min-height:46px; visibility:hidden; }
.form-boxdz .form-dom .textauto{ border:none; margin-bottom:0; }
.changarea{ display:inline-block; float:right;height:40px; line-height:40px; font-size: 1rem; color:#878686;padding-right:10px; }
.contact-item{ margin-left: 13px; display: inline-block; height: 43px; line-height:44px; float:left; }
.form-box-content { position:relative; background-color: #fff; border: 1px solid #bcbcbc; border-right: none; border-left:none; }
.form-box-content .middl-input{ float: left; /*width:72%;*/ border: none; }
.form-boxzz{ position:relative; }
.input-span{ display:inline-block; padding-left:13px; width:180px; height:44px; line-height:44px; }
/* 点击跟换区域 */
.sendTc{ position:fixed; top:0; right:-1000px; width:100%; height:100%; overflow-x:hidden;}
.sendTc-box { min-height:100%;background:#f2f2f2; }

.host-box {}
.host-box dt{ padding: 10px 0 0 15px; font-size: 1rem; font-weight: bold; height:23px; background-color:#dcdcdc; }
.host-box dt .host-ico{ float:right; margin:-3px -5px 0 0; display:inline-block; width:42px; height:40px; background:url(../../images/common/close.png) no-repeat ; background-size:50% 50%; }
.host-box dd{ margin-top: 15px; max-height: 68px; overflow: hidden; }
.host-box span { display: inline-block; margin: 0 0 6px 10px; width: 20%; height: 26px; line-height: 26px; text-align:center; border-radius:4px; border: 1px solid #a5c1f7; color: #a5c1f7; }
.name-dl{width:100%;}
.name-dl dt{ padding-left:5%; height:44px; line-height:44px; font-size:14px; /*background: #dcdcdc;*/ border-bottom: 1px solid #ccc; }
.name-dl dd{ width: 90%; margin: 0 auto -1px; height: 44px; line-height: 44px;  border-bottom: 1px solid #ccc; }
.zm-box{ position: fixed; top:10%; right: 6px; color: #696565;   width: 40px; z-index: 9999;}
.zm-box span,.zm-box a{ display:block; font-weight: bold; }
.zm-box span{ margin-bottom:4px; font-size:11px; text-align:center; } 
.zm-box a{ display:block;  z-index:20;width:40px; text-align: center; text-decoration:underline; }
.sendTc-box .title{ height:35px; line-height:30px; background:#FEFDFB; }
.sendTc-box .title span,.sendTc-box .title i{ display:inline-block; height:27px; }
.sendTc-box .title span{ padding-left:25px; width:100px; }
.sendTc-box .title span.queyu-jiantou{ margin-top:5px; background:url(../../images/common/queyu-jt.jpg) no-repeat; vertical-align:middle; }
.sendTc-box .title i{ float:right; margin:5px 5px 0 0; width:30px; background:url(../../images/common/queyue-tub.jpg) no-repeat; vertical-align:middle; }
.bold{ font-weight:bold; }
.form-dom{ position:relative; margin-top: 10px; border:1px solid #bcbcbc; background:#fff;border-left:0;border-right:0; }
.close{ position:absolute; right:0; top:3px; display:inline-block; width:40px; height:40px; background:url(../../images/common/reg_close.png) center center no-repeat; background-size:40% 40% }

.fix{ position:fixed; width:100%;}
.fix1{ position:fixed; width:100%; top:36px; }
/*  step4 */
.content-box{ text-align: center; }
.succes-img { margin:0 auto; width: 120px; text-align: center; font-size:1.2rem; color: #464646; }
.succes-img p{ font-size:1.3rem; text-align:center; }
.font-size{ font-size:1.2rem; text-align: center; color: #464646; }
.notic-p{ font-size: 1rem; text-align: center; color: #939393;}
.notic-p span{ color: #6699ff; }

#registStep{ display:none; }