@charset "UTF-8";
/* 重置样式 start*/
html {
  height: auto;
  background-color: #ededed;
}

body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td, footer, header, optgroup, select, em {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  /*去除webkit中块之间的间隙*/
}

body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background: #ededed;
  -webkit-appearance: none;
  /*解决Iphone下橱窗字体变大问题*/
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /*禁止链接高亮*/
  -webkit-touch-callout: none;
  /*禁止链接长按弹出选项菜单*/
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img100 {
  width: 100%;
}

input {
  color: #666;
}

input, button, select, textarea {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

input:focus {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

/*.clearfix:after{content: "020";display: block; height: 0;clear: both;visibility: hidden;}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置样式 end*/
.header i.gm-back {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  height: 50px;
  font-size: 22px;
  color: #ff7e1d;
  line-height: 45px;
}

.appeal-info {
  margin: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  border: solid 1px #e5e5e5;
}

.appeal-info > .title {
  padding-left: 15px;
  color: #333333;
  font-size: 18px;
  height: 45px;
  line-height: 45px;
  border-bottom: solid 1px #eaeaea;
}

.appeal-select {
  margin-left: 8px;
  margin-right: 8px;
  border-bottom: dashed 1px #e5e5e5;
}

.appeal-select .btn {
  position: relative;
  display: block;
  padding: 15px 12px 8px 40px;
  color: #666666;
}

.appeal-select .btn:before {
  content: '';
  position: absolute;
  left: 12px;
  top: 15px;
  width: 18px;
  height: 18px;
  margin-right: 5px;
  border: 1px solid #d0d5d9;
  vertical-align: middle;
  border-radius: 2px;
}

.appeal-select .active:after {
  font: normal normal normal 14px/1 FontAwesome;
  content: "";
  position: absolute;
  font-size: 14px;
  top: 17px;
  left: 15px;
  line-height: 1;
  color: #fff;
}

.appeal-select .active:before {
  border-color: #ff9248;
  background-color: #ff9248;
}

.appeal-select .btn input[type="checkbox"] {
  position: absolute;
  clip: rect(0, 0, 0, 0);
  pointer-events: none;
}

.appeal-info .other {
  padding: 15px 20px;
}

.appeal-info .other .title {
  color: #666666;
  font-size: 14px;
}

.appeal-info .appeal-txt {
  margin-top: 10px;
  height: 70px;
  width: 100%;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
}

.appeal-btn {
  margin: 20px 10px;
}

.appeal-btn a {
  display: block;
  width: 100%;
  height: 45px;
  line-height: 45px;
  background-color: #ff7e1d;
  text-align: center;
  color: #ffffff;
  font-size: 16px;
  border-radius: 4px;
  border: solid 1px #ff7e1d;
}
