@charset "UTF-8";
/* 重置样式 start*/
html {
  height: auto;
  background-color: #ededed;
}

body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td, footer, header, optgroup, select, em {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  /*去除webkit中块之间的间隙*/
}

body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background: #ededed;
  -webkit-appearance: none;
  /*解决Iphone下橱窗字体变大问题*/
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /*禁止链接高亮*/
  -webkit-touch-callout: none;
  /*禁止链接长按弹出选项菜单*/
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img100 {
  width: 100%;
}

input {
  color: #666;
}

input, button, select, textarea {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

input:focus {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

/*.clearfix:after{content: "020";display: block; height: 0;clear: both;visibility: hidden;}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置样式 end*/
.header i.gm-back {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  height: 50px;
  font-size: 22px;
  color: #ff7e1d;
  line-height: 45px;
}

.operate-info {
  margin: 10px;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
  border-radius: 4px;
}

.operate-info .title {
  padding-left: 15px;
  color: #333333;
  font-size: 16px;
  height: 45px;
  line-height: 45px;
  border-bottom: solid 1px #eaeaea;
}

.operate-info .info {
  margin: 15px 0;
  padding-left: 15px;
}

.operate-info .info > p {
  color: #999999;
  font-size: 14px;
}

.operate-info .info > p span {
  color: #666666;
}

.operate-info .info > p.refund-num span.num {
  color: #EF2626;
}

.operate-info .select {
  padding-left: 15px;
  padding-bottom: 10px;
  font-size: 14px;
  color: #666666;
}

.operate-btn {
  margin: 0 10px;
  padding: 10px;
  background-color: #ff7e1d;
  text-align: center;
  color: #ffffff;
  font-size: 18px;
  border-radius: 4px;
}
