@charset "utf-8";
@import '../theme.scss';


.header i.gm-back{display:inline-block;cursor:pointer;position:absolute;left:0px;top:0px;padding:0 10px;height:50px;font-size:22px;color:#ff7e1d;line-height:45px;}
.operate-info{margin:10px;background-color:#ffffff;border:solid 1px #e5e5e5;border-radius:4px;}
.operate-info .title{padding-left:15px;color:#333333;font-size:16px;height:45px;line-height:45px;border-bottom:solid 1px #eaeaea;}
.operate-info .info{margin:15px 0;padding-left:15px;}
.operate-info .info>p{color:#999999;font-size:14px;}
.operate-info .info>p span{color:#666666;}
.operate-info .info>p.refund-num span.num{color:#EF2626;}
.operate-info .select{padding-left:15px;padding-bottom:10px;font-size:14px;color:#666666;}
.operate-btn{margin:0 10px;padding:10px;background-color:#ff7e1d;text-align:center;color:#ffffff;font-size:18px;border-radius:4px;}