.keep_box{padding:20px 15px;}
.keep_box button{width:100px;height:32px;border:0px;outline: none;background-color: #4595f1;color:white;letter-spacing: 4px;border-radius:3px;}
.keep_box button:hover{cursor: pointer;}
#goback{display: inline-block;width:70px;height:32px;border:0px;background-color: #4595f1;color:white;letter-spacing: 4px;border-radius:3px;text-decoration: none;text-align: center;line-height: 32px;position:relative;top:1px;}

.content_box{padding:20px 15px 100px 15px;}
.content_title{padding:20px 0;position: relative;	}
.content_title span{display:inline-block;padding: 5px 10px;background-color:white;position: absolute;top:7px;font-weight:bold;left:25px;font-size:14px}
hr{border:1px solid #c4c4c4;}
.content_group{padding-bottom:15px;display: block;overflow:hidden;}
.content_group label{display: inline-block;width:84px;text-align: right;padding-right:10px}
.content_group .items{display:inline-block;color:red;margin-left:10px}
.special_name{height:25px;width:700px;padding-left:3px;}
.enter_title{height:25px;width:266px;padding-left:3px;}
.indate{width:120px;height:25px;padding-left:3px;}
.group_header{height:25px;width:745px;padding-left:3px}
.btn{background-color:#4595f1;padding:3px 6px;border-radius: 3px;color:#fff;}
.del_s{margin-left:10px;position:relative;top:1px; }

.products_box{display:block;overflow:hidden;padding-left:50px}
.products_box .products_lists{width:404px;display:inline-block;padding:0px 0px 10px 20px;float: left;min-height:50px;max-height:190px;margin-top:40px;}
.products_lists .id_ip{width:80px;height:25px;padding-left:3px;}
.products_lists .title_ip{width:236px;height: 25px;margin-left:10px;padding-left: 3px;background-color:#fff;outline:none;border:1px solid #c4c4c4;}
.products_lists .lists_detail{padding-top:10px;overflow: hidden;}
.lists_detail .detail_img{width:145px;height:145px;float:left;position:relative;}
.lists_detail .detail_img img{width:145px;height: 145px}
.lists_detail .detail_right{width:236px;min-height:145px;float:left;}
.detail_right li{display: block;list-style: none;padding:0px 0px 10px 10px;overflow: hidden;}
.lists_header{position:relative;}

.change_img{position: absolute;bottom:15px;left:45px;opacity: 0;-webkit-transition:all linear .3s;-o-transition:all linear .3s;-moz-transition:all linear .3s;transition:all linear .3s;}
.lists_detail .detail_img:hover .change_img{opacity: 1;cursor: pointer;}
.group_lists .group_number{padding:20px 0px}
.group_lists .group_number{border-bottom: 2px dashed #c4c4c4}
.add_btn{display:inline-block;padding:6px 6px;background:#4595f1;color:white;border-radius:3px;}
.add_product{margin-left:70px;}
.add_group{margin-left:70px;margin-top: 20px;margin-bottom: 20px}
.prompt{padding:5px 0px 5px 10px;background-color:#f86a6a;color: white;border: 1px solid #f75151;border-radius:3px;}
.content_group .sd_label{float: left}
.link_content{padding-top:40px;}

.query_loading{position:absolute;top:7px;left:70px;}
.loading_icon{color:#4595f1;}
.loading_icon{animation:loading .8s linear infinite}
@keyframes loading{
	form{transform: rotate(0deg);}
	to{transform: rotate(360deg);}
}

.img_btn{position:relative;top:-8px;display:inline-block;color:#000;width:160px;height:30px;line-height:30px}
.cover{display: inline-block;width:300px;height:200px;}
.cover img{width:300px;height:200px;}
.plates{width:250px;height:300px}
.plates img{width:250px;height:300px}
.uploaddoingUp{position:relative;top:0px !important;}
.uploadsuccessUp{position:relative;top:0px !important;}
.content_group .ke-container-default{width:89% !important}
.f_right{margin-right:5px;float: right}
.status-text{font-size:12px !important;color:gray !important}
.wutu{position:absolute;}

