@charset "UTF-8";
/*资讯的分享后的头部的样式 不能去掉 */
.shareBusiness {
  width: 1200px;
  margin: 0px auto;
  height: 80px;
}

.bus_info {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
}

.bus_info dl dd, .bus_info dl dt {
  float: left;
  display: inline-block;
}

.bus_info dl dd {
  margin-left: 20px;
}

.bus_info .bus_name {
  font-size: 26px;
  color: #333;
}

.bus_logo {
  max-height: 60px;
}

.red {
  color: #ff6342;
}

.page-content {
  height: auto;
}

/*资讯管理*/
a {
  text-decoration: none;
}

p {
  line-height: 1.6;
}

body {
  margin: 0px;
  background: #f2f2f2;
  padding-bottom: 40px;
}

#allBody {
  background: #edf0f2;
}

.information {
  width: 94%;
  margin: 3%;
  background: #fff;
  display: inline-block;
  font-family: "Microsoft YaHei";
}

.information_body {
  width: 90%;
  padding: 0px 5%;
  background-color: #fff;
}

.information_title {
  cursor: pointer;
  color: #404040;
  width: 100%;
  font-size: 20px;
  line-height: 20px;
  font-family: "Microsoft YaHei";
  white-space: normal;
}

.infomation_content {
  width: 100%;
  float: left;
  display: inline-block;
  padding: 20px 0px;
}

.information_summary, .information_content {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  word-wrap: break-word;
  background: #fff;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}

.information_data {
  width: 100%;
  margin-top: 18px;
  font-size: 12px;
  font-family: "Microsoft YaHei";
  color: #939699;
}

.release_time, .read_count, .share_count {
  display: inline-block;
  height: 24px;
}

.release_time {
  margin-right: 20px;
}

.information_content .newImg {
  display: block;
  max-width: 100%;
  margin: 10px auto;
}

.web {
  display: table;
}

.bottom_share {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0px;
  padding: 3px 0;
  width: 100%;
  height: 35px;
  line-height: 35px;
  background: rgba(0, 0, 0, 0.6);
  z-index: 1;
  overflow: hidden;
}

.bottom_share .share_buts {
  float: left;
  display: inline-block;
  width: 100%;
  text-align: center;
}

.bottom_share .share_buts .share_but {
  color: #fff;
  display: inline-block;
  font-size: 12px;
}

.share_header {
  width: 100%;
  background: #fff;
  padding: 10px 0px;
  display: block;
}

.after_share .share_titleImg {
  min-width: 123px;
  margin: 0px auto;
  color: #626466;
  position: relative;
  background: #fff;
}

.share_titleImg .gmImg {
  float: left;
}

.share_titleImg img {
  max-height: 50px;
}

.share_titleImg .title_info {
  float: left;
  max-width: 220px;
  min-width: 0;
  text-align: left;
  font-family: "Microsoft YaHei";
  margin-left: 10px;
  box-sizing: border-box;
}

.share_titleImg .title_info .title_bold {
  font-size: 20px;
  letter-spacing: 2px;
  line-height: 26px;
  color: #333;
  display: inline-block;
  white-space: normal;
  word-wrap: break-word;
  width: 100%;
}

.share_titleImg .title_info .title_desc {
  font-size: 12px;
  color: #666;
}

.share_body {
  position: fixed;
  left: 0px;
  right: 0px;
  bottom: 0px;
  width: 100%;
  display: inline-block;
  z-index: 5;
  background: url("../../images/share/share_bg.png") no-repeat top center;
  display: none;
  background-size: 100% 100%;
}

.share_body .share_title {
  width: 100%;
  height: 35px;
  line-height: 35px;
  border-bottom: 1px #fff solid;
  text-align: center;
  color: #4a4a4a;
  font-size: 14px;
  font-weight: bold;
}

.share_body .share_ct {
  padding: 15px;
  width: 100%;
  box-sizing: border-box;
}

.share_body .share_ct .share_list {
  width: 100%;
  text-align: center;
  display: inline-block;
}

.share_body .share_other {
  width: 100%;
  text-align: center;
}

.share_body .share_ct .share_list a {
  padding: 50px 10px 10px 10px;
  width: 60px;
  height: 25px;
  line-height: 25px;
  display: inline-block;
  text-align: center;
  color: #a0a0a0;
}

.share_body .share_ct .share_list a.share_qqZone {
  background: url("../../images/share/qqzone.png") no-repeat top center;
  background-size: 40px 40px;
}

.share_body .share_ct .share_list a.share_renren {
  background: url("../../images/share/renren.png") no-repeat top center;
  background-size: 40px 40px;
}

.share_body .share_ct .share_list a.share_sina {
  background: url("../../images/share/sina.png") no-repeat top center;
  background-size: 40px 40px;
}

.share_body .share_other .share_close_but {
  width: 100%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  color: #fff;
  background: #b5b5b5;
  border-radius: 5px;
  display: inline-block;
}

.WxShareTips {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  display: inline-block;
  z-index: 999;
  display: none;
}

.WxShareTips .shareTipsBg {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background: #000;
  filter: alpha(opacity=50);
  opacity: 0.5;
  -moz-opacity: 0.5;
}

.WxShareTips .shareTipsCt {
  width: 100%;
  height: 100%;
  text-align: right;
  z-index: 10;
}

.WxShareTips .shareTipsCt img {
  width: 78%;
  max-width: 520px;
  height: auto;
  margin-right: 5px;
}

.WxShareTips .shareTipsCt .shareTipsBut {
  width: 100%;
  padding-top: 50px;
  text-align: center;
  display: inline-block;
}

.WxShareTips .shareTipsCt .closeShareTips {
  height: 38px;
  line-height: 38px;
  width: 68%;
  text-align: center;
  color: #fff;
  background: #202020;
  display: inline-block;
  border-radius: 5px;
  border: 1px #fff solid;
}

/* 新闻详情关联产品 */
.related-product-box {
  background-color: #f2f2f2;
  box-sizing: border-box;
  overflow: hidden;
}

.related-product {
  background-color: #fff;
  margin-top: 20px;
  padding-top: 0;
  display: block;
  box-sizing: border-box;
  width: 100%;
  border-top: solid 1px #e0e1e2;
}

.related-product .pic {
  margin-right: 0;
  position: relative;
  min-width: 186px;
}

.related-product .pic img {
  max-width: 100%;
}

.pc-img {
  display: none;
}

.related-product .pic span.shipTourBox {
  background-color: #ff8540;
}

.related-product .pic span[class*=Box] {
  display: block;
  position: absolute;
  bottom: 20px;
  left: 10px;
  line-height: 12px;
  padding: 4px 10px;
  box-sizing: border-box;
  color: #fff;
  font-size: 12px;
  border-radius: 20px;
}

.related-product .related-con {
  box-sizing: border-box;
  padding: 0px 10px;
  width: 100%;
  font-size: 14px;
}

.related-product .related-con .title {
  color: #333333;
  font-size: 16px;
  line-height: 16px;
  margin-bottom: 5px;
}

.related-product .related-con .txt, .related-product .related-con .business, .related-product .related-con .time {
  display: none;
}

.related-product .related-con .business a {
  color: #587ed1;
}

.related-product .related-con .time .date {
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
}

.related-product .related-con .time em {
  color: #ff8540;
  font-style: normal;
}

.related-product .related-con .wei-time {
  display: block;
  color: #999999;
}

.ellipsis1 {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
}

.related-product .related-con .wei-time i {
  font-size: 16px;
  line-height: 1;
}

.related-product .related-con .wei-time span {
  font-size: 12px;
}

.related-product .related-btn {
  box-sizing: border-box;
  display: block;
  width: 100%;
  overflow: hidden;
  padding: 0 10px;
  text-align: center;
  vertical-align: middle;
  margin-top: 10px;
}

.related-product .related-btn .price {
  float: left;
  color: #ff4848;
  margin-top: 7px;
  font-size: 14px;
  line-height: 1;
  margin-bottom: 20px;
}

.related-product .related-btn .price span {
  font-size: 18px;
}

.related-product .related-btn a {
  padding: 0;
  float: right;
  font-size: 14px;
  color: #fff;
  height: 30px;
  width: 60px;
  line-height: 30px;
  text-align: center;
  border: 1px solid #FF9D3B;
  background-color: #FF9D3B;
  font-weight: normal;
  cursor: pointer;
  background-image: none;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.return_icon {
  background: url(../../images/share/backTop1.png) no-repeat center;
}

.return_top {
  z-index: 20;
  position: fixed;
  display: inline-block;
  width: 38px;
  height: 38px;
  border-radius: 18px;
  bottom: 88px;
  right: 5px !important;
}
