@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";

/*current page*/
.mt80{ margin-top: 80px; }

/* banner 介绍 */
.banner{ width: 100%; height: 460px; }
.banner img{ width: 100%; height: 460px; }
    
.onekey-introduce{ background-color:#EDF0F2; }
.interview{ width:840px; margin:0 auto; font-size:18px; text-align:center; }
.interview  p{ margin-top:20px; font-size:18px; color:#939699; }
.title-item{ font-size:40px; color:#626466; }
.title-item span{ margin-right:23px; }
.create-station{ display:block; margin:0 auto; width:212px; height:54px; line-height:54px; background:#78A7FF; color:#fff; border-radius:4px; }
.pic-box{ margin-top:60px; }
.pic-box img{ display:block; vertical-align:bottom; }

.onekey-teshe,.onekey-introduce{ padding-top:64px; }
.onekey-teshe{ background-color:#fff; }