@charset "UTF-8";
/*reset*/
html, body {
  background: #fff;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

/*gloabl*/
.fl {
  float: left;
}

.fr {
  float: right;
}

header, footer, section {
  min-width: 1170px;
}

.link-14 {
  font-size: 14px;
}

.yellow {
  color: #ff8540;
}

.arial {
  font-family: "arial";
}

.day-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background: #ff9248;
  border-radius: 50%;
  text-align: center;
}

.dashed {
  border-bottom: dashed 1px #e0e1e2;
  margin-bottom: 10px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btns .btn {
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
}

.p-body {
  min-width: 1170px;
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.p-download {
  color: #626466 !important;
}

.p-download i {
  color: #587ed1;
  margin-right: 2px;
}

.p-download:hover i {
  color: #3057ad;
}

.p-arrow-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #ff9248;
}

.p-no-data {
  text-align: center;
}

div.p-no-data {
  border: solid 1px #e0e1e2;
  line-height: 80px !important;
}

tr.p-no-data td {
  padding: 0 !important;
  line-height: 80px !important;
}

.p-service {
  position: relative;
  padding-left: 22px;
  color: #f98282;
}

.p-service i {
  position: absolute;
  top: -3px;
  left: 3px;
}

header .heardnew {
  border-bottom: solid 1px #e0e1e2;
}

.gm-rocket-up {
  display: none;
  text-decoration: none !important;
  font-size: 50px;
  color: #94989B;
  position: fixed;
  bottom: 140px;
  right: 0;
}

.gm-rocket-up:hover {
  color: #FF7E1D;
}

.gm-rocket-up:active {
  color: #FF7E1D;
}

/*header start*/
.heardnew {
  background-color: #fff;
}

.heardnew .logo {
  display: inline-block;
  float: left;
  width: 216px;
  margin-right: 70px;
}

.heardnew .logo img {
  margin-top: 5px;
}

.heardnew .heard-center {
  margin: 0 auto;
  width: 1170px;
}

.heardnew .nav-list {
  display: inline;
  float: left;
}

.heardnew .nav-list li {
  display: inline;
  float: left;
}

.heardnew .nav-list li a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  color: #626466;
}

.heardnew .nav-list li a:hover, .reg-log a:hover, .footer-list li a:hover {
  text-decoration: none;
}

.heardnew .nav-list li.selected {
  color: #313233;
  background-color: #EDF0F2;
}

.heardnew .nav-list li.selecteda {
  color: #313233;
}

.heardnew .reg-log {
  display: inline;
  float: right;
  height: 80px;
  line-height: 80px;
}

.heardnew .reg-log a {
  font-size: 14px;
  color: #939699 !important;
}

.heardnew .reg-log a.login {
  margin-left: 20px;
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.heard-center .login-state {
  margin: 0 20px;
  padding: 25px 0 13px;
  line-height: 32px;
}

.heard-center .pull-right {
  display: none;
  float: right !important;
}

/*header end*/
/*footer start*/
.footernew {
  min-width: 1170px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0;
  background-color: #252D36;
}

.footernew .footer-list li a, .footernew .footer-list li span {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.footernew .footer-centr {
  margin: 0 auto;
  width: 1190px;
}

.footernew .footer-list li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 20px;
}

.footernew .footer-list li a, .footernew.footer-list li span {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.footernew .footer-list li i {
  margin-right: 5px;
}

.footernew .copyright {
  display: inline;
  float: right;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.footernew .weixinImg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -205px;
  left: -58px;
  box-shadow: 0px 4px 4px grey;
  z-index: 200;
}

.weixinImg img {
  width: 200px;
  height: 200px;
}

.weixinImg::after {
  color: white;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  content: "";
  position: absolute;
  display: inline-block;
  left: 95px;
  top: 200px;
}

/*footer end*/
/*unlogin start*/
.show-not-login {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0;
  height: 140px;
  width: 100%;
  display: inline-block;
  text-align: center;
  z-index: 99;
}

.show-not-login .login-tips-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 140px;
  background: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  z-index: -1;
}

.show-not-login .login-tips {
  margin: 0;
  padding: 25px 2px;
  width: 1166px;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  text-align: left;
}

.show-not-login .login-tips .login-tips-icon {
  float: left;
  background: url("../../images/floatLogo.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 150px;
  height: 90px;
  margin-right: 32px;
  display: inline-block;
}

.show-not-login .login-tips .login-tips-info {
  float: left;
  max-width: 500px;
  overflow: hidden;
  display: inline-block;
}

.login-tips .login-tips-info .login-tips-info-title {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 4px;
}

.login-tips .login-tips-info .login-tips-info-tips {
  line-height: 36px;
  color: #fff;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.show-not-login .login-tips .login-tips-buts {
  float: right;
  padding: 23px 0;
  display: inline-block;
}

.login-tips .login-tips-buts .tips-but-reg {
  padding: 0 25px;
  margin-right: 20px;
  float: left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #78a7ff;
  border-radius: 5px;
  display: inline-block;
}

.login-tips .login-tips-buts .tips-but-login {
  padding: 0 25px;
  margin-right: 20px;
  float: left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #ff6342;
  border-radius: 5px;
  display: inline-block;
}

.login-tips .login-tips-buts .tips-but-close {
  float: left;
  height: 44px;
  line-height: 44px;
  width: 44px;
  display: inline-block;
  background: url("../../images/cancal.png") no-repeat;
  background-position: center center;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/*unlogin end*/
/*current page*/
.mt80 {
  margin-top: 80px;
}

/* banner 介绍 */
.banner {
  width: 100%;
  height: 460px;
}

.banner img {
  width: 100%;
  height: 460px;
}

.onekey-introduce {
  background-color: #EDF0F2;
}

.interview {
  width: 840px;
  margin: 0 auto;
  font-size: 18px;
  text-align: center;
}

.interview p {
  margin-top: 20px;
  font-size: 18px;
  color: #939699;
}

.title-item {
  font-size: 40px;
  color: #626466;
}

.title-item span {
  margin-right: 23px;
}

.create-station {
  display: block;
  margin: 0 auto;
  width: 212px;
  height: 54px;
  line-height: 54px;
  background: #78A7FF;
  color: #fff;
  border-radius: 4px;
}

.pic-box {
  margin-top: 60px;
}

.pic-box img {
  display: block;
  vertical-align: bottom;
}

.onekey-teshe, .onekey-introduce {
  padding-top: 64px;
}

.onekey-teshe {
  background-color: #fff;
}
