@charset "utf-8";
/**
* 首页css
* @author songxinglin
* @date 2015-09-7
*/
/*重置公共样式*/
#rightBody.right_body_ct{/*background: #f2f2f2;*/}
#rightBody .ct_title_fff{ display:block; margin:10px auto 0; text-align:center; padding-left:0; height:40px; line-height:40px; }
.select-time{ margin-top:8px; float:left; display:inline-block; text-align:center; font-size:14px; }
#rightBody input{ float:left; }
#rightBody .ct_title_fff .select-time{  }
.theme_but{ display:block; }
#rightBody .ct_title_search .search_from{ float:none; display:block; }
.thisweek{ margin-right:10px; float:left; display:inline-block; width:140px; text-align:center; font-size:14px; color:#000; }
.thisweek1{ width:140px; text-align:center;  }
.thisweek2{ margin-top:8px; width:140px; height:25px; line-height:25px; text-align:center;  }
.thisweekSelecd{ background:#4595F1; color:#fff; }

#table_list table thead tr{ 
	
	-moz-box-shadow:3px 2px 2px #c4c4c4;
	-webkit-box-shadow:3px 2px 2px #c4c4c4;
	box-shadow:3px 2px 2px #c4c4c4;
}
/*公共*/ 
.bg_green{background: #a0d468;}
.bg_jacinth{background: #fb6e52;}
.bg_orange{background: #e6bd58;}
.bg_skyblue{background: #2dc3e8;}
.bg_blue{background: #4595f1;}
.r_border{border-right: 1px solid #DADADA;}
.r2_border{border-right: 2px solid #DADADA;}
/*首页*/
#rightBody .index_main{min-height:580px;padding:20px;border-right: 1px solid #DADADA;}
#rightBody .index_main .w910{width: 910px;}
#rightBody .index_main .w447{width: 453px;}
#rightBody .index_main .w225{width: 226px;}
#rightBody .index_main .w216{width: 216px;}
#rightBody .index_main .w120{width: 120px;}
#rightBody .index_main .w150{width: 150px;}
#rightBody .index_main .h30{height: 30px;line-height: 30px;}
#rightBody .index_main .h35{height: 35px;line-height: 35px;}
#rightBody .index_main .h40{height: 40px;line-height: 40px;}
#rightBody .index_main .h45{height: 45px;line-height: 45px;}
#rightBody .index_main .h150{height: 150px;}
#rightBody .index_main .h200{height: 200px;}
/*#rightBody .index_main .mleft15{margin-left: 15px;}*/
#rightBody .index_main [class*="_statistics"]{display:inline-block; margin-right:-20px; padding-bottom:10px;}
#rightBody .index_main .index_box{display:inline-block; width:216px; overflow:hidden;float:left;margin:0 15px 25px 0;background-color: #fff;}
#rightBody .index_main .index_box .index_box_title{ width:196px; text-align:center; color:#fff; font-size:18px; padding:0 10px; }
#rightBody .index_main .index_box .index_box_content{border: 1px solid #DADADA; border-top: none; }
#rightBody .index_main .index_box .index_box_content .index_box_content_data,#rightBody .index_main .index_box .index_box_content .index_box_content_text{/*display:-moz-box;display:-webkit-box;display:box;-moz-box-pack: center;-webkit-box-pack: center;-box-pack: center;*/width: 95%;}
#rightBody .index_main .index_box .index_box_content .index_box_content_data{ margin-left:10px; font-size:14px;}
#rightBody .index_main .index_box .index_box_content .index_box_content_text{height: 30px;line-height: 30px; font-size:14px;}
/*#rightBody .index_main .index_box .index_box_content .index_box_content_data li,#rightBody .index_main .index_box .index_box_content .index_box_content_text li{ text-align: center; }*/
#rightBody .index_main .index_box .index_box_content .index_box_content_data li{ height:40px;line-height: 40px;}
#rightBody .index_main .index_box .index_box_content .index_box_content_text li{height:30px;line-height: 30px;padding:0px 0px 5px 0px;}
#rightBody .index_main .index_box .index_box_content .index_btn_detail{display:inline-block;margin:10px auto;font-size:16px;color:#fff;text-align:center;}

.exportfile{  padding:0 8px; background:#4595F1; color:#fff; }

.plan{font-size: 16px;margin-top:5px;color:#6e6e6e;}
.plan .plan-head{height: 40px;line-height: 40px;text-align: center;}
.plan li {float:left;height: 30px;line-height: 30px; text-align: left;overflow: hidden;text-indent: 1em;}
.plan-number{font-size:16px;font-weight:bold;}

#table_list table{ text-align:center; }
#table_list table tr td{ padding:10px 5px 8px 10px; border-bottom:1px solid #ccc; }
.number-tongj{ margin:10px auto; text-align:center; }

.title-fun{ display:inline-block; margin:0 auto; }

.reorder{ position:relative; cursor:pointer; }
.reorder i{ position:absolute; top:18px; display:inline-block; margin:-3px 0 0 3px; width:10px; vertical-align:middle; cursor:pointer;  }
.jintouUp-ico{ height:15px; background:url(/console/theme/blue/images/common/upjt.png) center center no-repeat; background-size: 75% 82% ;}
.jintoudown-ico{ height:15px; background:url(/console/theme/blue/images/common/order2.png) center center no-repeat; background-size: 75% 82% ;}