html {
  -webkit-text-size-adjust: 100%;
  overflow-x: hidden;
  background: #f5f5f5;
  color: #444;
}
body {
  font: 14px/24px "microsoft yahei", Helvetica, Arial, sans-serif !important;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
  position: relative;
  z-index: 0;
  width: 100%;
  max-width: 640px;
  min-height: 100%;
  margin: 0 auto;
  overflow-x: hidden;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}
.fr {
  float: right;
}
.fl {
  float: left;
}
ul,
li,
p {
  margin: 0;
  padding: 0;
  list-style: none;
  outline: none;
}
a {
  text-decoration: none;
}
.page_name > a {
  display: inline-block;
  width: 12px;
  height: 12px;
  background: url(/distributor/theme/manage/blue/images/more-btn.png) center center no-repeat;
  margin-left: 5px;
  background-size: 100% 100%;
  top: 20px;
  position: absolute;
}
.swipe {
  width: 100%;
  overflow: hidden;
  position: relative;
}
.swipe-wrap {
  overflow: hidden;
  position: relative;
}
.swipe-wrap li {
  float: left;
  width: 100%;
  position: relative;
}
.swipe-wrap a {
  display: block;
}
.swipe-wrap img {
  display: block;
}
.wrapbox {
  margin-left: 13px;
  margin-right: 13px;
}
.wrapbor {
  background-color: #fff;
  margin: 13px;
  padding-bottom: 12px;
  border: 1px solid #dadada;
  box-shadow: 0 2px 2px rgba(218, 218, 218, 0.4);
}
.wrappad {
  background-color: #fff;
  margin: 13px;
  border: 1px solid #dadada;
  -webkit-box-shadow: 0 2px 2px #dadada;
  -moz-box-shadow: 0 2px 2px #dadada;
  box-shadow: 0 2px 2px #dadada;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
}
.pd10 {
  padding: 10px;
}
.pd13 {
  padding: 13px;
}
.mt13 {
  margin-top: 13px;
}
.lmTopSwipe {
  border-bottom: 1px solid #c3c3c3;
}
.lmTopSwipe .swipe-wrap img {
  background: url() no-repeat center center;
  background-size: 100% auto;
}
.lmTopSwipe .swipe-wrap .mask {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 25px;
  line-height: 25px;
  background: rgba(0, 0, 0, 0.2);
  text-align: center;
}
.lmTopSwipe .swipe-wrap .title {
  color: #fff;
  font-size: 12px;
}
.lmTopSwipe .page {
  position: absolute;
  top: 8px;
  height: 2px;
  text-align: center;
  color: #fff;
  width: 100%;
}
.lmTopSwipe .page li {
  background: url(/distributor/theme/manage/blue/images/swip-bg.png) center center no-repeat;
  display: inline-block;
  width: 30px;
  height: 2px;
}
.lmTopSwipe .page li.on {
  background: url(/distributor/theme/manage/blue/images/swip-bg-on.png) center center no-repeat;
}
.lmTopFilters {
  position: relative;
  z-index: 99;
  border-bottom: 1px solid #bdbfc2;
}
.lmTopFilter {
  width: 100%;
  overflow: hidden;
  background-color: #fff;
}
.lmTopFilter li {
  position: relative;
  float: left;
  width: 25%;
  height: 35px;
  border-left: 1px solid #cecece;
  text-align: center;
  line-height: 35px;
  color: #646464;
  font-size: 12px;
  -webkit-box-sizing: border-box;
  /* Safari/Chrome, other WebKit */
  -moz-box-sizing: border-box;
  /* Firefox, other Gecko */
  box-sizing: border-box;
  /* Opera/IE 8+ */
}
.lmTopFilter li:first-child {
  border-left: none;
}
.lmTopFilter li:not(.disabled):after {
  content: '';
  position: absolute;
  right: 0px;
  bottom: 0px;
  width: 0;
  height: 0;
  border-width: 4px;
  border-style: solid;
  border-color: #fff #ccc #ccc #fff;
}
.lmTopFilterMask {
  position: absolute;
  z-index: 97;
  left: 0;
  right: 0;
  bottom: 0;
  display: none;
}
#topFilterMask1 {
  background-color: rgba(0, 0, 0, 0);
  top: 0;
}
#topFilterMask2 {
  background-color: rgba(0, 0, 0, 0.5);
  top: 150px;
}
.lmTopFilterLoad {
  position: absolute;
  z-index: 98;
  left: 0;
  top: 50%;
  right: 0;
  margin-top: -22px;
}
.lmTopFilterLoad span {
  display: block;
  width: 150px;
  height: 44px;
  margin: 0 auto;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center;
  line-height: 44px;
  color: #fff;
}
.lmTopFilterDrop {
  position: absolute;
  left: 0;
  right: 0;
  top: 36px;
  width: 100%;
  overflow: hidden;
  max-height: 254px;
  overflow-y: auto;
  background-color: #fff;
  display: none;
}
.lmTopFilterDrop li {
  cursor: pointer;
}
.lmTopFilterDrop .oneList li {
  position: relative;
  padding-left: 22px;
  background-color: #fff;
  line-height: 30px;
}
.lmTopFilterDrop .oneList li:first-child {
  border-top: none;
}
.lmTopFilterDrop .oneList li:last-child {
  border-bottom: none;
}
.lmTopFilterDrop .oneList li.current {
  color: #ffffff;
}
.lmTopFilterDrop .oneList li.current:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 5px;
  width: 20px;
  height: 20px;
  background: url(/distributor/theme/manage/blue/images/20X20option-checked.png) center center no-repeat;
}
#topFilterTols {
  background-color: #d8dee2;
  overflow-y: hidden;
}
#topFilterTols .oneList {
  float: left;
  width: 50%;
  max-height: 255px;
  overflow-y: auto;
}
#topFilterTols .oneList li:before {
  content: '';
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  width: 1px;
  background-color: #cdd2d5;
}
#topFilterTols .oneList li.current {
  background-color: #d8dee2;
}
#topFilterTols .oneList li.current:after {
  display: none;
}
#topFilterTols .oneList li.current:before {
  display: none;
}
#topFilterTols .subList {
  float: left;
  width: 50%;
  height: 254px;
  overflow-y: auto;
}
#topFilterTols .subList li {
  padding-left: 22px;
  border-bottom: 1px solid #cdd2d5;
  border-top: 1px solid #e2e6e9;
  background-color: #d8dee2;
  line-height: 35px;
}
#topFilterTols .subList li:first-child {
  border-top: none;
}
#topFilterTols .subList li:last-child {
  border-bottom: none;
}
#topFilterTols .subList li.current {
  position: relative;
}
#topFilterTols .subList li.current:after {
  content: '';
  position: absolute;
  right: 25px;
  top: 12px;
  width: 3px;
  height: 6px;
  border-width: 2px;
  border-style: solid;
  border-color: transparent #22b977 #22b977 transparent;
  -webkit-transform: rotate(45deg);
  /* Safari and Chrome */
  -ms-transform: rotate(45deg);
  /* IE 9 */
  transform: rotate(45deg);
}
.clearfix {
  zoom: 1;
}
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0;
}
#d1 {
  margin: 0;
  padding: 0;
}
.lmProductList {
  padding: 10px 5px;
}
.lmProductList li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lmProductList .box {
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #4a4a4a;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.lmProductList .box a {
  color: #4a4a4a;
}
.lmProductList .box .pic {
  position: relative;
}
.lmProductList .box .pic .descr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: rgba(244, 238, 238, 0.5);
  line-height: 25px;
}
.lmProductList .box .pic .descr span {
  padding: 0 2px;
  font-weight: bold;
}
.lmProductList .box .pic .descr .price {
  color: #ff6c00;
}
.lmProductList .box .texts  div:FIRST-CHILD {
  height: auto;
  line-height: 25px;
  font-size: 12px;
  padding-left: 5px;
}
.lmProductList .box .texts  .date {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.lmProductList .box .texts .title {
  border-bottom: 1px solid #e5e5e5;
}
#datepicker {
  position: absolute;
  z-index: 99;
}
#loading {
  width: 100%;
  height: 44px;
  line-height: 44px;
  text-align: center;
  margin: 10px auto;
  font-size: 16px;
  cursor: pointer;
  display: none;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background-color: #ffffff;
}
#loading.loading {
  background: url(/distributor/theme/manage/blue/images/loading.gif) no-repeat center #ffffff;
  background-size:32px 22px;
}
#columnText{
	font-size:18px;
}