/*share dialog start*/
.dialog-tip {
  text-align: left;
  font-size: 12px;
  color: #939699 !important;
}

.dialog-tip p {
  margin-bottom: 5px;
}

.dialog-tip p:last-child {
  margin-bottom: 0;
}

.share-dialog {
  text-align: center;
  width: 470px;
}

.share-dialog .dialog-content {
  padding: 15px 20px 10px;
}

.share-dialog .dialog-content p {
  margin-bottom: 13px;
}

.share-dialog .dialog-pic {
  margin-bottom: 11px;
  width: auto;
  height: auto;
  min-height: 120px;
}

.share-dialog .dialog-pic img {
  width: 120px;
}

.share-dialog .form-group {
  position: relative;
  padding-right: 93px;
  margin-bottom: 0;
}

.share-dialog .form-group .btn {
  position: absolute !important;
  right: 0;
  top: 0;
}

.share-dialog li {
  line-height: 20px;
  text-align: left;
  color: #999;
  font-size: 12px;
  margin-top: 6px;
}

/*share dialog end*/
/*share dialog start*/
.aui_title {
  position: relative;
}

.aui_title .dialog-tip {
  font-weight: 400;
  float: none;
  position: absolute;
  top: 1px;
  left: 100px;
}

.hotel-scenic-dialog {
  width: 800px;
  overflow: visible;
  max-height: auto;
}

.hotel-scenic-dialog .scenic-content {
  margin: 20px;
  background: white;
  border-radius: 5px;
}

.hotel-scenic-dialog .scenic-pic {
  width: 430px;
  height: 242px;
  overflow: hidden;
  vertical-align: middle;
}

.hotel-scenic-dialog .scenic-pic img {
  width: 430px;
  vertical-align: middle;
  height: 242px;
}

.hotel-scenic-dialog .scenic-pic-box {
  float: left;
  width: 430px;
  margin-right: 0px;
}

.hotel-scenic-dialog .scenic-pic-box .scenic-ul {
  height: 242px;
  overflow: hidden;
}

.hotel-scenic-dialog .scenic-pic-box .scenic-ul li {
  position: relative;
  float: left;
  display: inline-block;
  width: 430px;
  height: 242px;
}

.hotel-scenic-dialog .scenic-pic-box .scenic-ul li:nth-child(4n) {
  margin-right: 0;
}

.hotel-scenic-dialog .scenic-pic-box .scenic-ul li:nth-child(4n+1) {
  margin-left: 0;
}

.hotel-scenic-dialog .scenic-font .title {
  font-size: 12px;
  color: #313233;
  line-height: 18px;
  padding-top: 10px;
  font-weight: bold;
}

.hotel-scenic-dialog .scenic-font {
  display: inline-block;
  padding: 0 10px;
  width: 310px;
  border: 1px solid #d1d6da;
  overflow-y: scroll;
  margin-left: 20px;
}

.hotel-scenic-dialog .font-content {
  padding: 10px 0;
  line-height: 18px;
  word-wrap: break-word;
  border-bottom: 1px solid #E7E5E5;
  font-size: 12px;
}

.hotel-scenic-dialog .scenic-content ul li .icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 0;
  background-repeat: no-repeat;
}

/*share dialog end*/
/*visa dialog start*/
.visa-dialog {
  width: 711px;
}

.visa-dialog .scenic-pic-box {
  width: 283px;
  word-wrap: break-word;
  display: inline-block;
  margin-right: 10px;
}

.visa-dialog .scenic-pic-box .tilte {
  font-size: 18px;
}

.visa-dialog .scenic-pic-box ul li {
  line-height: 40px;
  font-size: 12px;
  color: #999;
}

.visa-dialog .scenic-pic-box ul li dl dd {
  line-height: 20px;
}

.visa-dialog .scenic-content {
  padding: 20px 0 20px 20px;
  max-height: 312px;
  overflow: auto;
}

.visa-dialog .font-content {
  padding: 10px 0;
  line-height: 25px;
  word-wrap: break-word;
}

.visa-dialog .font-content .tab {
  width: 355px;
  margin: 0 auto;
  display: inline-block;
}

.visa-dialog .font-content .tab li.selected {
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  color: orange;
}

.visa-dialog .font-content .tab li {
  float: left;
  width: 70px;
  text-align: center;
  font-size: 14px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee;
}

.visa-dialog .scenic-font a {
  color: #587ed1;
  text-decoration: underline;
}

.visa-dialog .scenic-font {
  width: 360px;
  word-wrap: break-word;
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #999;
  border-left: 1px solid #e5e5e5;
}

.visa-dialog .visa-content {
  margin-top: 20px;
  font-size: 12px;
}

.visa-dialog dt {
  font-weight: 400;
}

.visa-dialog .hidden {
  display: none;
}

/*visa dialog end*/
