/*footer start*/
.footernew {
  min-width: 1170px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0;
  background-color: #252D36;
}

.footernew .footer-list li a, .footernew .footer-list li span {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.footernew .footer-centr {
  margin: 0 auto;
  width: 1190px;
}

.footernew .footer-list li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 20px;
}

.footernew .footer-list li a, .footernew.footer-list li span {
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.footernew .footer-list li i {
  margin-right: 5px;
}

.footernew .copyright {
  display: inline;
  float: right;
  font-size: 14px;
  color: #fff;
  opacity: 0.5;
}

.footernew .weixinImg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -205px;
  left: -58px;
  box-shadow: 0px 4px 4px grey;
  z-index: 200;
}

.weixinImg img {
  width: 200px;
  height: 200px;
}

.weixinImg::after {
  color: white;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  content: "";
  position: absolute;
  display: inline-block;
  left: 95px;
  top: 200px;
}

/*footer end*/
/*unlogin start*/
.show-not-login {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0;
  height: 140px;
  width: 100%;
  display: inline-block;
  text-align: center;
  z-index: 99;
}

.show-not-login .login-tips-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 140px;
  background: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  z-index: -1;
}

.show-not-login .login-tips {
  margin: 0;
  padding: 25px 2px;
  width: 1166px;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  text-align: left;
}

.show-not-login .login-tips .login-tips-icon {
  float: left;
  background: url("../../images/floatLogo.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 150px;
  height: 90px;
  margin-right: 32px;
  display: inline-block;
}

.show-not-login .login-tips .login-tips-info {
  float: left;
  max-width: 500px;
  overflow: hidden;
  display: inline-block;
}

.login-tips .login-tips-info .login-tips-info-title {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 4px;
}

.login-tips .login-tips-info .login-tips-info-tips {
  line-height: 36px;
  color: #fff;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6;
}

.show-not-login .login-tips .login-tips-buts {
  float: right;
  padding: 23px 0;
  display: inline-block;
}

.login-tips .login-tips-buts .tips-but-reg {
  padding: 0 25px;
  margin-right: 20px;
  float: left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #78a7ff;
  border-radius: 5px;
  display: inline-block;
}

.login-tips .login-tips-buts .tips-but-login {
  padding: 0 25px;
  margin-right: 20px;
  float: left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #ff6342;
  border-radius: 5px;
  display: inline-block;
}

.login-tips .login-tips-buts .tips-but-close {
  float: left;
  height: 44px;
  line-height: 44px;
  width: 44px;
  display: inline-block;
  background: url("../../images/cancal.png") no-repeat;
  background-position: center center;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
}

/*unlogin end*/
