.list_slider {
  width: 100%;
  height: 100%;
  overflow: hidden;
  display: inline-block;
  position: relative;
}

.list_slider .wrap {
  overflow: hidden;
}

.list_slider .JQ-slide-content {
  position: absolute;
}

.list_slider li {
  width: 100%;
  height: 100%;
  position: relative;
}

.list_slider .img_show img {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.list_slider .text_info_bg {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0px;
  width: 100%;
  background: #000;
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}

.list_slider .text_info {
  position: absolute;
  left: 0;
  bottom: 0px;
  right: 0px;
  width: 100%;
}

.list_slider .text_info p {
  font-size: 14px;
  color: #fff;
  max-width: 100%;
  overflow: hidden;
  height: 19px;
}

.list_slider .text_info p.title {
  font-size: 16px;
  color: #fff;
  line-height: 20px;
  height: 20px;
}

.list_slider .text_info p a {
  color: #fff;
}

.list_slider .JQ-slide-nav-show {
  position: absolute;
  bottom: 14px;
  height: 18px;
  padding-top: 2px;
  right: 10px;
}

.list_slider .JQ-slide-nav-show i {
  cursor: pointer;
  width: 10px;
  height: 10px;
  border-radius: 50%;
  display: inline-block;
  border: 1px #fff solid;
  margin-right: 6px;
}

.list_slider .JQ-slide-nav-show i:last-child {
  margin-right: 0px;
}

.list_slider .JQ-slide-nav-show i.on {
  background: #fff;
}

.list_slider .JQ-slide-nav .prev {
  position: absolute;
  left: 0px;
  top: 42%;
  width: 30px;
  height: 60px;
  z-index: 1;
  background: url("../../images/left.png") no-repeat;
  background-position: center center;
  display: inline-block;
}

.list_slider .JQ-slide-nav .next {
  position: absolute;
  right: 0px;
  top: 42%;
  width: 30px;
  height: 60px;
  z-index: 1;
  background: url("../../images/right.png") no-repeat;
  background-position: center center;
  display: inline-block;
}
