@charset "utf-8";
.plan-list{border:none!important;}
.plan-list h2{padding:0;border-width:0;font-size:14px;padding:18px 0 10px;}
.plan-list h2 em{font-style:normal;color:#ff6342;}

.search-box{margin-top:20px;}
.search-box tr td{line-height:20px!important;}
.search-box tr td:last-child{text-align:left;padding-right:30px!important;padding-left:0!important;position:relative;}
.search-box tr td:first-child{width:100px;padding-left:15px;padding-right:15px;text-align:right;background:#f2f3f4;border-right:solid 1px #e0e1e2;}
.search-box a{float:left;cursor:pointer;display:inline-block;padding:2px 8px 1px;border-radius:3px;text-decoration:none;color:#626466;margin:5px 3px;}
.search-box a:hover{color:#587ed1;}
.search-box a.disabled{color:#bbb!important;cursor:default!important;}
.search-box .all{width:70px;text-align:right;vertical-align:top;padding-left:0!important;}
.search-box a.active{background:#78a7ff;color:#fff!important;}
.search-box .all a{float:none;}
.search-box .line{margin:8px 0;height:0;width:100%;border-top:dashed 1px #e0e1e2;}
.search-box .gm-icon{cursor:pointer;}
.search-box .gm-arrow{position:absolute;right:8px;top:14px;display:none;}
.search-box .has-feedback input{cursor:default;}
.search-box .form-group{width:129px;display:inline-block;float:left;position:relative;margin:1px 0;}
.search-box .form-group .gm-calendar{cursor:default;margin-top:2px;font-size:21px;}
.search-box .form-group input, .search-box .form-group .btn{float:left;display:inline-block;font-size:14px;height:30px;}
.search-box .form-group .btn{margin-left:5px;}
.search-box .notice{margin:0 11px;color:red;}
.search-box .show-box{min-height:33px;height:33px;overflow:hidden;}
.search-box .date_line{float:left;text-align:center;height:30px;line-height:30px;margin:2px 6px 0;}
.search-box .date_btn{margin:1px 0 0 10px;float:left;}
.search-box .box-open{height:auto!important;overflow:auto;max-height:170px;}
.search-box .box-open .gm-arrow{transform:rotate(180deg);}
.search-box .date_btn a{color:#587ed1;}

.list-search{border:solid 1px #e0e1e2;background:#f2f3f4;height:50px;padding:8px;}
.list-search .list-item{position:relative;display:inline-block;height:32px;line-height:32px;float:left;margin-right:15px;}
.list-search .list-item:last-child{margin-right:0;}
.list-search .list-item input[type=text]{display:inline-block;height: 32px;padding:0 8px;font-size: 14px;line-height: 32px;background-color: #fff;background-image: none;border: 1px solid #e0e1e2;border-radius: 2px;box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;border-radius:2px;}
.list-search .list-item input[type=text]:focus{ box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(88, 126, 209, 0.6);border-color: #587ed1;outline: 0;opacity: 1;}
.list-search .list-item a{margin-left:10px;float:left;cursor:pointer;}
.list-search .list-item>div{float:left;}
.list-search .list-item button{margin-left:8px;float:right;padding-top:6px;padding-bottom:6px;}
.list-search .price-input{min-width:178px;}
.list-search .airplane{min-width:140px}
.list-search .name{min-width:200px;}
.list-search .price-input input[type=text]{width:80px;float:left;}
.list-search .airplane input[type=text]{float:left;}
.list-search .price-input span{margin:0 6px;float:left;}
.list-search .airplane input{width:140px;}
.list-search .name input{width:200px;}
.list-search .list-item:last-child{margin-right:0;}

.search-select{background:#fff;position:relative;display:inline-block;border:solid 1px #e0e1e2;border-radius:3px;padding-right:30px;}
.search-select>span{padding:8px 10px;line-height:1;overflow:hidden;display:block;}
.search-select i{position:absolute;right:10px;top:6px;}
.search-select ul{-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);background-clip: padding-box;padding:5px 0;width:100%;z-index:9999;display:none;position:absolute;top:31px;left:0;background:#fff;border:1px solid rgba(0, 0, 0, 0.15);border-radius:3px;}
.search-select li{padding:0 10px;height:30px;line-height:30px;overflow:hidden;cursor:default;}
.search-select li:hover{background:#78a7ff;color:#fff;}
.search-select:hover ul{display:block;}

.list-box .list-left{width:870px;float:left;}
.list-box .right_info{width:270px;float:right;overflow:hidden;}
.list-box .emptylist-placeholder{padding: 50px 0 200px;}
.list-box table{border-width:0;margin:10px 0;}

.list-box .compare{cursor:pointer;text-decoration: none!important;border-bottom-left-radius:4px;border-bottom-right-radius:4px;position:absolute;right:49px;top:0;background:#78a7ff;color:#fff;display:inline-block;width:60px;height:26px;line-height:26px;}
.list-box .compare i{font-family: sans-serif;font-size:16px;font-style:normal;display:inline-block;width:16px;height:16px;line-height:16px;text-align:center;position:absolute;top:4px;left:6px;}
.list-box .compare b{padding-left: 13px;font-weight:400;}
.list-box .compare-disabled{background:#edf0f2;color:#939699;cursor:default;}
.list-box .compare-added i{display:none;}
.list-box .compare-added b{padding:0;}
.list-box .compare-cancel i{display:block;}
.list-box .compare-cancel b{padding-left:13px;}

.p-list-box>table .no-data td{border:none!important;}
.p-list-box>table td{padding:25px 10px!important;text-align:left!important;border-top:solid 1px #fff!important;border-bottom:solid 1px #e0e1e2!important;}
.p-list-item>td:first-child{width:260px;border-left:solid 1px #fff;}
.p-list-item>td:last-child{width:160px;text-align:center!important;position:relative;border-right:solid 1px #fff;}
.p-list-item:hover td{border-color:#78a7ff!important;}
.p-list-item:hover p a, .p-list-item:hover .price-word>em, .p-list-item:hover .price-word a{text-decoration:underline!important;}

.list-box .pic{width:240px;height:180px;overflow:hidden;background:#fff;}
.list-box .pic img{height:180px;width:240px;display:block;}

.list-box .info{max-width:430px;}
.list-box .info h1, .list-box .info h2{margin:0 0 12px 0;padding:0;color:#626466;width:100%;white-space: nowrap;}
.list-box .info h1 a{color:#313233;font-weight:400;text-decoration:none;}


.list-box .info .discount-info p{float:left;margin-right:10px;margin-bottom:10px;text-align:center;line-height:20px;border-radius:2px;}
.list-box .info .discount-info p .title{width:34px;color:#fff;}
.list-box .info .discount-info p .num{min-width:32px;max-width:100%;padding:0 5px;}
.list-box .info .discount-info .stand-by{font-size:12px;border:solid 1px #F98282;}
.list-box .info .discount-info .stand-by .title{background-color:#F98282;}
.list-box .info .discount-info .stand-by .num{color:#F98282;}
.list-box .info .discount-info .rebate{font-size:12px;border:solid 1px #FF9248;}
.list-box .info .discount-info .rebate .title{background-color:#FF9248;}
.list-box .info .discount-info .rebate .num{color:#FF9248;}
.list-box .info .discount-info .profit{font-size:12px;border:solid 1px #4BC5D1;}
.list-box .info .discount-info .profit .title{background-color:#4BC5D1}
.list-box .info .discount-info .profit .num{color:#4BC5D1;}



.list-box .info p{max-width:430px;margin:0;color:#626466;line-height:22px;height:22px;}
.list-box .info p span.departureDate{max-width:220px;}

.list-box .info p.pro-num{margin-right:20px;padding-right:20px;border-right:solid 1px #666;}
.list-box .info p.pro-num,.list-box .info p.pro-line{float:left;height:14px;line-height:14px;}
.list-box .info p.supplier{margin-top:5px;}
.list-box .info p.supplier a{color:#78A7FF;}
.list-box .info p.supplier b{margin-left:5px;padding:1px;font-weight:400;font-size:12px;color:#fff;background-color:#20CE8B;border-radius:3px;}
.list-box .info p.supplier b i{font-size:14px;}
.list-box .info p span{display:inline-block;overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width:50%;}
.list-box .info p span.authenticate{display:inline;}
.list-box .info h1{font-size:20px;height:25px;line-height:25px;overflow:hidden;text-overflow: ellipsis;}
.list-box .info h2{font-size:14px;font-weight:400;height:19px;line-height:19px;overflow: hidden;text-overflow: ellipsis;}
.list-box .info h3{overflow:hidden;font-size:14px;}
.list-box .info h2 b{font-weight:400;}
.list-box .info h2 b.brightPoints{padding-left:5px;margin-left:5px;border-left:solid 1px #666;}
.list-box .info h1 span{float:left;margin-right:10px;display:inline-block;color:#fff;font-size:12px!important;line-height:100%;border-radius:3px;padding:5px;}
.list-box .info h1 span.groupTour{background-color:#ff8540;}
.list-box .info h1 span.freeWalkerTour{background-color:#20ce8b;}
.list-box .info h1 span.shipTour{background-color:#78a7ff;}



.list-box .info .price-show em{cursor:pointer;}
.list-box .info .price-word{display:inline-block;position:relative;margin-top:3px;}
.list-box p em, .list-box .price .em, .list-box .info .price-show em{font-style:normal;color:#ff6342;}
.list-box .price p{color:#939699;padding:0;margin:0;}
.list-box .price .em em{font-size:30px;margin:0 3px;}
.list-box .price a{margin-top:10px;}
.list-box .price a:hover{color:#fff;background-color:#78A7FF;border-color: #78A7FF;}

.price-show-box{display:none;box-shadow: 1px 1px 10px #e0e1e2;position:absolute;top:30px;left:0;z-index:9999;width:505px;padding:10px;border:solid 1px #e0e1e2;background:#fff;border-radius:3px;}
.price-show-box li{overflow:hidden;position:relative;border-bottom:dashed 1px #e0e1e2;padding:10px 15px 10px 35px;}
.price-show-box li:last-child{border-bottom:none;}
.price-show-box li .order-num{font-family: serif;font-weight: 700;top:13px;left:13px;position:absolute;display:block;width:16px;height:16px;line-height:16px;font-size:12px;border-radius:50%;background:#ff8540;color:#fff;text-align:center;}
.price-show-box table{margin:0;padding:0;}

.p-list-box .price-show-box td{background:#fff!important;border:none!important;padding:1px!important;}
.p-list-box .price-show-box td div.orange{color:#ff6342;}
.p-list-box .price-show-box td .price-item{margin-bottom:5px;}
.p-list-box .price-show-box td .price-item:last-child{margin-bottom:0;}
.p-list-box .price-show-box div.orange .span-space{margin-right:10px;display:inline-block;}
.p-list-box .price-show-box tr td:first-child{vertical-align:top;min-width:90px;}
.p-list-box .price-show-box tr td:last-child{text-align:left!important;width:82%;}
.p-list-box .price-show-box td em{cursor:default!important;}
.p-list-box .price-show-box td b{font-weight:400;margin-right:12px;}
.p-list-box .price-show-box td b.green{color:#22aa71;margin-left:5px;}
.p-list-box .price-show-box td b.strong{color:#313233;}
.p-list-box .price-show-box p{height:auto!important;}
.p-list-box .price-show-box div{word-break: break-all;}

.list-page{padding:25px 0 34px;display:none;}
.list-page .paginationWrap>div{float:left; margin:0!important;}
.list-page .paginationWrap>div span{margin-right:5px;}
.list-page .paginationWrap>div em{font-style:normal;margin:0 3px;}
.list-page ul{float:right;margin:0;}


