@charset "utf-8";

/*reset*/
html,body{background:#fff;}
h1,h2,h3,h4,h5,h6,h7{font-weight:400;margin:0;}
p{margin:0;}
a{cursor:pointer;}

/*gloabl*/
.fl{float:left;}
.fr{float:right;}
header,footer,section{min-width:1170px;}

.link-14{font-size:14px;}
.yellow{color:#ff8540;}

.arial{font-family:"arial";}
.day-icon{display:block;width: 40px; height: 40px;line-height:40px;font-size:14px; color: #fff; background:#ff9248;border-radius:50%;text-align:center;}
.dashed{border-bottom:dashed 1px #e0e1e2;margin-bottom:10px;}
.text-overflow{overflow:hidden;white-space: nowrap;text-overflow: ellipsis;}
.btns .btn{margin-right:15px;padding-left:25px;padding-right:25px;border-radius:3px;}

.p-body{min-width:1170px;width:1170px;margin:0 auto;position:relative;}
.p-download{color:#626466!important;}
.p-download i{color:#587ed1;margin-right:2px;}
.p-download:hover i{color: #3057ad;}
.p-arrow-right{width:0;height:0;border-top:3px solid transparent;border-bottom: 3px solid transparent;border-left: 3px solid #ff9248;}

.p-no-data{text-align:center;}
div.p-no-data{border:solid 1px #e0e1e2;line-height:80px!important;}
tr.p-no-data td{padding:0!important;line-height:80px!important;}

.p-service{position:relative;padding-left:22px;color:#f98282;}
.p-service i{position:absolute;top:-3px;left:3px;}

header .heardnew{border-bottom: solid 1px #e0e1e2;}

//go back to top
.gm-rocket-up{display:none;text-decoration:none!important;font-size:50px;color:#94989B;position:fixed;bottom:140px;right:0;}
.gm-rocket-up:hover{color:#FF7E1D;}
.gm-rocket-up:active{color:#FF7E1D;}
