@charset "UTF-8";
/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  min-height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  position: relative;
  word-break: break-all; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35); }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  vertical-align: middle; }

textarea {
  resize: none; }

input, button, select, textarea {
  outline: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden; }

.fl {
  float: left; }

.fr {
  float: right !important; }

.mt20 {
  margin-top: 20px; }

/* 重置样式 start*/
html {
  height: auto;
  background-color: #ededed; }

body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td, footer, header, optgroup, select, em {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  /*去除webkit中块之间的间隙*/ }

body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background: #ededed;
  -webkit-appearance: none;
  /*解决Iphone下橱窗字体变大问题*/ }

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /*禁止链接高亮*/
  -webkit-touch-callout: none;
  /*禁止链接长按弹出选项菜单*/ }

a:hover {
  text-decoration: none; }

img {
  border: none; }

ul, li {
  margin: 0;
  padding: 0;
  list-style: none; }

.img100 {
  width: 100%; }

input {
  color: #666; }

input, button, select, textarea {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none; }

input:focus {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none; }

/*.clearfix:after{content: "020";display: block; height: 0;clear: both;visibility: hidden;}*/
table {
  border-collapse: collapse;
  border-spacing: 0; }

/* 重置样式 end*/
a {
  text-decoration: none; }

html, body {
  position: relative;
  width: 100%;
  height: auto;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  overflow-x: hidden; }

header {
  width: 100%;
  height: 100%;
  background-color: #fff;
  text-align: center;
  padding-bottom: 10px; }

header .activity_img {
  width: 100%;
  height: auto;
  margin-bottom: 0px; }

section {
  width: 100%;
  height: auto; }

.header {
  height: 50px;
  line-height: 50px;
  color: #fff;
  background-color: #33bcfd;
  border-bottom: 1px solid #fff; }

.return_back {
  line-height: 50px;
  font-size: 16px;
  margin-left: 12px;
  vertical-align: bottom;
  color: #fff; }

.return_back .gmIcon {
  font-size: 22px;
  margin-right: 10px;
  line-height: 50px;
  vertical-align: middle; }

.color_blue {
  color: #33bcfd !important; }

.color_green {
  color: #3ebb13 !important; }

.color_desc {
  color: #999; }

.font12 {
  font-size: 12px !important; }

.font14 {
  font-size: 14px !important; }

.font16 {
  font-size: 16px !important; }

.font18 {
  font-size: 18px !important; }

.font20 {
  font-size: 20px !important; }

.font_bold {
  font-weight: bold; }

.float_left {
  float: left; }

.float_right {
  float: right; }

.hidden {
  display: none; }

.btn {
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  padding: 0px 20px;
  background: transparent;
  color: #fff;
  border: none;
  display: inline-block;
  line-height: 40px;
  font-size: 16px; }

.bg_blue {
  background-color: #33bcfd; }

.bg_green {
  background-color: #3ebb13; }

.bg_blank_o {
  background-color: rgba(0, 0, 0, 0.1); }

.J_giftBtn {
  background-color: #33bcfd;
  margin: 10px 0px;
  font-size: 18px;
  width: 242px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.J_more {
  width: 100%;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.mask {
  position: fixed;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.6); }

/*top*/
.returnTop {
  position: fixed;
  display: none;
  z-index: 18;
  right: 5px;
  bottom: 65px;
  text-align: center; }

.returnTop .gm-top {
  font-size: 35px;
  display: inline-block;
  height: 45px;
  width: 45px;
  text-align: center;
  padding-bottom: 5px;
  border-radius: 50px;
  background-color: rgba(0, 0, 0, 0.6);
  margin: 0;
  color: #fff; }

/*end*/
.module {
  width: 100%;
  padding: 25px 15px; }

.module_title {
  text-align: center;
  color: #fff;
  line-height: 28px; }

.module_item {
  margin: 15px 0px; }

.module_item img {
  width: 100%;
  max-height: 200px;
  min-height: 100px; }

.module_item .pro_price {
  font-size: 16px;
  color: #fff;
  background-color: #ff4931;
  padding: 4px 8px;
  position: absolute;
  right: 0px;
  bottom: 10px;
  vertical-align: bottom;
  font-weight: bold; }

.module_item .pro_price small {
  font-size: 12px;
  font-weight: normal; }

.module_item dl {
  width: 100%;
  background-color: #fff; }

.module_item dt,
.module_item dd {
  margin: 0;
  position: relative; }

.module_item .pro_departure {
  padding: 4px 10px;
  background-color: rgba(0, 0, 0, 0.5);
  color: #fff;
  font-size: 12px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px; }

.module_item dd {
  padding: 10px;
  line-height: 20px; }

.module_item .pro_name {
  font-size: 16px;
  color: #333;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  word-break: break-all;
  overflow: hidden; }

.module_item .pro_light {
  color: #999;
  font-size: 14px;
  margin: 5px 0px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  word-break: break-all;
  overflow: hidden; }

.module_item .pro_other {
  margin: 5px 0px;
  display: inline-block;
  width: 100%; }

.module_item .gift_icon:before {
  content: "送";
  font-size: 14px;
  margin-right: 5px;
  padding: 2px 4px;
  color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  text-align: center;
  background-color: #ff4931; }

.module_item .gift_info {
  color: #ff4931;
  font-size: 14px;
  line-height: 24px; }

.module_item .gift_view {
  color: #999;
  margin: 0 5px;
  line-height: 24px; }

.module_item .order_btn {
  float: right;
  padding: 2px 12px;
  border-radius: 20px;
  -webkit-border-radius: 20px;
  -moz-border-radius: 20px;
  background-color: #ff4931;
  color: #fff;
  cursor: pointer; }

.module_foot {
  text-align: center; }

.act_rules {
  color: #fff;
  font-size: 14px; }

.act_title {
  text-align: center;
  font-size: 18px; }

.act_item {
  padding: 15px;
  width: 100%;
  font-size: 14px;
  line-height: 20px; }

.rules_img img {
  width: 100%;
  height: auto; }

.gift_detail {
  background-color: #fff;
  width: setCalc(100%, 20px);
  position: fixed;
  z-index: 10;
  left: 20px;
  top: 20px;
  right: 20px;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

.gift_detail .gift {
  overflow-y: auto; }

.gift_name {
  font-size: 24px;
  color: #333;
  padding: 10px 0px;
  text-align: center; }

.gift_item {
  margin: 15px 0px; }

.gift_title {
  color: #333;
  font-size: 16px; }

.gift_price {
  color: #ff4931; }

.gift_desc {
  color: #999;
  font-size: 14px;
  margin-top: 5px; }

.gift_supplier {
  text-align: center;
  border-top: 1px dashed #e5e5e5;
  padding: 10px 0px; }

.supplier_logo {
  width: 100%;
  text-align: center; }

.logo_img {
  max-width: 30%;
  height: 55px;
  margin: 10px 2%; }

.J_close {
  position: absolute;
  right: 0px;
  top: 0px;
  color: #999;
  font-size: 20px;
  padding: 10px;
  cursor: pointer; }

.J_goPro {
  margin: 10px 0; }

.J_getGift {
  margin-bottom: 5px; }

.share_tips {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  background-color: rgba(0, 0, 0, 0.8);
  text-align: center; }

.share_tips img {
  width: 92%; }

.share_div {
  width: 100%;
  position: fixed;
  top: 50px;
  z-index: 10; }

.share_div .share_body {
  width: 300px;
  margin: 0 auto;
  text-align: center;
  background-color: #fff;
  border-radius: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  padding: 20px 15px;
  position: relative; }

.share_div .share_title {
  font-size: 24px;
  line-height: 40px; }

.share_div .erro {
  color: #ff4931; }

.input_phone {
  width: 100%;
  height: 40px;
  padding-left: 10px;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  background-color: #eee;
  border: none;
  font-size: 14px;
  margin: 15px 0px; }

.btn_full {
  width: 100%;
  height: 40px;
  font-size: 16px;
  line-height: 40px; }
