.information_content{padding:0px 20px;}
.order_information{padding:20px 0px;overflow:hidden;border-bottom:1px solid #d9d9d9}
.print{display: inline-block;background-color: #4595f1;padding:8px 20px;color:white;border-radius:3px;position: absolute;top:80px;right:20px;}
.pad_content{padding:10px 0 0 0;clear:both;}
.order_title{font-weight:bold;}
.order_information p a{color:#ff832f !important;}
.product_img{width:250px;height:150px;}
.product_img img{width:250px;height:150px;}
.float_lef{float:left;}
.product_information{clear:both;overflow: hidden;}
.product_information p{margin-left:20px;}
.order_w{width: 500px}
.order_w span{word-wrap: break-word;}
.snap_shot{color: #ff832f !important}
.aui_content{height:560px;overflow-y: scroll;max-width:800px;max-height:560px}
.handle_list span:first-child{display:inline-block;width:150px;float:left;}
.handle_list span:last-child{display:inline-block;width:740px;word-break: break-all;}

.price-detail{width:550px;margin-bottom:5px;}
.price-detail h4{padding-bottom:5px;font-weight:400;}
.price-detail ul{border:solid 1px #ccc;}
.price-detail li{border-bottom:1px solid #ccc;}
.price-detail li span,.price-detail h4 span {float:left;}
.price-detail h4 span{width:50%;text-indent:2px;}
.price-detail li span{padding:0 10px;width:255px;}
.price-detail li span:last-child{border-left:solid 1px #ccc;width:252px;}
.price-detail li span{line-height:30px;}
.price-detail li:last-child{border-bottom:0;}