.information_content{padding:0px 20px;}
.refund_information{padding:20px 0px;overflow:hidden;border-bottom:1px solid #d9d9d9}
.order_title{font-weight:bold;}
.pad_content{padding:10px 0 0 0;clear:both;}
.refund_information p a{color:#45aaf1 !important;}
.time_box{padding:55px 0px 10px 0px}
.time_base{	width:600px;margin:0 auto;}
.time_base li{width:200px;height:4px;background-color:#4595f1;list-style:none;float:left;position:relative;}
.time_base li .round{display:inline-block;width:15px;height:15px;border-radius:15px;background-color:#4595f1;margin:auto;position:absolute;top:0;left:0;right:0;bottom:0}
.time_base li p{display:inline;position:absolute;top:-45px;left:56px;}
.aui_content{height:560px;overflow-y: scroll;max-width:800px;max-height:560px}
