@charset "UTF-8";
/* 重置样式 start*/
html {
  height: auto;
  background-color: #ededed;
}

body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td, footer, header, optgroup, select, em {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  /*去除webkit中块之间的间隙*/
}

body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background: #ededed;
  -webkit-appearance: none;
  /*解决Iphone下橱窗字体变大问题*/
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /*禁止链接高亮*/
  -webkit-touch-callout: none;
  /*禁止链接长按弹出选项菜单*/
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img100 {
  width: 100%;
}

input {
  color: #666;
}

input, button, select, textarea {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

input:focus {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

/*.clearfix:after{content: "020";display: block; height: 0;clear: both;visibility: hidden;}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置样式 end*/
.header i.gm-back {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  height: 50px;
  font-size: 22px;
  color: #ff7e1d;
  line-height: 45px;
}

.contact {
  margin-top: 10px;
}

.contact .title {
  margin-left: 10px;
  font-size: 16px;
  color: #999999;
}

.contact .con-list li, .contact > div.txt {
  margin: 10px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff;
  border-radius: 4px;
  height: 45px;
  line-height: 45px;
  border: solid 1px #ededed;
}

.contact .con-list li p {
  float: left;
}

.contact .con-list li p.tel {
  float: right;
}

.contact .con-list li a {
  color: #666666;
}

.contact .con-list li .contatc_name {
  max-width: 60px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.contact .con-list li i.gm-telephone {
  float: left;
  width: 24px;
  height: 45px;
  margin-right: 10px;
  color: #ff7e1d;
  font-size: 24px;
}
