@charset "utf-8";
/**
* 首页css
* @author songxinglin
* @date 2015-09-7
*/
/*重置公共样式*/
.right_body_ct{background: #f2f2f2;}
 .ct_title_fff{ display:-moz-box;display:-webkit-box;display:box;-moz-box-pack: center;-webkit-box-pack: center;-box-pack: center; margin:10px auto 0; padding-left:0; height:40px; line-height:40px; }
 .ct_title_fff .thisweek, .ct_title_fff .select-time{ float:left; display:inline-block; text-align:center; font-size:14px; }
 input{ float:left; }
 .ct_title_fff .select-time{ margin-top:8px; }
.theme_but{ display:none; }
 .ct_title_search .search_from{ float:none; display:block; }
.thisweek{ float:left; display:inline-block; width:140px; text-align:center; }
.thisweek1{ width:100px; text-align:center; }
#rightBody input.search_input{ margin-top:7px; }
/*公共*/ 
.bg_green{background: #a0d468;}
.bg_jacinth{background: #fb6e52;}
.bg_orange{background: #e6bd58;}
.bg_skyblue{background: #2dc3e8;}
.bg_blue{background: #4595f1;}
.r_border{border-right: 1px solid #DADADA;}
.r2_border{border-right: 2px solid #DADADA;}
.clearfix:before,.clearfix:after{ content:"";display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }
.ml{ margin-left:10px; }
#rightBody select.search_sel{ width:125px; }


/* 筛选  */
#rightBody{ background:#fff; }
#contents-box {  }
#contents-box .list-box{ position:relative; padding:20px 8px 20px; background-color:#fff; overflow:hidden; }
#contents-box .item-dl { position:relative; border-bottom:1px solid #e8e8e8; }
#contents-box .item-dl dt{ position:absolute; top:8px; width:57px; text-align:right; font-weight:bold; font-size:14px; color:#303030; }
#contents-box .item-dl dd{ margin-left:75px; font-family:'宋体'; }

#contents-box .item-dl dd .tiaojian{ display:inline-block; float:left; margin-top:10px; padding:1px 3px;}

#contents-box .item-dl dd .conten-list{ display:inline-block; float:left; margin-left:25px; width:760px; height:42px; overflow:hidden; color:#505050; }
#contents-box .item-dl dd .conten-list-oth{ height:auto; overflow:auto; }
#contents-box .item-dl dd .conten-list li{ margin-top:10px; }
#contents-box .item-dl dd .conten-list li a{ display:inline-block; padding:1px 3px; margin:-2px -1px 17px 0; color:#505050; font-size:14px; }
#contents-box .item-dl dd .conten-list li a:hover{ padding:1px 3px; background-color:#37b5db;  color:#fff;}
#contents-box .item-dl dd .conten-list li a.sele{ padding:1px 3px; background-color:#37b5db; color:#fff; }

#contents-box .item-dl dd .guonei{ border-bottom:1px dashed #e8e8e8; }
#contents-box .item-dl dd .guonei a{ width:56px; overflow:hidden; text-overflow:ellipsis; white-space:nowrap; }
#contents-box .item-dl dd .shouhad{ display:none; float:right; margin-top:2px; width:41px; height:30px; line-height:30px; color:#505050; }
#contents-box .item-dl dd .shouhad i{ display:inline-block; margin:10px 0 0 5px; width:9px; height:10px; }
#contents-box .item-dl dd .shouhad i.upjt{ background:url(/console/theme/blue/images/common/jiantup.png) no-repeat center right; }
#contents-box .item-dl dd .shouhad i.jiantoudown{ background:url(/console/theme/blue/images/common/jiantd.png) no-repeat center right;  }
#contents-box .item-dl dd .shouhad i.jiantouup{ background:url(/console/theme/blue/images/common/jiantup.png) no-repeat center right;  }

#contents-box .item-dl dd .oth-ul{ width:760px; height:auto; overflow:visible;  }
#contents-box .item-dl dd .setdate-box{ position:relative; top:-2px; display:inline-block; }
#contents-box .item-dl dd .on{
	margin-top:-4px;
	width:166px;
	height:30px;
	line-height:30px;
    padding-left:5px;
    position: relative;
    z-index: 10;
	background: #f5f5f5;
    border: 1px solid #d2d3d4;
    box-shadow: 2px 3px 3px;
}

#contents-box .item-dl dd .day-ensure{ display:none; font-style:normal;cursor:pointer; }
#contents-box .item-dl dd .on .day-ensure{ display:inline-block; font-style:normal; cursor:pointer; }

#contents-box .item-dl dd .setdate{ float:none; padding-left:3px; width:34px; height:20px; line-height:20px; font-size:14px; color:#a3a3a3; border:1px solid #d9d9d9; }
#contents-box .item-dl dd .setdate-box i{ position:absolute; display:inline-block; top:4px; right:0px; width:16px; height:15px; background:url(/console/theme/blue/images/common/shuaidate.jpg) no-repeat; }
#contents-box .allPlan-btn{ margin:10px auto 0; width:150px; height:35px; line-height:35px; border:1px solid #ccc; border-radius:8px; }

.guolv-notice{ margin-bottom:10px; }
/*#contents-box .paixu-fun { position:relative; padding:0 12px 0 6px; border:1px solid #d2d3d4; color:#303030; background-color:#f5f5f5; font-family:"宋体"; font-size:14px; }
#contents-box .paixu-fun input{ padding-left:5px; }
#contents-box .paixu-fun .items-box {position:relative; display:inline-block; float:left; padding:3px 6px; height:30px; line-height:30px; border-left:1px solid #d2d3d4; border-top:none; border-bottom:none; }
#contents-box .paixu-fun .items-box1{ position:relative; z-index:10; margin:-5px -22px 0 0; padding:5px 6px; background:#F2F5FC; border:1px solid #d2d3d4; box-shadow:2px 3px 3px; background-color:#f5f5f5; }
#contents-box .paixu-fun .items-box1 li.last{ display:block; }
#contents-box .paixu-fun a{ display:inline-block; height:24px; line-height:24px; padding:0 5px; font-size:14px; color:#303030; }
#contents-box .paixu-fun-a { display:inline-block; float:left; margin-top:6px; padding-right:10px; }
#contents-box .paixu-fun a.sele{ background-color:#37b5db; color:#fff; }
#contents-box .paixu-fun .items { display:inline-block; }

#contents-box .paixu-fun .list{ float:left; }
#contents-box .paixu-fun .list input{ width:45px; height:22px; line-height:22px; font-size:14px; border:1px solid #d2d3d4; }
#contents-box .paixu-fun .list input.maxinput{ width:100px; height:22px; line-height:22px; text-align:center;}
#contents-box .paixu-fun .last{ display:none; }
#contents-box .paixu-fun .sep{ float:left; text-align:center; width:14px; }
#contents-box .paixu-fun .planName{ margin-top:3px; height:24px; line-height:24px; text-align:center; border:1px solid #d2d3d4; }
#contents-box .paixu-fun .planhave{ position:relative; display:inline-block; height:37px; line-height:42px; padding-left:6px;  border-left:1px solid #d2d3d4; }
#contents-box .paixu-fun .planhave .tripdayscheckbox{ position:absolute; top:14px; }
#contents-box .paixu-fun .planhave span{ display:inline-block; margin-left:21px; }
#contents-box .paixu-fun .planName-box{ display:inline-block; float:left; padding:3px 6px; }
#contents-box .paixu-fun .plannumber{ float:right; margin-top:10px; }*/

#contents-box .paixu-fun { position:relative; padding:0 12px 0 6px; height:37px; line-height:30px; border:1px solid #d2d3d4; color:#303030; background-color:#f5f5f5; font-family:"宋体"; font-size:14px; }
#contents-box .paixu-fun input{ padding-left:5px; }
#contents-box .paixu-fun .items-boxcont{ float:left; width:130px; }
#contents-box .paixu-fun .items-boxcontplan{ float:left; width:134px; }
#contents-box .paixu-fun .items-box-hongkong{ float:left; width:161px; }
#contents-box .paixu-fun .items-box{ position:relative; float:left;  display:inline-block; height:36px; line-height:33px; padding:1px 6px 0 6px; /*height:30px; line-height:30px;*/ border-left:1px solid #d2d3d4; border-top:none; border-bottom:none; }
#contents-box .paixu-fun .items-box1{width:142px;position:relative; z-index:10;  padding:3px 6px; margin:-6px -22px 0 0; background:#F2F5FC; border:1px solid #d2d3d4; box-shadow:2px 3px 3px; background-color:#f5f5f5; }
#contents-box .paixu-fun .items-box1 li.last{ display:block; }
#contents-box .paixu-fun .items-box-content{}

#contents-box .paixu-fun .zonghe-paix{ display:inline-block; height:24px; line-height:26px; padding:0 5px; font-size:14px; color:#303030; }
#contents-box .paixu-fun-a { margin-top:6px; display:inline-block; float:left; }
#contents-box .paixu-fun a.sele{ background-color:#37b5db; color:#fff; }
#contents-box .paixu-fun .items { position:relative; display:inline-block; margin-top:7px; }

#contents-box .paixu-fun .list{ float:left; }
#contents-box .paixu-fun .list input{ width:45px; height:22px; line-height:22px; font-size:14px; border:1px solid #d2d3d4; }
#contents-box .paixu-fun .list input.maxinput{ width:113px; height:22px; line-height:22px; text-align:center; /*color:#37b5db;*/ }
#contents-box .paixu-fun .last{ display:none; }
#contents-box .paixu-fun .sep{ float:left; text-align:center; width:14px; }
#contents-box .paixu-fun .planName{ margin-top:3px; height:24px; line-height:24px; text-align:center; border:1px solid #d2d3d4; }
#contents-box .paixu-fun .planhave{ position:relative; display:inline-block; height:37px; line-height:42px; padding-left:6px;  border-left:1px solid #d2d3d4; }
#contents-box .paixu-fun .planhave .tripdayscheckbox{ position:absolute; top:14px; }
#contents-box .paixu-fun .planhave span{ display:inline-block; margin-left:21px; font-size: 12px;}
#contents-box .paixu-fun .planName-box{ display:inline-block; float:left; padding:3px 6px; }
#contents-box .paixu-fun .plannumber{ float:right; margin-top:7px; font-size: 12px; color: #999;}

/*#contents-box .items-box{ box-shadow:3px 0  5px #d2d3d4; }*/
#contents-box .paixu-fun-box{ margin-top:15px; padding:0 8px; background:#fff; }
#contents-box .paixu-fun .ensure{ margin:5px 0 0 5px; color:#fff; background:#F0A065; }
#contents-box .paixu-fun .clearthis{ position:absolute; top:-4px; display:inline-blokc; width:50px; height:30px; line-height:32px; margin-left:8px; color:#37b5db;text-decoration:underline; background:none; }
.tour-plan{ color:#37b5db; }


.plan_sort {height:35px;line-height:35px;background-color:#f3f8fb;  border-bottom:solid 2px #cecfd0; border-top:solid 2px #cecfd0;}
.plan_sort span {margin-left:32px;margin-right: 13px; color: #534b49;cursor: pointer; text-align: center;  height: 20px; padding: 2px 10px;}
.plan_sort span.active {color: #f3f8fb;background-color: #6195a9; border-radius:5px; border: none;  cursor: pointer;}

.paixu-fun-box{ margin-top:20px;}
/* 列表 更多 */


.moreandmore{ position:relative; z-index:1; text-align:center; }
.moreandmore a{ display:inline-block; margin-top:-1px; height:26px; line-height:26px; padding:0 15px; border:1px solid #ccc; border-top:1px solid #fff; color:#333; }
.moreandmore i{ display:inline-block; margin:10px 0 0 5px; width:10px; height:10px; }
.moreandmore i.jiantouup{ margin-left:20px; background:url(/console/theme/blue/images/common/jiantup.png) no-repeat center right; }
.moreandmore i.jiantoudown{ margin-left:20px; background:url(/console/theme/blue/images/common/jiantd.png) no-repeat center right; }

#table_list table a:hover{ color:#434343; }
#table_list table tr td{ border-bottom:1px solid #ccc; }
#table_list table a.fun-a{ 
	margin: 3px 0;
	display: inline-block;
    width:80px;
    height: 20px;
    line-height:20px;
    text-align: center;
      
    background: #45aaf1;
    border: 1px solid #3c93d1;
    color:#fff;
    border-radius:4px;
    }

.supplicer-a{ display:block; text-decoration:underline; }
.number-tongj{ margin-top:20px; text-align:center; }

.sele{background-color:#37b5db; color:#fff; }
.selehover{background-color:#37b5db; color:#fff; }

#rightBody input.search_input{width:73px; padding-right: 20px;}

#contents-box .paixu-fun .item-aircompany{width: 114px;}
#contents-box .paixu-fun .item-aircompany .list input.maxinput{width: 90px;}
#table_list table tr th{line-height: 1.6 !important;}
#table_list table tr th, #table_list table tr td{padding: 5px;}
#table_list .dates{display: block; width: 110px; word-break: break-word;}
.list-box-content{ overflow:hidden; }
.auto-height{ height:auto; }
.keyboarder{ display:block; }
.hiden-list{ display:none; }