@charset "utf-8";
.mt5{margin-top:10px;}

.recommend_content{text-align:center;}
.recommend_content *{font-family: "微软雅黑","Times New Roman",Arial, Helvetica, sans-serif;}
.recommend_link,.recommend_link,.recommend_link,.recommend_link:hover{text-decoration:underline;color:#333;}
.recommend_content .l-item{display:inline-block;padding:20px 45px;width:830px;}
.recommend_content .s-item{display:inline-block;padding:20px 45px;width:820px;}
.recommend_content .l-title, .recommend_content .s-title, .recommend_content .side-title{height: 35px;font-size: 15px;text-align:left;}
.recommend_content .item{width:405px;display:inline-block;margin:10px 5px 0 0;text-align:left;}
.recommend_content .itemlarge{min-height:320px;}
.recommend_content .product{display:inline-block; width:240px;margin-top:5px;}
.recommend_content .item .product_img{width:238px;height:198px;border:1px solid lightgrey;}
.recommend_content .product_info{width:120px;display:inline-block; position: relative;float:left;}
.recommend_content .recommend_input{width:80px;border:1px solid lightgrey;height:30px;padding-left:5px;float:left;}
.recommend_content .checkInfo,.recommend_content .tips{width:240px;height:24px;line-height:24px;float:left;}
.recommend_content .checkBtn{width:30px;text-align:center;float:left;height:32px;border:1px solid lightgrey;border-left:none;color:#4595f1;cursor: pointer;background-color:#fff;display: none;}
.recommend_content .imgBtn{width:78px;text-align:center;background:white;border:1px solid lightgrey;height:32px;float:right;cursor: pointer;}
.recommend_content .waring{background:url(/console/theme/blue/images/common/icon04.png) no-repeat -3px 0px;background-size:100% 100%;margin-left:-20px;padding-left:20px;}
.recommend_content .checkInfo.waring{background-position: -3px 5px;background-size:8% 69%;}

.recommend_content .side-item{display:inline-block;width:950px;text-align:center;padding:20px 15px;}
.recommend_content .side-item .side-title{margin-left:15px;}
.recommend_content .side-item .item{width:200px;margin: 0px 15px;}
.recommend_content .side-item .item .product_img{width:198px;height:273px;}
.recommend_content .side-item .product{width:200px;}
.recommend_content .side-item .checkInfo{width:200px;height:24px;line-height:24px;}
.recommend_content .side-item .tips{width: 0px;height: 30px;background-position: 0px 6px;background-size: 92% 58%;}
.recommend_content .side-item .checkInfo.waring{background-position: -3px 5px;background-size:9% 69%;}
.recommend_content .side-item .num{padding:6px 15px;display:inline-block;background:#4595f1;color: #fff;border:none; position: relative;  top: -5px;}

.query_warning{position: absolute;top:16px;right:36px;cursor: pointer;}
.query_warning:hover .wargin_info{display:block;}
.warning_icon{font-size:18px;color:#FF8540;background:transparent;}
.wargin_info{font-size:12px;width:150px;height:28px;left:25px;top:-3px;line-height:28px;border-radius:4px;text-align:center;color:#fff;background:#454C54;position: absolute;display:none;z-index:30;}
.wargin_info:BEFORE{left:-5px;top:8px;width: 0;height: 0;border-bottom: 5px solid transparent;border-right: 5px solid #454C54;border-top: 5px solid transparent;content: "";display: inline-block;position: absolute;}
.recommend_content .cover_pv,.side_pv{clear:both;}