@charset "UTF-8";
html {
  border-radius: 4px;
  border: 1px solide red;
}

body {
  margin: 0 auto;
  padding: 0;
}

.all {
  width: 100%;
  background: #f2f2f2;
  min-height: 100%;
  font-family: "microsoft yahei";
}

.header .return_back {
  position: absolute;
  left: 5px;
  top: 0px;
  height: 45px;
  width: 22px;
  cursor: pointer;
}

.header {
  min-height: 35px;
  width: 100%;
  overflow-x: hidden;
  overflow-y: hidden;
  background: white;
  line-height: 35px;
}

.header .page_name {
  line-height: 40px;
  height: 30px;
}

.head-title {
  height: 50px;
}

.header .back {
  width: 20px;
  height: 20px;
  background: white;
  border: none;
  margin-left: 20px;
  margin-top: 10px;
}

.header .home {
  width: 20px;
  height: 20px;
  background: white;
  border: none;
  margin-right: 10px;
  margin-top: 10px;
}

.header .search-title {
  margin: 0px auto;
  line-height: 40px;
  font-size: 18px;
  font-weight: bold;
  text-align: center;
}

.header .search {
  height: 144px;
  width: 100%;
  border-bottom: 1px solid grey;
}

.header .search .banner {
  width: 100%;
  min-height: 180px;
  zoom: 0.8;
}

.header .search .box {
  height: 50px;
  background-color: rgba(255, 255, 255, 0.8);
  position: relative;
  margin-top: -60px;
  float: left;
  width: 100%;
}

.header .search .box .search-box {
  height: 30px;
  background-color: white;
  border: 1px solid lightgrey;
  border-radius: 4px;
  position: relative;
  margin-left: 4%;
  margin-top: 10px;
  float: left;
  width: 75%;
}

.header .search .box .search-box .searchIocn {
  background: url(/m/theme/manage/images/common/search/search.png) no-repeat center;
  width: 20%;
  height: 30px;
  border: none;
}

.header .search .box .search-box .search-input {
  width: 79%;
  height: 24px;
  font-size: 14px;
  border: none;
  margin-top: 3px;
  border-left: 1px solid lightgrey;
}

.header .search .box .searchBtn {
  height: 30px;
  width: 15%;
  margin-left: 3%;
  margin-top: 10px;
  border: none;
  border-radius: 4px;
  font-size: 18px;
  color: white;
  text-align: center;
  background-color: #78a7ff;
}

.main {
  overflow-x: hidden;
  overflow-y: hidden;
  height: auto;
  position: relative;
}

.no-result {
  font-size: 14px;
  width: 100%;
  min-height: 360px;
  margin-top: 40px;
  /* left: 0px;
  bottom: 0px;
  top: 0;
  right: 0; */
}

.no-result img {
  zoom: 0.5;
}

.no-result .backBtn {
  width: 100px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 4px;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border: 1px solid #d5d5d5;
}

/*热门目的地*/
.destination {
  width: 100%;
  padding: 15px 10px;
  box-sizing: border-box;
  background: #f2f2f2;
  height: auto;
  oveflow: hidden;
}

.destination .destination_item {
  width: 33.33%;
  height: auto;
  float: left;
  text-align: center;
}

.destination_item img {
  width: 70%;
  height: auto;
  margin: 10px 0px;
}

.destination_item * {
  text-align: center;
}

/*热门目的地end*/
.main .show-result {
  background-color: #f2f2f2;
}

.main .show-result .goods-item {
  width: 50%;
}

img {
  border: 0 none;
}

.bground {
  width: 100%;
  position: relative;
  color: whitesmoke;
  text-align: center;
  font-size: 24px;
  font-family: "Microsoft YaHei";
  border-radius: 5px 5px 0px 0px;
}

.bground span {
  position: relative;
}

.main .show-result #waterfall {
  text-align: center;
  width: 100%;
  margin: 0 auto;
}

.main .show-result #waterfall img {
  width: 100%;
  height: auto;
  border-radius: 7px 7px 0px 0px;
  -moz-border-radius: 7px 7px 0px 0px;
  -webkit-border-radius: 7px 7px 0px 0px;
}

.cell .h1 {
  height: 100px;
}

.cell .h2 {
  height: 130px;
}

.cell .h3 {
  height: 150px;
}

.main .show-result #waterfall .cell {
  padding: 0px 0px 5px 0px;
  width: 100%;
  background: #fff;
  margin-top: 20px;
  box-shadow: 0px 2px 3px 1px #ccc;
  float: left;
  border-radius: 8px;
  -moz-border-radius: 8px;
  -webkit-border-radius: 8px;
}

.main .show-result #waterfall .cell:hover {
  box-shadow: 0px 2px 3px 1px #999;
}

.main .show-result #waterfall a {
  color: grey;
  font-size: 12px;
}

.main .show-result #waterfall .cell .price {
  position: relative;
  float: left;
  margin-top: -30px;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.6);
  width: 100%;
  height: 30px;
  line-height: 30px;
}

.main .show-result #waterfall .cell .travel-title {
  border-bottom: 1px solid lightgrey;
  line-height: 26px;
  width: 100%;
}

.main .show-result #waterfall .cell .travel-time p {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
}

.main .show-result .addMore, .addMore-on {
  width: 100%;
  text-align: center;
  margin-top: 20px;
}

.main .show-result .addMore .moreBtn, .main .show-result .addMore-on .moreBtn {
  width: 90%;
  height: 30px;
  line-height: 30px;
  font-size: 16px;
  color: gray;
  background: white;
  border-radius: 6px;
  border: 1px solid lightgray;
}

.no-more {
  width: 100%;
  text-align: center;
  color: gray;
  height: 30px;
  line-height: 30px;
  margin: 20px 0;
}

.no-more .text {
  width: 20%;
  text-align: center;
}

.no-more .line {
  width: 40%;
  height: 10px;
  border-bottom: 1px solid lightgrey;
}
