@charset "UTF-8";
/*reset*/
html, body {
  background: #fff; }

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
  margin: 0; }

p {
  margin: 0; }

a {
  cursor: pointer; }

/*gloabl*/
.fl {
  float: left; }

.fr {
  float: right; }

header, footer, section {
  min-width: 1170px; }

.link-14 {
  font-size: 14px; }

.yellow {
  color: #ff8540; }

.arial {
  font-family: "arial"; }

.day-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background: #ff9248;
  border-radius: 50%;
  text-align: center; }

.dashed {
  border-bottom: dashed 1px #e0e1e2;
  margin-bottom: 10px; }

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btns .btn {
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px; }

.p-body {
  min-width: 1170px;
  width: 1170px;
  margin: 0 auto;
  position: relative; }

.p-download {
  color: #626466 !important; }

.p-download i {
  color: #587ed1;
  margin-right: 2px; }

.p-download:hover i {
  color: #3057ad; }

.p-arrow-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #ff9248; }

.p-no-data {
  text-align: center; }

div.p-no-data {
  border: solid 1px #e0e1e2;
  line-height: 80px !important; }

tr.p-no-data td {
  padding: 0 !important;
  line-height: 80px !important; }

.p-service {
  position: relative;
  padding-left: 22px;
  color: #f98282; }

.p-service i {
  position: absolute;
  top: -3px;
  left: 3px; }

header .heardnew {
  border-bottom: solid 1px #e0e1e2; }

.gm-rocket-up {
  display: none;
  text-decoration: none !important;
  font-size: 50px;
  color: #94989B;
  position: fixed;
  bottom: 140px;
  right: 0; }

.gm-rocket-up:hover {
  color: #FF7E1D; }

.gm-rocket-up:active {
  color: #FF7E1D; }

/*header start*/
.heardnew {
  background-color: #fff; }

.heardnew .logo {
  display: inline-block;
  float: left;
  width: 216px;
  margin-right: 70px; }

.heardnew .logo img {
  margin-top: 5px; }

.heardnew .heard-center {
  margin: 0 auto;
  width: 1170px; }

.heardnew .nav-list {
  display: inline;
  float: left; }

.heardnew .nav-list li {
  display: inline;
  float: left; }

.heardnew .nav-list li a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  color: #626466; }

.heardnew .nav-list li a:hover, .reg-log a:hover, .footer-list li a:hover {
  text-decoration: none; }

.heardnew .nav-list li.selected {
  color: #313233;
  background-color: #EDF0F2; }

.heardnew .nav-list li.selecteda {
  color: #313233; }

.heardnew .reg-log {
  display: inline;
  float: right;
  height: 80px;
  line-height: 80px; }

.heardnew .reg-log a {
  font-size: 14px;
  color: #939699 !important; }

.heardnew .reg-log a.login {
  margin-left: 20px;
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.heard-center .login-state {
  margin: 0 20px;
  padding: 25px 0 13px;
  line-height: 32px; }

.heard-center .pull-right {
  display: none;
  float: right !important; }

/*header end*/
.discount-bg {
  padding-bottom: 40px;
  background-color: #ee0035; }

.discount-bg .banner {
  position: relative; }

.discount-bg .banner img {
  width: 100%; }

.discount-bg .banner .discount-btn {
  position: absolute;
  bottom: 520px;
  left: 50%;
  margin-left: -148px;
  width: 296px;
  height: 104px;
  background: url(../../../images/discount_btn.png) center no-repeat;
  cursor: pointer; }

.discount-bg .banner .txt {
  position: absolute;
  bottom: 485px;
  left: 50%;
  margin-left: -119px;
  text-align: center;
  color: #fff; }

.discount-bg .banner .discount-btn:hover {
  background-image: url(../../../images/discount_btn_hover.png); }

.discount-bg .banner .discount-btn.disable {
  background-image: url(../../../images/discount_btn_disable.png);
  cursor: not-allowed; }

.discount-process {
  position: relative;
  margin: 0 auto;
  margin-top: -440px;
  padding: 25px;
  width: 960px;
  background-color: #f6f6f6;
  border-radius: 4px; }

.discount-process h1 {
  height: 105px;
  line-height: 105px;
  text-align: center;
  font-size: 46px;
  font-weight: 700;
  color: #EA4844;
  background: url(../../../images/discount_circles.png) center no-repeat; }

.discount-process li {
  padding: 30px;
  margin-bottom: 10px;
  min-height: 340px;
  background-color: #fff;
  overflow: hidden; }

.discount-process li .info-step {
  float: left;
  padding-top: 70px;
  width: 50%; }

.discount-process li .info-pic {
  float: left;
  width: 50%; }

.discount-process li .info-right {
  padding-left: 50px; }

.discount-process li .step-num {
  position: relative; }

.discount-process li .step-num span {
  position: absolute;
  top: 20px;
  left: 45px;
  color: #EA4844;
  font-size: 16px; }

.discount-process li .step-title {
  margin-left: 46px;
  font-size: 36px;
  color: #EA4844; }

.discount-process li .info-step .txt {
  margin-left: 46px;
  margin-top: 10px;
  font-size: 18px; }

.discount-process li .use-discount dd {
  margin-top: 20px;
  overflow: hidden; }

.discount-process li .use-discount dd .txt {
  float: left;
  margin-top: 80px;
  padding-left: 27px;
  padding-right: 80px;
  width: 50%;
  font-size: 18px; }

.discount-process li .use-discount dd .txt img {
  float: left;
  margin-right: 8px;
  padding-bottom: 10px;
  padding-top: 8px; }

.discount-process li .use-discount dd .pic {
  float: left;
  width: 50%; }

/* 常见问题处理 */
.discount-question {
  margin: 0 auto;
  width: 750px;
  margin-top: 70px; }

.discount-question h1 {
  color: #EA4844;
  margin-bottom: 70px;
  text-align: center; }

.discount-question li {
  margin-bottom: 30px; }

.discount-question li .title {
  font-size: 18px;
  font-weight: 700; }

.discount-question li p {
  padding-left: 40px;
  font-size: 16px;
  height: 30px;
  line-height: 30px;
  color: #999; }

.discount-question li p .point {
  margin-right: 5px; }

.discount-question li img.pic {
  float: left;
  margin-right: 18px;
  margin-top: 3px; }

.discount-question li img.less {
  margin: 0 5px; }

/* 领取红包弹窗 */
.discount-dialog {
  display: none; }

.discount-dialog .dislog-bg {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: #000;
  opacity: 0.8;
  z-index: 100; }

.discount-dialog .pic {
  position: fixed;
  top: 200px;
  left: 50%;
  margin-left: -215px;
  z-index: 100; }

.discount-dialog .pic .close {
  position: relative;
  z-index: 100;
  border: solid 2px #fff;
  border-radius: 50%; }

.discount-dialog .pic .close i {
  color: #fff;
  font-size: 20px; }

.discount-dialog .pic .close:hover {
  border: solid 2px #ff7e1d; }

.discount-dialog .pic .close:hover i {
  color: #ff7e1d; }

.discount-dialog .discount-pic {
  position: relative;
  width: 516px;
  height: 418px; }

.discount-dialog .discount-pic > img {
  position: absolute;
  top: 99px;
  z-index: 2; }

.discount-dialog .discount-pic .num {
  position: absolute;
  top: 200px;
  left: 170px;
  z-index: 3;
  width: 167px;
  text-align: center;
  line-height: 1;
  font-size: 60px;
  color: #fc3535; }

.discount-dialog .receive-btn a {
  display: block;
  margin-top: 40px;
  cursor: pointer;
  background: url(../../../images/use.png) center no-repeat;
  width: 100%;
  height: 74px; }

.discount-dialog .receive-btn a:hover {
  background: url(../../../images/use_hover.png) center no-repeat; }

.discount-dialog .txt {
  margin-top: 12px;
  text-align: center;
  color: #a98340; }

.discount-dialog .txt .less {
  margin: 0 5px; }

.discount-dialog .discount-pic .small-pic img {
  position: absolute;
  z-index: 1; }

.discount-dialog .discount-pic .small-pic .img1 {
  top: 110px;
  left: 486px;
  animation: img1 1s ease-out;
  -webkit-animation: img1 1s ease-out;
  -moz-animation: img1 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img2 {
  top: 177px;
  left: 489px;
  animation: img2 1s ease-out;
  -webkit-animation: img2 1s ease-out;
  -moz-animation: img2 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img3 {
  top: 97px;
  left: 438px;
  animation: img3 1s ease-out;
  -webkit-animation: img3 1s ease-out;
  -moz-animation: img3 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img4 {
  top: 55px;
  left: 346px;
  animation: img4 1s ease-out;
  -webkit-animation: img4 1s ease-out;
  -moz-animation: img4 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img5 {
  top: 25px;
  left: 330px;
  animation: img5 1s ease-out;
  -webkit-animation: img5 1s ease-out;
  -moz-animation: img5 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img6 {
  top: 68px;
  left: 289px;
  animation: img6 1s ease-out;
  -webkit-animation: img6 1s ease-out;
  -moz-animation: img6 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img7 {
  top: 35px;
  left: 261px;
  animation: img7 1s ease-out;
  -webkit-animation: img7 1s ease-out;
  -moz-animation: img7 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img8 {
  top: 66px;
  left: 224px;
  animation: img8 1s ease-out;
  -webkit-animation: img8 1s ease-out;
  -moz-animation: img8 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img9 {
  top: 51px;
  left: 187px;
  animation: img9 1s ease-out;
  -webkit-animation: img9 1s ease-out;
  -moz-animation: img9 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img10 {
  top: 80px;
  left: 147px;
  animation: img10 1s ease-out;
  -webkit-animation: img10 1s ease-out;
  -moz-animation: img10 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img11 {
  top: 81px;
  left: 105px;
  animation: img11 1s ease-out;
  -webkit-animation: img11 1s ease-out;
  -moz-animation: img11 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img12 {
  top: 111px;
  left: 72px;
  animation: img12 1s ease-out;
  -webkit-animation: img12 1s ease-out;
  -moz-animation: img12 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img13 {
  top: 162px;
  left: 84px;
  animation: img13 1s ease-out;
  -webkit-animation: img13 1s ease-out;
  -moz-animation: img13 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img14 {
  top: 182px;
  left: 56px;
  animation: img14 1s ease-out;
  -webkit-animation: img14 1s ease-out;
  -moz-animation: img14 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img15 {
  top: 147px;
  left: 31px;
  animation: img15 1s ease-out;
  -webkit-animation: img15 1s ease-out;
  -moz-animation: img15 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img16 {
  top: 248px;
  left: 0px;
  animation: img16 1s ease-out;
  -webkit-animation: img16 1s ease-out;
  -moz-animation: img16 1s ease-out; }

.discount-dialog .discount-pic .small-pic .img17 {
  top: 341px;
  left: 409px;
  animation: img17 1s ease-out;
  -webkit-animation: img17 1s ease-out;
  -moz-animation: img17 1s ease-out; }

@keyframes img1 {
  0% {
    transform: translate(-243px, 152px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img1 {
  0% {
    transform: translate(-243px, 152px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img1 {
  0% {
    transform: translate(-243px, 152px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img2 {
  0% {
    transform: translate(-251px, 66px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img2 {
  0% {
    transform: translate(-251px, 66px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img2 {
  0% {
    transform: translate(-251px, 66px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img3 {
  0% {
    transform: translate(-200px, 66px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img3 {
  0% {
    transform: translate(-200px, 66px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img3 {
  0% {
    transform: translate(-200px, 66px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img4 {
  0% {
    transform: translate(-106px, 163px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img4 {
  0% {
    transform: translate(-106px, 163px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img4 {
  0% {
    transform: translate(-106px, 163px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img5 {
  0% {
    transform: translate(-83px, 194px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img5 {
  0% {
    transform: translate(-83px, 194px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img5 {
  0% {
    transform: translate(-83px, 194px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img6 {
  0% {
    transform: translate(-44px, 154px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img6 {
  0% {
    transform: translate(-44px, 154px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img6 {
  0% {
    transform: translate(-44px, 154px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img7 {
  0% {
    transform: translate(-13px, 193px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img7 {
  0% {
    transform: translate(-13px, 193px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img7 {
  0% {
    transform: translate(-13px, 193px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img8 {
  0% {
    transform: translate(0px, 193px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img8 {
  0% {
    transform: translate(0px, 193px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img8 {
  0% {
    transform: translate(0px, 193px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img9 {
  0% {
    transform: translate(57px, 164px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img9 {
  0% {
    transform: translate(57px, 164px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img9 {
  0% {
    transform: translate(57px, 164px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img10 {
  0% {
    transform: translate(101px, 162px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img10 {
  0% {
    transform: translate(101px, 162px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img10 {
  0% {
    transform: translate(101px, 162px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img11 {
  0% {
    transform: translate(144px, 157px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img11 {
  0% {
    transform: translate(144px, 157px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img11 {
  0% {
    transform: translate(144px, 157px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img12 {
  0% {
    transform: translate(163px, 134px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img12 {
  0% {
    transform: translate(163px, 134px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img12 {
  0% {
    transform: translate(163px, 134px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img13 {
  0% {
    transform: translate(162px, 85px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img13 {
  0% {
    transform: translate(162px, 85px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img13 {
  0% {
    transform: translate(162px, 85px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img14 {
  0% {
    transform: translate(183px, 62px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img14 {
  0% {
    transform: translate(183px, 62px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img14 {
  0% {
    transform: translate(183px, 62px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img15 {
  0% {
    transform: translate(215px, 92px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img15 {
  0% {
    transform: translate(215px, 92px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img15 {
  0% {
    transform: translate(215px, 92px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img16 {
  0% {
    transform: translate(228px, 30px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img16 {
  0% {
    transform: translate(228px, 30px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img16 {
  0% {
    transform: translate(228px, 30px); }
  100% {
    transform: translate(0px, 0px); } }
@keyframes img17 {
  0% {
    transform: translate(-189px, -121px); }
  100% {
    transform: translate(0px, 0px); } }
@-moz-keyframes img17 {
  0% {
    transform: translate(-189px, -121px); }
  100% {
    transform: translate(0px, 0px); } }
@-webkit-keyframes img17 {
  0% {
    transform: translate(-189px, -121px); }
  100% {
    transform: translate(0px, 0px); } }
/* go-top start */
.scroll-top {
  display: none;
  position: fixed;
  bottom: 200px;
  z-index: 99;
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ededed;
  text-align: center;
  color: #666666;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s; }

.scroll-top:hover {
  background-color: #ff7e1d; }

.scroll-top:hover i.fa-angle-up {
  color: #ffffff; }

.scroll-top .fa-angle-up {
  font-size: 40px;
  color: #999999;
  line-height: 50px; }

/*# sourceMappingURL=view.css.map */
