@charset "utf-8";
@import "../../common/scss/reset";
@import "../../../theme/manage/css/theme.scss";

$color_blue:#33bcfd;
$color_green:#3ebb13;

a{text-decoration: none; }
html,body{position: relative;width: 100%;height: auto;font-family: $family;font-size: 14px;overflow-x:hidden; }
header{width: 100%;height: 100%;background-color:$font_white;text-align: center;padding-bottom:10px;}
header .activity_img{width: 100%;height: auto;margin-bottom:0px;}
section{width: 100%;height: auto;}
.header{height: 50px;line-height: 50px;color: $font_white;background-color: $color_blue;border-bottom: 1px solid $font_white;}
.return_back{line-height: 50px;font-size: 16px;margin-left:12px;vertical-align: bottom;color:$font_white;}
.return_back .gmIcon{font-size: 22px;margin-right: 10px;line-height: 50px;vertical-align: middle;}

.color_blue{color: $color_blue!important;}
.color_green{color: $color_green!important;}
.color_desc{color: $font_content;}
.font12{font-size: 12px!important;}
.font14{font-size: 14px!important;}
.font16{font-size: 16px!important;}
.font18{font-size: 18px!important;}
.font20{font-size: 20px!important;}
.font_bold{font-weight: bold;}
.float_left{float: left;}
.float_right{float: right;}
.hidden{display: none;}
.btn{@include setBorderRadius(20px);padding:0px 20px;background: transparent;color: $font_white;border:none;display:inline-block;line-height:40px;font-size:16px;}
.bg_blue{background-color: $color_blue;}
.bg_green{background-color: #3ebb13;}
.bg_blank_o{background-color: rgba(0,0,0,0.1);}
.J_giftBtn{background-color:$color_blue;margin:10px 0px;font-size: 18px;width: 242px;@include setBoxSizing();}
.J_more{width: 100%;@include setBoxSizing();}
.mask{position: fixed;height: 100%;width: 100%;top: 0;left: 0;z-index:9;background-color: rgba(0,0,0,0.6);}
/*top*/
.returnTop{position:fixed;display:none;z-index:18;right:5px;bottom:65px;text-align: center;}
.returnTop .gm-top{font-size:35px;display:inline-block;height: 45px;width: 45px;text-align: center;padding-bottom: 5px;border-radius:50px;background-color:rgba(0,0,0,0.6);margin:0;color:$font_white;}
/*end*/

.module{width: 100%;padding:25px 15px;}
.module_title{text-align: center;color:$font_white;line-height: 28px;}
.module_item{margin:15px 0px;}
.module_item img{width: 100%;max-height:200px;min-height:100px;}
.module_item .pro_price{font-size: 16px;color: $font_white;background-color: $ornament;padding:4px 8px;position: absolute;right: 0px;bottom:10px;vertical-align: bottom;font-weight: bold;}
.module_item .pro_price small{font-size: 12px;font-weight: normal;}
.module_item dl{width: 100%;background-color: $font_white;}
.module_item dt,
.module_item dd{margin:0;position: relative;}
.module_item .pro_departure{padding: 4px 10px;background-color:rgba(0,0,0,0.5);color: $font_white;font-size:12px;position: absolute;top: 10px;left: 10px;@include setBorderRadius(20px); }
.module_item dd{padding:10px;line-height: 20px;}
.module_item .pro_name{font-size: 16px;color: $font_deep;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 2; word-break: break-all; overflow: hidden;}
.module_item .pro_light{color:$font_content;font-size:14px;margin:5px 0px;display: -webkit-box; -webkit-box-orient: vertical; -webkit-line-clamp: 1; word-break: break-all; overflow: hidden;}
.module_item .pro_other{margin:5px 0px;display: inline-block;width: 100%;}
.module_item .gift_icon:before{content:"送";font-size:14px;margin-right: 5px;padding:2px 4px;color: $font_white;@include setBorderRadius(4px);text-align: center;background-color: $ornament;}
.module_item .gift_info{color: $ornament;font-size: 14px;line-height: 24px;}
.module_item .gift_view{color: $font-content;margin:0 5px;line-height: 24px;}
.module_item .order_btn{float: right;padding: 2px 12px;@include setBorderRadius(20px);background-color: $ornament;color: $font_white;cursor:pointer; }
.module_foot{text-align: center;}
//活动规则
.act_rules{color: $font-white;font-size: 14px;}
.act_title{text-align: center;font-size: 18px;}
.act_item{padding:15px;width: 100%;font-size:14px;line-height:20px;}
.rules_img img{width: 100%;height: auto;}
//礼包详情
.gift_detail{background-color: $font-white;width:setCalc(100%,20px);position: fixed;z-index:10;left: 20px;top:20px;right: 20px;@include setBorderRadius(10px);padding:10px;@include setBoxSizing();}
.gift_detail .gift{overflow-y:auto;}
.gift_name{font-size: 24px;color:$font_deep;padding:10px 0px;text-align: center;}
.gift_item{margin: 15px 0px;}
.gift_title{color: $font_deep;font-size: 16px;}
.gift_price{color:$ornament;}
.gift_desc{color:$font_content;font-size: 14px;margin-top:5px;}
.gift_supplier{text-align: center;border-top: 1px dashed $border_box;padding:10px 0px;}
.supplier_logo{width: 100%;text-align: center;}
.logo_img{max-width:30%;height:55px;margin:10px 2%; }
.J_close{position: absolute;right: 0px;top:0px;color: $font_content;font-size: 20px;padding:10px;cursor:pointer;}
.J_goPro{margin:10px 0;}
.J_getGift{margin-bottom: 5px;}
.share_tips{position: fixed;top:0;width: 100%;height: 100%;overflow: hidden;background-color:rgba(0,0,0,0.8);text-align:center;}
.share_tips img{width:92%;}

//分享成功
.share_div{width:100%;position: fixed;top:50px;z-index: 10;}
.share_div .share_body{width:300px;margin:0 auto;text-align:center;background-color: $font-white;@include setBorderRadius(10px);padding:20px 15px;position:relative;}
.share_div .share_title{font-size: 24px;line-height: 40px;}
.share_div .phone_gift{}
.share_div .erro{color: $ornament;}
.input_phone{width: 100%;height: 40px;padding-left:10px;@include setBoxSizing();@include setBorderRadius(4px);background-color: #eee;border:none;font-size: 14px;margin:15px 0px;}
.btn_full{width: 100%;height: 40px;font-size: 16px;line-height:40px;}