/* reset */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  outline: 0;
  box-sizing: border-box;
  -webkit-box-sizing: border-box;
  -webkit-tap-highlight-color: transparent; }

html {
  min-height: 100%;
  font-size: 100%;
  -webkit-text-size-adjust: 100%; }

body {
  margin: 0 auto;
  padding: 0;
  max-width: 640px;
  min-height: 100%;
  font-family: Helvetica, Arial, sans-serif;
  font-size: 12px;
  position: relative;
  word-break: break-all; }

a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.35); }

img {
  -ms-interpolation-mode: bicubic;
  vertical-align: middle;
  border: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

th, td, caption {
  vertical-align: middle; }

textarea {
  resize: none; }

input, button, select, textarea {
  outline: none;
  border-radius: 0;
  font-family: inherit;
  font-size: inherit;
  box-sizing: border-box; }

ul, ol, li {
  list-style: none; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  font-size: 0;
  clear: both;
  visibility: hidden; }

.fl {
  float: left; }

.fr {
  float: right !important; }

.mt20 {
  margin-top: 20px; }

body {
  background-color: #fe7a32; }

.music-wrap {
  position: absolute;
  width: 43px;
  height: 43px;
  right: 10px;
  top: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  border-radius: 50%;
  z-index: 10;
  background-image: url(/m/activity/interlocution/images/s.png?v=1.1);
  background-size: 294px auto;
  background-repeat: no-repeat;
  background-position: -247px -106px; }
  .music-wrap.on {
    -webkit-animation: play 2s infinite linear; }

@-webkit-keyframes play {
  0% {
    -webkit-transform: rotate(0deg); }
  100% {
    -webkit-transform: rotate(359deg); } }
.page-wrap img {
  display: block;
  width: 100%; }

.fixed-bar {
  height: 71px; }
  .fixed-bar div {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 10px 0;
    text-align: center; }
  .fixed-bar a {
    display: block;
    width: 279px;
    margin: 0 auto;
    height: 51px;
    background-image: url(/m/activity/interlocution/images/s.png?v=1.1);
    background-size: 294px auto;
    background-repeat: no-repeat;
    background-position: 0 0; }

.prize-list {
  margin-top: 10px;
  padding: 0 27px;
  color: #fff; }
  .prize-list li {
    float: left;
    width: 50%;
    padding: 0 27px;
    text-align: center;
    margin-bottom: 10px; }
    .prize-list li:nth-of-type(3n) div {
      background-color: #2aaaab; }
    .prize-list li:nth-of-type(3n+1) div {
      background-color: #319b51; }
    .prize-list li:nth-of-type(3n+2) div {
      background-color: #e74a32; }
  .prize-list div {
    display: inline-block;
    width: 84px;
    height: 84px;
    border-radius: 50%;
    overflow: hidden; }
  .prize-list h3 {
    font-size: 14px;
    background-color: #fff;
    color: #e74a32;
    line-height: 34px;
    height: 29px; }
  .prize-list strong {
    display: block;
    position: relative;
    text-align: center;
    line-height: 50px;
    font-size: 24px; }
    .prize-list strong:first-letter {
      font-size: 20px; }
    .prize-list strong:before {
      content: '';
      position: absolute;
      left: 2px;
      top: 0;
      width: 100%;
      height: 3px;
      background-image: url(/m/activity/interlocution/images/s.png?v=1.1);
      background-size: 294px auto;
      background-repeat: no-repeat;
      background-position: 0 -156px; }
  .prize-list p {
    margin-top: 5px;
    font-style: 14px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis; }

body {
  padding: 0 5px;
  color: #fff;
  font-family: 'Microsoft YaHei';
  padding: 20px 15px; }

.rule-title {
  text-align: center;
  padding: 5px 0; }
  .rule-title span {
    display: none; }
  .rule-title:before {
    content: '';
    display: block;
    margin: 0 auto;
    width: 267px;
    height: 45px;
    background-image: url(/m/activity/interlocution/images/s.png?v=1.1);
    background-size: 294px auto;
    background-repeat: no-repeat;
    background-position: 0 -417px; }

.link-btn {
  text-indent: -640px;
  overflow: hidden;
  display: block;
  margin: 0 auto 5px;
  width: 211px;
  height: 51px;
  background-image: url(/m/activity/interlocution/images/s.png?v=1.1);
  background-size: 294px auto;
  background-repeat: no-repeat;
  background-position: 0 -465px; }

.sub-title {
  font-size: 22px;
  text-align: center;
  padding-bottom: 5px; }

.img-wrap {
  text-align: center;
  margin-bottom: 5px;
  margin: 10px 0px; }
  .img-wrap img {
    width: 150px;
    margin: 10px 0px; }

.help-block {
  font-size: 12px;
  text-align: center;
  color: #eee4e4;
  margin-top: 40px;
  line-height: 30px; }

.rules {
  font-size: 14px;
  line-height: 20px;
  padding: 16px 0 12px; }
  .rules p {
    margin-bottom: 5px; }

.contact-info {
  text-align: center;
  line-height: 2;
  padding-bottom: 5px; }
  .contact-info h4 {
    font-size: 16px; }
  .contact-info a {
    color: #fff;
    text-decoration: underline; }

.supplier_logo {
  max-height: 80px;
  max-width: 140px; }

.color_org {
  color: #fff;
  text-decoration: underline; }
