
@import url("http://static.gmmtour.com/www/pc/skin/css/components/header.css");
@import url("http://static.gmmtour.com/www/pc/skin/css/components/footer.css");
body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,button,textarea,blockquote,th,td,p{margin:0;padding:0}
input,button,select,textarea{outline:none}li{list-style:none}img{border:none}textarea{resize:none}
body{color:#666;background:#fff;word-break:break-all;word-wrap:break-word;text-align:center;min-width:1180px !important;}
body,input,textarea{font-size:12px;font-family:"Microsoft Yahei", "Lantinghei SC", "Hiragino Sans GB", "Helvetica Neue", Helvetica, Arial, sans-serif}
a{color:#305999;text-decoration:none;outline:none}
section{min-width:1180px;clear:both;}

.bannar{height:750px;background-color: #ff8b48}
.bannar div{width:940px;height:750px;overflow:hidden;margin:0 auto;}
.bannar div>img{margin-top:80px;margin-left:140px}

.airtic{height:354px;background:#fff url("../../images/introduce/yet/1.png") no-repeat center}

.information{height:180px;overflow:hidden; background:url("../../images/introduce/yet/2.png") no-repeat center}

.picter1{height:600px;background:#fff url("../../images/introduce/yet/3.png") no-repeat center}

.picter2{height:600px;background:#fff url("../../images/introduce/yet/4.png") no-repeat center}


.icon{height:750px;background:#f9f9f9 url("../../images/introduce/yet/5.png") no-repeat center}

.items{height:140px; background:#fff url("../../images/introduce/yet/6.png") no-repeat center;}


.art{margin:0; padding:0;width:180px;position:fixed;z-index:999;top:45%;right:8%;box-shadow:0 0 10px 0px rgba(0,0,0,0.1);display:none}
.art li{list-style:none;}
.art li a{display:inline-block;text-decoration:none;color:#999;width:180px;height:54px;line-height:54px;font-size:22px;text-align:center;background-color:#fff;}
.active{background-color:#ff8b48 !important;color:#fff !important;}

