@charset "utf-8";
@import "../theme.scss";
/*产品列表*/
.lmProductList {padding: 10px 5px 0px 5px;}
.lmProductList li {display:inline-block;width: 50%;padding: 0 5px;-webkit-box-sizing: border-box;-moz-box-sizing: border-box;box-sizing: border-box;}
.lmProductList .box {position: relative; background-color: $font_white;color: $font_deep; margin-bottom: 10px;}
.lmProductList .box a {color: $font_deep;}
.lmProductList .box .pic{position: relative;}
.lmProductList .box .texts {padding:2px 8px;}
.lmProductList .box .texts .descr {height: 25px;color:$ornament;margin-right:5px;line-height: 20px;}
.lmProductList .box .texts  .date {height: 25px;line-height: 25px;font-size: 12px;overflow: hidden;white-space: nowrap;text-overflow: ellipsis;color:$font_content;}
.lmProductList .box .texts  .date .gmIcon{font-size:14px!important;line-height:22px;}
.lmProductList .box .texts .title {height: 34px;line-height: 18px;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 2;word-break: break-all;}

/*产品轮播图*/
.swipe {width: 100%;overflow: hidden;position: relative;}
.swipe-wrap {overflow: hidden;position: relative;}
.swipe-wrap li {float: left;width: 100%;position: relative;}
.swipe-wrap a {display: block;}
.swipe-wrap img {display: block;}
.swipe_price{display: inline-block;margin-top: 8px;}
.swipe_proPrice {background:$ornamentDeep;display: inline-block;color: $font_white; max-width: 120px;padding: 2px 8px;font-size: 12px;border-radius: 16px;}
.swipe-wrap .mask {position: absolute;left:0px;bottom: 0;height:40px;line-height:18px;background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(transparent), to($font_deep)); background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to($font_deep));background: -webkit-linear-gradient(top, transparent, $font_deep);background: -o-linear-gradient(top, transparent, $font_deep);color:white;width:100%;}
.swipe-wrap .mask .pl_10{padding:0px 10px;}
.swipe-wrap .title {color: $font_white;font-size:14px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;max-width:35%;box-sizing:border-box;line-height: 40px;display: inline-block;}
.swipe .page {position: absolute;bottom:15px;right:10px;height:10px;text-align: right;color: $font_white;width:100px;}
.swipe .page li{background-color:$color_desc;display: inline-block;width: 10px;height: 10px;border-radius:10px;} 
.swipe .page li.on {background-color:$themeDeep;width:10px;height:10px;border-radius:10px;}

/*产品类型标签*/
.team, .freeWalker, .cruiseShip{margin:3px 3px 0 0;display:inline-block;color:$font_white;font-size:12px!important;line-height:100%;padding:4px 8px;position: absolute;bottom:10px;left:10px;border-radius:12px;}
.team{background-color:$team;}
.freeWalker{background-color:$free;}
.cruiseShip{background-color:$ship;}
/*产品类型标签 - 居上位置*/
.hot_group .team, .hot_group .freeWalker, .hot_group .cruiseShip{position: absolute;bottom:10px;left: 10px;padding:4px 7px;margin:0;}
.pic .team, .pic .freeWalker, .pic .cruiseShip{position: absolute;bottom:10px;left: 10px;padding:4px 7px;margin:0;}

/*原价的价格标签*/
.outPrice{color:$font_content;font-size:12px;line-height:22px;text-decoration: line-through;}
/*优惠标签*/
.sale_label{background-color:$ornament;color:#fff;font-size:14px;display:inline-block;height:22px;line-height:22px;margin-left:15px;position:relative;padding:0px 5px;border-radius:2px;vertical-align:inherit}
.sale_label .cour{width: 0;height: 0;border-top: 4px solid transparent;border-right:4px solid $ornament; border-bottom: 4px solid transparent;position:absolute;left:-4px;top:5px;}
.sale_label2{background-color:$ornament;color:#fff;padding:2px 5px;border-radius:2px;margin-left:10px;font-size:12px!important;position:relative;}
.sale_label2 .cour{width: 0;height: 0;border-top: 5px solid transparent;border-right: 5px solid $ornament; border-bottom: 5px solid transparent;position:absolute;left:-5px;top:5px;}

.theme_bg{background-color: $theme;}
.bg_white{background-color: $font_white;}
//出发地标签
.departrueLable{background-color:rgba(0,0,0,0.6);position: absolute;left:10px;top: 10px;padding:2px 10px;@include setBorderRadius(20px);color: $font_white;font-size: 12px;}
//sale价格标签
.priceLable{vertical-align: bottom;font-size: 12px;color: $font_white;display:inline-block;position:absolute;bottom:20px;right:0;max-width: 100px;@include setBoxSizing();}
.original{padding: 0px 5px;@include setBoxSizing();}
.original .price{font-size: 20px;}
.priceLable .salePrice{background-color: #fff;text-align: center;display:inline-block;width: 100%;padding:1px 0;}
//灰色产品亮点描述
.greySmall{font-size: 12px;color: $font_content;}

//优惠券
.saleCode{border:1px solid $tag_red;font-size: 12px;color: $tag_red;@include setBorderRadius(4px);padding:2px 5px;display:inline-block;margin-bottom:5px;}
//特价
.specialCode{border:1px solid $tag_purple;font-size: 12px;color: $tag_purple;@include setBorderRadius(4px);padding:2px 5px;display: inline-block;margin-bottom:5px;}
//天天发团
.dayCode{border:1px solid $tag_green;font-size: 12px;color: $tag_green;@include setBorderRadius(4px);padding:2px 5px;display: inline-block;margin-bottom:5px;}