@charset "utf-8";

body{ box-shadow:none; background-color:#f2f2f2; overflow-x: hidden;}

/* 上传按钮 */
.upfilebutton {    
    display: inline-block;    
    position: relative;
    min-width: 60px;
    height: 25px;
    line-height: 25px;    
    padding: 0 10px;
    text-align: center;
    font-size: 14px;
    background-color: #5bc0de;
    border: medium none;
    border-radius: 5px;
    color: #fff;    
}
.btns a{
    color: #fff;
    display: inline-block;
    height: 20px;
    width: 100%;
}
.input-files{
    border: medium solid transparent;
    cursor: pointer;
    font-size: 30px;
    margin: 0;
    position: absolute;
    right: 0;
    top: 0;
    max-width: 104px;
    opacity: 0;   
}

.color-strong{ color: #6599ff; }
.texts{ padding: 15px 0 15px 23px; color:#4a4a4a; border-top: 1px solid #bfbfbf; }
.date,.info-shuoming{ padding-top: 10px; }
.date strong{ margin-right:25px; }
.info-shuoming{ color: #9e9e9e; }
.overflow-hidden{overflow:hidden;}
.header { border-bottom:1px solid #cecece; box-shadow:1px 0px 2px #e6e6e6; -webkit-box-shadow:1px 0px 2px #e6e6e6; }
.header .page_name{ color:#6699ff!important;}
.header .return_block span.planIco{ width:29px; height:40px;display: inline-block; background:url(/m/theme/manage/images/common/weiweb.png) no-repeat 7px 13px; background-size:70% 58%; }
.header .return_home span.planIco1{ width:40px; height:40px;display: inline-block; background:url(/m/theme/manage/images/common/search.png) no-repeat 0px 12px; background-size:50% 50%; }
.plan-mian{ margin: 4px auto 14px;clear: left; width: 97%; border: 1px solid #bfbfbf; border-radius: 5px; background-color:#fff; }
.top-ul li{ position:relative; display: inline; float: left; height:44px; line-height:44px; font-size: 0.9286rem; text-align:center; font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53; }
.top-ul{ margin: 0 auto; width: 100%;box-sizing: border-box;}
.top-ul li.list1{ width: 21%;box-sizing:border-box; }
.top-ul li.list2{ width: 32%; box-sizing:border-box;}
.top-ul li.list3{ width: 26%;}
.top-ul li .list-s{display: inline-block; width: 100%;text-align:center;}
.zonghesele{ color:#6599ff; }
.top-ul li span{ display: inline-block; margin-top:8px; height: 27px; line-height: 27px; }
.top-ul li span.pos{}
.top-ul li .total{ margin-top: 8px; padding-right: 8px; float:right; font-size: 0.7143rem; color: #9e9e9e; border-right: 1px solid #c2c2c2; }
.top-ul li i{ display: inline-block; float: left; vertical-align: middle; }
.top-ul li i.total-ico{ width:10px; height: 17px; background: url(/m/theme/manage/images/common/desc.png) no-repeat; vertical-align: middle; background-size: 80% 65%; }
.top-ul li i.total-ico1{ width:10px; height: 13px; background: url(/m/theme/manage/images/common/upjt.png) no-repeat; vertical-align: middle; background-size: 80% 90%; }
.top-ul li .filter_icon{width:12px; height:12px;margin-top: 8px; }
.top-ul li .J_filter{width:100%;box-sizing:border-box;height:33px; text-align:center; }
.texts{ padding: 11px; color:#4a4a4a; border-top: 1px solid #bfbfbf; }
.texts .title{ white-space:nowrap; overflow:hidden; text-overflow:ellipsis; }
.date,.info-shuoming{ padding-top: 5px; }
.date span{ display: inline-block; width: 70%; overflow: hidden; white-space: nowrap; text-overflow: ellipsis; }
.info-shuoming{ color: #9e9e9e; }
.product_item{display:block;}
#loading {
  width: 40%;
  height: 30px;
  line-height: 30px;
  text-align: center;
  margin: 20px auto;
  padding-left:8%;
  font-size: 12px;
  cursor: pointer;
  border-radius: 2px;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  background:#fff;
 border:1px solid #6699ff;
}
#loading.loading {
  background: url(/m/theme/manage/images/loading.gif) no-repeat 10% #fff;
  background-size:22px 22px;
}
#loading.load-more{ margin:20px auto 0; width: 60%; height: 30px; line-height: 30px; color: #6699ff; border: 1px solid #6699ff; cursor: pointer; text-align: center; }


#plan-loading { 
    display:block;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto;
    padding-left:8%;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background:#fff; 
    border:1px solid #6699ff;
    border-radius:4px;
    color:#6599ff; 
}
#plan-loading.loading {
  background: url(/m/theme/manage/images/loading.gif) no-repeat 10% #ffffff;
  background-size:22px 22px;
}
#plan-loading.load-more{ margin:20px auto 0; width: 60%; height: 30px; line-height: 30px; color: #6699ff; border: 1px solid #6699ff; cursor: pointer; text-align: center; }

#supplier-loading {
    display:none;
    width: 40%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    margin: 20px auto;
    padding-left:8%;
    font-size: 12px;
    cursor: pointer;
    border-radius: 2px;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    background:#fff; 
    border:1px solid #6699ff;
    border-radius:4px;
    color:#6599ff;
}
#supplier-loading.loading {
  background: url(/m/theme/manage/images/loading.gif) no-repeat 10% #ffffff;
  background-size:32px 22px;
}
#supplier-loading.load-more{ margin:20px auto 0; width: 60%; height: 30px; line-height: 30px; color: #6699ff; border: 1px solid #6699ff; cursor: pointer; text-align: center; }
.alink{ background:#f1f1f1; }

/* 帅选微空 */
.screen-null{ margin:60px auto 0; width:132px; color:#a0a0a0; text-align:center; }
.screen-null p{ font-size:1.2rem; }
.checkAllPlan{ display:block; margin:15px auto;width:120px; height:30px; line-height:30px; text-align:center; color:#fff; border-radius:4px;  background:#6599ff; }


/* 筛选弹出 box */
.funScreen-box{ position:fixed; top:0; overflow-x:hidden; right:-1000px; width:85%; height:100%; border-left:62px solid rgba(0,0,0,0.3); background: #f2f2f2;
    -webkit-overflow-scrolling: touch; 
  font-family:\5FAE\8F6F\96C5\9ED1,\9ED1\4F53; 
  -moz-background-clip: border; /* Firefox 3.6 */    
  -webkit-background-clip: border; /* Safari 4? Chrome 6? */    
  background-clip: border-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */    
  -moz-background-clip: padding; /* Firefox 3.6 */    
  -webkit-background-clip: padding; /* Safari 4? Chrome 6? */    
  background-clip: padding-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */    
  -moz-background-clip: content; /* Firefox 3.6 */    
  -webkit-background-clip: content; /* Safari 4? Chrome 6? */    
  background-clip: content-box; /* Firefox 4, Safari 5, Opera 10, IE 9 */ }
.box a{ display: block; }
.box a.selected{ background: #dcdcdc; }
.selet-w{ width: 79%; height: 32px; line-height: 32px; border: 1px solid #ccc;  color: #c2c2c2; border-radius: 4px; }
.fun-Screen{ padding:0 16px; background: #fff; border-bottom: 1px solid #e6e6e6; }
.fun-Screen li{ height: 44px; line-height: 44px;  display: inline-block; float: left; }
.fun-Screen li.middle-li{ margin: 0 30%;}
.fun-Screen li a{ font-size: 1rem; color:#6e6e6e; }
.funScreen-item { margin-top:6px; padding:12px 16px 0 16px; background: #fff; border-bottom: 1px solid #e8e8e8; }

/*  价格区间    */
.line-box { margin-bottom: 12px; }
.line-box span{ display:inline-block; margin-top:7px; }
.line-box label{ display: inline-block; float: left; line-height: 30px; font-weight: bold; }
.line-box .label1{  width:49px;  }

.line-box .label2{ margin-right: 5px; /*width: 70px;*/ }
.mod-select{position: relative;display: inline-block;margin-right: 10px; /*min-width: 136px;*/ width: 75%; height: 30px;background: #fff; }
.mini-input{ padding-left:1.5%;width:27.5%; /* height:32px; line-height:32px;*/ padding:6px 0; border: 1px solid #c2c2c2; border-radius: 4px; color: #c2c2c2; font-size:1.12rem; }
.data-mini-input{ margin-bottom:5px; min-width:55%;}
.data-min{ width: 63px; }
.hide{ display:none; }
.data-a{ display: inline-block; margin:0 3px 7px 0; padding: 3% 5%; color:#4a4a4a; border: 1px solid #c2c2c2; border-radius: 4px; }
.dl-item { position: relative; margin-bottom: 10px; overflow: hidden; }
.dl-item dt{ font-weight: bold; }
.dl-item .auto-height{ height: 100%; }
.dl-item i{ position: absolute; top:2px; right: -9px; display: inline-block; width: 38px; height: 20px; }
.dl-item i.dt-ico{  background: url(/m/theme/manage/images/common/seledown.png) no-repeat center; background-size: 50% 45%; vertical-align: middle; }
.dl-item i.dt-ico1{ background: url(/m/theme/manage/images/common/seleup.png) no-repeat center; background-size: 50% 45%; vertical-align: middle; }
.dl-item dd{ margin-top: 10px; height:40px; overflow: hidden; }
.daysele{ background-color: #6599ff; color: #fff; }
.send-input{ width:74%; padding: 5px; height: 22px; line-height: 22px; border: 1px solid #c2c2c2; border-radius: 4px; color: #c2c2c2; }
.clear-btnbox{ margin-top:30px; }
.clear-btn{ display:inline-block; margin:0 auto; width: 40%; height: 34px; line-height: 34px; text-align: center; color:#4a4a4a; border: 1px solid #959595; border-radius: 4px; }
.ensure-btnbox{ /*position:absolute; bottom:0; width:100%;*/ }
.ensure-btn{ display:inline-block; width:57%; height:36px; line-height:36px; color: #fff; text-align: center; font-size: 0.857rem; background:#6599ff; border-radius:4px; }
.J_ensure{color: #6599ff !important;}

.sendTc{ position: absolute; top: 0; left: 0; display: none; width: 100%; background:#fffefe; overflow: hidden;}
.sendTc .returnTop{display: none !important;}
.host-box {}
.host-box dt{ padding: 10px 0 0 15px; font-size: 1rem; font-weight: bold; height:23px; background-color:#dcdcdc; }
.host-box dt .host-ico{ float:right; margin:-3px -5px 0 0; display:inline-block; width:42px; height:40px; background:url(/m/theme/manage/images/common/close.png) no-repeat ; background-size:50% 50%; }
.host-box dd{ margin-top: 15px; max-height: 68px; overflow: hidden; }
.host-box span { display: inline-block; margin: 0 0 6px 10px; width: 20%; height: 26px; line-height: 26px; text-align:center; border-radius:4px; border: 1px solid #a5c1f7; color: #a5c1f7; }
.name-dl{width:100%;}
.name-dl dt{ padding-left: 5%; height: 25px; line-height: 25px; background: #dcdcdc; border-bottom: 1px solid #f6f5f5; }
.name-dl dd{ width: 90%; margin: 0 auto -1px; height: 44px; line-height: 44px; border-bottom: 1px solid #ccc; }
.zm-box{ position: fixed; top:10%; right:4px; color: #696565;   width: 40px; z-index: 9999;}
.zm-box span,.zm-box a{ display:block; font-weight: bold; }
.zm-box span{ margin-bottom:4px; font-size:11px; text-align:center; } 
.zm-box a{ display:block;  z-index:20;width:40px; text-align: center; text-decoration:underline; font-size: 11px;}

/* search-page */

input::-webkit-input-placeholder{
    color: #bfbfbf;
}
input::-moz-placeholder{
    color: #bfbfbf;
}
input::-ms-placeholder{
    color: #bfbfbf;
}

.search-box-menu{ height:40px; line-height:40px;  border-bottom:1px solid #bfbfbf; }
.search-box-menu span { position:relative; display:inline-block; float:left; width:50%; text-align:center; border-radius:4px 0 0 0 ; }
.selected{ background-color:#6599ff; color:#fff; }
.selected i{
    position:absolute; top:40px; left:40%; display:block;
    border-left:18px solid transparent;
    border-right:18px solid transparent;
    border-top:8px solid #6599ff;
}

.tab-content {}
.ipt-box{ margin-top:35px; padding:0 10px; }
.ipt-box input{ width:73%; padding-left:2%; height:30px; line-height:30px; border-radius:4px; border:1px solid #c2c2c2; color:#bfbfbf; }
.search-btn { display:inline-block; margin-left:10px; padding:0 9px; width:36px; height:31px; float:right; border-radius:4px; background:url(/m/theme/manage/images/common/search/search1.png) no-repeat center center #6599ff; background-size:39% 63%; }

.history-box{ margin-top:23px; padding:0 10px;text-align:center; }
.history-box .clear-btn{ margin:30px auto 20px; border:1px solid #6599ff; color:#6599ff; }
.history-box  p{ height:27px; line-height:27px; border-bottom:1px solid #bfbfbf; }
.history-ul li{ height:39px; line-height:39px; border-bottom:1px solid #bfbfbf; font-weight:600; color:#424242; font-size:1.258rem; overflow:hidden; white-space:nowrap; text-overflow:ellipsis; }


/* 有结果页面  */
.jiage-fun{ margin-top:20px; padding-bottom:8px; font-size:1rem; color:#9e9e9e; }
.jiage-s{ position:relative; display:inline-block; width:65px; margin-left:30px; font-size:1.28rem; color:#4a4a4a; }
.jiage-upjt{ display:inline-block; margin:5px 0 0 3px; width:10px; height:16px; background:url(/m/theme/manage/images/common/upjt.png) no-repeat; background-size:65% 65%; }
.jiage-fun .fr{ margin:5px 10px 0 0; }

.jiage-fun .pos{ position: absolute; top: 3px; right:2px; width: 27px; }
.jiage-fun i { display:inline-block; }
.jiage-fun i.total-ico{ width:10px; height: 17px; background: url(/m/theme/manage/images/common/desc.png) no-repeat 0px 2px; vertical-align: middle; background-size: 80% 65%; }
.jiage-fun i.total-ico1{ width:10px; height: 16px; background: url(/m/theme/manage/images/common/upjt.png) no-repeat; vertical-align: middle; background-size: 80% 70%; }

.lmProductList {
  padding: 10px 5px;
}
.lmProductList li {
  float: left;
  width: 50%;
  margin-bottom: 10px;
  padding: 0 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.lmProductList .box {
  position: relative;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.15);
  background-color: #fff;
  color: #4a4a4a;
  margin-bottom: 10px;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
}
.lmProductList .box a {
  color: #4a4a4a;
}
.lmProductList .box .pic {
  position: relative;
}
.lmProductList .box .pic .descr {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 25px;
  background: rgba(244, 238, 238, 0.5);
  line-height: 25px;
}
.lmProductList .box .pic .descr span {
  padding: 0 2px;
  font-weight: bold;
}
.lmProductList .box .pic .descr .price {
  color: #ff6c00;
}
.lmProductList .box .texts  div:FIRST-CHILD {
  height: auto;
  line-height: 25px;
  font-size: 12px;
  padding-left: 5px;
}
.lmProductList .box .texts  .date {
  height: 25px;
  line-height: 25px;
  font-size: 12px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  padding-left: 5px;
}
.lmProductList .box .texts .title {
  border-bottom: 1px solid #e5e5e5;
}

.no-more{
    width: 95%;
    text-align: center;
    color: gray;
    height: 30px;
    line-height: 30px;
    margin:20px auto;
}
.no-more .text{
    width:20%;
    text-align: center;
}
.no-more .line{
    width: 40%;
    height: 15px;
    border-bottom: 1px solid lightgrey;
}
.no-result{
    font-size: 14px;
    background-color:white ;
    width: 100%;
    height: auto;
}
.no-result img{
    zoom:1.0;
}
.no-result .backBtn{
    width:120px;
    height: 26px;
    color: white;
    border: none;
    border-radius:4px ;
    -moz-border-radius:4px;
    -webkit-border-radius: 4px;
}


/* 搜索 */
.text-center { margin:15px auto; }


@media screen and  ( max-device-width : 320px ) and ( -webkit-min-device-pixel-ratio : 2) {
        .zm-box a{ margin-bottom:-1px; }
}
@media (min-width :322px ){
    right:-368px;   
}

@media (min-device-width:375px ) and ( max-device-width : 667px ) and ( -webkit-min-device-pixel-ratio : 2){
    
    .zm-box{ top:33px;bottom: 10px;}
    .zm-box a{ margin-bottom:6px; }
    /*.mini-input{ width:15%; }*/
    .data-mini-input{ min-width:58%; }
}
.departure-place-name{margin:0px;width:74%; padding: 5px; height: 22px; line-height: 22px; border: 1px solid #c2c2c2; border-radius: 4px; color: #c2c2c2;}
.line-box span.departure-place-name{margin:0px;}