@charset "utf-8";

@import "reset";
@import "header";
@import "footer";
html{height:100%;}
.error{width:400px;margin:0 auto;margin-top:120px;text-align:center;}
.error .pic img{width:384px;height:146px;}
.error .txt{margin-top:40px;color:#999999;font-size:20px;}
.error .btn{margin-top:20px;}
.error .btn button{width:140px;height:36px;text-align:center;line-height:36px;color:#666666;font-size:18px;border:solid 1px #e5e5e5;background-color:#ffffff;}