@charset "utf-8";

/* pro-list start */
.pro-list{overflow:hidden;}
.pro-list li{position:relative;float:left;width:280px;height:360px;margin-right:20px;margin-bottom:20px;}
.pro-list li:last-child{margin-right:0;}
.pro-list li div[class$="-tour"]{position:absolute;right:0;top:20px;text-align:center;padding-top:4px;padding-left:4px;width:64px;height:26px;color:#ffffff;font-size:12px;background-size:100% 100%;min-height:0;}
.pro-list li .group-tour{background-image:url(../../images/group-tour.png);}
.pro-list li .free-tour{background-image:url(../../images/free-tour.png);}
.pro-list li .ship-tour{background-image:url(../../images/ship-tour.png);}
.pro-list li a{display:block;}
.pro-list li .txt{position:absolute;bottom:0;padding:15px;width:100%;height:150px;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;-moz-transition:0.5s;color:#999999;border:solid 1px #dedede;border-top:none;background-color:#ffffff;}
.pro-list li .txt .name{position:relative;margin-bottom:10px;height:14px;font-size:14px;line-height:1;}
.pro-list li .txt .name>span{display:inline-block;max-width:108px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;}
.pro-list li .txt .name i{float:left;font-size:14px;margin-right:5px;}
.pro-list li .txt .name .price{position:absolute;bottom:0;right:0;color:#ff7e1d;font-size:12px;line-height:1;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;-moz-transition:0.5s;}
.pro-list li .txt .name .price .num{font-size:20px;}
.pro-list li .txt .title a{display:-webkit-box;width:100%;text-overflow:ellipsis;-webkit-line-clamp:2;-webkit-box-orient:vertical;margin-bottom:10px;height:44px;overflow:hidden;color:#333333;font-size:16px;font-weight:700;text-decoration:none;line-height:22px;}
.pro-list li .txt .detail{display: -webkit-box;width: 100%;text-overflow: ellipsis;-webkit-line-clamp: 2;-webkit-box-orient: vertical;height: 32px;overflow: hidden;line-height: 16px;font-size:12px;-webkit-transition:height 0.2s;-o-transition:height 0.2s;transition:height 0.2s;}
.pro-list li:hover .txt{background-color:#ff9248;color:#ffffff;border-color:#ff9248;}
.pro-list li:hover .txt,.pro-list li:hover .txt .title a,.pro-list li:hover .txt .price{color:#ffffff;}
/* pro-list end */
/* 如果hover效果需要增加高度 .pro-list li:hover .txt{height:180px;} */