@charset "utf-8";
@import "../../style/unit";
@import "../../style/varibale";
.personalInfo{
  text-align: center;
  padding:transform-rem(20) 0 transform-rem(10) 0;
  margin-bottom: transform-rem(5);
  display: inline-block;width: 100%;
  border-bottom: 1px dashed $bottomColor;
  .u_info,.u_count{
    color: $summaryColor;
    font-size: transform-rem(12);
    padding-top:transform-rem(10);
  }
  .u_name{
    padding-top:transform-rem(5);
  }
  .wl-peopple{font-size: transform-rem(60); color:$tipsColor;}
  .info_sex{color:  #3BA5FF; font-size: transform-rem(12);}
}