@charset "utf-8";

@import "../components/reset";
@import "../components/header";
@import "../components/footer";

html,body{height:100%;background-color:#f6f6f6;}
section{margin-top:-82px;margin-bottom:-60px;padding-top:81px;padding-bottom:60px;height:100%;}
.submit-success{margin:0 auto;margin-top:40px;margin-bottom:40px;padding-top:80px;width:1180px;height:460px;text-align:center;border:solid 1px #d8d8d8;background-color:#ffffff;}
.submit-success .pic{color:#4BC5D1;font-weight:700;font-size:18px;line-height:1;}
.submit-success .remark{margin-top:10px;}
.submit-success button{margin-top:20px;}

