@charset "UTF-8";
.gm-date, .gm-light, .gm-card-logo, .gm-file-logo, .gm-dynamic {
  font-size: 24px !important;
  display: inline-block;
  margin-top: -2px; }

body .dest_other .dest_other_li .dest_other_li_title,
body .product_spot_show .showButton {
  color: #ff7e1d; }

body .header .return_back .gmIcon,
body .header .return_home .gmIcon {
  color: #ff7e1d; }

/*列表*/
body .lmTopFilter li.current {
  color: #ff7e1d;
  box-sizing: border-box;
  padding-bottom: 25px;
  border-right: 1px solid #e5e5e5;
  border-left: 1px solid #e5e5e5; }

body .lmTopFilter li.no_current {
  border-bottom: none;
  padding: 13px 0x;
  border-bottom: 1px solid #e5e5e5; }

body .lmTopFilter li.current * {
  color: #ff7e1d; }

body .header .search-title {
  color: #ff7e1d; }

body .no-result .backBtn {
  color: #666;
  background: #fff;
  padding: 4px 20px;
  border-radius: 4px;
  border: 1px solid #d8d8d8; }

body #lmTopFilters .outer-box .btn, body .header .search .box .searchBtn {
  background: #ff7e1d; }

body .lmTopFilterDrop .oneList li.current {
  color: #ff7e1d;
  background: #fff; }

body #lmTopFilters .outer-box-content input {
  border: 1px #e5e5e5 solid;
  -webkit-appearance: none;
  border-radius: 4px; }

body #lmTopFilters .outer-box-content .btn {
  border: 1px #ff7e1d solid;
  -webkit-appearance: none; }

body .lmTopFilter li.current:not(.disabled):after {
  border-color: #fff #ff7e1d #ff7e1d #fff; }

/*搜索*/
/*产品详情*/
body .other_title .other_title_li.on {
  color: #ff7e1d;
  border-color: #ff7e1d; }

body .product_spot {
  height: 30px;
  line-height: 30px; }

body .day_body .day_body_line {
  border-left: 1px dashed #d8d8d8;
  box-sizing: border-box; }

body .day_body .day_title {
  color: #ff7e1d; }

body .day_body .end_day {
  color: #ff7e1d;
  font-size: 16px; }

body .itembg .gmIcon {
  z-index: 20;
  background: #fff;
  font-size: 18px; }

body .day_body .day_info_li .hotel .hotel_li .hotel_li_name {
  color: #ff7e1d; }

/*动感行程*/
body .dynamic {
  position: relative;
  height: 30px;
  line-height: 30px;
  background-size: 15px 15px;
  overflow: hidden;
  cursor: pointer; }

body .dynamic .icon-next {
  position: absolute;
  right: 0px;
  top: 0px;
  width: 15px;
  height: 30px; }

/*附件*/
body .fileup .upfile_number {
  color: #ccc; }

/*登录*/
body .main .login-group .login-btn {
  background-color: #ff7e1d; }

body .main .done .know {
  background-color: #ff7e1d;
  width: 100%;
  box-sizing: border-box; }

body .main .done .login-user {
  color: #ff7e1d; }

body .main .done input[type=checkbox]:checked + label:after {
  color: #ff7e1d;
  font-size: 22px;
  line-height: 16px;
  border: none;
  content: "\e602";
  position: absolute;
  left: -2px;
  top: 0px; }

/*联系客服*/
.contact .telPhone {
  background: #ff7e1d; }

body .more_but_parent {
  position: relative;
  overflow: hidden;
  cursor: pointer; }

body .more_but_parent .mores {
  position: absolute;
  right: 0px;
  top: 0px;
  padding-right: 15px; }

body .supplier-btn {
  background: #ff7e1d; }
