@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";
@import "../components/gm-service";
@import "../components/dialog";

html,body{background-color: #edf0f2; }
.nav-list{display:none!important;}
.comparison{border:1px solid #e0e1e2;background-color:#fff;width:1170px;margin:30px auto;}
.fixed_box{display:table;width:100%;height:155px;border-bottom:solid 2px #e0e1e2;}
.fixed_box h1{display:table-cell;vertical-align:middle;width:120px;color:#78a7ff;font-size:18px;text-align:left;padding:20px;font-weight:400;}
.fixed_box .fixed_item{position:relative;float:left;width:349px;height:155px;padding:20px;border-left:solid 1px #e0e1e2;}
.fixed_box .fixed_item .gm-right-shift{font-size:12px;line-height:12px;padding-left:5px;}
.fixed_box .fixed_item .gm-left-shift{font-size:12px;line-height:12px;padding-right:5px;}
.fixed_box .fixed_item .fixed_pic{float:left;width:150px;height:114px;overflow:hidden;margin-right:10px;}
.fixed_box .fixed_item .fixed_pic img{height:114px;}
.fixed_box .fixed_item .fixed_summary a{overflow:hidden;height:80px;font-size:16px;color:#313233;line-height:20px;display:block;}
.fixed_box .fixed_item .fixed_summary a:hover{color:#3057ad;text-decoration:none;}
.fixed_box .fixed_item .fixed_summary .btn-default{padding:5px 9px;margin-right:10px;line-height:1;font-size:12px;}
.fixed_box .fixed_item .fixed_summary .btn-default[disabled]{border-color:#edf0f2;color:#939699;}
.fixed_box .fixed_item .btn-default[disabled] span{color:#d0d5d9;}
.basic_information, .product_information, .cost_information, .traffic_information, .hotel_information, .sites_information, .meals_information, .shopping_information{border-bottom:solid 1px #e0e1e2;}
.basic_information .table_item tr:nth-child(2) th{vertical-align: middle;}
.info_title{position:relative;width: 1168px;background:#fff;}
.info_title .cancel_hl{position:absolute;left:150px;top:18px;padding:3px 10px;}
.info_title h2{margin:0;padding:20px 10px;font-size:16px;color:#78a7ff;line-height:20px;font-weight:400;height:20px;box-sizing:content-box;}
.info_title h2 i{margin-right:5px;line-height:20px;cursor:pointer;font-size:17px;}
.table_item{width:100%;}
.table_item tr{border:solid 1px transparent;border-top:solid 1px #e0e1e2;}
.table_item tr:hover{background-color:#f0f6ff;border-color:#78a7ff;}
.table_item tr>th, .table_item tr>td{padding:20px;}
.table_item tr>td{width:349px;border-right:dashed 1px #e0e1e2;position:relative;}
.table_item tr>th{text-align:left;font-weight:normal;width:120px;border-right:solid 1px #e0e1e2;padding-left:31px;}
.basic_information .table_item tr>th, .basic_information .table_item tr>th, .basic_information .table_item tr>th, .shopping_information .table_item tr>th{vertical-align: top;}
.traffic_information .table_item tbody tr>th, .hotel_information .table_item tbody tr>th, .sites_information .table_item tbody tr>th, .meals_information .table_item tbody tr>th{vertical-align: middle;position:relative;background:url(../../images/survey-day-line.png) center 0 repeat-y;}
.table_item tr>th .item_line{display:inline-block;position:absolute;left:0;width:100%;background:url(../../images/survey-day-line.png) center 0 repeat-y;}
.table_item tbody tr:first-child>th, .table_item tbody tr:last-child>th{background:none;}
.table_item tr>td p{margin:0;line-height:20px;}
.table_item tr>td .plane, .table_item tr>td .train, .table_item tr>td .car, .table_item tr>td .steamboat, .table_item tr>td .shopping_txt_list{margin-bottom:10px;}
.fixed_css{position:fixed;top:0;background-color:#fff;z-index:99;width:1168px;}
.com_css{position:fixed;top:145px;background-color:#fff;z-index:1;}
.table_item .hover_color{border-bottom-color:#78a7ff;}
.table_item tr>td>.price>.price_title{display:inline-block;color:#626466;}
.table_item tr>td>.price>span{color:#ff6342;}
.table_item tr>td .price .number{font-size:22px;line-height:26px;}
.table_item tr>td .nothing{color:#939699;}
.sites_information .table_item tr>td a,  .hotel_information .table_item tr>td a{color:#626466;}
.sites_information .table_item tr>td a:hover,  .hotel_information .table_item tr>td a:hover{color:#3057ad;}
.table_item tr>td .traffic_name, .table_item tr>td .shopping_name{color:#313233;font-weight:700;}
.sites_information .table_item tr>td .highlight{color:#ff8540;}
.table_item tr>th .data_number{text-align:center;border-radius:50%;width:40px;height:40px;line-height:40px;background-color:#78a7ff;color:#fff;margin:0 auto;position:relative;z-index: 1;}
.table_item .gm-plain{color:#78a7ff;margin-right:5px;}
.table_item .gm-train{color:#ff4848;margin-right:5px;}
.table_item .gm-car{color:#20ce8b;margin-right:5px;}
.table_item .gm-steamboat{color:#ff8540;margin-right:5px;}
.table_item .gm-arrow2{margin-right:5px;margin-left:5px;}
.err{text-align: center;padding:100px 0;}
.table_item tr td .new_form_control{height:32px;background-color:#fff;}
.table_item tr td .new_feedback{width:32px;height:32px;line-height:30px;font-size:20px;}
.table_item tr td .has_feedback{width:220px;}

.title-box{height:61px;}
.box-con{height:157px;}
.fixed .info_title{position:fixed;top:157px;z-index:100;border-bottom:solid 1px #e0e1e2;}
.hotel_name span.txt{color:#78a7ff;}
/* 显示7行溢出隐藏添加省略号 */
.txt_css{max-height:133px;overflow:hidden;-webkit-line-clamp:7;text-overflow:ellipsis;-webkit-box-orient:vertical;display:-webkit-box;word-wrap: break-word;text-overflow:-o-ellipsis-lastline;}
/*发团日期处理*/
#J-prices .price{display:none;}

/* 弹窗样式表 */
.aui_state_noTitle .aui_close{display:block;}
.aui_footer{height:60px;}
.aui_buttons{font-size:12px;}
.aui_buttons a{text-decoration: underline;}
.aui_icon, .aui_main{padding-top:0px;}
.aui_content{width:100%;overflow: visible!important;}
.scenic-content{ padding:20px 0 16px 20px;max-height:340px;min-height:336px;overflow: auto; width:100%;}
.scenic-pic-box{ display:inline-block; margin-right:10px; width:212px; }

.scenic-pic { width:210px; height:120px; overflow: hidden;vertical-align: middle;}
.scenic-pic img{ width:210px;vertical-align: middle;}
.scenic-pic-box .scenic-ul { margin:3px -20px 0 0; width:212px; }
.scenic-pic-box .scenic-ul img{width:48px;height:28px;}
.scenic-pic-box .scenic-ul li{ position:relative; margin:3px;overflow: hidden;cursor: pointer;float:left;display: inline-block; width:48px; height:28px; }
.scenic-pic-box .scenic-ul li:nth-child(4n){margin-right:0;}
.scenic-pic-box .scenic-ul li:nth-child(4n+1){margin-left:0;}
.scenic-pic-box .scenic-ul li.selected .icon{ position:absolute; width:48px; height:28px; background:url(/www/theme/web/default/images/common/prodcut/jdselect.png) no-repeat center center; }
.scenic-font .title{font-size:20px;color:#000;line-height:20px;padding-top:10px;}
.scenic-font{ display:inline-block; float:left; padding:0 10px; color:#999; width:219px; border-left:1px solid #e5e5e5; }
.font-content {padding:10px 0;line-height:25px; word-wrap: break-word;}
.scenic-content ul li .icon {cursor: pointer;  position: absolute;top: 0;left: 0;z-index: 2;border: 0;background-repeat: no-repeat;}

.aui_state_highlight{display:none!important;}
.dialog-tip{font-size:12px;line-height:36px;}
