@charset "UTF-8";
/*reset*/
html, body {
  background: #fff; }

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
  margin: 0; }

p {
  margin: 0; }

a {
  cursor: pointer; }

/*gloabl*/
.fl {
  float: left; }

.fr {
  float: right; }

header, footer, section {
  min-width: 1170px; }

.link-14 {
  font-size: 14px; }

.yellow {
  color: #ff8540; }

.arial {
  font-family: "arial"; }

.day-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background: #ff9248;
  border-radius: 50%;
  text-align: center; }

.dashed {
  border-bottom: dashed 1px #e0e1e2;
  margin-bottom: 10px; }

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

.btns .btn {
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px; }

.p-body {
  min-width: 1170px;
  width: 1170px;
  margin: 0 auto;
  position: relative; }

.p-download {
  color: #626466 !important; }

.p-download i {
  color: #587ed1;
  margin-right: 2px; }

.p-download:hover i {
  color: #3057ad; }

.p-arrow-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #ff9248; }

.p-no-data {
  text-align: center; }

div.p-no-data {
  border: solid 1px #e0e1e2;
  line-height: 80px !important; }

tr.p-no-data td {
  padding: 0 !important;
  line-height: 80px !important; }

.p-service {
  position: relative;
  padding-left: 22px;
  color: #f98282; }

.p-service i {
  position: absolute;
  top: -3px;
  left: 3px; }

header .heardnew {
  border-bottom: solid 1px #e0e1e2; }

.gm-rocket-up {
  display: none;
  text-decoration: none !important;
  font-size: 50px;
  color: #94989B;
  position: fixed;
  bottom: 140px;
  right: 0; }

.gm-rocket-up:hover {
  color: #FF7E1D; }

.gm-rocket-up:active {
  color: #FF7E1D; }

/*header start*/
.heardnew {
  background-color: #fff; }

.heardnew .logo {
  display: inline-block;
  float: left;
  width: 216px;
  margin-right: 70px; }

.heardnew .logo img {
  margin-top: 5px; }

.heardnew .heard-center {
  margin: 0 auto;
  width: 1170px; }

.heardnew .nav-list {
  display: inline;
  float: left; }

.heardnew .nav-list li {
  display: inline;
  float: left; }

.heardnew .nav-list li a {
  display: inline-block;
  height: 80px;
  line-height: 80px;
  padding: 0 20px;
  font-size: 18px;
  color: #626466; }

.heardnew .nav-list li a:hover, .reg-log a:hover, .footer-list li a:hover {
  text-decoration: none; }

.heardnew .nav-list li.selected {
  color: #313233;
  background-color: #EDF0F2; }

.heardnew .nav-list li.selecteda {
  color: #313233; }

.heardnew .reg-log {
  display: inline;
  float: right;
  height: 80px;
  line-height: 80px; }

.heardnew .reg-log a {
  font-size: 14px;
  color: #939699 !important; }

.heardnew .reg-log a.login {
  margin-left: 20px;
  padding: 8px 15px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px; }

.heard-center .login-state {
  margin: 0 20px;
  padding: 25px 0 13px;
  line-height: 32px; }

.heard-center .pull-right {
  display: none;
  float: right !important; }

/*header end*/
/*footer start*/
.footernew {
  min-width: 1170px;
  width: 100%;
  height: 60px;
  line-height: 60px;
  padding: 0;
  background-color: #252D36; }

.footernew .footer-list li a, .footernew .footer-list li span {
  font-size: 14px;
  color: #fff;
  opacity: 0.5; }

.footernew .footer-centr {
  margin: 0 auto;
  width: 1190px; }

.footernew .footer-list li {
  position: relative;
  display: inline;
  float: left;
  margin-right: 20px; }

.footernew .footer-list li a, .footernew.footer-list li span {
  font-size: 14px;
  color: #fff;
  opacity: 0.5; }

.footernew .footer-list li i {
  margin-right: 5px; }

.footernew .copyright {
  display: inline;
  float: right;
  font-size: 14px;
  color: #fff;
  opacity: 0.5; }

.footernew .weixinImg {
  width: 200px;
  height: 200px;
  position: absolute;
  top: -205px;
  left: -58px;
  box-shadow: 0px 4px 4px grey;
  z-index: 200; }

.weixinImg img {
  width: 200px;
  height: 200px; }

.weixinImg::after {
  color: white;
  border-width: 10px 10px 0px 10px;
  border-style: solid;
  border-color: white transparent transparent transparent;
  content: "";
  position: absolute;
  display: inline-block;
  left: 95px;
  top: 200px; }

/*footer end*/
/*unlogin start*/
.show-not-login {
  position: fixed;
  left: 0px;
  bottom: 0px;
  right: 0;
  height: 140px;
  width: 100%;
  display: inline-block;
  text-align: center;
  z-index: 99; }

.show-not-login .login-tips-bg {
  position: absolute;
  left: 0px;
  bottom: 0px;
  right: 0px;
  width: 100%;
  height: 140px;
  background: #000;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7;
  z-index: -1; }

.show-not-login .login-tips {
  margin: 0;
  padding: 25px 2px;
  width: 1166px;
  z-index: 1;
  color: #fff;
  font-size: 18px;
  display: inline-block;
  text-align: left; }

.show-not-login .login-tips .login-tips-icon {
  float: left;
  background: url("../../images/floatLogo.png") no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  width: 150px;
  height: 90px;
  margin-right: 32px;
  display: inline-block; }

.show-not-login .login-tips .login-tips-info {
  float: left;
  max-width: 500px;
  overflow: hidden;
  display: inline-block; }

.login-tips .login-tips-info .login-tips-info-title {
  font-size: 36px;
  line-height: 50px;
  margin-bottom: 4px; }

.login-tips .login-tips-info .login-tips-info-tips {
  line-height: 36px;
  color: #fff;
  filter: alpha(opacity=60);
  -moz-opacity: 0.6;
  opacity: 0.6; }

.show-not-login .login-tips .login-tips-buts {
  float: right;
  padding: 23px 0;
  display: inline-block; }

.login-tips .login-tips-buts .tips-but-reg {
  padding: 0 25px;
  margin-right: 20px;
  float: left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #78a7ff;
  border-radius: 5px;
  display: inline-block; }

.login-tips .login-tips-buts .tips-but-login {
  padding: 0 25px;
  margin-right: 20px;
  float: left;
  height: 44px;
  line-height: 44px;
  color: #fff;
  background: #ff6342;
  border-radius: 5px;
  display: inline-block; }

.login-tips .login-tips-buts .tips-but-close {
  float: left;
  height: 44px;
  line-height: 44px;
  width: 44px;
  display: inline-block;
  background: url("../../images/cancal.png") no-repeat;
  background-position: center center;
  filter: alpha(opacity=70);
  -moz-opacity: 0.7;
  opacity: 0.7; }

/*unlogin end*/
/*gm service start*/
.linksGmService {
  height: 485px;
  width: 332px;
  display: inline-block; }

.linksGmService .gm-qq3:hover:before {
  content: "\e600"; }

.linksGmService .title {
  height: 49px;
  line-height: 49px;
  font-size: 16px;
  font-weight: bold;
  color: #000;
  padding: 0;
  padding-left: 17px;
  margin: -4px;
  border-bottom: 1px solid #e8e9e9; }

.linksGmService .border-bottom {
  border-bottom: 1px solid #e8e9e9; }

.linksGmService .service-date, .linksGmService .service-fankui, .linksGmService .service-tuiguang, .linksGmService .service-saoyisao {
  padding: 10px 0px;
  margin: 0px 12px;
  display: inline-block;
  width: 308px; }

.linksGmService .service-date-title, .linksGmService .service-fankui-title, .linksGmService .service-tuiguang-title, .linksGmService .service-saoyisao-title {
  font-size: 14px;
  color: #666;
  margin-bottom: 2px; }

.linksGmService .service-date-content, .linksGmService .service-fankui-content, .linksGmService .service-tuiguang-content, .linksGmService .service-saoyisao-content {
  font-size: 12px;
  color: #666;
  padding-left: 21px;
  display: inline-block; }

.linksGmService .service-date-content div, .linksGmService .service-fankui-content div, .linksGmService .service-tuiguang-content div, .linksGmService .service-saoyisao-content div {
  line-height: 20px; }

.linksGmService .service-saoyisao-content img {
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin: 5px 0px; }

.linksGmService .service-saoyisao-content .content-left div, .linksGmService .service-saoyisao-content .content-right div {
  text-align: center; }

.linksGmService .content-left, .linksGmService .content-right {
  float: left; }

.linksGmService .w215 {
  width: 215px; }

.linksGmService .w65 {
  width: 65px; }

.linksGmService .w60 {
  width: 60px; }

.linksGmService .mr5 {
  margin-right: 5px; }

.linksGmService .mr25 {
  margin-right: 25px; }

.linksGmService .ml10 {
  margin-left: 10px; }

.linksGmService a {
  text-decoration: none;
  outline: none; }

.linksGmService i {
  margin-right: 5px;
  height: 16px;
  width: 16px;
  color: #96999c;
  display: inline-block;
  top: 0;
  position: relative; }

.linksGmService .gm-qq3, .linksGmService .gm-qq2 {
  color: #78a7ff; }

/*gm service end*/
/*share dialog start*/
.dialog-tip {
  text-align: left;
  font-size: 12px;
  color: #939699 !important; }

.dialog-tip p {
  margin-bottom: 5px; }

.dialog-tip p:last-child {
  margin-bottom: 0; }

.share-dialog {
  text-align: center;
  width: 470px; }

.share-dialog .dialog-content {
  padding: 15px 20px 10px; }

.share-dialog .dialog-content p {
  margin-bottom: 13px; }

.share-dialog .dialog-pic {
  margin-bottom: 11px;
  width: auto;
  height: auto;
  min-height: 120px; }

.share-dialog .dialog-pic img {
  width: 120px; }

.share-dialog .form-group {
  position: relative;
  padding-right: 93px;
  margin-bottom: 0; }

.share-dialog .form-group .btn {
  position: absolute !important;
  right: 0;
  top: 0; }

.share-dialog li {
  line-height: 20px;
  text-align: left;
  color: #999;
  font-size: 12px;
  margin-top: 6px; }

/*share dialog end*/
/*share dialog start*/
.aui_title {
  position: relative; }

.aui_title .dialog-tip {
  font-weight: 400;
  float: none;
  position: absolute;
  top: 1px;
  left: 100px; }

.hotel-scenic-dialog {
  width: 800px;
  overflow: visible;
  max-height: auto; }

.hotel-scenic-dialog .scenic-content {
  margin: 20px;
  background: white;
  border-radius: 5px; }

.hotel-scenic-dialog .scenic-pic {
  width: 430px;
  height: 242px;
  overflow: hidden;
  vertical-align: middle; }

.hotel-scenic-dialog .scenic-pic img {
  width: 430px;
  vertical-align: middle;
  height: 242px; }

.hotel-scenic-dialog .scenic-pic-box {
  float: left;
  width: 430px;
  margin-right: 0px; }

.hotel-scenic-dialog .scenic-pic-box .scenic-ul {
  height: 242px;
  overflow: hidden; }

.hotel-scenic-dialog .scenic-pic-box .scenic-ul li {
  position: relative;
  float: left;
  display: inline-block;
  width: 430px;
  height: 242px; }

.hotel-scenic-dialog .scenic-pic-box .scenic-ul li:nth-child(4n) {
  margin-right: 0; }

.hotel-scenic-dialog .scenic-pic-box .scenic-ul li:nth-child(4n+1) {
  margin-left: 0; }

.hotel-scenic-dialog .scenic-font .title {
  font-size: 12px;
  color: #313233;
  line-height: 18px;
  padding-top: 10px;
  font-weight: bold; }

.hotel-scenic-dialog .scenic-font {
  display: inline-block;
  padding: 0 10px;
  width: 310px;
  border: 1px solid #d1d6da;
  overflow-y: scroll;
  margin-left: 20px; }

.hotel-scenic-dialog .font-content {
  padding: 10px 0;
  line-height: 18px;
  word-wrap: break-word;
  border-bottom: 1px solid #E7E5E5;
  font-size: 12px; }

.hotel-scenic-dialog .scenic-content ul li .icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 0;
  background-repeat: no-repeat; }

/*share dialog end*/
/*visa dialog start*/
.visa-dialog {
  width: 711px; }

.visa-dialog .scenic-pic-box {
  width: 283px;
  word-wrap: break-word;
  display: inline-block;
  margin-right: 10px; }

.visa-dialog .scenic-pic-box .tilte {
  font-size: 18px; }

.visa-dialog .scenic-pic-box ul li {
  line-height: 40px;
  font-size: 12px;
  color: #999; }

.visa-dialog .scenic-pic-box ul li dl dd {
  line-height: 20px; }

.visa-dialog .scenic-content {
  padding: 20px 0 20px 20px;
  max-height: 312px;
  overflow: auto; }

.visa-dialog .font-content {
  padding: 10px 0;
  line-height: 25px;
  word-wrap: break-word; }

.visa-dialog .font-content .tab {
  width: 355px;
  margin: 0 auto;
  display: inline-block; }

.visa-dialog .font-content .tab li.selected {
  border-top: 2px solid orange;
  border-bottom: 2px solid orange;
  color: orange; }

.visa-dialog .font-content .tab li {
  float: left;
  width: 70px;
  text-align: center;
  font-size: 14px;
  border-top: 2px solid #eee;
  border-bottom: 2px solid #eee; }

.visa-dialog .scenic-font a {
  color: #587ed1;
  text-decoration: underline; }

.visa-dialog .scenic-font {
  width: 360px;
  word-wrap: break-word;
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #999;
  border-left: 1px solid #e5e5e5; }

.visa-dialog .visa-content {
  margin-top: 20px;
  font-size: 12px; }

.visa-dialog dt {
  font-weight: 400; }

.visa-dialog .hidden {
  display: none; }

/*visa dialog end*/
html, body {
  background-color: #edf0f2; }

.nav-list {
  display: none !important; }

.comparison {
  border: 1px solid #e0e1e2;
  background-color: #fff;
  width: 1170px;
  margin: 30px auto; }

.fixed_box {
  display: table;
  width: 100%;
  height: 155px;
  border-bottom: solid 2px #e0e1e2; }

.fixed_box h1 {
  display: table-cell;
  vertical-align: middle;
  width: 120px;
  color: #78a7ff;
  font-size: 18px;
  text-align: left;
  padding: 20px;
  font-weight: 400; }

.fixed_box .fixed_item {
  position: relative;
  float: left;
  width: 349px;
  height: 155px;
  padding: 20px;
  border-left: solid 1px #e0e1e2; }

.fixed_box .fixed_item .gm-right-shift {
  font-size: 12px;
  line-height: 12px;
  padding-left: 5px; }

.fixed_box .fixed_item .gm-left-shift {
  font-size: 12px;
  line-height: 12px;
  padding-right: 5px; }

.fixed_box .fixed_item .fixed_pic {
  float: left;
  width: 150px;
  height: 114px;
  overflow: hidden;
  margin-right: 10px; }

.fixed_box .fixed_item .fixed_pic img {
  height: 114px; }

.fixed_box .fixed_item .fixed_summary a {
  overflow: hidden;
  height: 80px;
  font-size: 16px;
  color: #313233;
  line-height: 20px;
  display: block; }

.fixed_box .fixed_item .fixed_summary a:hover {
  color: #3057ad;
  text-decoration: none; }

.fixed_box .fixed_item .fixed_summary .btn-default {
  padding: 5px 9px;
  margin-right: 10px;
  line-height: 1;
  font-size: 12px; }

.fixed_box .fixed_item .fixed_summary .btn-default[disabled] {
  border-color: #edf0f2;
  color: #939699; }

.fixed_box .fixed_item .btn-default[disabled] span {
  color: #d0d5d9; }

.basic_information, .product_information, .cost_information, .traffic_information, .hotel_information, .sites_information, .meals_information, .shopping_information {
  border-bottom: solid 1px #e0e1e2; }

.basic_information .table_item tr:nth-child(2) th {
  vertical-align: middle; }

.info_title {
  position: relative;
  width: 1168px;
  background: #fff; }

.info_title .cancel_hl {
  position: absolute;
  left: 150px;
  top: 18px;
  padding: 3px 10px; }

.info_title h2 {
  margin: 0;
  padding: 20px 10px;
  font-size: 16px;
  color: #78a7ff;
  line-height: 20px;
  font-weight: 400;
  height: 20px;
  box-sizing: content-box; }

.info_title h2 i {
  margin-right: 5px;
  line-height: 20px;
  cursor: pointer;
  font-size: 17px; }

.table_item {
  width: 100%; }

.table_item tr {
  border: solid 1px transparent;
  border-top: solid 1px #e0e1e2; }

.table_item tr:hover {
  background-color: #f0f6ff;
  border-color: #78a7ff; }

.table_item tr > th, .table_item tr > td {
  padding: 20px; }

.table_item tr > td {
  width: 349px;
  border-right: dashed 1px #e0e1e2;
  position: relative; }

.table_item tr > th {
  text-align: left;
  font-weight: normal;
  width: 120px;
  border-right: solid 1px #e0e1e2;
  padding-left: 31px; }

.basic_information .table_item tr > th, .basic_information .table_item tr > th, .basic_information .table_item tr > th, .shopping_information .table_item tr > th {
  vertical-align: top; }

.traffic_information .table_item tbody tr > th, .hotel_information .table_item tbody tr > th, .sites_information .table_item tbody tr > th, .meals_information .table_item tbody tr > th {
  vertical-align: middle;
  position: relative;
  background: url(../../images/survey-day-line.png) center 0 repeat-y; }

.table_item tr > th .item_line {
  display: inline-block;
  position: absolute;
  left: 0;
  width: 100%;
  background: url(../../images/survey-day-line.png) center 0 repeat-y; }

.table_item tbody tr:first-child > th, .table_item tbody tr:last-child > th {
  background: none; }

.table_item tr > td p {
  margin: 0;
  line-height: 20px; }

.table_item tr > td .plane, .table_item tr > td .train, .table_item tr > td .car, .table_item tr > td .steamboat, .table_item tr > td .shopping_txt_list {
  margin-bottom: 10px; }

.fixed_css {
  position: fixed;
  top: 0;
  background-color: #fff;
  z-index: 99;
  width: 1168px; }

.com_css {
  position: fixed;
  top: 145px;
  background-color: #fff;
  z-index: 1; }

.table_item .hover_color {
  border-bottom-color: #78a7ff; }

.table_item tr > td > .price > .price_title {
  display: inline-block;
  color: #626466; }

.table_item tr > td > .price > span {
  color: #ff6342; }

.table_item tr > td .price .number {
  font-size: 22px;
  line-height: 26px; }

.table_item tr > td .nothing {
  color: #939699; }

.sites_information .table_item tr > td a, .hotel_information .table_item tr > td a {
  color: #626466; }

.sites_information .table_item tr > td a:hover, .hotel_information .table_item tr > td a:hover {
  color: #3057ad; }

.table_item tr > td .traffic_name, .table_item tr > td .shopping_name {
  color: #313233;
  font-weight: 700; }

.sites_information .table_item tr > td .highlight {
  color: #ff8540; }

.table_item tr > th .data_number {
  text-align: center;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  line-height: 40px;
  background-color: #78a7ff;
  color: #fff;
  margin: 0 auto;
  position: relative;
  z-index: 1; }

.table_item .gm-plain {
  color: #78a7ff;
  margin-right: 5px; }

.table_item .gm-train {
  color: #ff4848;
  margin-right: 5px; }

.table_item .gm-car {
  color: #20ce8b;
  margin-right: 5px; }

.table_item .gm-steamboat {
  color: #ff8540;
  margin-right: 5px; }

.table_item .gm-arrow2 {
  margin-right: 5px;
  margin-left: 5px; }

.err {
  text-align: center;
  padding: 100px 0; }

.table_item tr td .new_form_control {
  height: 32px;
  background-color: #fff; }

.table_item tr td .new_feedback {
  width: 32px;
  height: 32px;
  line-height: 30px;
  font-size: 20px; }

.table_item tr td .has_feedback {
  width: 220px; }

.title-box {
  height: 61px; }

.box-con {
  height: 157px; }

.fixed .info_title {
  position: fixed;
  top: 157px;
  z-index: 100;
  border-bottom: solid 1px #e0e1e2; }

.hotel_name span.txt {
  color: #78a7ff; }

/* 显示7行溢出隐藏添加省略号 */
.txt_css {
  max-height: 133px;
  overflow: hidden;
  -webkit-line-clamp: 7;
  text-overflow: ellipsis;
  -webkit-box-orient: vertical;
  display: -webkit-box;
  word-wrap: break-word;
  text-overflow: -o-ellipsis-lastline; }

/*发团日期处理*/
#J-prices .price {
  display: none; }

/* 弹窗样式表 */
.aui_state_noTitle .aui_close {
  display: block; }

.aui_footer {
  height: 60px; }

.aui_buttons {
  font-size: 12px; }

.aui_buttons a {
  text-decoration: underline; }

.aui_icon, .aui_main {
  padding-top: 0px; }

.aui_content {
  width: 100%;
  overflow: visible !important; }

.scenic-content {
  padding: 20px 0 16px 20px;
  max-height: 340px;
  min-height: 336px;
  overflow: auto;
  width: 100%; }

.scenic-pic-box {
  display: inline-block;
  margin-right: 10px;
  width: 212px; }

.scenic-pic {
  width: 210px;
  height: 120px;
  overflow: hidden;
  vertical-align: middle; }

.scenic-pic img {
  width: 210px;
  vertical-align: middle; }

.scenic-pic-box .scenic-ul {
  margin: 3px -20px 0 0;
  width: 212px; }

.scenic-pic-box .scenic-ul img {
  width: 48px;
  height: 28px; }

.scenic-pic-box .scenic-ul li {
  position: relative;
  margin: 3px;
  overflow: hidden;
  cursor: pointer;
  float: left;
  display: inline-block;
  width: 48px;
  height: 28px; }

.scenic-pic-box .scenic-ul li:nth-child(4n) {
  margin-right: 0; }

.scenic-pic-box .scenic-ul li:nth-child(4n+1) {
  margin-left: 0; }

.scenic-pic-box .scenic-ul li.selected .icon {
  position: absolute;
  width: 48px;
  height: 28px;
  background: url(/www/theme/web/default/images/common/prodcut/jdselect.png) no-repeat center center; }

.scenic-font .title {
  font-size: 20px;
  color: #000;
  line-height: 20px;
  padding-top: 10px; }

.scenic-font {
  display: inline-block;
  float: left;
  padding: 0 10px;
  color: #999;
  width: 219px;
  border-left: 1px solid #e5e5e5; }

.font-content {
  padding: 10px 0;
  line-height: 25px;
  word-wrap: break-word; }

.scenic-content ul li .icon {
  cursor: pointer;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  border: 0;
  background-repeat: no-repeat; }

.aui_state_highlight {
  display: none !important; }

.dialog-tip {
  font-size: 12px;
  line-height: 36px; }

/*# sourceMappingURL=comparison.css.map */
