@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";
@import "../components/gm-service";
@import "../components/compare";
@import "../components/dialog";
@import "../components/list-slider";


/*page reset*/
header .nav-list{display:none!important;}
.tooltip .tooltip-inner{text-align:left;}
.dark-greens{margin-left:10px;}

/*plugins*/
.p-pics{width:470px;position:relative;}

.p-pics .tour-type{z-index:10;color:#fff;text-align:center;font-size:18px;width:100px;height:50px;line-height:42px;display:block;position:absolute;left:-10px;top:20px;background:url(../../images/teamTour-icon.png);}
.p-pics .freeWalker{background:url(../../images/freeWalker-icon.png);}
.p-pics .cruiseShip{background:url(../../images/cruiseShip-icon.png);}
.p-pics .localTour{background:url(../../images/localTour-icon.png);}

.p-calendar .date-store{
    font-style: normal;
    width: 100%;
    display: block;
    font-size: 12px;
    text-align: left;
    position: absolute;
    left: 0;
    padding: 0 1px;
    bottom: 13px;
    height: 16px;
    color:#53bec3;
    transform:scale(0.9); 
    line-height: 16px;
    overflow: hidden;
}
.p-calendar .date-price{
    bottom:0!important;
}

.pic-cover{height:354px;overflow:hidden;position:relative;}
.pic-cover div>div{float:left;width:470px;height:354px;float:left;overflow:hidden;}
.pic-cover img{width:470px;height:354px;}
.pic-cover div{width:500%;}
.pic-cover a{display:none;width:64px;height:64px;position:absolute;top:50%;margin-top:-32px;}
.pic-cover a span{display:block;background:#000;opacity:0.4;height:100%;width:100%;border-radius:50%;}
.pic-cover a i{position:absolute;color:#fff;}
.pic-cover a.prev{left:-32px;}
.pic-cover a.prev i{right:7px;top:12px;font-weight:700;font-size:24px;}
.pic-cover a.next{right:-32px;}
.pic-cover a.next i{left:7px;top:10px;font-size:26px;}
.pic-cover:hover a{display:block;}

.pic-small{margin-top:10px;overflow:hidden;}
.pic-small ul{width:472px;}
.pic-small li{float:left;width:80px;height:60px;margin-right:17px;overflow:hidden;background:#edf0f2;}
.pic-small li img{width:80px;height:60px;cursor:pointer;}
.pic-small li.active img{border:2px solid #78a7ff;}
.pic-small li:first-child, .pic-small li:last-child{width:81px;}
.pic-small li:first-child img, .pic-small li:last-child img{width:81px;}
.pic-small li:last-child{margin-right:0;}

/*product header*/
.p-header{width:100%;min-width:1170px;background:#f8f8f8;border-bottom:solid 1px #edf0f2;position:relative;}
.p-header .p-endDate{display:block;position:absolute;right:0;top:0;width:120px;height:120px;background:url(../../images/endDate.png) no-repeat;}
.p-header .p-body{padding:30px 0;}
.p-header .alert{margin:-20px 0 10px;padding-top:12px;padding-bottom:12px;}
.p-header .p-pics{float:left;}
.p-header .p-info{float:left;margin-left:20px;width:680px;}
.p-info h1{font-size:22px;line-height:26px;color:#666;font-weight:700;margin:0 0 13px;max-height:52px;overflow:hidden;}
.p-info h2{margin-bottom:19px;max-height:38px;overflow:hidden;font-size:18px;}
.p-info li{position:relative;padding-left:85px;margin-bottom:10px;font-size:14px;line-height:1.3;}
.p-info li:first-child{margin-bottom:15px;}
.p-info li .title{color:#999;font-weight:400;display:inline-block;width:85px;position:absolute;top:0;left:0;margin:0;text-align:right;}
.p-info li .value{color:#666;min-height:18px;padding-left:15px;}
.p-info li .price{color:#FF7E1D;font-style:normal;}
.p-info li .price strong{font-size:40px;font-weight:400;padding-right:5px;}
.p-info li .market-price .title{top:0;}
.p-info .fixed-height{height:369px;}

.price-item{margin-top:15px;display:none;}
.price-item [v=price]{font-size:12px;}
.price-item .input-group{margin:0 10px!important;}
.price-item label{margin:0!important;}
.price-item .price{color:#FF7E1D;padding-left:8px;}
.price-item .price em{font-style:normal;font-size:20px;}
.p-form li .price-item:last-child label, .p-form li .price-item:last-child p{height:20px;line-height:20px;}
 .p-form li .price-item:last-child p{display:inline;}

.p-form li .price-item:first-child{margin-top:0;display:block;}
.p-fixed-form button.btn-primary{margin-top:20px;}

.p-info .value>a{margin-left:10px;}
.p-info .tip{color:#ff6342;margin-left:20px;}
.p-info .tags span{float:left;color:#666;display:inline-block;margin:0 10px 5px 0;padding:3px 5px;background:#fff;border-radius:3px;border:solid 1px #eaeaea;text-decoration:none;}
.p-info .btns{padding-left:70px;margin-top:10px;}
//.p-info .btns .btn:first-child, .p-nav .btns .btn:first-child{display:none;}

.p-info .p-price{background:#fff;padding:7px 0 15px;margin-bottom:30px;}
.p-info .p-price li{margin-bottom:0;}
.p-info .p-price .title{top:25px;color:#666;}
.p-info .p-price small{font-size:24px;}
.p-info .market-price{margin-top:5px;margin-bottom:2px!important;}

.p-info .p-outline{margin-bottom:0;}
.p-info .p-outline .title{top:3px;}

.p-info .p-highlights .value{line-height:1.6;max-height:44px;overflow:hidden;-webkit-line-clamp:2;text-overflow:ellipsis;-webkit-box-orient:vertical;display:-webkit-box;word-wrap: break-word;text-overflow:-o-ellipsis-lastline;}
.p-info .p-highlights .title{top:2px;}

.form-control-feedback {
    height: 32px;
    line-height: 32px;
}

.p-info .discount-info{display:inline-block;margin-left:15px;}
.p-info .discount-info p{margin-bottom:-1px;float:left;margin-right:10px;text-align:center;line-height:20px;height:22px;border-radius:2px;}
.p-info .discount-info p .text{width:34px;color:#fff;}
.p-info .discount-info p .num{min-width:32px;padding:0 3px;}
.p-info .discount-info span{display:inline-block;}
.p-info .discount-info .stand-by{border:solid 1px #F98282;}
.p-info .discount-info .stand-by .text{background-color:#F98282;}
.p-info .discount-info .stand-by .num{color:#F98282;}
.p-info .discount-info .rebate{border:solid 1px #FF9248;}
.p-info .discount-info .rebate .text{background-color:#FF9248;}
.p-info .discount-info .rebate .num{color:#FF9248;}
.p-info .discount-info .profit{border:solid 1px #4BC5D1;}
.p-info .discount-info .profit .text{background-color:#4BC5D1}
.p-info .discount-info .profit .num{color:#4BC5D1;}

/*product form*/
.p-form{background:#fff;margin:67px 0 0;padding:20px 0 0;}
.p-form .title{height:32px;line-height:32px;font-weight:400;color:#666!important;}
.p-form .has-feedback{width:200px;}
.p-form input{background:#fff!important;color:#666!important;}
.p-form .input-group{width:120px;float:left;}
.p-form .input-group input{text-align:center;}
.p-form .value label{float:left;line-height:32px;margin:0 20px 0 10px;font-weight:400;}
.p-form strong{color:#FF7E1D;}
.p-form p{position:relative;}
.p-form p .fa{color:#FF7E1D;font-size:22px;position:absolute;left:-22px;top:10px;}
.p-form .p-btn-group{padding-top:10px;padding-bottom:7px;position:relative;}
.p-form .p-btn-group>span.btn{margin-left:15px;width:140px;float:left;margin-right:10px;border-radius:4px;padding:10px 20px;}
.p-form .btn-scan{float:left;margin-top:6px;padding:8px 32px 8px 20px;;position:relative;}
.p-form .btn-scan .fa-qrcode{position:absolute;right:10px;top:10px;font-size:18px;}
.p-form .btn-scan .fa-angle-down{position:absolute;left:44px;bottom:-1px;}
.p-form .btn-scan:hover .scan-weixin{display:block;}

.p-form .scan-weixin{border-radius:3px;display:none;z-index:10;background:#fff;border:solid 1px #e6e6e6;position:absolute;top:37px;left:0;width:420px;}
.p-form .scan-weixin img{width:120px;height:120px;}
.p-form .scan-weixin input{width:300px;}
.p-form .scan-weixin .form-group{margin-top:15px;}
.p-form .scan-weixin p{margin:3px 0;color:#333;}
.p-form .scan-weixin li{margin:0;padding:0;text-align:left;color:#666;font-size:12px;}
.p-form .scan-weixin .dialog-content{padding:15px;}
.p-form .scan-weixin .dialog-tip{border-top:solid 1px #eaeaea;padding:10px 15px;}




.p-form .p-btn-group a{color:#666;float:left;margin-left:30px;margin-top:16px;}
.p-form .input-group-addon{font-weight:700;cursor:pointer;color:#999;}
.p-form .input-group-addon.disabled{color:#ccc;}
.p-form>li p{margin-left:15px;}
.p-form>li:last-child{height:40px;line-height:40px;border-top:solid 1px #fff;margin-bottom:0;}
.p-form>li:last-child strong{font-size:18px;position:absolute;left:106px;top:-1px;}

/*product nav*/
.p-nav-panel{height:59px;}
.p-nav{border-bottom:solid 1px #e0e1e2;font-size:18px;padding:18px 0;position:relative;}
.p-nav .btns{position:absolute;top:7px;right:0;display:none;}
.p-nav .btns .btn{margin-right:0;margin-left:15px;margin-top:2px;}
.p-nav a{color:#999;display:inline-block;position:relative;margin-right:32px;text-decoration:none!important;}
.p-nav a:hover{color:#626466;}
.p-nav a.active{color:#FF7E1D;font-size:20px;line-height:22px;}
.p-nav a.active:after{content:" ";display:block;height:2px;width:100%;position:absolute;bottom:-19px;background:#FF7E1D;}

.p-nav-fixed .p-body{border-bottom:solid 1px #e0e1e2;position:fixed!important;top:0;left:0;background:#fff;width:100%;z-index:20;}
.p-nav-fixed .p-nav{border-bottom:0;margin:0 auto;width:1170px;}
.p-nav-fixed .btns{display:inline-block;}
.btn[btn-disabled], .btn[btn-disabled]:hover{border-color:#78a7ff;background:#78a7ff;cursor: not-allowed;opacity: 0.65;filter: alpha(opacity=65);-webkit-box-shadow: none;box-shadow: none;}

/*product detail*/
.p-detail{padding:10px 0 60px;position:relative;overflow:hidden;}
.p-detail .table{margin-top:4px;}
.p-detail-item{width:870px;position:relative;}
.p-detail-item>h4{position:relative;}
.p-detail-item>h4 label{color:#FF7E1D;font-weight:400;padding:20px 0 17px;font-size:20px;line-height:1;margin:0;}
.p-detail-item>h4  .badge{background:#78a2ff;color:#fff;margin:0 0 2px 5px;}
.p-detail-item>h4 .tip{font-size:12px;position:absolute;right:0;bottom:17px;line-height:1;}
.p-detail-item .value{word-break: break-all;min-height:23px;}

/*highlights*/
.p-highlights-content{line-height:22px;}
.p-highlights-content li{list-style: inherit!important;}
.p-highlights-content img{display:none;}
.p-highlights-pic{width:100%;overflow:hidden;margin-bottom:10px;}
.p-highlights-pic img{width:870px;display:block;}

/*price list*/
.price-list{margin-bottom:18px;}
.price-list:last-child{margin-bottom:0;}
.price-list li{position:relative;padding-left:28px;margin-bottom:15px;font-size:14px;}
.price-list li:last-child{margin-bottom:0;}
.price-list li small{font-size:14px;color:#939699;}
.price-list li dl{width:100%;margin:0;}
.price-list li dl dt, .price-list li dl dd{float:left;padding:0;font-weight:400;max-height:23px;}
.price-list li dl dt{width:70px;}
.price-list li dl dd{width:772px;}
.price-list li>em{position:absolute;font-size:12px;top:1px;left:0;display:inline-block;width:18px;height:18px;background:#ff8040;border-radius:3px;color:#fff;text-align:center;font-style:normal;}
.price-list .table-list{border:solid 1px #ececed;line-height:25px;margin-top:4px;}
.price-list tr td:first-child{vertical-align:top;width:92px;background:#f1f2f3;border-right:solid 1px #ececed;text-align:right;}
.price-list td{padding:3px 10px!important;line-height:19px;}
.price-list tr.gray td{color:#939699;}
.price-list td b{color:#ff4848;font-weight:400;}
.price-list td span{display:inline-block;float:left;}
.price-list td i{display:inline-block;margin:0 8px;font-style:normal;float:left;color:#939699;}

/*survey*/
.survey{margin-top:3px;font-size:14px;}
.survey td{height:100px;padding-top:0!important;padding-bottom:0!important;}
.survey tr td:first-child{border-top:none;border-right:solid 1px #e3e3e4;background:url(../../images/survey-day-line.png) center 0 repeat-y;}
.survey tr:first-child td, .survey tr:last-child td{background:none;}
.survey td{position:relative;}
.survey td:first-child em{font-style:normal;display:inline-block;}
.survey td>div{position:relative;padding:0 8px;max-height:60px;margin:20px 0;}
.survey td .day-line{display:block;position:absolute;left:0;width:100%;background:url(../../images/survey-day-line.png) center 0 repeat-y;}
.survey td.col1{width:100px;}
.survey td.col2{width:220px;}
.survey td.col3{width:90px;}
.survey td.col4{width:280px;}
.survey td.col5 p{width:148px;max-height:23px;}
.survey td.col2>div, .survey td.col3>div, .survey td.col5>div{overflow:hidden;line-height:20px;min-width:86px;}
.survey td.col2>div, .survey td.col5>div{-webkit-line-clamp:3;text-overflow:ellipsis;-webkit-box-orient:vertical;display:-webkit-box;word-wrap: break-word;text-overflow:-o-ellipsis-lastline;}
.survey .J-shopPlace{color:#ff8540;}

.survey .scenic-list{overflow:hidden;text-align:left;width:170px;margin:-17px 0 0 80px;}
.survey .scenic-list a i{display:none;}
.survey .scenic-list a{padding:0;margin:0;text-overflow: ellipsis;white-space: nowrap;display:block;overflow:hidden;}
.survey .scenic-list h4{font-size:14px;padding-left:20px;overflow: hidden;padding-bottom:4px;text-overflow: ellipsis;white-space: nowrap;}
.survey .scenic-list ul{max-height:60px;overflow:hidden;}
.survey .scenic-list li{padding-left:20px;background:url(../../images/line-middle.png) no-repeat;background-position:0 -1px!important;height:20px;overflow:hidden;}
.survey .scenic-list li:first-child{background:url(../../images/line-top.png) no-repeat}
.survey .scenic-list li:last-child{background:url(../../images/line-bottom.png) no-repeat;}
.survey .scenic-list li.line-onlyone{background:url(../../images/line-onlyone.png) no-repeat;}

.survey .view-detail{border-radius:4px;width:207px;text-align:left;padding:0;min-height:111px;max-height:none;margin-top:-8px;background:#fff;z-index:10;position:absolute;top:0;left:70px;border:solid 1px #e3e3e4;box-shadow:1px 1px 10px #ccc;}
.survey .view-detail>div{margin:10px;}
.survey .view-detail .scenic-list{width:auto;margin:0;}
.survey .view-detail ul{max-height:none;overflow:auto;}
.survey .view-detail h4{padding-left:34px;}
.survey .view-detail ul li{padding-left:34px;background-position:15px 0!important;}

/*days list*/
.days-list{border-left:solid 1px #d7d8d9;margin-left:49px;padding-left:40px;}
.days-list .day-icon{position:absolute;left:-60px;top:0;}
.days-list li{position:relative;}
.days-list h2{height:40px;line-height:40px;font-size:18px;}
.days-list .day-item{position:relative;line-height:23px;margin:5px 0;}
.days-list .day-item img{display:none;}
.day-item .day-content{position:relative;margin:5px 0;}
.day-item .day-time{padding-left:42px;}
.day-item .title{margin:0;font-weight:400;height:23px;position:absolute;top:0;left:0;}
.day-item>.title{padding-left:37px;}
.day-item>.title .gm-icon{color:#ff9248;font-size:20px;position:absolute;left:0;top:-1px;}
.day-item>.value{margin-left:79px;min-height:23px;}
.day-item>.value p.tip{font-size:12px;color:#939699;}
.day-item>.value span.tip{color:#939699;}
.day-item .gm-arrow2{margin:0 5px;}
.day-item .gm-house, .day-item .gm-schedule{top:-2px!important;}

.p-upload-list{width:100%;max-height:205px;overflow:hidden;}
.p-upload-list h6{position:absolute;bottom:0;left:0;width:100%;height:30px;line-height:30px;color:#fff;text-align:center;}
.p-upload-list h6 span{display:block;height:30px;width:100%;position:absolute;left:0;bottom:0;}
.p-upload-list h6 span:first-child{opacity:0.7;background:#222;}
.p-upload-list h6 span:last-child{z-index:1;font-size:14px;}
.p-upload-list li img{display:block!important;transition: .4s;height:185px;width:250px;}
.p-upload-list li img:hover{transform: scale(1.05) translate3d(3px, 3px, 0);}
.p-upload-list ul{margin-left:-11px;width:933px;}
.p-upload-list ul li{float:left;width:250px;height:185px;overflow:hidden;margin:10px;position:relative;}

/*days nav*/
.p-days-nav{width:83px;position:absolute;top:57px;left:-85px;overflow:hidden;max-height:420px;}
.p-days-nav li{width:80px;height:26px;line-height:26px;background:#f8f8f8;text-align:center;margin-bottom:2px;position:relative;}
.p-days-nav li .p-arrow-right{display:none;position:absolute;right:-3px;top:50%;margin-top:-3px;}
.p-days-nav li a{color:#939699;text-decoration:none!important;}
.p-days-nav li a:hover{color:#FF7E1D;}
.p-days-nav li.active{background:#ff9248;}
.p-days-nav li.active a{color:#fff;}
.p-days-nav li.active .p-arrow-right{display:inline-block;}

/*content list*/
.p-content-list li{position:relative;padding-bottom:15px;line-height:23px;}
.p-content-list li>.title{font-size:16px;font-weight:400;display:block;width:125px;position:absolute;top:0;left:0;text-align:right;}
.p-content-list li>.title i{margin:0 5px 3px 0;display:inline-block;background:#626466;width:7px;height:7px;border-radius:50%;}
.p-content-list li>.value{padding-left:128px;min-height:23px;}
.p-content-list li:last-child{padding-bottom:0;}
.p-content-list img{width:742px;display:block;margin:8px 0;}
.p-content-list img:last-child{margin-bottom:0;}
.p-content-list .value li{list-style: inherit!important;}

/*contact list and shop list*/
.p-contact-list td, .p-shop-list td{width:25%;word-break:break-all;}

/*other list*/
.p-other-list{margin-top:10px;}
.p-other-list ul{margin:4px 0 0 -10px;width:900px;padding:0 0 20px;height:243px;overflow:hidden;}
.p-other-list li{text-align:center;overflow:hidden;width:210px;height:243px;float: left; margin-left:10px;border:solid 1px #dfe0e1;position:relative;}
.p-other-list li:hover, .p-other-list li:hover .info, .p-other-list li:hover a{border-color:#78a6ff;}
.p-other-list li img{width:208px;height:158px;display:inline-block;transition: .4s;}
.p-other-list li:hover img{transform: scale(1.05) translate3d(3px, 3px, 0);}
.p-other-list li p{padding:0 10px;line-height:20px;}
.p-other-list li p:first-child{padding-top:5px;}
.p-other-list li a{display:block;overflow:hidden;height:158px;}
.p-other-list li .info{border-top:none;display:block;width:208px;height:83px;bottom:0;left:0;position:absolute;text-align:left;}
.p-other-list li .info span{display:block;padding:0 13px;width:208px;}
.p-other-list li .info span:first-child{height:32px;line-height:16px;color: #626466;margin:8px 0 4px;overflow:hidden;text-overflow: ellipsis;}
.p-other-list li .info span:last-child{color:#ff6342;font-size:20px;}
.p-other-list li .info span:last-child em{font-style:normal;margin-right:5px;}
.p-other-list li .info span:last-child small{font-size:12px;padding-left:2px;}

/*seller*/
.p-seller{width:270px;padding:20px 10px 30px;position:absolute;right:0;top:30px;border:solid 1px #e0e1e2;}
.p-seller-logo{text-align:center;display:block;}
.p-seller-logo span{display:block;}
.p-seller-logo .p-logo-panel{background:#e0e1e2;width:80px;height:80px;overflow:hidden;margin:0 auto;}
.p-seller-logo img{width:80px;min-height:80px;}
.p-seller-logo .title{margin:10px 0 0 0;height:20px;line-height:20px;font-size:18px;}

.p-seller dl{min-height:23px;margin:0 auto 3px;padding:0 5px;}
.p-seller dt{width:70px;float:left;font-weight:400;line-height:23px;}
.p-seller dd{width:121px;float:left;line-height:23px;}
.p-seller .text-overflow{display:block;}
.p-seller .p-seller-info{width:206px;margin:0 auto;padding-top:7px;}
.p-seller .p-qq{font-size:14px;background:#fff;padding:0 5px 0 6px;line-height:20px;border-radius:4px;color:#666;text-decoration:none;border:solid 1px #ff7e1d;display:inline-block;}
.p-seller .p-qq .gm-qq{color:#ff7e1d;}
.p-seller .p-qq i{margin-right:2px;}
.p-seller-auth{height:20px;line-height:21px;background:#20ce8b;font-size:12px;color:#fff;display:inline-block;margin:10px auto 0;border-radius:3px;padding:0 5px;}
.p-seller-auth i{font-size:12px;margin-right:5px;}

.p-seller .btn{margin-top:16px;width:206px;height:30px;padding-top:3px;border-color:#78a7ff;color:#78a7ff;}
.p-seller .btn:hover{color:#4586ff;border-color:#4586ff;}
.JQ-slide-content{position:absolute;}

/*download list*/
.p-download-list{margin-left:20px;}
.p-download-list li{margin-bottom:15px;position:relative;padding-left:35px;}
.p-download-list li .gm-traveldownload{color:#ff9248;font-size:35px;position:absolute;left:0;top:-9px;}
.p-download-list li a{margin-left:10px;}
.p-download-list li h4{font-size:14px;padding-bottom:3px;}
.p-download-list li p{font-size:12px;color:#999;}

/*景点详情2.4改版*/
#right_slider .text_info{position:absolute;width:430px;height:30px;color:white;z-index:100;line-height:30px;padding:0 0 0 15px;top:212px}
#right_slider .text_info .text_info_mum{margin-left:310px}
#right_slider .text_info a{color:white;text-decoration: none}
.scenic-pic-box .content_box{width:430px;float:left;}
.content_box div{float:left;margin-top:8px}
.content_box div span{font-size:12px;color:#626466;}
.content_box .content_box_itmes{font-size:12px;color:#313233;font-weight:bold;display:inline-block;float:left;}
.content_box .content_box_details{display:inline-block;width:370px;word-wrap:break-word;padding-left:10px;float:left;}
.content_box .content_box_map{width:360px;height:86px;float:left;margin:8px 0px 0px 70px}
/*百度地图*/
 


