@import "../components/reset";
@import "../components/header";
@import "../components/footer";
body,html{background-color: white}
.distributor_bannar{width:100%;height:460px;min-width:1180px;position:relative;background:url("http://static.gmmtour.com/m/pc/skin/images/bannar.png") center;repeat:no-repeat;overflow:hidden}
.distributor_bannar img{width:100%;height:460px;}
.distributor_bannar .bannar_artic{
    position: absolute;
    top:100px;
    text-align: center;
    width: 100%;
    font-size: 38px;
    font-weight: bold;
    color: white;
}
.bannar_artic p{
    font-size:16px;
    font-weight: normal;
    margin-top:20px;
}
.bannar_artic p a{
    text-decoration: none;
    color: white;
    position:relative;
}
.bannar_artic .wx_first{width:126px;height:126px;position:absolute;left:60px;top:30px;display:none
}
.bannar_artic .wx_last{width:126px;height:126px;position:absolute;left:-66px;top:30px;display:none}

// 客服
.distributor_content{width:1180px;min-height:210px;margin:30px auto 30px auto;}
.distributor_items{padding:0px 10px}
hr {  border:1px solid #F6F6F6;}
.content_english{height:24px;overflow:hidden;text-align: center;background:url("http://static.gmmtour.com/m/pc/skin/images/index-title.png") no-repeat center -150px;}
.content_item span{font-size:20px;font-weight: bold;position:absolute;top:50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);padding: 0 10px;background-color: white;}
.content_item{position:relative;}
.content_service .service_list{width:295px;height:120px;margin-top:20px;padding:0px 10px;float:left}
.content_service .service_list div:first-child{background-color:#f6f6f6;height:120px;text-align: center;}
.service_list .service_icon{position:relative;top:24px}
.service_list .service_icon i{font-size: 50px;color:#c4c4c4}
.service_list .service_link{display: inline-block;font-size:16px;color:#666666;position:relative;top:34px;text-align:left}
.service_link .service_tel{position:relative;top:6px}
//weixin
.items_english{height:24px;overflow:hidden;text-align: center;background:url("http://static.gmmtour.com/m/pc/skin/images/index-title.png") no-repeat center -179px;}
.distributor_contact{width:1180px;min-height:360px;margin:30px auto 30px auto}
.contact_content{width:100%;margin-top:30px;padding:0 10px}
.distributor_contact .contact_wx{width:238px;height:281px;float:left;padding-right:30px}
.contact_wx span:last-child{width:208px;display:inline-block;font-size:14px;color:#999999;text-align:center}
.contact_wxItme{font-size:20px;color:#666666;font-weight:bold}
.distributor_contact .wx_photo{margin-top:5px;width:208px;height:208px}
.distributor_contact .wx_photo img{width:208px;height:208px}
//地图
.contact_map{width:922px;height:281px;float:left;}
.distributor_contact #map{width:922px;height:220px;font-size:12px;margin-top: 5px;}
.distributor_clear{clear: both;}

