@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";
@import "../components/product-item.scss";

/* hot-products start */
.hot-pro{width:1180px;margin:0 auto;position:relative;padding-top:43px;}
.hot-pro>div.title{margin-top:-13px;margin-bottom:30px;height:26px;color:#666666;font-size:26px;line-height:1;text-align:center;font-weight:bold;}
.hot-pro>div.title span{padding-left:20px;padding-right:20px;background-color:#f6f6f6;}
.hot-pro .title-border{border-top:solid 2px #e5e5e5;}
.hot-pro-box:nth-child(2n){background-color:#ffffff;}
.hot-pro-box:nth-child(2n) .hot-pro>div.title span{background-color:#ffffff;}
.pro-list li{height:342px;}
.pro-list li:nth-child(4n){margin-right:0;}
.pro-list li .txt{height:132px;}
.pro-list li .txt .name > span{max-width:235px;}
.pro-list li .price{float:left;color:#ff7e1d;font-size:12px;line-height:1;-webkit-transition:0.5s;-o-transition:0.5s;transition:0.5s;-moz-transition:0.5s;margin-right:10px;}
.pro-list li .price .num{font-size:22px;}
.pro-list li .original-price{float:left;font-size:12px;text-decoration:line-through;margin-top:6px;}
/* hot-products end */
