@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/list-slider";
@import "../components/product-item";
@import "../components/footer";


/* banner start*/
#temp9,#temp9 li {height:500px; width:100%;}
#temp9 li{position:absolute;top:0;left:0;overflow:hidden;}
.list_slider .JQ-slide-nav-show i{width:14px;height:14px;margin-right:10px;background-color:#ffffff;}
.list_slider .JQ-slide-nav-show{bottom:20px;right:360px;}
.list_slider .JQ-slide-nav-show i.on{background-color:#ff7e1d;border:solid 1px #ff7e1d;}
/* banner end */
.pro-list li:hover .txt{height:180px;}
.pro-list li:hover .txt .detail{height:64px;-webkit-line-clamp: 4;}
/* hot-products start */
.hot-products{width:1180px;margin:0 auto;position:relative;margin-top:30px;margin-bottom:10px;}
.hot-products>.pic{background-image:url(../../images/index-title.png);width:197px;height:26px;margin:0 auto;margin-bottom:10px;background-position:0px 0px;}
.hot-products>div.title{margin:0 auto;margin-top:-10px;margin-bottom:30px;width:140px;height:20px;background-color:#f6f6f6;color:#666666;font-size:20px;line-height:1;text-align:center;font-weight:bold;letter-spacing:5px;}
.hot-products .title-border{border-top:solid 2px #e5e5e5;}
.hot-products .change{position:absolute;top:23px;right:0;width:60px;height:26px;line-height:26px;text-align:center;background-color:#e5e5e5;}
.hot-products .change a{display:block;font-size:12px;color:#999999;text-decoration:none;}
.hot-products .change a:hover{background-color:#ff7e1d;color:#fff;}
.hot-products .pro-list{height:760px;overflow:hidden;}
.hot-products .pro-list li{width:280px;overflow:hidden;}
.hot-products .pro-list li .title-bg{position:absolute;bottom:0px;width:100%;height:30px;background-color:#000;opacity:0.5;box-shadow:0px -7px 19px 7px #000;}
.hot-products .pro-list li>.title{position:absolute;bottom:20px;padding-left:20px;padding-right:20px;width:100%;color:#fff;}
.hot-products .pro-list li>.title p{line-height:1;}
.hot-products .pro-list li>.title .price{position:absolute;right:20px;bottom:0;}
.hot-products .pro-list li>.title .price .num{font-size:20px;}
.hot-products .pro-list li>.title a{color:#ffffff;font-size:16px;font-weight:bold;left:20px;text-decoration:none;}
.hot-products .pro-list li:first-child:hover .title a,.hot-products .pro-list li:first-child:hover .title{color:#ff7e1d;}
.hot-products .pro-list li:first-child{width:580px;}
.hot-products .pro-list li:nth-child(3),.hot-products .pro-list li:nth-child(7){margin-right:0;}
/* hot-products end */
/* tour start */
div[class$="-tour"]{position:relative;margin:0 auto;width:1180px;min-height:428px;margin-bottom:10px;}
div[class$="-tour"]>.pic{background-image:url(../../images/index-title.png);width:197px;height:26px;margin:0 auto;margin-bottom:10px;}
.outbound-tour>.pic{background-position:0px -24px;}
.domestic-tour>.pic{background-position:0px -48px;}
.weekend-tour>.pic{background-position:0px -74px;}
.outbound-tour .hot-destination{background:url(../../images/outbound-bg.png);}
.domestic-tour .hot-destination{background:url(../../images/domestic-bg.png);}
.weekend-tour .hot-destination{background:url(../../images/weekend-bg.png);}
div[class$="-tour"]>div.title{margin:0 auto;margin-top:-10px;margin-bottom:30px;width:140px;height:20px;background-color:#f6f6f6;line-height:1;text-align:center;color:#666666;font-size:20px;font-weight:bold;letter-spacing:5px;}
div[class$="-tour"] .title-border{border-top:solid 2px #e5e5e5;}
div[class$="-tour"] .change{position:absolute;top:25px;right:0;width:60px;height:26px;line-height:26px;text-align:center;background-color:#e5e5e5;}
div[class$="-tour"] .change a{display:block;font-size:12px;color:#999999;text-decoration:none;}
div[class$="-tour"] .change a:hover{background-color:#ff7e1d;color:#fff;}
div[class$="-tour"] .hot-destination{float:left;margin-left:-10px;width:210px;min-height:360px;background-repeat:no-repeat;background-position:5px 0;}
div[class$="-tour"] .hot-destination .title{margin-bottom:10px;padding-left:10px;color:#666666;font-size:16px;line-height:1;text-align:left;font-weight:bold;}
div[class$="-tour"] .hot-destination li{float:left;width:100px;text-align:left;margin-top:10px;}
div[class$="-tour"] .hot-destination li a{color:#666666;line-height:1;display:inline-block;height:26px;line-height:26px;padding-left:10px;padding-right:10px;}
div[class$="-tour"] .hot-destination li a:hover{color:#ff7e1d;background-color:#ffffff;text-decoration:none;}
div[class$="-tour"] .pro-list li{width:230px;}
div[class$="-tour"] .pro-list li:last-child{margin-right:0;}
div[class$="-recommend"]{width:1180px;margin:0 auto;height:120px;margin-bottom:20px;}
/* tour end */
/* travel-guides start */
.travel-guides>.pic{background-image:url(../../images/index-title.png);width:197px;height:26px;margin:0 auto;margin-bottom:10px;background-position:0px -100px;}
.travel-guides{width:1180px;margin:0 auto;overflow:hidden;}
.travel-guides>div.title{margin:0 auto;margin-top:-10px;margin-bottom:20px;width:140px;height:20px;background-color:#f6f6f6;line-height:1;text-align:center;color:#666666;font-size:20px;font-weight:bold;letter-spacing:5px;}
.travel-guides .title-border{border-top:solid 2px #e5e5e5;}
.travel-guides li{position:relative;float:left;margin-left:20px;margin-bottom:20px;width:280px;height:220px;overflow:hidden;}
.travel-guides li .title-bg{position:absolute;bottom:0px;width:100%;height:30px;background-color:#000;opacity:0.5;box-shadow:0px -7px 19px 7px #000;}
.travel-guides li .title{position:absolute;bottom:0;margin:0 20px 20px;}
.travel-guides li .title a{display:block;width:240px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#fff;font-size:16px;font-weight:bold;}
.travel-guides li:first-child{width:280px;height:460px;margin:0;}
.travel-guides li:first-child .txt{padding:20px;border:solid 1px #dedede;height:240px;background-color:#ffffff;}
.travel-guides li:first-child .title{position:static;margin:0 0 20px 0;}
.travel-guides li:first-child .title a{color:#333333;}
.travel-guides li:first-child .detail{display:-webkit-box;height:160px;overflow:hidden;text-overflow:ellipsis;-webkit-line-clamp:8;-webkit-box-orient:vertical;color:#999999;font-size:14px;}
.travel-guides li:hover .title a{text-decoration:none;color:#ff7e1d;}
/* travel-guides end */
