@charset "utf-8";
@import "../../style/varibale";
@import "../../style/unit";
header{
  height: transform-rem(40); line-height: transform-rem(40); font-size: transform-rem(16);
  text-align: center;
  i.wl-mail{ position: absolute; left: 10px; }
  i.wl-shai{ position: absolute; right: 10px; }
  .sort_wrap{
    position: absolute;
    z-index: 10;
    width: 100%;
    background: #FFF; text-align: center; font-size: transform-rem(14);
    > li{
      //line-height: 45px;
      @include rem-fallback(line-height,-45);
      @include rem-fallback(margin,0 ,-20);

      border-bottom: 1px solid #F0F0F1;
    }
    .active{ color: $selectedColor; }
  }

}
