body{background:#e2f6ff;}
body #allBody{background:#e2f6ff;}
.top_info{background:url("/console/theme/blue/images/tour/topinfo.png");height:176px;}
#contents{margin-top:-16px;background-color:transparent;border-radius:4px;}
#rightBody{position: relative;float:left;width:1200px;min-height:580px;display:inline-block;margin-top:20px;}
input[type='checkbox']:checked::before {
	top: 2px;
}
.right_{background-color: #fff;border-radius:4px;}
input {
	height: 25px;
	font-size: 14px;
}

textarea {
	resize: none;
}

label {
	margin-right: 0px;
}

.hide {
	display: none;
}
img{border:none;}
.nav_step {
	line-height: 49px;
	background: #fff;
	color: #777;
	font-size: 16px;
	font-weight: bold;
	display: inline-block;
	width: 100%;
}

.nav_step #step_btn {
	margin-top: 10px;
	font-size: 16px;
	line-height: 50px;
}

.nav_step .step {
	width: 33.3334%;
	display: inline-block;
	text-align: center;
	float: left;
	font-weight: normal;
	cursor: pointer;
	color: #000;
	font-size:16px;
}
/*.nav_step .step:last-child{width:10%} */
.nav_step .step .line {
	both: clear;
	display: block;
	width: 100%;
	background-color: #e2e2e2;
	height: 3px;
}

.nav_step .step .icon {
	color: #fafbfd;
	background-color: #c9c9c9;
	padding: 2px 8.5px;
	border-radius: 5px;
	text-align: center;
	/* vertical-align: middle; */
}

.nav_step .step .label {
	color: #c9c9c9;
	/* padding: 3px 12px; */
	border-radius: 5px;
	text-align: center;
	vertical-align: middle;
}

.nav_step .step:hover .icon {
	background: #ff8400;
}

.nav_step .step:hover .label {
	color: #ff8400;
}

.nav_step .step.active {
	color: #77c8e2;
	cursor: default;
	font-size:16px;
}

.nav_step .step.active .line {
	background-color: #ff8400;
}

.nav_step .step.active .icon {
	background-color: #ff8400;
}

.nav_step .step.active .label {
	color:#ff8400;
}

/*单独为新增行程添加提示*/
.copytip {
	background-color: #fffee9;
	color: #dccf8b;
	font-size: 12px;
	font-weight: normal;
	text-align: center;
	display: none;
	display: block;
	height: 30px;
	line-height: 30px;
	vertical-align: middle;
}
/*行程步骤CSS*/
.input_body,#base,#trip,#other{margin:0px auto;width:100%;  display: inline-block;}
.page_title{color:#fafbfd;font-size:15px;	display:inline-block;height:30px;line-height:30px;	}
.right_buts{float:right;}
.top_opt{color:#f3f8fb;	font-size:15px;	width:120px;	height:30px;	background:#ff7f79;	border-radius:4px;display:none;text-align:center;line-height:30px;	}
.save_but{padding:0px;border:none;color:#f3f8fb;font-size:15px;width:110px;height:27px;background:#ff8400;border-radius:4px;display:inline-block;text-align:center;line-height:27px;margin-left: 29px;margin-top: 3px;}
#btnSave{background:#a1d851;display:none;}
 .top_step{position: fixed;top:0px;z-index:1;width: 1200px;background:#fff;left: calc(50% - 600px);box-shadow:2px 2px 2px #ccc;}
.step_btn{position: absolute;width:160px;right:0px;top:8px; }
 
.step_base *,.step_trip * ,.step_other  *{font-family: "微软雅黑";	font-size:13px;}
.step_base ,.step_trip,.step_other{width: 980px;height: auto;margin: 0px auto;margin-top:20px;font-family: "微软雅黑"; padding-bottom: 40px;}
.step_base_body {	width: calc(100% - 120px);height: auto;margin-left:120px;	}
.step_tripBody,.step_otherBody{width:860px;float:left;margin-left:118px;margin-top: 20px;height:auto;background:#3bb0fd ;}
.addDaily{padding:1px 5px;background:#0078c6 ;color:white;border-radius:4px;float:left;}
.tra{margin-bottom:7px;}
.addBtn{ padding: 0 5px; background: #0078c6; color: #fff; border-radius: 4px; display:inline-block;height:22px;line-height:22px;}
.step_tripBody .arrow_icon{float:left;border:none;width:10px;height:10px;margin-top:10px;background:white url("/console/theme/blue/images/tour/arrow_icon.png") no-repeat 0px 0px;}
.daily_trip,.daily_other{width:859px;height:auto;float:left;margin-left:3px;background:white;}
.daily_trip_item{float:left;width:857;margin-bottom:15px;}
.eat ul li,.hotels ul li,.price li{margin-right:14px;float:left;margin-left:9px;cursor: pointer;}
.eat ul li label,.hotels ul li label,.price li label,.eat ul li i,.hotels ul li i,.price li i{cursor: pointer;}
.eat ul li:first-child,.hotels ul li:first-child{margin-right:7px;float:left;margin-left:0px;cursor:default;}
.eat ul li i,.hotels ul li i{padding:5px 8px;}
.eat,.hotels{margin-left:20px;display: inline-block;}
.hotels{margin-top: 5px;}
.daily_trip_item{float:left;width:100%;margin-bottom:15px;}
.greyText{color:lightgrey;margin-left:60px;margin-top:2px;}
.greyText1{color:lightgrey;margin-left:0px;margin-top:2px;}
/**/
.active_checkbox .checkbox{padding:0px 7px!important;background:url("/console/theme/blue/images/common/checkmark1.png") no-repeat 0px 1px;vertical-align: middle;background-size:100%;}
.checkbox{padding:0px 7px!important;background:url("/console/theme/blue/images/tour/del.png") no-repeat 0px -20px;background-size:100%;}
input[type=radio]{height:12px;}
/*删除*/
.del{float:left;border:none;margin-left:10px;margin-top:6px;width:14px;height:14px;background:url("/console/theme/blue/images/tour/del.png") no-repeat 0px 0px;}
.delIcon{background:url("/console/theme/blue/images/tour/del.png") no-repeat;padding:0px 5px}
.del:hover,.delIcon:hover{background:url("/console/theme/blue/images/tour/del.png") no-repeat 0px -44px;}
/*餐食图标样式*/
.eat .breakfast{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px 4px; margin-left: 14px; margin-right: 14px;}
.eat .lunch{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -18px; margin-left: 14px; margin-right: 14px;}
.eat .dinner{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -43px; margin-left: 14px; margin-right: 14px;}
/*酒店图标样式*/
.h_icon1,.h_icon2{padding:0px 8px;margin-left:10px!important;margin-right:3px!important; margin-left: 14px!important; margin-right: 14px!important;}
.h_icon1{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -140px;}
.h_icon2{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -164px;}
.cursor{cursor: pointer;}

/*第一步*/
.step_base_Info {width: 100%;height: auto;display:inline-block;	margin-left: 0px;}
.step_base_Info .row {width: 100%;height: auto;padding: 0px 0px;	margin-bottom:20px;float:left;}
.step_base_Info .row .col1, .col2 {float: left;}
.step_base_Info .row .col1 {width: 220px;height: auto;}
.step_base_Info .row .col2 {width: calc(100% - 220px);	height: auto;}
.upfileImg {width: 220px;height: 166px;	border: 1px solid lightgrey;display:inline-flex;}
.upfileImg #coverImg{width: 220px;height: 166px;zoom:1;position:absolute;float:left;border:none;}
.upInfo{width:100%;	height:36px;	background:transparent;margin-top:65px;position: absolute;}
.fileBtn {cursor:pointer;padding:5px 10px;border-radius: 4px;color: white;font-size: 14px;	line-height: 36px;margin-left:40px;background:#3bb0fd url("/console/theme/blue/images/tour/fileImg.png") no-repeat 8px 8px;background-size: 14px 14px;}
.m_left{margin-left:14px;}
.tourName{margin-bottom:14px;}
.tourName textarea{width:450px;}
.tourLine select,.tourPlay select{width:450px;height:30px;margin-bottom:10px;}

.brightSpot{width:684px;min-height:182px;}
#brightSpot{min-height:132px;}
.upfile{width:100%;padding-bottom:10px;height:30px;}
.doingUp{width:100%;height:30px;}
.upfile small{font-size:12px!important; color: rgb(111,111,111);}
.upload{opacity:0;filter:alpha(opacity=0);background:transparent; border:none;width:100px; font-size:0px;position:absolute;height: 28px;cursor: pointer;}
.next-step{width:200px; margin-left: 260px;}
.bot{width:100%;height:80px;display:inline-block;text-align:center;}
.bot p{font-size:14px;line-height:40px;}
.nights{border:1px solid lightgrey;width:22px;height:17px;text-align:center;}
.stepBtn{width:200px; background:#3bb0fd;border:none;height:40px;color:white;text-align:center;border-radius:4px;line-height: 40px;display:inline-block;}
.updateBtn{width:140px; margin:10px 0px 10px 0px ;background:#3bb0fd;border:none;height:30px;color:white;text-align:center;border-radius:4px;line-height:30px;display:inline-block;}
.upFileInfo{margin-top:10px;line-height:24px;}
.uping{color:#ccc;}
.upingImg{padding:0px 8px;background:url("/console/theme/blue/images/tour/uping.png") no-repeat 2px 4px ;}
.upedImg{padding:0px 8px;background:url("/console/theme/blue/images/tour/annex.png") no-repeat 0px 3px ;}

/*第二步右边悬浮的选项*/
.days{width:111px;height:auto;position:fixed;border-top:1px solid #f4f4f4;right:calc(50% - 580px);top:287px;padding-bottom:20px;box-shadow:0px 5px 5px grey;}
.days li ul li{width:111px;border-bottom:1px solid #f4f4f4;height:auto;background:white;text-align:center;line-height:30px;cursor: pointer;}
.days li a{color:#444;}
.pre{border-right:1px solid #f4f4f4;padding-right:5px;}
.order span{background:url("/console/theme/blue/images/tour/order.png") no-repeat 0px 5px;color:orange;}
.addDay span{background:url("/console/theme/blue/images/tour/order.png") no-repeat 0px -14px;color:yellowgreen;}
.top span{background:url("/console/theme/blue/images/tour/top.png") no-repeat 0px 4px;}

/*天*/
.daily_trip .daily_trip_item .day{float:left;margin-left:10px;font-size:16px;background:white url("/console/theme/blue/images/tour/stepBg.png") no-repeat 0px 0px;height:28px;color:white;background-size: 80px 28px;}
.description{margin-left:25px;border:1px solid #3bb0fd;height:26px;width:560px;line-height:26px; }
/*餐食*/
.eat{margin-top:25px;}
.hotelInfo{float:left;width:660px;height:auto;margin-left:20px;margin-top:0px;}
.unconfirmedHotel{float:left;width:100%;height:36px;background:url("/console/theme/blue/images/tour/infobg.png") no-repeat ;}
.hotelInfo .unconfirmedHotel ul.items,.specificHotel ul.items{border:1px solid grey;float:left;height:38px;padding-left:10px;margin-top:4px;width:637px;}
.hotelInfo .unconfirmedHotel ul.items,.specificHotel ul.items li{cursor: pointer;}
body ul li input[type='checkbox'],body ul li input[type='radio']{cursor: pointer;}
.hotelInfo ul.items>li {margin-right:10px;float:left;margin-top:9px;}
.hotelInfo ul.items>li label{margin-right:2px;}
/*酒店*/
.unconfirmedHotel{display:block;}
.specificHotel{height:45px;width:650px;display:block;}
.specificHotel ul.items{margin-top:0px;height:auto;padding-bottom:10px;margin-bottom:20px;display:inline-block;}
.specificHotel li{margin-top:11px!important;}
.hotelName{height:30px;width:600px;border:1px solid grey;border-radius:2px;}
.specificHotel .items:before{border-bottom: 7px solid rgba(0, 0, 0, 0.2); border-left: 7px solid transparent;  border-right: 7px solid transparent;  content: "";  display: inline-block;  left: -379px;  position: relative;  top: -16px;}
.hotelCheck{margin-left:-5px;}
/*交通方式*/
.addTraffic{margin-left:20px;display: inline-block;}
.addTraffic>li{float:left;margin-right:10px;margin-top: 5px;}
.traffics{margin-bottom: 5px;display:inline-block;height:auto;width:800px;background:url("/console/theme/blue/images/tour/infobg.png") no-repeat ;}
.traffics>ul{height:auto;float:left;margin-top:4px;background:white;border:1px solid grey;padding:20px 0px 0px 0px;width:642px;}
.traffics>ul>li{width:auto;margin-right:10px;float:left;margin-bottom:20px;margin-left:5px;}
.trafficItems+select{width:150px;float:left;}
span.__shift_text {width: 65px; display: inline-block;text-align: right;}
.flight,.trafficItems{float:left;}
.flight{margin-top:4px;margin-left:20px;cursor: pointer;}
.departure,.destination{width:197px;margin-right:8px;border-radius:2px;border:1px solid grey;}
.trainShift{width:485px;margin-left:-4px;border-radius:2px;border:1px solid grey;}
#flightInfo{display:inline-block;width:100%;margin:0;}
.flightInfo{width:100%;background:white;text-align:center;}
.flightInfo thead{background:lightgrey;}
.flightInfo tbody tr:hover{background:lightblue;}
/*日程*/
.dailyInfos{margin-left:20px;display:inline-block;}
.dailyInfos ul{display:inline-block;width:850px;}
.dailyInfos li{float:left;margin-right:10px;cursor: pointer;}
.dailyInfos li:FIRST-CHILD{cursor:default;}
.daily{width:700px;height:auto;margin-top:10px;}
#description{min-height:122px;}
.dayliyIcon1,.dayliyIcon2{padding:0px 8px;margin-left:6px;margin-right:8px;}
.dayliyIcon1{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -192px;}
.dayliyIcon2{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -216px;}
.selectTime{height:30px;width:100px;text-align:center;float:right;margin-top:-5px;}
.desc1,.desc2,.desc3{min-height:100px;}
.desc2,.desc3{width:535px;}
.de{width:645px;float:left;}
.desc{display:inline-block;width:700px;}
.desc .when select{width:53px;}
.desc .when2,.when2 select{width:110px;}
.when,.when2,.dayDescription{float:left;}
.dayDescription{width:535px;}
/*第三步*/
.daily_other_item{position: relative;padding: 0 0 0px 25px;width:830px;display:inline-block;margin-bottom: 15px;}
.step_otherBody .arrow_icon{position:absolute;left:0;top:5px; border:none;width:10px;height:10px;background: url("/console/theme/blue/images/tour/arrow_icon.png") no-repeat 0px 0px;}
.price{width:100%;display:inline-block;}
.price li{float:left;display:inline-block;}
.price li.title{margin-left:0px;width:65px;}
.price li.info{width:590px;}
.price li.info .textAare{width:100%;}
.price li.info .notation span,.price li.info .info_set span{float:left;cursor: pointer;line-height:22px;margin-right:5px;display:inline-block;}
.price li.info .info_set span.recent{float:right;display:inline-block;}
.consInfo,.consInfoDesc{margin-top:10px;}
.consInfo table.info{width:592px;border-top:1px solid lightgrey;border-left:1px solid lightgrey;text-align:center;margin-bottom:10px;}
.consInfo table.info td,.consInfo table.info th{border-right:1px solid lightgrey;border-bottom:1px solid lightgrey;height:30px;position: relative;width:25%;}
.consInfo table.info td input{height:20px;border:1px solid lightgrey;border-radius:2px;width:98%;}
.notation{width:570px;border:1px solid lightgrey;padding:5px 10px;display:inline-block;}
.notation p{padding-bottom:5px;}
.noticeOther,.noticeInfo {width:575px;}
.consInfoDesc{width:575px;display:none;}
.textHeight{min-height:86px;}
.recent{float:right;}
.recentIcon{background:url;background-size:15px 15px; padding:0px 5px;}
.set-notation .checkbox{margin-right:5px;}
/*自费项目和购物点删除按钮*/
.selfTr{position: absolute;}
/*高亮样式*/
.eat_active{color:#3bb0fd;}
.eat_active .breakfast{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -68px;}
.eat_active .lunch{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -90px;}
.eat_active .dinner{background:url("/console/theme/blue/images/tour/eat.png") no-repeat 0px -115px;}
.eat_active .checkbox{padding:0px 7px!important;background:url("/console/theme/blue/images/common/checkmark1.png") no-repeat 0px 1px;background-size:100%;}
tbody .selected {background:lightblue;}
tbody .selected td:FIRST-CHILD{width:14px;background:url("/console/theme/blue/images/common/checkmark1.png") no-repeat center;vertical-align: middle;background-size:100%;}
/*航班信息表格隔行变色*/
.tr_odd {background:#fefef4;}
.days li ul li.active{background:#3bb0fd;color:white;}
.days li ul li.page{cursor: default;}
.days li ul li.page span.nextIcon,.days li ul li.page span.preIcon{width:8px;height:14px;border:none;margin-top:6px;color:lightgrey;cursor: default;}
.days li ul li.page span.nextIcon{padding-right:5px;background:white url("/console/theme/blue/images/tour/arrow_icon.png") no-repeat 42px -21px;}
.days li ul li.page span.preIcon{padding-left:5px;border-right:1px solid #f4f4f4;background:white url("/console/theme/blue/images/tour/arrow_icon.png") no-repeat 0px -35px;}
.days li ul li.page span.preIcon.active{color:#3bb0fd;background: url("/console/theme/blue/images/tour/arrow_icon.png") no-repeat 0px -7px;cursor: pointer;}
.days li ul li.page span.nextIcon.active{color:#3bb0fd;background: url("/console/theme/blue/images/tour/arrow_icon.png") no-repeat 42px 7px;cursor: pointer;}
/*调整排序*/
.ui-icon {display: inline-block;}
.sortable.ui-sortable{width:100%;}
.sortable.ui-sortable li{height: 30px;line-height:30px; cursor: pointer;}
.ui-icon-arrowthick-2-n-s {background-position: -128px -45px;}
.cover{height: 30px;  width: 100px;  position: relative;  top: -30px;}
.cover .upBtn{color:grey;border:1px solid lightgrey;background:lightgrey;}