.mg0, .mgb0{margin:0!important;}
.mgr10{margin-right:10px;}
.mgl10{margin-left:10px;}
.mgt10{margin-top:10px;}
.mgb10{margin-bottom:10px;}

.mgr5{margin-right:5px;}
.mgl5{margin-left:5px;}
.mgt5{margin-top:5px;}
.mgb5{margin-bottom:5px;}
.pdt50{padding-top:50px!important;}


.upload-group-notice{height:40px;overflow:hidden;display:block;}
td .alert-danger{background:none!important;}
.upload-again{
	text-align:center;
}
.upload-again .uploadupBtn{
	border-color:#fff!important;
	background-color:#fff!important;
}
.upload-again .uploadupBtn:hover{
	background-color:#fff!important;
}
.upload-again .uploadupBtn .webuploader-pick{
	display:none;
}
/*3.2需求 订单列表*/
.form-inline input[readonly]{background:#fff;color:#333;cursor:pointer;}
.table-hover > tbody > tr:hover .td_pro_name a {
    color: #ff7e1d!important;
}
.pad20{padding:20px;}
.form-wrapper {
    background: #fff;
    padding: 20px 0 10px 20px;
    margin-left: 20px;
    max-width:1000px;
    font-size:12px;
}

.page-main {
    border: 1px solid #E5E5E5;
    background: #fff;
    margin-bottom:20px;
}

.sel-condition {
    padding-left: 20px;
    background: #fff;
    margin-bottom: 20px;
    border-bottom: 2px solid #E4E4E3;
}

.sel-condition li {
    display: inline-block;
    padding: 16px 24px 8px 24px;
    background: #fff;
    margin-left: -4px;
    cursor: pointer;
}

.sel-condition .active {
    color: #ED7B28;
    position: relative;
}

.sel-condition .active:after {
    position: absolute;
    display: block;
    content: '';
    width: 100%;
    height: 2px;
    background: #ED7B28;
    bottom: -2px;
    left: 0;
}

.form-inline .form-control-1 {
    width: 200px;
}

.form-inline .select-item {
    display: inline-block;
}

.form-inline .form-group {
    margin-right: 62px;
    margin-bottom: 10px;
}


.form-inline .btn-modify {
    padding: 0px;
}

.form-inline .btn-modify .btn {
    padding-top: 3px;
}

.form-inline .w100 {
    width: 93px;
}

.serach-where {
    display: inline-block;
    vertical-align: top;
    padding-left:10px;
}
.serach-where .dropdown{
    float:left;
}
.serach-where a {
    margin-right: 6px;
    margin-left:10px;
    line-height:32px;
    text-decoration: none;

}

.form-inline .control-label {
    margin-right: 7px;
}

.refund-dialog {
    padding-left: 17px;
}

.refund-dialog label {
    font-weight: 100;
}

.refund-dialog .control-label {
    
}

.refund-dialog .select-group {
    display: inline-block;
    vertical-align: middle;
    margin-top: -5px;
    margin-left: -13px;
}

.refund-dialog .form-group {
    margin-bottom: 0;
}

.refund-dialog .btn-new-standard {
    padding-left: 40px;
}

.refund-number {
    display: inline-block;
}

.refund-dialog em {
    font-style: normal;
}

.left-wrapper {
    display: inline-block;
    vertical-align: top;
}

.other-reason {
    padding: 6px 0 9px;
}

.other-reason textarea {
    display: block;
    width: 310px;
    height: 93px;
    border: 1px solid #D8D8D8;
    resize: none;
    border-radius: 3px;
    box-sizing: border-box;
    padding: 10px;
    font-size: 14px;
    margin-left: 28px;
}

.upload-have-notice {
    text-align: center;
    padding:24px 0 20px;
}

.upload-have-notice p {
    padding-top: 6px;
}

.help-block {
    margin-left: 28px;
}

.upload-have-notice p+p {
    padding-top: 0;
}

.upload-group-notice .webuploader-container {
    background-color: #FF9248;
    width: 124px;
    height: 36px;
    line-height: 36px;
    color: #fff;
}

.uploadupBtn:hover, .webuploader-container:hover, .upBtn:hover {
    background: #FF9248 !important;
    color: #fff !important;
}

.hidden {
    display: none !important;
}

.new-upload .webuploader-container {
    position: relative;
    text-align: center;
    line-height: 16px;
    border: none !important;
    vertical-align: middle;
    height: 24px;
}

.new-upload  .webuploader-container div {
    text-align: center;
    margin: 4px auto;
}

.new-upload .webuploader-container div+div {
    width: 100px !important;
    height: 36px !important;
    background: transparent;
    z-index: 1000;
    position: absolute;
    left: 0;
    top: 0;
}

.new-upload .webuploader-container:hover {
    background-color: #fff !important;
    color: #333 !important;
}

.table td {
    white-space: nowrap;
}

.product-name {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.setting {
    text-align: left !important;
}

.page-main-product .table {
    table-layout: fixed;
}

.page-main-product .table td, .page-main-product .table th {
    text-align: left;
    padding-left: 10px;
}


/*3.2需求订单详情*/
.schedule-list{width:auto;margin:0 0 18px 0;}
.schedule-list li{width:160px;}
.schedule-list li .schedule .status-bg{background:#fff;}
.schedule-list li.active .schedule .line{background:#4bc5d1;}
.schedule-list li .icon{background: #4bc5d1;}
.schedule-list li.active .schedule .status{background: #b7e8ed;}
.schedule-list li .txt{font-size:16px;}
.schedule-list li.active .txt{color:#4bc5d1;}
.schedule-list li .text-gray{color:#999!important;font-size:12px!important;padding-top:3px;}

.step-list {
    margin-bottom:10px;
}

.step-list li {
    width: 150px;
    text-align: center;
    display: inline-block;
    position: relative;
    margin-left: 6px;
    vertical-align: top;
}

.step-list li * {
    display: block;
}

.order-step1 {
    
}

.time-axis {
    position: relative;
}

.time-axis em {
    width: 100%;
    height: 3px;
    background: #d8d8d8;
    position: absolute;
    border-radius: 3px;
    top: 13px;
    z-index: 1;
}

.step-number {
    width: 30px;
    height: 30px;
    text-align: center;
    background: #fff;
    margin: 0 auto;
    position: relative;
    z-index: 2;
    border-radius: 30px;
}

.step-number small {
    width: 30px;
    height: 30px;
    background: #D8D8D8;
    color: #fff;
    border-radius: 18px;
    margin: 0 auto;
    line-height: 30px;
    position: absolute;
    left: 9px;
    margin-top: -9px;
    top: 9px;
    margin-left: -9px;
    z-index: 2;
    font-style: normal;
    vertical-align: top;
    font-size: 12px;
}

.step-number {
    
}

.step-text {
    font-size: 16px;
    color: #c4c4c4;
    margin-top: 16px;
}

.step-time {
    font-size: 12px;
    color: #999;
    margin-top: 5px;
    min-height: 20px;
    min-width: 10px;
}

.step-list .int-line {
    width: 112px;
    height: 3px;
    background: #D8D8D8;
    border-radius: 3px;
    position: absolute;
    top: 13px;
    left: 0;
    z-index: 10;
    left: 99px;
}

.step-list  .int-line-next {
    background: #4bc5d1;
    display: block;
}

.time-axis .step-progress, .time-axis .step-text{
    background: #4bc5d1;
}

.time-axis  .step-progress-bg {
    background: #b7e8ed;
}

.time-axis .step-progress-text {
    background: #4bc5d1;
    color: #fff;
    font-size: 10px;
    font-weight: 100;
    width: 18px;
    height: 18px;
    line-height: 18px;
    left: 50%;
    top: 50%;
}

.step-border {
    width: 50px;
    margin: 0 auto;
    background: #fff;
    position: relative;
    z-index: 2;
}

.state-position {
    background: #FFF4EC;
    color: #FF7E1D;
    font-size: 14px;
    padding: 17px 20px 20px;
}

.state-position label {
    font-weight: normal;
}

.rema-time {
    float: right;
    font-size: 12px;
    margin-top:3px;
}

.order-info-list {
    padding-bottom:15px;
    margin-bottom:0;
}

.order-info-list label {
    font-weight: normal;
    font-size: 14px; 
    min-width:84px;
}

.order-info-list dt {
    font-size: 16px;
    font-weight: normal;
    padding: 17px 0 10px 20px;
}

.order-info-list dd {
    margin-left: 84px;
}

.form-group-dashed {
    border-bottom: 1px dashed #e8e8e8
}

.tourist-info {
    position:relative;
}
.tourist-info .export{
    position:absolute;
    right:0;
    top:15px;
}

.tourist-info dl {
    display: inline-block;
    vertical-align: top;
    position: relative;
    margin-right: 28px;
}

.tourist-info h5 {
    font-size: 16px;
    padding: 17px 20px 20px;
}
.order-info-list .orderCount{
    color:#FF7E1D; font-size: 18px;
}
.order-info-list .orderCount small{
    font-size: 14px;
}
.tourist-info dt {
    width: 36px;
    height: 36px;
    background: #d8d8d8;
    color: #fff;
    font-size: 18px;
    text-align: center;
    line-height: 36px;
    border-radius: 36px;
    padding: 0;
    position: absolute;
    left: 28px;
}

.page-main-product .product-list {
    padding: 20px 20px 0;
    background: white;
}
.paginationWrap > div{
	line-height:26px;
}
.table-hover > tbody > tr:hover a{color:#333333;}
.td_pro_name {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    line-height: 20px;
    width: 96%;
    display: inline-block;
    padding-top:3px;
    height:20px;
}


/**
 * 上传弹出层
 */


.upload-have-notice p{
    padding-top: 6px;
}
.help-block{
    margin-left: 28px;
}
.upload-have-notice p + p{
    padding-top: 0;
}

.upload-group-notice .webuploader-container{
    background-color: #FF9248; width: 124px; height: 36px; line-height: 36px; color: #fff;
}
.uploadupBtn:hover, .webuploader-container:hover, .upBtn:hover{
    background:#FF9248!important; color:#fff !important;
}

.hidden{
    display: none !important;
}
.new-upload .webuploader-container{
    position: relative; text-align: center; line-height: 16px; border:none !important; vertical-align: middle; height: 24px;

}
.new-upload  .webuploader-container div{
    text-align: center; margin:4px auto;
}
.new-upload .webuploader-container div+div{
    width: 100px !important; height: 36px !important; background: transparent;  z-index: 1000;position: absolute; left:0; top:0; 
}
.new-upload .webuploader-container:hover{
    background-color: #fff !important; color:#333 !important;
}

.only-word{margin-top:10px;padding-bottom:17px;}
.only-word .mgb5, .only-word label{margin-bottom:0;}
.state-position .help-block{color:#999;padding:0;margin-left:0;}

/*list-table*/
.list-table{overflow:auto;min-width:900px;}
.table-hover .btn{color:#333;}