@charset "utf-8";
.aui_content{width:100%;overflow-y:auto;overflow-x:hidden;}
.setPhone_dialog{display: none;}
.order_dialog,.setPhone_dialog{background-color:#fff;width:100%;max-width:700px;max-height:500px;color:#333;line-height:22px;}
.setPhone_dialog{overflow:hidden;display:none;}
.pro_info{height:100px;width:100%;margin-right:auto;margin-left:auto;margin-bottom:2px;margin-top:5px;border-bottom:1px solid #e0e1e2;}
.pro{width:100%;margin-top:20px;}
.pro_img{width:100%;height:90px;}
.pro_name{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:30px;font-size:16px;color:#333;}
a.td_pro_name{text-overflow:ellipsis;overflow:hidden;white-space:nowrap;line-height:20px;color:#333;width:270px;display: inline-block;}
a.td_pro_name:hover,a.td_pro_name:active,a.td_pro_name:visited{text-decoration: underline;color:#333;}
.order_info{height:95px;width:100%;margin:0px auto;}
.customer_info{height:auto;width:100%;margin:0px auto;}
.info_tip{margin:5px 0px;line-height:20px;height:20px;font-size:16px;color:#313233;}
.grey_font{color:#939699;}
.text-price{color:#FF4848;font-size:18px;}
.no_pm{margin:0;padding:0;}
.order_count{margin-bottom:20px;line-height:32px;}
.mr_md{margin-right:10px;}
.text-border{padding-right:10px;font-weight:bold;color:#78A7FF;font-size:16px; }
.supplier_info{width:100%;margin:0px auto;padding:0;height:auto;}
.supplier_links{margin-left:18px;}
.supplierName{display:inline-block;width:94px;float:left;margin-left: -3px;}
.m-xs{margin:5px 0px;}
.m-r-xs{margin-right:5px;}
.m-r-sm{margin-right:10px;}
.line-h36{line-height:36px;}
.no_pm{padding:0;}
.cusName{display:inline-block;max-width:200px;white-space:normal;word-wrap: break-word;}
.JsendCode{width:117px; padding-left: 0; padding-right: 0; text-align: center;}
.notice_info{width:100%;margin:0px 0px 5px;}
.noticeInfo{width:100%;background:#FF6600;color:#fff;text-align:center;}


.order_count>.h2{font-size:16px;}
.order_count>.h4 {color:#ff7e1d;}
.setPhone_dialog .col-sm-12:last-child{margin-bottom:12px;}
