.content{padding:20px 50px 80px 50px;}
.artic h2{padding-bottom:20px}
.artic p{padding-bottom:6px;}
.ruleBox{padding-top:60px;}
.input_big{width:120px;height:23px;padding-left:3px}
.input_small{width:80px;height:23px;padding-left:3px}
.ruleList{overflow:hidden;padding:15px 0px;}
.ruleList ul{width:370px;float:left}
.ruleList ul li{padding-bottom:15px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;}
.items{font-weight:bold;}
.btn{display: inline-block;background-color: #45aaf1;border:1px solid #45aaf1;border-radius:3px;color:#fff;cursor:pointer;box-shadow:2px 2px 1px 1px #ccc;}
.btn:active{box-shadow:none}
.del{padding:2px 5px;position:relative;top:2px;}
.ruleBox .ruleList{border-bottom:2px dashed #ccc;}
.addBox{padding:30px 0px}
.add{padding:4px 6px}
.saveBox{padding-top:40px;}
.saveBox:after{content:"";display:table;zoom: 1;clear: both;}
.save{padding:8px 30px;float:right;}
.myTips{padding:3px 10px;color:#fff;background-color:#f86a6a;border-radius:3px;position:relative;top:10px;left:585px;opacity:0}
