@import "../components/reset";
@import "../components/header";
@import "../components/footer";



html{height:100%;}
.section-bg{background-color:#ffffff;}
/* banner start*/
.banner{background:url(../../images/aboutBanner.jpg) center no-repeat;height:300px;}
/* banner end*/
/* about start */
.about{ margin: 0 auto; padding-top: 40px; width: 1170px;padding-bottom:40px;}
.about li{ float:left; margin:0 10px 10px 0; width: 285px; height: 320px; border: 1px solid #d8d8d8; border-radius: 4px; }
.about li:nth-child(4n){margin-right:0;}
.about li .nothing{text-align:center;color:#666666;font-size:18px;line-height:1;}
.about li .use-up { text-align: center; }
.about li .use-up .titile{margin:-1px -1px 0 -1px;padding-left:30px;padding-right:30px;max-width:285px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;height: 36px; line-height: 36px; font-size: 14px; color: #fff; text-align: center; background-color: #fbb03b; border-radius: 4px 4px 0 0; }
.about li .use-up .use-box{ margin:0 auto; margin-top:30px;width: 100px;height: 100px; border-radius: 50%; background-color: #E6E7E8; color: #fff; text-align: center; }
.about li .use-up .name{margin-top:18px;margin-bottom:18px; font-size: 20px;color:#666666;line-height:1; }
.about li .use-up i.gm-user{ font-size: 66px;}
.about li .use-down{margin-left:82px;}
.about li .use-down i{margin-right:10px;color:#939699;}
.about li .use-down>p{margin-bottom:10px;}
.about li .use-down .phone-p,.about li .use-down .tel-p{ color:#939699;line-height:1;}
.about li .use-down .qq-p a{ color: #587eb1; }
.about .nothing{text-align:center;}
.about .nothing i.gm-supposed{color:#999999;font-size:48px;}
/* about end */

/* profile start */
.profile{ min-width: 1190px; width: 100%; height: 500px; padding-top: 40px; background: url(../../images/contenme_jies.jpg) no-repeat;}
.profile .title,.about .title{position:relative;margin-bottom: 40px; font-size: 36px; color: #313233; text-align: center; }
.profile .con{ margin: 0 auto; width: 1170px; text-align: center; }
.profile .addbox{ margin-top: 40px; text-align: center; }
.profile .txt{color:#666666;font-size:18px;}
.profile .logbox{margin:0 auto;margin-top:40px;text-align:center;}
.profile .logbox img{margin-left:20px;height: 60px;}
.profile .logbox img:first-child{margin-left:0px;}
.profile .add-p{ height: 23px; overflow: hidden;}
/* profile end */




