@import "../components/reset";
@import "../components/header";
@import "../components/footer";
html{height:auto;}
.download_bannar{width:100%;height: 486px;min-width:1180px;background-image:url(" http://static.gmmtour.com/m/theme/manage/images/appDownLoad/phone.png");position:relative;}    
.download_bannar .bannar_content{width:797px;height:486px;overflow:hidden;position:absolute;top:50%;left: 50%;-webkit-transform: translate(-50%, -50%);transform: translate(-50%, -50%);
  -webkit-transition:all .3s linear;
  -o-transition:all .3s linear;
  -ms-transition:all .3s linear;
  transition:all .3s linear;
}

.bannar_content .phone_ios{margin-top:20px;float:left}
.weixin{width:422px;height:220px;margin:133px 0 0 100px;float:left;background-color:rgba(0,0,0,0.2);padding:30px}
.bannar_content .weixin_android{margin-left:0px !important;}
.bannar_content_android{width:1062px !important;opacity:0}
.bannar_content_move{width:811px !important;
	// opacity:0
}


.wx_img{width:160px;height:160px;float:left;padding:6px;background-color:white}
.wx_img img{height:148px;width:148px}
.downLoad_btn{width:180px;height:160px;float:left;margin-left:20px}
.downLoad_btn .btn-warning{width:100%;margin-top:20px}
.downLoad_btn span{font-size:16px;color:white;position:relative;top:20px}
.downLoad_android span{top:0px !important;}
.downLoad_android .android_item1{font-size:22px}
.downLoad_android .android_item2{font-size:16px;display:inline-block}
.downLoad_android .android_item2 span:last-child{display:block}

.download_nav{width:100%;background-color:white}
.nav_content{width: 1180px;height:254px;margin: 0 auto;}
.nav_mobile{width:393px;display: inline-block;float: left;height: 254px;text-align: center;padding-top: 55px}
.nav_mobile .fa{font-size:100px;color:#999999;}
.nav_mobile span{font-size: 16px}
.nav_mobile:hover{background-color: #F6F6F6;cursor:pointer;}
.nav_mobile:hover .fa{color: #ff7e1d};
.gm-download{font-weight:bold}
