@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/list-slider";
@import "../components/product-item";
@import "../components/footer";

/* banner start*/
#temp9,#temp9 li {height:500px; width:100%;display:block;}
#temp9 li{position:absolute;top:0;left:0;overflow:hidden;}
#temp9 li img {width:100%; height:500px;}
.list_slider .JQ-slide-nav-show i{width:14px;height:14px;margin-right:8px;background-color:#ffffff;}
.list_slider .JQ-slide-nav-show{bottom:30px;}
.list_slider .JQ-slide-nav-show i.on{background-color:#ff7e1d;border:solid 1px #ff7e1d;}
.list_slider .con{position:relative;width:1180px;height:500px;margin:0 auto;color:#ffffff}
.list_slider .con .price{position:absolute;right:0;bottom:136px;font-size:20px;line-height:1;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.4);}
.list_slider .con .price .num{font-size:52px;}
.list_slider .con .price .last{margin-right:20px;}
.list_slider .con .title{position:absolute;right:0;bottom:80px;text-align:right;width:800px;overflow:hidden;white-space:nowrap;text-overflow:ellipsis;font-size:36px;line-height:1;text-shadow:2px 2px 2px rgba(0, 0, 0, 0.4)}
/* banner end */

/* destination start */
.destination-bg{padding-top:40px;padding-bottom:40px;background-color:#ffffff;}
.destination{width:1180px;margin:0 auto;position:relative;}
.destination>.pic{background-image:url(../../images/index-title.png);width:191px;height:25px;margin:0 auto;margin-bottom:10px;background-position:0px 0px;}
.destination>div.title{margin:0 auto;margin-top:-10px;margin-bottom:30px;min-width:140px;height:20px;color:#666666;font-size:20px;line-height:1;text-align:center;font-weight:bold;letter-spacing:5px;}
.destination>div.title span{padding-left:20px;padding-right:20px;background-color:#ffffff;}
.destination .title-border{border-top:solid 2px #e5e5e5;}
.destination-list{position:relative;width:920px;margin:0 auto;}
.destination-list ul{position:relative;width:100000000px;overflow:hidden;}
.destination-list>div{overflow:hidden;}
.destination-list li{float:left;margin-right:128px;width:134px;}
.destination-list li a:hover .title,.destination-list li a:hover .pro-num{color:#ff9248;}
.destination-list .pic,.destination-list .pic img{width:134px;height:150px;}
.destination-list .title{margin-top:26px;color:#666666;font-size:24px;text-align:center;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.destination-list .pro-num{margin-top:10px;color:#999999;font-size:18px;text-align:center;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.destination .page>div{position:absolute;width:40px;height:40px;color:#ffffff;font-size:40px;background-color:#e0e1e2;border-radius:50%;cursor:pointer;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;}
.destination .page>div:hover{background-color:#cccccc;}
.destination .page>div.disable{background-color:#edf0f2;cursor:not-allowed;}
.destination .page .pre{left:-130px;top:102px;}
.destination .page .next{right:-130px;top:102px;}
.destination .page>div i.fa-angle-left{position:absolute;left:11px;top:-1px;}
.destination .page>div i.fa-angle-right{position:absolute;right:11px;top:-1px;}
/* destination end */
/* hot-products start */
.hot-products{width:1180px;margin:0 auto;position:relative;margin-top:40px;margin-bottom:20px;}
.hot-products>.pic{background-image:url(../../images/index-title.png);width:191px;height:26px;margin:0 auto;margin-bottom:10px;background-position:0px -23px;}
.hot-products>div.title{margin:0 auto;margin-top:-10px;margin-bottom:40px;min-width:140px;height:20px;color:#666666;font-size:20px;line-height:1;text-align:center;font-weight:bold;letter-spacing:5px;}
.hot-products>div.title span{padding-left:20px;padding-right:20px;background-color:#f6f6f6;}
.hot-products .title-border{border-top:solid 2px #e5e5e5;}
.hot-products .pro-list{height:760px;overflow:hidden;}
.hot-products .pro-list li{width:280px;overflow:hidden;}
.hot-products .pro-list li .title-bg{position:absolute;bottom:0px;width:100%;height:30px;background-color:#000;opacity:0.5;box-shadow:0px -7px 19px 7px #000;}
.hot-products .pro-list li>.title{position:absolute;bottom:48px;padding-left:20px;padding-right:20px;width:100%;color:#ffffff;text-align:left;z-index:1;}
.hot-products .pro-list li>.price{position:absolute;bottom:20px;padding-left:20px;padding-right:20px;width:100%;color:#ffffff;text-align:right;font-size:12px;line-height:1;}
.hot-products .pro-list li>.price .num{font-size:28px;}
.hot-products .pro-list li>.price .pri-num{font-size:14px;}
.hot-products .pro-list li>.price .last{margin-right:20px;}
.hot-products .pro-list li>.title p{line-height:1;}
.hot-products .pro-list li>.title .price{position:absolute;right:20px;bottom:0;}
.hot-products .pro-list li>.title .price .num{font-size:20px;}
.hot-products .pro-list li>.title a{display:block;width:330px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;color:#ffffff;font-size:16px;font-weight:bold;left:20px;text-decoration:none;text-shadow:0 0 1px rgba(0, 0, 0, 0.2);}
.hot-products .pro-list li:first-child:hover .title a,.hot-products .pro-list li:first-child:hover .title{color:#ff7e1d;}
.hot-products .pro-list li:first-child{width:580px;}
.hot-products .pro-list li:nth-child(3),.hot-products .pro-list li:nth-child(7){margin-right:0;}
.hot-products .pro-list li:hover .txt{height:180px;}
.hot-products .pro-list li:hover .txt .detail{height:64px;-webkit-line-clamp: 4;}
.hot-products .pro-list ul.login li:hover .txt .detail{height:48px;-webkit-line-clamp: 3;}
/* hot-products end */
/* tour start */
.quarterly-bg{background-color:#ffffff;padding-top:40px;padding-bottom:20px;}
.quarterly-hot{position:relative;margin:0 auto;width:1180px;min-height:428px;}
.quarterly-hot>.pic{background-image:url(../../images/index-title.png);width:191px;height:26px;margin:0 auto;margin-bottom:10px;background-position:0px -48px;background-repeat:no-repeat;}
.quarterly-hot>div.title{margin:0 auto;margin-top:-10px;margin-bottom:40px;min-width:140px;height:20px;line-height:1;text-align:center;color:#666666;font-size:20px;font-weight:bold;letter-spacing:5px;}
.quarterly-hot>div.title span{padding-left:20px;padding-right:20px;background-color:#ffffff;}
.quarterly-hot .title-border{border-top:solid 2px #e5e5e5;}
.quarterly-hot .pro-list li:last-child{margin-right:0;}
.quarterly-hot .pro-list li{height:312px;}
.quarterly-hot .pro-list li .txt{height:102px;}
.quarterly-hot .pro-list ul.login li{height:332px;}
.quarterly-hot .pro-list ul.login li .txt{height:122px;}
/* tour end */

