@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";
$border_box:#e5e5e5;
$body_bg:#f9f9f9;
$font_title:#666666;
$font_deep:#333333;
$font_content:#999999;
$font_desc:#ccccccc;
$color_main:#FF7E1D;

html{height:100%;}
.text_left{text-align:left;}
.text_right{text-align:right;}
.bok_deColor{color:$font_content;}
.bok_tColor{color:$font_title;}
.go_shopping{background:#fff;border:1px solid $border_box;color:$font_title;padding:5px 10px;border-radius:4px;margin-top:20px;display: inline-block;}
.font16{font-size:16px;}
.font12{font-size:12px;}
body .personal_center{min-height:540px;width:1180px;margin:15px auto;}
.personal_center .title{padding:14px 20px;border-bottom:1px solid $border_box;background:$body_bg;box-sizing:border-box;font-size:16px;font-weight:bold;}
.menu_title{margin-bottom:15px;font-size:12px;color:$font_title;}
.personal_center .menu{min-height:500px;padding:0px 0px 20px 0px;width:250px;background:#fff;float:left;border:1px solid $border_box;}
.personal_center .menu ul,.personal_center .menu li{width:100%;box-sizing:border-box;}
.personal_center .menu li{height:40px;line-height:40px;font-size:16px;padding-left:30px;}
.personal_center .menu li.on{color:$color_main;}
.personal_center .main_panel{float:left;min-height:498px;width:910px;background:#fff;margin-left:20px;border:1px solid $border_box;}
    .main_panel .all_bok{position:relative;width:100%;padding:19px 20px;box-sizing:border-box;min-height: 447px;}
    .all_bok .bok_item{margin-bottom:19px;width:100%;height:195px;border:1px solid $border_box;}
    .all_bok .bok_item:last-child{margin:0;}
        .bok_item .bok_num{width:100%;border-bottom:1px solid $border_box;display:inline-block;clear:both;padding:15px 20px; box-sizing:border-box;}
        .bok_num .bok_half{width:50%;font-size:14px;display:inline-block;float:left;}
                                                
    .all_bok  .bok_info{width:100%;padding:20px;clear:both;display:inline-block;margin-top:-5px;}
           .bok_info .bok_pro,.bok_info .bok_cus,.bok_info .bok_desc{float:left;height:105px;}
           .bok_info .bok_pro{width:380px;border-right:1px solid $border_box;box-sizing:border-box;}
           .bok_info .bok_cus{width:250px;box-sizing:border-box;padding:30px 25px;border-right:1px solid $border_box;}
           .bok_info .bok_desc{width:166px;padding:30px 0 0 25px;box-sizing:border-box;overflow:hidden;}
                     .bok_desc p:first-child{color:$font_content;}
                     .bok_desc .desc_info{color:$font_title;height:60px;line-height:20px;display: -webkit-box;-webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis;-webkit-line-clamp: 3;word-break: break-all;}
           .bok_cus p{line-height:24px;}
                     .pro_name{white-space:nowrap;text-overflow:ellipsis;overflow:hidden;width: 228px;display: inline-block;color:$font_title;}
                     .bok_pro dl{clear:both;display:inline-block;}
                     .bok_pro dl dt,.bok_info dl dd{float:left;}
                     .bok_pro dl dt{width:140px;margin-right:10px;}
                     .bok_info dl dd{width:calc(100% - 150px);width:-webkit-calc(100% - 150px);width:-moz-calc(100% - 150px);width:-o-calc(100% - 150px);width:-ms-calc(100% - 150px);}
                     .bok_pro dl dt img{width:100%;height:105px;}
                     .bok_pro dl dd{color:$font_title;}
                     .bok_pro dl dd p{line-height:24px;}
                     .bok_pro dl dd .money{color:#FF7E1D;font-size:20px;font-weight:bold;line-height:24px;}
                     .bok_pro .money small{font-size:14px;line-height:24px;}
     .main_panel .fa-shopping-cart{font-size:90px;color:#c4c4c4;}
     .no_booking{text-align:center;top:50%;left:0px;right:0;position:absolute;margin-top:-96px;background:#fff;}
