@charset "UTF-8";
/*reset*/
body {
  background: #f6f6f6;
}

html, body {
  height: 100%;
}

section {
  min-height: 100%;
  margin-top: -164px;
  margin-bottom: -120px;
  padding-top: 164px;
  padding-bottom: 120px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

/*gloabl*/
.fl {
  float: left;
}

.fr {
  float: right;
}

header, footer, section {
  min-width: 1170px;
}

.link-14 {
  font-size: 14px;
}

.yellow {
  color: #ff8540;
}

.arial {
  font-family: "arial";
}

.day-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background: #ff9248;
  border-radius: 50%;
  text-align: center;
}

.dashed {
  border-bottom: dashed 1px #e0e1e2;
  margin-bottom: 10px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btns .btn {
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
}

.p-body {
  min-width: 1180px;
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.p-download {
  color: #626466 !important;
}

.p-download i {
  color: #587ed1;
  margin-right: 2px;
}

.p-download:hover i {
  color: #3057ad;
}

.p-arrow-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #FF7E1D;
}

.p-no-data {
  text-align: center;
}

div.p-no-data {
  border: solid 1px #e0e1e2;
  line-height: 80px !important;
}

tr.p-no-data td {
  padding: 0 !important;
  line-height: 80px !important;
}

.p-service {
  position: relative;
  padding-left: 22px;
}

.p-service i {
  position: absolute;
  top: -3px;
  left: 3px;
}

header .heardnew {
  border-bottom: solid 1px #e0e1e2;
}

.gm-rocket-up {
  display: none;
  text-decoration: none !important;
  font-size: 50px;
  color: #94989B;
  position: fixed;
  bottom: 140px;
  right: 0;
}

.gm-rocket-up:hover {
  color: #78a7ff;
}

.gm-rocket-up:active {
  color: #587ed1;
}

.form-control-feedback {
  height: 32px;
  line-height: 32px;
}

/*tour type*/
.group-tour-type, .free-tour-type, .ship-tour-type {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: center;
  padding-top: 4px;
  padding-left: 4px;
  width: 64px;
  height: 26px;
  color: #ffffff;
  font-size: 12px;
  background-size: 100% 100%;
  min-height: 0;
}

.group-tour-type {
  background-image: url(../../images/group-tour.png);
}

.free-tour-type {
  background-image: url(../../images/free-tour.png);
}

.ship-tour-type {
  background-image: url(../../images/ship-tour.png);
}

.common-tips .gm-icon {
  margin-right: 8px;
}

.tooltip {
  z-index: 999999999;
}

a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

header, footer, section {
  min-width: 1180px;
}

.open {
  display: block !important;
}

/* header-top start */
.header {
  background-color: #f6f6f6;
  overflow: hidden;
}

.header .head {
  margin: 0 auto;
  width: 1180px;
  height: 34px;
}

.header .head .title {
  float: left;
  font-size: 12px;
  color: #666666;
  line-height: 34px;
}

.header .option {
  float: right;
  height: 34px;
}

.header .option > div {
  position: relative;
  float: left;
  margin-right: 20px;
  color: #666666;
  font-size: 12px;
  line-height: 34px;
}

.header .option > div a {
  color: #666666;
  font-size: 12px;
  line-height: 34px;
}

.header .option > div i {
  color: #c4c4c4;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .option .cellphone a span {
  padding-left: 21px;
}

.header .option .login a {
  margin-right: 12px;
}

.header .option .supplierLogin, .header .option .login a:last-child {
  margin-right: 0px;
}

.header .option > div i.fa-mobile {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 26px;
}

.header .option i.fa-qq, .header .option i.fa-weixin {
  font-size: 16px;
}

.header .option > div a:hover, .header .option > div a:hover i {
  color: #ff7e1d;
}

/* header-top end */
.top-bg {
  background-color: #ffffff;
  padding-top: 10px;
}

.top-bg .top-box {
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 1180px;
  min-height: 70px;
}

.top-bg .top-box .logo {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 280px;
  text-align: left;
  overflow: hidden;
}

.top-bg .top-box .logo a.title {
  display: block;
  margin-top: 10px;
  color: #666666;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

/* search  start*/
.search-box {
  position: relative;
  float: left;
  margin-top: 10px;
  height: 44px;
  border: solid 2px #ff8540;
}

.search-box .sub-search-list {
  position: relative;
  margin-bottom: 10px;
  height: 44px;
  overflow: hidden;
}

.search-box .city-dropdown {
  float: left;
  position: relative;
}

.search-box .city-dropdown .set-out-btn {
  position: relative;
  float: left;
  border-radius: 0;
  border: none;
  padding: 12px 12px;
  width: 108px;
  border-right: solid 1px #e0e1e2;
  height: 40px;
  text-align: left;
  cursor: pointer;
  background-color: #f6f6f6;
}

.search-box .city-dropdown .set-out-btn .txt {
  float: left;
  font-size: 12px;
  color: #999999;
}

.search-box .city-dropdown li {
  padding: 0px;
}

.search-box .city-dropdown.select .dropdown-menu li a:hover {
  color: #fff !important;
  text-decoration: none;
  outline: 0;
  background-color: #ff7e1d !important;
  border-radius: 0px !important;
}

.search-box .set-out-btn .fa-angle-down {
  position: absolute;
  right: 12px;
  top: 14px;
}

.search-box .search-txt {
  position: relative;
  float: left;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  padding-right: 40px;
  overflow: hidden;
  font-size: 12px;
}

.search-box .search-btn {
  position: relative;
  width: 78px;
  height: 40px;
  float: left;
  border-radius: 0;
  line-height: 40px;
  color: #fff;
  background-color: #ff8540;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: none;
}

.search-box .search-input {
  float: left;
  width: 394px;
}

.search-box i.fa-close {
  line-height: 40px;
  font-size: 14px;
  position: absolute;
  top: 0px;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 1;
  color: #999999;
  right: 78px;
  cursor: pointer;
  display: none;
}

.search-box i.fa-search {
  padding-right: 10px;
}

.search-box .hot-city {
  position: absolute;
  top: 44px;
  left: -2px;
  width: 579px;
  background-color: #fff;
  padding: 0 15px 15px 15px;
  border: solid 1px #e5e5e5;
  z-index: 98;
  display: none;
}

.search-box .hot-city .title {
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  text-align: left;
  color: #ff7e1d;
  font-weight: bold;
  border-bottom: dotted 1px #e5e5e5;
  font-size: 14px;
}

.search-box .hot-city i.fa-remove {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #999999;
  cursor: pointer;
}

.search-box .hot-city .son-title {
  font-size: 12px;
  color: #333333;
  font-weight: 700;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
  line-height: 1;
}

.search-box .hot-city .city-con-right {
  position: absolute;
  left: 44px;
}

.search-box .hot-city .city-con-right ul {
  margin-bottom: 10px;
  overflow: hidden;
}

.search-box .hot-city .city-con-right ul:last-child {
  margin-bottom: 0px;
}

.search-box .hot-city .city-con-right li {
  float: left;
  position: relative;
}

.search-box .hot-city .city-con-right li a {
  padding-right: 10px;
  padding-bottom: 10px;
  color: #666666;
  font-size: 12px;
  display: block;
  line-height: 1;
  text-decoration: none;
}

.search-box .hot-city .city-con-right li a:hover {
  color: #ff7e1d;
}

.search-box .search-list {
  position: absolute;
  top: 44px;
  left: -2px;
  z-index: 99999;
  width: 110px;
  max-height: 331px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  overflow: auto;
  display: none;
}

.search-box .search-list li {
  float: left;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: dashed 1px #e5e5e5;
  cursor: pointer;
}

.search-box .search-list li:last-child {
  border-bottom: none;
}

.search-box .search-list li a {
  color: #666666;
  text-decoration: none;
}

.search-box .search-list li:hover a {
  color: #ff8540;
}

/* search end */
/* cus-service start */
.cus-service {
  position: relative;
  float: right;
  margin-top: 10px;
  width: 200px;
  background-color: #f6f6f6;
}

.cus-service .cus-service-con {
  height: 50px;
  border: solid 1px #e5e5e5;
  overflow: hidden;
}

.cus-service .icon {
  width: 50px;
  height: 50px;
  text-align: center;
}

.cus-service i.fa-phone {
  color: #ff7e1d;
  font-size: 38px;
  line-height: 50px;
}

.cus-service .txt {
  width: 124px;
  text-align: left;
  margin-top: 5px;
}

.cus-service .txt .title {
  font-size: 12px;
  color: #999999;
}

.cus-service .txt .tel {
  font-family: Arial;
  font-size: 18px;
  color: #ff7e1d;
  font-weight: 700;
}

.cus-service .faIcon {
  line-height: 50px;
}

.cus-service .faIcon i.fa-caret-down {
  color: #ff7e1d;
  font-size: 14px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.cus-service:hover .faIcon i.fa-caret-down {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.cus-service:hover .cus-service-ul {
  display: block;
}

.cus-service-ul {
  display: none;
  position: absolute;
  top: 50px;
  width: 200px;
  overflow: hidden;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.cus-service-ul li {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  color: #666666;
}

.cus-service-ul li > p {
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-bottom: dashed 1px #e5e5e5;
}

.cus-service-ul li:last-child p {
  border-bottom: none;
}

.cus-service-ul li .name {
  float: left;
}

.cus-service-ul li .tel {
  float: right;
}

/* cus-service end */
/* head-nav start */
.head-nav {
  background-color: #333333;
  height: 40px;
}

.head-nav > ul {
  width: 1180px;
  margin: 0 auto;
}

.head-nav > ul > li {
  position: relative;
  float: left;
  height: 40px;
  line-height: 40px;
  width: 120px;
  text-align: center;
  overflow: hidden;
}

.head-nav > ul > li > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.head-nav > ul > li > a:hover, .head-nav > ul > li a.active {
  background-color: #ff7e1d;
}

.sub-list {
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #ffffff;
  z-index: 99;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: none;
}

.sub-list li {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}

.sub-list a {
  display: block;
  color: #333333;
  font-size: 14px;
}

.sub-list a:hover {
  background-color: #ff7e1d;
  color: #ffffff;
}

.head-nav > ul > li.more {
  overflow: visible;
}

.head-nav > ul > li.more:hover .sub-list {
  display: block;
}

/* head-nav end */
/* go-top start */
.go-top {
  position: fixed;
  bottom: 200px;
  z-index: 999;
  display: none;
}

.go-top > div {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ededed;
  text-align: center;
  color: #666666;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.go-top > div i {
  color: #999999;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.go-top .qq i.fa-qq {
  font-size: 26px;
  line-height: 50px;
}

.go-top .code, .go-top .qq {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
  text-align: center;
}

.go-top .code .fa-qrcode {
  font-size: 34px;
  line-height: 50px;
}

.go-top .code .code-img {
  opacity: 0;
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  width: 154px;
  height: 168px;
  padding: 20px;
  border: solid 1px #e5e5e5;
}

.go-top .code .code-img img {
  width: 114px;
  height: 114px;
}

.go-top .code:hover, .go-top .qq:hover {
  overflow: visible;
  background-color: #ff7e1d;
}

.go-top .code:hover i.fa-qrcode, .go-top .qq:hover i.fa-qq {
  color: #ffffff;
}

.go-top .scroll-top {
  display: none;
}

.go-top .scroll-top:hover {
  background-color: #ff7e1d;
}

.go-top .scroll-top:hover i.fa-angle-up {
  color: #ffffff;
}

.go-top .code:hover .code-img {
  opacity: 1;
  animation: myfirst 1s;
  -moz-animation: myfirst 1s;
  -webkit-animation: myfirst 1s;
  -o-animation: myfirst 1s;
}

.go-top .scroll-top .fa-angle-up {
  font-size: 40px;
  color: #999999;
  line-height: 50px;
}

@keyframes myfirst {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
@-moz-keyframes myfirst /* Firefox */ {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
@-webkit-keyframes myfirst /* Safari ºÍ Chrome */ {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
@-o-keyframes myfirst /* Opera */ {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
/* go-top end */
/* contact start */
.contact {
  padding-top: 24px;
  background-color: #666666;
  text-align: center;
  height: 80px;
}

.contact .txt {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 1;
  height: 14px;
  overflow: hidden;
}

.contact .copyright {
  color: #999999;
  font-size: 12px;
  line-height: 1;
  padding-top: 10px;
}

/* contact end */
/* skill start */
.skill {
  background-color: #333333;
  color: #999999;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* skill end */
html {
  height: 100%;
}

.text_left {
  text-align: left;
}

.text_right {
  text-align: right;
}

.bok_deColor {
  color: #999999;
}

.bok_tColor {
  color: #666666;
}

.go_shopping {
  background: #fff;
  border: 1px solid #e5e5e5;
  color: #666666;
  padding: 5px 10px;
  border-radius: 4px;
  margin-top: 20px;
  display: inline-block;
}

.font16 {
  font-size: 16px;
}

.font12 {
  font-size: 12px;
}

body .personal_center {
  min-height: 540px;
  width: 1180px;
  margin: 15px auto;
}

.personal_center .title {
  padding: 14px 20px;
  border-bottom: 1px solid #e5e5e5;
  background: #f9f9f9;
  box-sizing: border-box;
  font-size: 16px;
  font-weight: bold;
}

.menu_title {
  margin-bottom: 15px;
  font-size: 12px;
  color: #666666;
}

.personal_center .menu {
  min-height: 500px;
  padding: 0px 0px 20px 0px;
  width: 250px;
  background: #fff;
  float: left;
  border: 1px solid #e5e5e5;
}

.personal_center .menu ul, .personal_center .menu li {
  width: 100%;
  box-sizing: border-box;
}

.personal_center .menu li {
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  padding-left: 30px;
}

.personal_center .menu li.on {
  color: #FF7E1D;
}

.personal_center .main_panel {
  float: left;
  min-height: 498px;
  width: 910px;
  background: #fff;
  margin-left: 20px;
  border: 1px solid #e5e5e5;
}

.main_panel .all_bok {
  position: relative;
  width: 100%;
  padding: 19px 20px;
  box-sizing: border-box;
  min-height: 447px;
}

.all_bok .bok_item {
  margin-bottom: 19px;
  width: 100%;
  height: 195px;
  border: 1px solid #e5e5e5;
}

.all_bok .bok_item:last-child {
  margin: 0;
}

.bok_item .bok_num {
  width: 100%;
  border-bottom: 1px solid #e5e5e5;
  display: inline-block;
  clear: both;
  padding: 15px 20px;
  box-sizing: border-box;
}

.bok_num .bok_half {
  width: 50%;
  font-size: 14px;
  display: inline-block;
  float: left;
}

.all_bok .bok_info {
  width: 100%;
  padding: 20px;
  clear: both;
  display: inline-block;
  margin-top: -5px;
}

.bok_info .bok_pro, .bok_info .bok_cus, .bok_info .bok_desc {
  float: left;
  height: 105px;
}

.bok_info .bok_pro {
  width: 380px;
  border-right: 1px solid #e5e5e5;
  box-sizing: border-box;
}

.bok_info .bok_cus {
  width: 250px;
  box-sizing: border-box;
  padding: 30px 25px;
  border-right: 1px solid #e5e5e5;
}

.bok_info .bok_desc {
  width: 166px;
  padding: 30px 0 0 25px;
  box-sizing: border-box;
  overflow: hidden;
}

.bok_desc p:first-child {
  color: #999999;
}

.bok_desc .desc_info {
  color: #666666;
  height: 60px;
  line-height: 20px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 3;
  word-break: break-all;
}

.bok_cus p {
  line-height: 24px;
}

.pro_name {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 228px;
  display: inline-block;
  color: #666666;
}

.bok_pro dl {
  clear: both;
  display: inline-block;
}

.bok_pro dl dt, .bok_info dl dd {
  float: left;
}

.bok_pro dl dt {
  width: 140px;
  margin-right: 10px;
}

.bok_info dl dd {
  width: calc(100% - 150px);
  width: -webkit-calc(100% - 150px);
  width: -moz-calc(100% - 150px);
  width: -o-calc(100% - 150px);
  width: -ms-calc(100% - 150px);
}

.bok_pro dl dt img {
  width: 100%;
  height: 105px;
}

.bok_pro dl dd {
  color: #666666;
}

.bok_pro dl dd p {
  line-height: 24px;
}

.bok_pro dl dd .money {
  color: #FF7E1D;
  font-size: 20px;
  font-weight: bold;
  line-height: 24px;
}

.bok_pro .money small {
  font-size: 14px;
  line-height: 24px;
}

.main_panel .fa-shopping-cart {
  font-size: 90px;
  color: #c4c4c4;
}

.no_booking {
  text-align: center;
  top: 50%;
  left: 0px;
  right: 0;
  position: absolute;
  margin-top: -96px;
  background: #fff;
}
