@charset "utf-8";
$font-path:'wl-iconfont/'; //注意,相对路径是根据 import 此 sass文件的相对目录来制定,而非此文件本身的路径
@font-face {font-family: "wl-iconfont";
  src: url('#{$font-path}iconfont.eot'); /* IE9*/
  src: url('#{$font-path}iconfont.eot#iefix') format('embedded-opentype'), /* IE6-IE8 */
  url('#{$font-path}iconfont.woff') format('woff'), /* chrome, firefox */
  url('#{$font-path}iconfont.ttf') format('truetype'), /* chrome, firefox, opera, Safari, Android, iOS 4.2+*/
  url('#{$font-path}iconfont.svg#wl-iconfont') format('svg'); /* iOS 4.1- */

  //src: url('#{$font-path}iconfont.eot?t=1471327092')
  //如果使用 webpack编译,不能在引用资源后面加上时间戳等 带 ?xx=xx的参数,否则在编译可能会报错
  //;
}

.wl-iconfont {
  font-family:"wl-iconfont" !important;
  font-size:16px;
  font-style:normal;
  -webkit-font-smoothing: antialiased;
  -webkit-text-stroke-width: 0.2px;
  -moz-osx-font-smoothing: grayscale;
}
.wl-add:before { content: "\e600"; }
.wl-close:before { content: "\e601"; }
.wl-eye:before { content: "\e602"; }
.wl-female:before { content: "\e603"; }
.wl-left:before { content: "\e604"; }
.wl-like:before { content: "\e605"; }
.wl-mail:before { content: "\e606"; }
.wl-male:before { content: "\e607"; }
.wl-right:before { content: "\e608"; }
.wl-shai:before { content: "\e609"; }
.wl-peopple:before { content: "\e60a"; }
