@charset "UTF-8";
/* 重置样式 start*/
html {
  height: auto;
  background-color: #ededed;
}

body, h1, h2, h3, h4, h5, h6, div, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td, footer, header, optgroup, select, em {
  margin: 0;
  padding: 0;
  font-family: "Microsoft YaHei";
  font-size: 14px;
  letter-spacing: normal;
  word-spacing: normal;
  vertical-align: top;
  /*去除webkit中块之间的间隙*/
}

body {
  font-family: "Microsoft YaHei", Helvetica, Arial, sans-serif;
  width: 100%;
  max-width: 640px;
  -webkit-text-size-adjust: 100%;
  color: #333;
  background: #ededed;
  -webkit-appearance: none;
  /*解决Iphone下橱窗字体变大问题*/
}

a {
  background-color: transparent;
  text-decoration: none;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
  /*禁止链接高亮*/
  -webkit-touch-callout: none;
  /*禁止链接长按弹出选项菜单*/
}

a:hover {
  text-decoration: none;
}

img {
  border: none;
}

ul, li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.img100 {
  width: 100%;
}

input {
  color: #666;
}

input, button, select, textarea {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
  -webkit-tap-highlight-color: transparent;
  border: none;
}

input:focus {
  -webkit-appearance: none;
  outline: none;
  appearance: none;
  -moz-appearance: none;
  -o-appearance: none;
}

/*.clearfix:after{content: "020";display: block; height: 0;clear: both;visibility: hidden;}*/
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* 重置样式 end*/
.header i.gm-back {
  display: inline-block;
  cursor: pointer;
  position: absolute;
  left: 0px;
  top: 0px;
  padding: 0 10px;
  height: 50px;
  font-size: 22px;
  color: #ff7e1d;
  line-height: 45px;
}

.add-info label {
  position: relative;
  padding-left: 60px;
  color: #333333;
}

.add-info {
  background-color: #ffffff;
  padding: 0 15px;
  border-bottom: solid 1px #e5e5e5;
}

.add-info li {
  position: relative;
  height: 45px;
  line-height: 45px;
  border-bottom: solid 1px #e5e5e5;
  color: #666666;
  font-size: 14px;
}

.add-info li:last-child {
  border-bottom: none;
}

.add-info input[class$="-input"] {
  margin-left: 30px;
  padding-top: 10px;
  padding-bottom: 10px;
  width: -webkit-calc(100% - 86px);
  width: -moz-calc(100% - 86px);
  width: -o-calc(100% - 86px);
  width: -ms-calc(100% - 86px);
  width: calc(100% - 86px);
  border: none;
  height: 45px;
  line-height: 45px;
  color: #333333;
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

.add-info li > span, .add-info li span.en-name {
  float: left;
  width: 56px;
}

.add-info li span.en-name {
  line-height: 90px;
}

.add-info li.name {
  height: 90px;
}

.add-info input[class*="-name-"] {
  width: -webkit-calc(100% - 30px);
  width: -moz-calc(100% - 30px);
  width: -o-calc(100% - 30px);
  width: -ms-calc(100% - 30px);
  width: calc(100% - 30px);
}

.add-info input[class="last-en-name-input"] {
  border-bottom: solid 1px #e5e5e5;
}

.add-info span.card-type {
  padding-left: 30px;
  color: #333333;
}

.add-info select.card-type {
  margin-left: 30px;
  margin-top: 12px;
  border: none;
  width: -webkit-calc(100% - 86px);
  width: -moz-calc(100% - 86px);
  width: -o-calc(100% - 86px);
  width: -ms-calc(100% - 86px);
  width: calc(100% - 86px);
}

.add-info i.gm-next {
  position: absolute;
  top: 0px;
  right: 0px;
  color: #999999;
}

.keep-btn {
  position: fixed;
  bottom: 0px;
  width: 100%;
}

.keep-btn button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  color: #ffffff;
  font-size: 18px;
  text-align: center;
  background-color: #ff7e1d;
  border: none;
}

/* input[name="passport"],input[name="gangAoPermit"],input[name="taiwanPermit"]{display:none;} */
@media (max-height: 470px) {
  .keep-btn button {
    display: none;
  }
}
