@charset "utf-8";
@import '../theme.scss';
.header i.gm-back{display:inline-block;cursor:pointer;position:absolute;left:0px;top:0px;padding:0 10px;height:50px;font-size:22px;color:#ff7e1d;line-height:45px;}

.order-list li{padding-left:15px;padding-right:15px;margin-top:10px;background-color:#ffffff;border-top:solid 1px #e5e5e5;border-bottom:solid 1px #e5e5e5;}
.order-list .order-num{position:relative;height:45px;line-height:45px;color:#999999;font-size:14px;border-bottom:solid 1px #eaeaea;}
.order-list .order-num em{font-style:normal;}
.order-list .order-num>span{position:absolute;right:0px;bottom:0px;color:#ff7e1d;}
.order-list .order-num>span.done{color:#999999;}
.order-list .order-num>span.refund{color:#EF2626;}
.order-list .order-title{margin-top:15px;margin-bottom:20px;}
.order-list .order-title a{color:#333333;font-size:16px;}
.order-list .order-info{position:relative;height:30px;line-height:30px;border-bottom:solid 1px #eaeaea;}
.order-list .order-info span{font-size:12px;color:#666666;}
.order-list .order-info span.time{margin-left:10px;}
.order-list .order-info .price{position:absolute;right:0px;bottom:0px;}
.order-list .order-info .price span{font-size:14px;color:#EF2626;}
.order-list .order-info .price span.num{font-size:19px;}
.order-list .order-select{height:60px;line-height:60px;}
.order-list .order-select .order-btn{float:right;}
.order-list .order-select .order-btn span{display:block;padding:0 10px;height:35px;line-height:35px;border-radius:4px;background-color:#ffffff;color:#333333;border:solid 1px #cccccc;}
.order-list .order-select .order-btn a{float:left;margin-top:10px;margin-right:10px;}
.order-list .order-select .order-btn a:last-child{margin-right:0px;}
.order-list .order-select .order-btn span.active{background-color:#ff7e1d;color:#ffffff;border:solid 1px #ff7e1d;}
.order-list .order-select .refund-num{float:left;color:#EF2626;font-size:14px;}
.order-list .order-select .refund-num span.num{font-size:19px;}
.artDialog{display:none;}
.artDialog-bg{position:fixed;top:0px;left:0;z-index:99;width:100%;height:100%;background-color:#000000;opacity:0.5}
.artDialog-info{position:fixed;top:150px;left:50%;margin-left:-150px;z-index:100;background-color:#ffffff;width:300px;height:135px;border:solid 1px #eaeaea;border-radius:4px;}
.artDialog-info .title{color:#333333;font-size:16px;text-align:center;line-height:90px;line-height:90px;border-bottom:solid 1px #eaeaea;}
.artDialog-info .select-btn>div{float:left;height:45px;width:50%;line-height:45px;text-align:center;color:#333333;font-size:18px;}
.artDialog-info .select-btn>div.no{margin-right:-1px;color:#666666;border-right:solid 1px #eaeaea;}
.artDialog-info .select-btn>div a{display:block;color:#333333;}




@media screen  and (max-device-width:320px){
	.order-list .order-select .refund-num{font-size:12px;}
	.order-list .order-select .refund-num span.num{font-size:15px;}
	.order-list .order-select .order-btn span{padding:0 3px; line-height:30px;height:30px;}
	.order-list .order-select .order-btn a{margin-right:5px;}
}