@charset "utf-8";
@import '../theme.scss';
body{margin:0 auto}
.header i.gm-back{display:inline-block;cursor:pointer;position:absolute;left:0px;top:0px;padding:0 10px;height:50px;font-size:22px;color:#ff7e1d;line-height:50px !important;}
.order{overflow:hidden;padding:15px;background-color:$font_white;border-bottom:1px solid $border_box;
	div:first-child{font-size:16px;padding-bottom:15px;color:$font_deep}
	div:last-child{height:25px;;line-height:25px;
		>span:first-child{float:left; display:inline-block;position:relative;top:3px;
			span:first-child{color:$font_content}
			span:last-child{color:$font_title;font-size:14px}
		}
		>span:last-child{float:right;display:inline-block;
			span:first-child{color:$font_content}
			span:last-child{color:$ornamentDeep;font-size:19px}
		}
	}
}

.pay_list{background-color:$font_white;border-bottom:1px solid $border_box;border-top:1px solid $border_box;margin-top:10px;padding:0 15px;
	a{display:block;height:40px;text-decoration:none;overflow:hidden;padding:15px 0px;
	   >span{display:inline-block;float:left;height:40px;}
	   >span:first-child{width:40px;overflow:hidden;
	   	 i{font-size:45px;position:relative;top:-4px;left:-3px;color:#00aaef}
	   	 .gm-weixin-pay{font-size:46px;color:#00c700}
	   }
	   >span:nth-child(2){margin-left:10px;
	   	  span{display:block;}
	   	  span:first-child{color:$font_deep;font-size:16px;}
	   	  span:last-child{color:$font_content;font-size:14px;}
	   }
	   >span:nth-child(3){float:right;line-height:40px;
	   	 i{color:$font_content !important;}
	   }
	}
	a:first-child{border-bottom:1px solid $border_box}
}
.pay_footer{text-align:center;padding:20px 0px;font-size:12px;color:$font_content}

