@charset "utf-8";
@import '../theme.scss';
	$border_ccc:#cccccc;
 	.header .gmIcon.gm-back{line-height: 55px;}
    body{overflow-x:hidden;width: 100%; font-family: "微软雅黑";}
    .header i.gm-back { display: inline-block; cursor: pointer; position: absolute;  left: 0px;  top: 0px;  padding: 0 10px;  height: 50px;  font-size: 22px;  color: #ff7e1d;  line-height: 50px !important; }    
    
    @media screen  and (max-device-width:1199px){
    	.rules_Info{width:100%;padding:10px;box-sizing:border-box;color: $font_title;}
    	table{border-bottom:1px solid $border_ccc;border-right:1px solid #ccc;}
    	table *{font-size: 12px;}
	    table tr{border-top: 1px solid $border_ccc;}
	    table td{border-left: 1px solid $border_ccc; border-top:1px solid $border_ccc;}
	    .rules_Info > p{text-indent:10px;line-height:18px;font-size: 14px;margin:0px;color: $font_title;}
	    .rulesTitle{font-size: 18px;text-align: center;line-height: 150%;}
	    .rulesCode{font-size: 16px;text-align: center;line-height: 150%;margin-bottom: 10px;}
	    .rules_num{margin:8px 0px!important;}
	    .returnTop {
		    position: fixed;
		    display: none;
		    z-index: 18;
		    right: 5px;
		    bottom: 65px;
		    text-align: center;
		}
    }
