@CHARSET "UTF-8";
.btn-select select{height:35px;}
.banner-list {list-style:none;margin:0px auto;width:100%;}
.banner-list .bg_img{position: relative;width:100%;}
.banner-list li {position:relative;width:18%;height:auto;background-size:100% 100%;margin:0.5%; display:inline-block;vertical-align:top;}
.paginationWrap{padding:0px 20px}
.paginationWrap > div{margin:0;}
.banner-list li .banner-list-title-bg {position: absolute;left: 0; top: 0;right: 0; background: #000;height: 35px;line-height: 35px; z-index:0;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}
.banner-list li .banner-list-title{position: absolute;z-index:2;left: 0; top: 0;right: 0; margin: 0; color: #FFFFFF ;text-align: center;vertical-align:middle;height: 35px;line-height: 35px;width: 100%;}

.banner-list li .banner-list-active {display: none;position: absolute;z-index:1;width: 100%;height: 100%;height: 100%;top: 0;}
.banner-list li:hover .banner-list-active {display: block;}
.banner-list li:hover .banner-list-title, .banner-list li:hover .banner-list-title-bg { display: none;}

.banner-list li .banner-list-active-bg {position: absolute;left: 0; top: 0;right: 0; background: #000;height: 100%;width:100%; z-index:-1;
	filter:alpha(opacity=60);
	-moz-opacity:0.6;
	-khtml-opacity: 0.6;
	opacity: 0.6;
}

.banner-list li .banner-list-active-op {position: absolute;left: 0; top: 100px;right: 0;width: 100%;text-align:center;}

.banner-list li .banner-list-active-title-bg {position: absolute; bottom:0 ;left: 0;right: 0; background: #000;height: 35px;line-height: 35px; z-index:-1;
	filter:alpha(opacity=70);
	-moz-opacity:0.7;
	-khtml-opacity: 0.7;
	opacity: 0.7;
}
.banner-list li .banner-list-active-title{position: absolute;bottom:0;left: 0;right: 0; margin: 0; color: #FFFFFF ;text-align: center;vertical-align:middle;height: 35px;line-height: 35px;width: 100%;}


.banner-list li .banner-list-preview {position: absolute;left: 0;top: 0; display: none;z-index: 100;}

