@charset "utf-8";
@import '../theme.scss';
html {
    font-size: 62.5%;
    background: url(../../images/login/bg.png) no-repeat;
    background-size: 100% 100%;
    position: absolute;
    height: 100%;
    width: 100%;
}

body {
    background: none!important;
}

.header {
    min-height: 45px;
    line-height: 45px;
    background: none!important;
    width: 100%;
    text-align: center;
    position: relative;
    border-bottom: none!important;
    ;
}

.header .gmIcon.gm-back,
.header .page_name {
    color: #fff!important;
    line-height: 45px;
    height: 45px;
}

.tab {
    width: calc(100% - 2px);
    width: -webkit-calc(100% - 2px);
    width: -moz-calc(100% - 2px);
    width: -ms-calc(100% - 2px);
    width: -o-calc(100% - 2px);
    border: 1px solid #fff;
    box-sizing: border-box;
    @include setBorderRadius(4px);
    overflow:hidden;
    margin-bottom:15px;
}

.tab .tab_left,
.tab .tab_right {
    width: 50%;
    height: 40px;
    text-align: center;
    background: none;
    border: none;
    font-size: 16px;
    color: #ffffff;
    float: left;
    line-height: 40px;
    font-size: 16px;
}

.form_input a,
span,
p {
    color: #ffffff;
}

.form_input {
}

.tab .on {
    background: #ffffff;
    color: $font_deep;
}

.qqLogin {
    background: #fff;
    display: inline-block;
    position: relative;
    width: 60px;
    height: 60px;
    @include setBorderRadius(50px);
    margin-top:15px;
}

.qqLogin .gmIcon {
    font-size: 40px;
    color: #29BEFF;
    position: absolute;
    top: 6px;
    left: 10px;
}

.main {
    width: 100%;
    font-size: 1.1rem;
    padding-bottom: 2.0rem;
    background-color: none;
}

.main .login-title {
    width: 100%;
    overflow: hidden;
    text-align: center;
    padding-top: 0rem;
    margin-bottom: 0rem;
    font-size: 1.1rem;
}

.main .login-title label {
    padding-left: 1.6rem;
    padding-right: .0.3rem;
}

.loginForm {
    width: 100%;
    height: auto;
    padding: 3px 15px;
    box-sizing: border-box;
}

.loginForm .login-group {
    width: 100%;
    overflow: hidden;
    @include setBorderRadius(4px);
    margin-bottom: 10px;
}

.loginForm .login-group .labelIcon {
    font-size: 16px;
}

.loginForm .erro-group {
    width: 80%;
    position: absolute;
    top: 50%;
    left: 6%; 
    z-index: 10;
    display:none;
}

.diy_error {
    text-align: center;
}

.loginForm .login-group .user,
.loginForm .login-group .pwd,
.loginForm .login-group .code {
    width: 100%;
    height: 50px;
    @include setBoxSizing();
    background: white !important;
    position: relative;
}

.loginForm .login-group .user,.loginForm .login-group .code {
    border-bottom: 1px solid $border_box;
}

.loginForm .login-group input {
    border: none;
    padding: 14px 0px 12px 0px;
    @include setCalc(100%, 85px);
    line-height: 20px;
    font-size: 14px;
    color: $font_deep;
    box-sizing: border-box;
    background: $font_white;
    @include setBorderRadius(0px 4px 4px 0px);
    @include clearAppearance();
    font-size: 16px;
}

.verify_li {
    background: #ffffff;
    width: 100%;
    height: 50px;
    position: relative;
    @include setBorderRadius(4px);
    margin-bottom: 15px;
}

.phoneLogin .verify_li {
    border-radius: 0!important;
}

.J_getCode {
    color: $font_title;
    font-size: 15px;
    position: absolute;
    top: 0px;
    right: 15px;
    line-height:46px;
    background-color:#fff; 
}

.J_eye_pwd {
    position: absolute;
    top: 0px;
    padding:14px 0px; 
    right: 15px;
    color: $font_content;
    font-size: 20px;
    text-align: center;
}
.J_eye_pwd.gm-eyes{
    color:$themeDeep;
}
.loginForm .verify_input {
    font-size: 16px;
    width: 140px !important;
    border: none;
    height: 48px;
    line-height: 48px;
     @include setBorderRadius(4px);
}

.loginForm .verify_show {
    position: absolute;
    top: 0px;
    right: 15px;
    padding:10px 0px;
}

.loginForm .verify_show img {
    height:28px;
}

input:-webkit-autofill,
textarea:-webkit-autofill,
select:-webkit-autofill {
    background-color: $font_white!important;
    background-image: none!important;
    color: rgb(0, 0, 0)!important;
    -webkit-appearance: none;
}

input::-moz-placeholder {
    color: $font_content!important;
}

input::-ms-placeholder {
    color: $font_content!important;
}

input::-webkit-input-placeholder {
    color: $font_content!important;
}

 .lableIcon {
    text-align: right;
    max-width: 54px;
    min-width: 30px;
    padding: 0px 15px;
    display: inline-block;
    height: 50px;
    font-size: 16px;
    line-height: 48px;
    color:$font_title;
}

 .J_loginBtn {
    width: 100%;
    height: 45px;
    font-size: 18px;
    text-align: center;
    color: white;
     @include setBorderRadius(4px)
}

.loginForm p {
    font-size: 14px;
    margin-top: 15px;
    color: $font_deep;
}

body .main .login-group .J_loginBtn {
    background: none;
    border: 1px solid #ffffff;
    margin-top:5px;
}

.main .done {
    width: 100%;
    height: auto;
    padding-top: 1px;
    font-family: $family;
    box-sizing: border-box;
    padding: 15px;
}

.main .login-user {
    font-size: 18px;
    line-height: 30px;
}

.main_do {
    background: $font_white;
    padding: 30px 0px;
    width: 100%;
    margin-bottom: 15px;
    border: 1px solid $border_box;
     @include setBorderRadius(4px);
    box-sizing: border-box;
}

.main .done .login-title {
    font-size: 1.4rem;
}

.main .done .done-group {
    height: 70px;
    width: 260px;
    margin: 0px auto;
}

.main .done .done-group ul {
    width: 210px;
    text-align: center;
    margin-top: 5px;
    margin-left: -3px;
}

.main .done .done-group ul li {
    color: $font_title;
}

.main .know {
    width: 100%;
    height: 50px;
    font-size: 18px;
    text-align: center;
    color: white;
     @include setBorderRadius(4px);
    margin-bottom: 15px;
}

.done-group p {
    line-height: 20px;
}

body .main .done input[type="checkbox"] + label {
    position: relative;
    margin-left: -13px;
    z-index: 10;
    display: inline-block;
    cursor: pointer;
    margin-right: 0.5rem;
    width: 18px;
    height: 18px;
    background-color: $font_white;
     @include setBorderRadius(4px);
    border: 0.1rem solid #d7d7d7;
}

body .main .done input[type=checkbox] {
    opacity: 0;
}

.gmIcon.gm-check:before {
    color: $font_white;
}

#login .Validform_error ,#register .Validform_error{
    background-color: transparent;
    height: 40px;
    color: $font_white;
}

#login .Validform_wrong,#register .Validform_wrong  {
    color: $font_white;
    white-space: nowrap;
    background: rgba(0, 0, 0, 0.6);
    background-size: 15px 15px;
    max-width: 100%;
    padding: 0px 10px;
    text-align: center;
    border: none;
     @include setBorderRadius(4px);
}

#login .Validform_checktip,#register .Validform_checktip {
    margin-left: 0px;
    line-height: 20px;
    height: 40px;
    line-height: 40px;
    overflow: hidden;
    color: $font_white;
    font-size: 16px;
    display: inline-block;
    max-width: 300px;
    background: rgba(0, 0, 0, 0.6);
}

.input_erro {
    border: 1px solid $ornament!important;
}

.gm-hi {
    font-size: 100px;
    color: $theme;
    display: inline-block;
    height: 80px;
    line-height: 60px
}
