@charset "utf-8";
@import "../theme.scss";
@import "../common/header";
@import "../common/product";
@import "../common/plugins";
/*优惠券列表*/
.coupon_list{width: 100%;}
.coupon_list .coupon_item{@include setBorderRadius(4px);background-color:$theme_bg;height:90px;margin-bottom:10px;display: inline-block;width: 100%;}
.coupon_list .coupon_item dt{@include setCalc(100%,55px);height:90px;float:left; padding:24px 15px;@include setBoxSizing();background-color:$font_white;color: $font_title;border-left: 3px solid $ornament;@include setBorderRadius(4px 0px 0px 4px);display:inline-block;margin:0;}
.coupon_list .coupon_item .coup_status{width:55px;height:90px;overflow:hidden;background:transparent url(../../images/coupon/cou.png) no-repeat left;background-size:20px 100%;color: $font_white;float:left;margin:0;@include setBorderRadius(0px 4px 4px 0px );@include setBoxSizing();}
.coupon_list .sale_icon{color: $ornamentLess;position: relative;display: inline-block;width: 46px;}
.coupon_item .sale_icon small,.coupon_info .sale_icon small{background-color: #ffd7db;color: $ornamentLess;position: absolute;top: -17px;padding:1px 2px;font-size: 12px;@include setBorderRadius(4px);}
.coupon_item .get_saleCode{width:40px;height:90px;padding:7px 15px 7px 0px;margin-left:20px;background:$ornamentLess;color: $font_white;display: block;@include setBoxSizing();text-align: center;}
.coupon_item.disabled dt *{color:$font_content;}
.coupon_item.disabled .sale_icon small{background-color: #f6f6f6;}
.coupon_item.disabled dt{border-color:#c4c4c4;}
.coupon_item.disabled .coup_status{background:transparent url(../../images/coupon/coup-d.png) no-repeat left;background-size:20px 100%;overflow: hidden;}
.coupon_item.disabled .get_saleCode{padding:15px 15px 15px 0px;background-color:#c4c4c4;}
.coupon_view{width: 100%;min-height: 120px;position: absolute;height: 100%;left:0px;right: 0;padding:10px;@include setBoxSizing();background-color: $font_white;}
.coupon_view .coupon{margin-bottom: 40px;color: $font_content;line-height: 20px;}
.coupon_div{margin-bottom: 10px;background:transparent url(../../images/coupon/cou-left.png) no-repeat 0px 0px;background-size:8px 70px;border:0;border-right:8px;border-image:url(../../images/coupon/cou-rgith.png) 30 30 round;-webkit-border-image:url(../../images/coupon/cou-rgith.png) 30 30 round; -o-border-image:url(../../images/coupon/cou-rgith.png) 30 30 round;}
.coupon_view .coupon_info{background-color:$ornamentLess;color:$font_white;margin-left:8px;padding:15px 21px 15px 15px;@include setCalc(100%,8px);position: relative;@include setBoxSizing();display:inline-block;}
.coupon_view dt{padding:10px 15px 0px 0;max-width:40%;float: left;border-right: 1px solid $font_white;@include setBoxSizing();}
.coupon_view dd{padding-left:15px;width:60%;float: left;@include setBoxSizing();}
.coupon_view .gm-get-sale{font-size: 50px;position: absolute;top:24px;right:0px;color: rgba(0,0,0,0.3);}
.coupon_view .priceGroup{color: $font_white;}
.coupon_get{border: 1px solid $border_box;color: $font_deep;font-size: 18px;width: 100%;text-align: center;line-height: 45px;height: 45px;background: none;@include setBorderRadius(4px);}

/*我的优惠卷*/
.coupon_list .coupon_item2{@include setBorderRadius(4px);background-color:$theme_bg;min-height:70px;margin-bottom:10px;display: inline-block;width: 100%;border-bottom: 3px solid $ornament;background-color:$font_white;}
.coupon_list .coupon_item2 dt{@include setCalc(100%,80px);height:70px;float:left; padding:24px 15px;@include setBoxSizing();color: $font_title;@include setBorderRadius(4px 0px 0px 4px);display:inline-block;margin:0;}
.coupon_list .coupon_item2 .coup_status{width:80px;padding-right:10px;height:70px;line-height:60px;font-size:16px;overflow:hidden;color: $ornamentLess;float:left;margin:0;@include setBorderRadius(0px 4px 4px 0px );@include setBoxSizing();}
.coupon_list .sale_icon{color: $ornamentLess;position: relative;display: inline-block;width: 46px;}
.coupon_item2 .sale_icon small,.coupon_info .sale_icon small{background-color: #ffd7db;color: $ornamentLess;position: absolute;top: -17px;padding:1px 2px;font-size: 12px;@include setBorderRadius(4px);}
.coupon_item2.disabled{border-bottom: 3px solid $font_less;}
.coupon_item2.disabled dt *{color:$font_content;}
.coupon_item2.disabled .sale_icon small{background-color: #f6f6f6;}
.coupon_item2.disabled .coup_status{overflow: hidden;}
.coupon_item2 .get_saleCode2{height:70px;padding:7px 0px 7px 0px;color: $ornamentLess;display: block;@include setBoxSizing();text-align: center;}
.coupon_item2.disabled .get_saleCode2{padding:7px 0px 7px 0px;color: $font_content;height:70px;}
.coupon_item2 .coup_rule{padding:10px 10px;display:inline-block;width:100%;@include setBoxSizing();font-size:12px;border-top:1px solid $border_box;color:$font_title;}
.coup_rule .gmIcon{font-size:12px;padding:0px 5px;}
.coup_rule .rule{margin-bottom:8px;}
.coup_rule .rule p{line-height:18px;font-size:12px;color:$font_content;}
.coup_rule .coup_name{color:$font_deep;font-size:14px;}
.coup_rule .show_rules{float:left;display:inline-block;}
.coup_rule .coupon_date{float:right;display:inline-block;}

/*订单页面优惠券*/
/*优惠券*/
.coupon-select{display:none;height:160px;background-color:$font_white;position:fixed;top:60px;left:4%;right:0;width:92%;z-index:30;padding-bottom:10px;@include setBorderRadius(4px);}
.coupon-select .title{text-align:center;font-size:18px;color:$font_deep;position:relative;background-color:$font_white;padding-top:15px;@include setBorderRadius(4px);}
.coupon-select .gm-sale-close{position:absolute;right:5px;top:5px;color:$font_desc;font-size:14px;padding:10px;cursor:pointer;}
.coupon_list .coupon_item3{@include setBorderRadius(4px);background-color:$theme_bg;min-height:70px;position:relative;@include setBoxSizing();@include setCalc(100%,20px);display: inline-block;background-color:$font_white;margin:10px 10px 0px;padding:10px 0px 10px 10px;}
.coupon_list .coupon_item3 dt{height:auto;float:left;padding:10px 0px 0px 0px;margin:0px 10px 0px 5px;max-width:120px;@include setBoxSizing();color: $font_title;@include setBorderRadius(4px 0px 0px 4px);display:inline-block;}
.coupon_list .coupon_item3 dd.coup_status{min-width:160px;max-width:180px;border-left:1px solid $border_box;padding:0px 0px 0px 10px;line-height:18px;font-size:12px;overflow:hidden;color:$font_content;float:left;margin:0;@include setBorderRadius(0px 4px 4px 0px );@include setBoxSizing();}
.coupon_item3 .coup_status .rule{font-size:14px;color:$font_deep;}
.coupon_item3 .coup_status .get_saleCode3{display:inline-block;position:absolute;top:10px!important;right:0px!important;left:calc(100% - 30px);}
.disabled{display:none;}
.coupon_item3.disabled{border-bottom:none;}
.coupon_item3.disabled *{color:$font_content!important;}
.coupon_item3.disabled .get_saleCode3{height:20px;display:none;}

/*输入框优惠码*/
.coupon-select .coupon_input{width:100%;padding:10px;@include setBoxSizing();}
.coupon_input input.coupon_code{width:100%;padding:10px;margin:5px 0px;@include setBoxSizing();height:45px;border:1px solid $border_box;font-size:14px;@include setBorderRadius(4px);}