@charset "utf-8";
@import '../theme.scss';
body{padding-bottom:65px;background:$theme_bg;}
.header{border:none;}
.header .page_name,.header{line-height:50px;height:50px;}
.hot_all{width: 100%;height: auto;background-color: $theme_bg;}
.hot_swipe{width: 100%;height: 240px;}
.hot_list{margin-top:10px;width:100%;}
.hot_group{width: 100%;height: auto;margin-top:30px;display:inline-block;}
.group_list{margin:5px;display:block;}
.hot_title{width:100%;height: auto;position: relative;background-color:transparent;margin-bottom:5px;}
.hot_title .hot_t{width:100%;position: absolute;top: -23px;height: 45px;background-color: transparent;text-align:center;}
.hot_t .hot_title_info{line-height:45px;text-align: center;height: 45px;background-color: $font_white;color: $font_deep;display: inline-block;padding:0px 10px;}
.hot_title_info span{font-size:18px;vertical-align: bottom;}
.hot_title_img{width: 100%;height: 150px;}
.line_title{border-bottom:1px solid $border_box;display: inline-block;width:35px;height:2px; position: relative;margin:20px 10px;}
.hot_items{max-width:100%;display: inline-block;float:left;}
.hot_items .hot_left{width: 50%;float:left;}
.hot_items .hot_left .pro_links{margin:5px;display: block;}
.hot_items .hot_left a,.hot_item a{color:$font_deep;}
.hot_items .hot_pro{background-color: $font_white;}
.hot_item{width:100%;margin:0px;display: inline-block;float:left;}
.hot_item .pro_links{padding: 5px;display: inline-block;box-sizing: border-box;width: 100%;}
.hot_item .hot_pro{background-color: $font_white;}
.pro_img,.pro_info{position: relative;}
.pro_img img{width: 100%;height: 120px;}
.pro_info{height:auto;padding:3px 10px;}
.pro_name{width:100%;text-overflow: ellipsis;overflow: hidden;height:20px;line-height: 20px;}
.pro_date{color:$font_content;text-overflow: ellipsis;overflow: hidden;height:20px;line-height: 20px;font-size:12px;padding-top:2px;}
.pro_date i{font-size:14px;}
.hot_items .hot_left .pro_name{height:34px; line-height:18px;display: -webkit-box; -webkit-box-orient: vertical;overflow: hidden;text-overflow: ellipsis; -webkit-line-clamp: 2; word-break: break-all;}
.pro_prices{width: 100%;display: inline-block;color:$ornament;}
.pro_price,.pro_day{float:left;font-size:12px;width:50%;line-height: 24px;height: 24px;text-overflow: ellipsis;overflow: hidden;white-space: nowrap;}
.pro_price{text-align: left;}
.loading{background: url(/m/theme/manage/images/loading.gif) no-repeat center $font_white;
  background-size:32px 22px;}
/*价格*/
.redPrice {
    font-size: 16px;
    color: $ornament;
}
.pro_day{text-align: right;}