@charset "utf-8";
@import '../theme.scss';
.login-out{position:absolute;top:55px;left:50%;margin-left:-40px;}
.login-out .login-icon{position:relative;z-index:3;box-sizing:border-box;width:80px;height:80px;padding-top:18px;border-radius:50%;background-color:#ffffff;text-align:center;}
.login-out .login-icon a{color:#cccccc;}
.login-out .login-icon i.gm-person{font-size:24px;}
.login-out .login-icon .txt{color:#666666;font-size:12px;text-align:center;}

.login-in{position:absolute;top:55px;left:10%;}
.login-in .login-icon{position:relative;float:left;margin-right:20px;width:80px;height:80px;line-height:80px;border-radius:50%;background-color:#ffffff;text-align:center;z-index:3;}
.login-in .login-icon i.gm-person-s{font-size:44px;color:#999999;}
.banner .pic-bg{position:absolute;left:-2.5px;top:-2.5px;width:85px;height:85px;background-color:#ffffff;opacity:0.5;border-radius:50%;z-index:1;}
.login-in .txt{float:left;color:#ffffff;font-size:12px;margin-top:20px;}
.login-in .txt .name{font-size:14px;font-weight:700;}
.mine-list{margin-top:15px;}
.mine-list li{position:relative;line-height:45px;background-color:#ffffff;border-top:solid 1px #e5e5e5;}
.mine-list li:nth-child(2){border-top:none;}
.mine-list li:last-child{border-bottom:solid 1px #e5e5e5;}
.mine-list li .rightBox{overflow:hidden;margin-left:60px;border-bottom:solid 1px #e5e5e5;}
.mine-list li:last-child .rightBox{border-bottom:none;}
.mine-list li a i.gmIcon:first-child{position:absolute;background-color:#ffffff;left:15px;font-size:24px;height:40px;line-height:50px;}
.mine-list li i.gm-my-order{color:#ffae64;}
.mine-list li i.gm-my-cust{color:#76cace;}
.mine-list li i.gm-interest{color:#84c9ef;}
.mine-list li i.gm-next{margin-right:15px;color:#999999;font-size:14px;}
.mine-list li i.gm-contact-shop{color:#FFC973;}
.gm-sale-code-o{color:#ff8585;}
.mine-list li a,.mine-list li a span{color:#666;font-size:16px;}
.mine-list li a{display:block;position:relative;}
.mine-list.contact-list li{margin-top:15px;border-top:1px solid #e5e5e5;border-bottom:1px solid #e5e5e5;}
.mine-list.contact-list li .rightBox{border:none;}
.logout{padding-top:80px;padding-bottom:80px;width:100%;}
.logout .btn{margin:0 10px;padding:10px 0;background-color:#ffffff;color:#666666;font-size:16px;text-align:center;border:solid 1px #e5e5e5;border-radius:4px;}