@charset "utf-8";
@import '../theme.scss';
body{padding-bottom:60px;}
.index_all{width:100%;background-color:$theme_bg;}
.index_body{overflow:hidden;position: relative;}
.travle_list{width:100%;background:$theme_bg;overflow:hidden;}
.travle_item{height:auto;margin-bottom:10px;}
.travle_item:LAST-CHILD{margin-bottom:0px;}
.pro_info{height:auto;position: relative;}
.pro_img{width:100%;height:auto; min-height: 60px;}
a{color:#000;}
.type_name{font-size:18px; width:100%;top:50%;left:0;margin-top:-25px;text-align:center;position: absolute;z-index:1;text-shadow:0px 2px 2px #000;}
.type_name *{font-size:18px;}
.gm-gmwlvyoudujiachoose{color:$theme;}
.nav_item.travel a{color:$theme;}
.gmIcon.gm-sunlight2{font-size:32px!important;line-height: 26px;}