@charset "utf-8";
html {height: auto;}
* {
	padding: 0;
	margin: 0;
	border: 0;
	text-align: left;
	font-style: normal;
	font-weight: normal;
	font-size: 14px;
	-webkit-tap-highlight-color: rgba(0,0,0,0);	/*禁止链接高亮*/
	-webkit-touch-callout: none;					/*禁止链接长按弹出选项菜单*/
	letter-spacing: normal;word-spacing: normal;vertical-align: top; /*去除webkit中块之间的间隙*/
}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
    margin:0;padding:0;}
body {font-family: Helvetica, Arial, sans-serif;-webkit-text-size-adjust: 100%;color:#4a4a4a;-webkit-appearance:none;/*解决Iphone下橱窗字体变大问题*/}
a{text-decoration:none;cursor: pointer;}
a:hover{text-decoration:none;}
img{ border:none; }
ul,li{margin:0;padding:0;list-style:none;}
.img100{width: 100%;}
.clearfix:after{content: "020";display: block; height: 0;clear: both;visibility: hidden;}
    
.header{height:50px;line-height:50px;width:100%;text-align: center;position: relative;box-shadow:0px 2px 3px #ccc;-webkit-box-shadow:0px 2px 3px #ccc;-moz-box-shadow:0px 2px 3px #ccc;-o-box-shadow:0px 2px 3px #ccc;}
.header .return_block{position: absolute;left:0;top:0;padding:15px;height:20px;width:20px;cursor: pointer;}
.header .return_block span{height:20px;width:20px;background: url("/console/theme/blue/images/common/header/back-btn.png") no-repeat center center;display:inline-block;background-size:100% 100%;}
.header .return_home{position: absolute;right:0;top:0;padding:15px;height:20px;width:20px;cursor: pointer;}
.header .return_home span{height:20px;width:20px;background: url("/console/theme/blue/images/common/header/home.png") no-repeat center center;display:inline-block;background-size:100% 100%;}
.header .page_name{display:inline-block;font-size: 18px;color:#6699ff;}
.header .search_but{position: absolute;right:0;top:0; padding:15px;display:inline-block;height:20px;width:20px;cursor: pointer;}
.header .search_but span{height:20px;width:20px;background: url("/console/theme/blue/images/common/header/search-btn.png") no-repeat center center;display:inline-block;background-size:100% 100%;}
.topSlider{width:100%;height:260px;overflow: hidden;}
.topSlider img{width:100%;height:260px;position: relative;}
.footer{border-top:1px #d9d9d9 solid;position: relative;background-color: rgb(252,252,252);}
.bottom_info{text-align: center;width:100%;line-height:22px;}
.returnTop{position:absolute;right:10px;top:12px;padding-top:30px;width:30px;height:10px;line-height:10px; background: url("/console/theme/blue/images/common/return_top_icon.png") no-repeat top center;background-size:26px 26px;text-align: center;}
.colorBg{background: #f2f2f2;}
.bgfff{background: #fff;}
.p10br{padding:10px;width:calc(100% - 20px);width:-webkit-calc(100% - 20px);width:-moz-calc(100% - 20px);width:-o-calc(100% - 20px);border-bottom:1px #e5e5e5 solid;}
.p10{padding:10px;width:calc(100% - 20px);width:-webkit-calc(100% - 20px);width:-moz-calc(100% - 20px);width:-o-calc(100% - 20px);}
.mb5{margin-bottom:5px;}
.br1{border-bottom:1px #e5e5e5 solid;}
.br1:last-child{border:none;}

/*无信息显示*/
.no-result-body{padding:10px 0; font-size: 14px;background-color:white ;width: 100%;height: auto;overflow: hidden;text-align: center;}
.no-result-body .no-result{display:inline-block;}
.no-result-body .no-result p{width:100%;text-align: center;line-height:30px;}
.no-result-body .no-result .no-result-img{width:155px;height:200px; background: url("/console/theme/blue/images/common/search/sorryImg.png") no-repeat top center;background-size: 100% 100%;display:inline-block;}
.no-result-body .no-result .backBtn{width:120px;height: 26px;color: white;background-color:#6699ff ;border: none;border-radius:4px ;-moz-border-radius:4px;-webkit-border-radius: 4px;}

@media screen and (max-width:450px){
	.topSlider{width:100%;height:120px;overflow: hidden;position: relative;}
	.topSlider img{width:100%;height:120px;}
}