<div class="detail_main">
    <h3>工业网络空间安全态势分析报告</h3>
    <p class="detail_info">
        <span>2016-02-18   工控专家</span>
        <span class="fr">阅读20</span>
    </p>
    <div class="detail_content">
        2016年4月11日，由北京匡恩网络科技有限责任公司撰写的《2015年工业控制网络安全态势报告》（以下简称“态势报告”）正式发布，这是截至到目前为止发布的最全面、最详实的工控网络安全态势报告。
        <img src="images/pic2.png" alt="">

        态势报告从多维度、全方面扫描工控系统网络安全市场，通过对国内外工控网络安全领域的重大事件进行汇总和分析，为我国工控网络安全把脉；同时在国内大量行业客户实践的基础上，提出了匡恩网络的安全解决之道。匡恩网络此次推出的《态势报告》，旨在对政府的行业发展决策、生产企业工控系统安全检查和行业认知产生积极的推动作用。
    </div>
    <div class="detail_count"><i class="wl-iconfont wl-eye"></i>20 &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<i class="wl-iconfont wl-like"></i>11</div>

</div>
