@charset "utf-8";

/*compare list*/
.compare-toolbar{display:none;z-index:99999;height:154px;position:fixed;bottom:0;right:0;background:#fff;border-top:solid 2px #e0e1e2;border-left:solid 2px #e0e1e2;}
.compare-toolbar .compare-list{margin-right:20px;background:#f7f7f7;}
.u-flyer{display: block;width: 70px;height: 70px;border-radius:50%;position: fixed;z-index: 999999999999;}
.compare-toolbar ul{margin-right:130px;}
.compare-toolbar li{float:left;width:33%;height:154px;border-right:dashed 1px #e8e8e8;}
.compare-toolbar .compare-data:hover{background:#edf0f2;}
.compare-toolbar li:last-child{width:34%;}
.compare-toolbar .compare-action-btn{width:130px;height:154px;position:absolute;right:20px;top:0;text-align:center;}
.compare-toolbar .compare-action-btn p{margin:28px 0 7px;display:none;}
.compare-toolbar .compare-action-btn p a{margin-left:3px;}
.compare-toolbar .compare-action-btn button{margin:47px 0 10px;}
.compare-toolbar .unlogin p{display:inline-block;}
.compare-toolbar .unlogin button{margin-top:0;}
.compare-toolbar .compare-action-btn div{line-height:14px;}
.compare-toolbar .compare-action-btn a{font-size:12px;}
.compare-tips{line-height:64px;margin-top:43px;height:64px;text-align:center;}
.compare-tips span{position:relative;line-height:64px;display:inline-block;padding-left:70px;color:#939699;font-size:14px;}
.compare-tips .num{font-style:normal;position:absolute;top:0;left:0;text-align:center;width:64px;height:64px;line-height:64px;display:inline-block;border-radius:50%;background:#edf0f2;color:#c0c3c5;font-size:48px;}
.compare-toolbar .compare-control{font-size:12px;border-top:solid 2px #e0e1e2;cursor:pointer;padding-top:24px;height:154px;width:20px;text-align:center;display:block;position:absolute;right:0;top:-2px;background:#e0e1e2;color:#626466;}
.compare-toolbar .compare-control b{font-weight:400;}
.compare-toolbar .compare-control i{display:inline-block;}
.compare-toolbar .compare-control-close{background:#78a7ff;color:#fff;border-color:#78a7ff;}
.compare-toolbar .compare-control-close i{transform: rotate(180deg);margin-right:2px;}
.compare-toolbar-closed{width:20px!important;}
.compare-toolbar-closed .compare-list{display:none;}

.compare-data{position:relative;width:100%;height:100%;}
.compare-data .pic{margin:20px;width:150px;height:114px;overflow:hidden;position:absolute;left:0;top:0;}
.compare-data img{height:114px;width:150px;}
.compare-data .info{margin:0 10px 0 180px;position:relative;}
.compare-data .info h3{font-weight:400;margin:20px 0 0;font-size:16px;line-height:24px;overflow:hidden;height:48px;}
.compare-data .info h3 a{color:#313233;}
.compare-data .info p{color:#939699;font-size:14px;margin:8px 0;}
.compare-data span.compare-price{color:#ff6342;font-size:16px;}
.compare-data span.compare-price strong{font-size:24px;font-weight:400;color:#ff6342;}

.compare-data span.compare-del{display:none;position:absolute;bottom:0;right:0;width:#fff;width:30px;width:30px;border-radius:50%;text-align:center;line-height:30px;cursor:pointer;}
.compare-data span.compare-del i{color:#939699;}
.compare-data span.compare-del:hover i{color:#ff4848;}
.compare-toolbar .compare-data:hover .compare-del{display:block;}