/*联系客服*/
.linksGmService{height:500px;width:332px;display:inline-block;}
.linksGmService .title{height:32px;line-height:32px;font-size:14px;font-weight:bold;color:#000;padding:0;padding-left: 15px;margin:-4px;border-bottom:1px solid #e8e9e9;}
.linksGmService .border-bottom{border-bottom:1px solid #e8e9e9;}
.linksGmService .service-date, .linksGmService .service-fankui, .linksGmService .service-tuiguang, .linksGmService .service-saoyisao{padding:10px 0px;margin: 0px 12px;display:inline-block;width:308px;}
.linksGmService .service-date-title, .linksGmService .service-fankui-title, .linksGmService .service-tuiguang-title, .linksGmService .service-saoyisao-title{font-size:14px;color:#666;margin-bottom:2px;}
.linksGmService .service-date-content, .linksGmService .service-fankui-content, .linksGmService .service-tuiguang-content, .linksGmService .service-saoyisao-content{font-size:12px;color:#666;padding-left:21px;display:inline-block;}
.linksGmService .service-date-content div, .linksGmService .service-fankui-content div, .linksGmService .service-tuiguang-content div, .linksGmService .service-saoyisao-content div{line-height:20px;}
.linksGmService .service-saoyisao-content img{width:120px;height:120px;border:1px solid #ccc;border-radius:5px;margin:5px 0px;}
.linksGmService .service-saoyisao-content .content-left div, .linksGmService .service-saoyisao-content .content-right div{text-align:center;}
.linksGmService .content-left,.linksGmService .content-right{float:left;}
.linksGmService .w215{width:215px;}
.linksGmService .w65{width:65px;}
.linksGmService .w60{width:60px;}
.linksGmService .mr5{margin-right:5px;}
.linksGmService .mr25{margin-right:25px;}
.linksGmService .ml10{margin-left:10px;}
.linksGmService a{text-decoration: none; outline:none;}
.linksGmService i{margin-right:5px;height:16px; width:16px;color:#587ED1;display:inline-block;top: 0px;position: relative;}

.theme_but_h30{padding:0 15px;height:30px;line-height:30px;border:none;float:left;margin-right:10px; background: #4595f1; color:#fff;display:inline-block;cursor: pointer;}
/*底部导航*/
.weixinImg{position: absolute;top:-215px;left:-12px;box-shadow:0px 4px 4px #e0e1e2;}
.weixinImg img{width:200px;height:200px;}
.weixinImg::after{color:white; border-width: 10px 10px 0px 10px; border-style: solid;border-color:white  transparent  transparent  transparent ; content: ""; position: absolute;display: inline-block; left: 25px; top: 200px;}