.editIndex_form{background:#f2f2f2;}
.editIndex{width:100%;height:auto;background:#fff;margin-top:20px;border-top: 3px solid #e0e1e2;}
.editIndex *{font-family:"微软雅黑"}
.text_center{width:100%;text-align:center;padding:22px 0px;display: inline-block;background:#fff;}
.saveBtn{color:white;background:#78A7FF;border-radius:4px;font-family:"微软雅黑";padding: 11px 18px;font-size: 16px;}
.edit{padding:0px 20px;}
.edit_index{width:100%;clear:both;padding-bottom:26px ;border-bottom:1px dashed #e8e8e8;display: inline-block;}
.edit_index li{width:25%;float:left;height:400px;}
.pro_img,.pro_info{width:79%;margin-left:10.5%;position: relative;}
.pro_img img{width:100%;height:300px;border:1px solid #e0e1e2;}
.img_notice{position: absolute;font-size:18px;height:30px;;line-height:30px;color:grey;top:50%;margin-top:-15px;text-align:center;width:100%;}
.pro_info .changeImg{width:189px;padding: 9px 0.5px;font-size: 14px;margin-top:5px;color:white;background:#78A7FF;border-radius:4px;font-family:"微软雅黑";text-align:center;cursor: pointer;}
.pro_info  .disabled{background:#A7C6FF;}
.pro_id{border:1px solid #e0e1e2;height:33px;border-radius:2px;font-size:14px;padding-left:10px;}
.pro_text1{width:178px;height:33px;}
.pro_text2{width:100%;height:33px;}
.pro_text input{border:none;}
.pro_name{width:100%;height:30px;font-size:14px;line-height: 34px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap;text-align:center;}
.edit_proList{width:96%;margin-left:2%;min-height:500px;padding-bottom: 40px;}
.edit_list{width:100%;display: inline-block;margin-left:0%;margin-top:-10px;}
.list_name{font-size:20px;color:#000;text-align:center;width:160px;padding:3px 5px;}
.pro_show,.edit_pro{float:left;}
.pro_show{width:400px;position: relative;}
.list_title{position: absolute;top:100px;width:360px; text-align: center;}
.edit_pro{width:450px;margin-left: 40px;padding-top:26px;}
.edit_pro .notice{font-size:14px;color:#939699;margin-bottom:15px;position: relative;}
.edit_pro .notice .tuoIcon{padding:7px 8px;display: inline-block;position: absolute;top: 3px;background:#fff url(/distributor/theme/manage/blue/images/shop/tuo.png) center;border-radius:2px;}
.pro_list{width:100%;clear:both;display: inline-block;}
.pro_item{width:100%;clear:both;display: inline-block;margin-bottom:8px;position: relative;background:#fff;}
.pro_item .pro_order{width:28px;background:#fff url(/distributor/theme/manage/blue/images/shop/tuo.png) repeat-y;height:83px;border-radius:4px 0px 0px 4px;float:left;cursor: move;}
.item_infos{float:left;padding:0px;width:404px;border:1px solid #e0e1e2;border-left:none;border-radius:0px 4px 4px 0px;height:81px;}
.pro{padding:0px 22px 0px 10px;}
.pro_text{position: relative;display: inline-block;}
.e_pro.warning .pro_text{border:1px solid red;}
.e_pro.warning .query_warning{display:block}
.e_pro.none input{color:red;}
.e_pro.none .pro_name{color:#A9ABAD;}
.query_pro,.query_loading{height:34px;width:90px;background:#4bc5d1;color:white;position: absolute;right:0px;top:0px;font-size:14px;}
.query_pro{cursor: pointer;}
.query_icon{font-size:28px;line-height:37px;position:absolute;left:12px; }
.loading_icon{font-size:20px;line-height:35px;position:absolute;left:15px; }
.query_text{position:absolute;line-height:35px;margin-left:40px;}
.query_warning{position: absolute;top:6px;right:2px;cursor: pointer;display:none}
.query_warning:hover .wargin_info{display:block;}
.warning_icon{font-size:18px;color:#FF8540;background:transparent;}
.wargin_info{font-size:12px;width:150px;height:28px;left:-155px;top:-3px;line-height:28px;border-radius:4px;text-align:center;color:#fff;background:#454C54;position: absolute;display:none;z-index:30;}
.wargin_info:BEFORE{left: 150px;top:8px;width: 0;height: 0;border-bottom: 5px solid transparent;border-left: 5px solid #454C54;border-top: 5px solid transparent;content: "";display: inline-block;position: absolute;}
.pro_warning .wargin_info{display:none;width:170px;height:30px;left:-60px;top:26px;line-height: 30px;border-radius:4px;text-align:center;color:#fff;background:#454C54;position: absolute;}
.pro_warning .wargin_info:BEFORE{left: 66px;top: -9px;width: 0;height: 0;border-left: 5px solid transparent;border-bottom: 5px solid #454C54;border-right: 5px solid transparent;content: "";display: inline-block;position: absolute;}
.del_pro{padding:8px 9px;background:#FF4848;color:#fff;border-radius:4px;position: absolute;right:-26px;top:50%;margin-top: -20px;cursor:pointer;}
.add_pro{color:#fff;background:#78A7FF;border-radius:4px;font-size:14px;width:112px;height:35px;line-height:35px;cursor: pointer;margin-top:7px;}
.addIcon{margin-left:12px;margin-right:7px;font-size:19px;}