@charset "UTF-8";
/*
* @description: 分销商主页设置UI2.1 改版
*/
.editIndex_form {
  background: #f2f2f2; }

.editIndex {
  min-width: 950px; }

.text_center {
  width: 100%;
  text-align: center;
  height: 42px;
  line-height: 42px;
  background: #f6f6f6;
  border-bottom: 1px solid #e0e1e2;
  border-left: 1px solid #e0e1e2;
  border-right: 1px solid #e0e1e2; }

.text_left {
  text-align: left; }

.tex_center {
  text-align: center; }

.item {
  border-top: 1px solid #e0e1e2; }

.marg_top {
  margin-top: 20px;
  border-top: 1px solid #e0e1e2; }

.saveBtn {
  color: white;
  background: #ff9248;
  border-radius: 4px;
  padding: 11px 18px;
  font-size: 16px; }

.ui-widget-content a {
  text-decoration: none;
  cursor: pointer; }

.indexset_wx {
  height: 375px;
  width: 168px;
  border: 1px solid #e0e1e2;
  float: left;
  padding: 20px;
  text-align: center; }

.indexset_wx img {
  width: 128px;
  height: 128px;
  margin-top: 10px; }

.indexset_wx span {
  display: block; }

.wx_top {
  margin-top: 5px; }

.wxbtn_top {
  margin-top: 20px; }

.edit .homePage {
  width: 1008px;
  margin: 0 auto; }

.pro_order .number_index {
  display: inline-block;
  width: 26px;
  height: 20px;
  background: #ff9248;
  color: white;
  text-align: center;
  line-height: 20px;
  margin-top: 30px;
  font-weight: bold; }

.div_color {
  height: 20px;
  background: #f2f2f2; }

.clear_top {
  margin-top: 0px !important; }

/* 主体编辑area */
.edit {
  padding: 20px 20px 0px 20px;
  border-bottom: 1px solid #e0e1e2;
  border-left: 1px solid #e0e1e2;
  border-right: 1px solid #e0e1e2; }

.edit_items {
  font-size: 16px;
  color: #000; }

/* 上部产品列表 */
.edit_index {
  width: 840px;
  clear: both;
  padding-bottom: 25px;
  float: left; }

.edit_index li {
  width: 25%;
  float: left;
  height: 410px; }

.pro_img, .pro_info {
  width: 79%;
  margin-left: 10.5%;
  position: relative; }

.pro_img img {
  width: 100%;
  height: 270px;
  border: 1px solid #e0e1e2; }

.img_notice {
  position: absolute;
  font-size: 18px;
  height: 30px;
  line-height: 30px;
  top: 50%;
  margin-top: -15px;
  text-align: center;
  width: 100%; }

.pro_info .changeImg {
  width: 100%;
  font-size: 14px;
  margin-top: 5px; }

.pro_id {
  border: 1px solid #e0e1e2;
  height: 33px;
  border-radius: 2px;
  font-size: 14px;
  padding-left: 10px; }

.pro_text1 {
  width: 100%;
  line-height: 28px; }

.pro_text2 {
  width: 200px;
  height: 33px;
  float: left; }

.pro_text3 {
  width: 100%;
  height: 30px; }

.pro_text input {
  border: none; }

/* 列表titile 说明 */
.pro_name {
  width: 100%;
  height: 30px;
  font-size: 14px;
  line-height: 34px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  text-align: center;
  padding-left: 10px; }

/* 下部当季热卖 */
.edit_proList {
  width: 100%;
  margin: 0px auto;
  min-height: 500px;
  padding-bottom: 40px; }

.edit_list {
  width: 100%;
  margin: 0px auto; }

.list_name {
  font-size: 20px;
  color: #000;
  text-align: center;
  width: 130px;
  padding: 3px 5px;
  border-radius: 4px;
  border: 1px solid #ccc; }

/* 当季热卖左 area*/
.pro_show {
  float: left; }

.pro_show {
  width: 400px;
  position: relative; }

.list_title {
  position: absolute;
  top: 100px;
  width: 360px;
  text-align: center; }

/* 当季热卖右 area*/
.edit_pro {
  width: 968px;
  padding-top: 30px;
  margin: 0 auto; }

.edit_pro .notice {
  font-size: 14px;
  color: #939699;
  margin-bottom: 15px;
  position: relative; }

.edit_pro .notice .tuoIcon {
  padding: 7px 8px;
  display: inline-block;
  position: absolute;
  top: 3px;
  background: #fff url(/distributor/theme/manage/blue/images/shop/tuo.png?v=3.0) center;
  border-radius: 2px; }

.pro_list {
  width: 98%;
  clear: both;
  display: inline-block; }

.pro_item {
  width: 100%;
  clear: both;
  display: inline-block;
  margin-bottom: 8px;
  position: relative;
  background: #fff; }

.pro_item .pro_order {
  width: 28px;
  background: #fff url(/distributor/theme/manage/blue/images/shop/tuo.png?v=3.0) repeat-y;
  height: 81px;
  border-radius: 4px 0px 0px 4px;
  float: left;
  cursor: move; }

.item_infos {
  float: left;
  padding: 0px;
  width: 95%;
  border: 1px solid #e0e1e2;
  border-left: none;
  border-radius: 0px 4px 4px 0px;
  height: 81px; }

.pro {
  padding: 0px 22px 0px 10px;
  margin-top: 24px; }

/* 产品编号框 */
.pro_text {
  position: relative;
  display: inline-block; }

.e_pro.warning .pro_text {
  border: 1px solid red; }

.e_pro.warning .query_warning {
  display: block; }

.e_pro.none input {
  color: red; }

.e_pro.none .pro_name {
  color: #A9ABAD; }

.query_pro, .query_loading {
  margin-top: -1px;
  height: 33px;
  width: 90px;
  background: #4bc5d1;
  color: white;
  position: absolute;
  right: 0px;
  top: 0px;
  font-size: 14px; }

.query_pro {
  cursor: pointer; }

.query_icon {
  font-size: 28px;
  line-height: 32px;
  position: absolute;
  left: 12px; }

.loading_icon {
  font-size: 20px;
  line-height: 35px;
  position: absolute;
  left: 15px; }

.query_text {
  position: absolute;
  line-height: 35px;
  margin-left: 40px; }

.query_warning {
  position: absolute;
  top: 2px;
  right: 2px;
  cursor: pointer;
  display: none; }

.query_warning:hover .wargin_info {
  display: block; }

.warning_icon {
  font-size: 18px;
  color: #FF8540;
  background: transparent; }

.wargin_info {
  font-size: 12px;
  width: 150px;
  height: 28px;
  left: -155px;
  top: -3px;
  line-height: 28px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background: #454C54;
  position: absolute;
  display: none;
  z-index: 30; }

.wargin_info:before {
  left: 150px;
  top: 8px;
  width: 0;
  height: 0;
  border-bottom: 5px solid transparent;
  border-left: 5px solid #454C54;
  border-top: 5px solid transparent;
  content: "";
  display: inline-block;
  position: absolute; }

.pro_warning .wargin_info {
  display: none;
  width: 170px;
  height: 30px;
  left: -60px;
  top: 26px;
  line-height: 30px;
  border-radius: 4px;
  text-align: center;
  color: #fff;
  background: #454C54;
  position: absolute; }

.pro_warning .wargin_info:before {
  left: 66px;
  top: -9px;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-bottom: 5px solid #454C54;
  border-right: 5px solid transparent;
  content: "";
  display: inline-block;
  position: absolute; }

.del_pro {
  padding: 8px 9px;
  background: #fff;
  color: #fff;
  border-radius: 4px;
  position: absolute;
  right: -26px;
  top: 50%;
  margin-top: -20px;
  cursor: pointer;
  border: 1px solid #ddd5d9;
  color: #000; }

.add_pro {
  color: #fff;
  background: #ff9248;
  border-radius: 4px;
  font-size: 14px;
  width: 112px;
  height: 35px;
  cursor: pointer;
  margin-top: 7px; }

.gm-add {
  margin-right: 5px; }

.addIcon {
  margin-left: 12px;
  margin-right: 7px;
  font-size: 19px; }
