input:-webkit-autofill, textarea:-webkit-autofill, select:-webkit-autofill {
  background: #f4f4f4 !important; }

a:focus {
  outline: none; }

.w100 {
  width: 100px; }

.w200 {
  width: 200px; }

.w300 {
  width: 300px; }

.w400 {
  width: 400px; }

.pic-box img {
  width: 140px;
  height: 100px; }

.nostyle {
  list-style: none; }

.mt20 {
  margin-top: 27px; }

.main {
  background: white; }

.main-left {
  width: 40%;
  background: white; }

.main-right {
  width: 60%;
  background: white; }

.main-left .main-nav {
  padding: 0;
  width: 80%;
  margin: 0px auto;
  margin-left: 40px;
  height: 800px; }

.main-left .main-nav li {
  width: 100%;
  height: 40px;
  line-height: 40px;
  margin: 0px auto;
  font-size: 20px;
  color: gray;
  margin-top: 20px;
  text-align: left; }

.info {
  height: auto;
  color: black; }

.info .info1 {
  margin-bottom: 20px; }

.title {
  height: 48px;
  line-height: 48px;
  padding-left: 18px;
  font-size: 16px;
  border-bottom: 1px solid #E8E8E8; }

.info-content {
  padding: 0 0 16px 16px;
  font-size: 26px; }

.text-info {
  display: block;
  padding-top: 17px;
  color: #626466; }

.text-info:hover {
  text-decoration: none; }

.fangwenl {
  margin-right: 64px;
  display: inline-block;
  float: left;
  font-size: 12px; }

.fangwenl span {
  display: block;
  font-size: 26px; }

.page-btn {
  position: relative;
  display: inline-block;
  float: right;
  width: 150px; }

.btn-box a {
  position: absolute;
  top: 10px;
  display: inline-block;
  width: 32px;
  height: 27px;
  border: 1px solid #DCE2E6; }

.btn-box a.prev-a {
  left: 57px;
  border-top-left-radius: 4px;
  border-bottom-left-radius: 4px;
  color: #C4C9CC; }

.btn-box a.next-a {
  right: 30px;
  border-top-right-radius: 4px;
  border-bottom-right-radius: 4px;
  color: #C4C9CC; }

.btn-box i {
  position: absolute;
  top: -11px;
  font-size: 24px; }

.btn-box i.gm-back2 {
  left: 4px; }

#J_scroll {
  padding-bottom: 46px;
  background-color: #fff; }

#J_scroll .title {
  padding-left: 18px;
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  margin-bottom: 0;
  border-bottom: 1px solid #E8E8E8; }

.list-box {
  padding: 19px 0;
  border-bottom: 1px dashed #ccc; }

.pic-box {
  display: inline-block;
  float: left; }

.right-box {
  display: inline-block;
  float: left;
  margin-left: 16px; }

.send-box, .supplier-box {
  margin-bottom: 0;
  color: #939699; }

.right-title {
  margin: 5px 0 0 0;
  font-size: 14px; }

.send-box {
  margin-top: 27px; }

.addre-s {
  color: #313233; }

.strong {
  color: #F46608; }

.page-view {
  float: right; }

.send-box span {
  margin-right: 20px; }

.prod-warp {
  width: 566px;
  margin: 0 20px;
  height: 708px;
  overflow: hidden; }

.prew-web .item {
  margin-bottom: 0; }

.info .info2 {
  line-height: 30px;
  padding-left: 30px; }

.info .info2 dl dt, dd {
  float: left;
  padding-right: 15px; }

.info .info2 dl dd ul {
  margin-left: 0px; }

.phone {
  padding: 20px 20px 0;
  height: 752px;
  width: 100%;
  background: white; }

.active {
  background-color: white;
  color: gray !important; }

.text-danger {
  display: block;
  color: #626466; }

select option {
  border-left: 1px solid black;
  border-right: 1px solid black;
  border-bottom: 1px solid black; }

.container {
  margin: 0px auto;
  padding-top: 100px; }

.p {
  float: left;
  width: 40%; }

.p img {
  width: 179px;
  height: 358px; }

#qrcode {
  position: relative;
  left: 40px;
  top: -440px; }

#qrcode img {
  width: 240px;
  height: 240px; }

p.qrcodeInfo {
  font-size: 14px;
  position: relative;
  top: 20px;
  color: white;
  font-size: 16px; }

p.qrcodeInfo span {
  display: block;
  font-size: 16px; }

.i {
  float: left;
  width: 56%;
  height: 400px;
  color: black;
  background: url(../../../../theme/manage/blue/images/common/rb.jpg) no-repeat; }

.text-container {
  margin: 0px auto;
  margin-top: 135px;
  font-size: 14px; }
  .text-container > p {
    font-size: 20px;
    font-weight: bold;
    margin-top: 20px; }

.installSuccess {
  position: relative;
  padding-left: 40px; }
  .installSuccess .gm-icon {
    font-size: 60px;
    color: #ff9248;
    position: absolute;
    left: -30px;
    top: -12px; }
  .installSuccess > p > a {
    font-size: 12px;
    color: #999999; }

.text-container ul {
  margin-top: 20px;
  line-height: 30px; }

.text-container ul a {
  color: #4F4F4F;
  text-decoration: none; }

.btn-green {
  padding-left: 8px;
  padding-right: 8px;
  background-color: #a1d851;
  font-size: 18px;
  height: 30px;
  color: white;
  border: none;
  border-radius: 6px; }

.btn-green:hover {
  cursor: pointer; }

.mask {
  filter: alpha(opacity=30);
  background-color: #000 !important; }

.mask #qrcode {
  top: 400px;
  left: 100px;
  position: absolute; }

.mask #qrcode img {
  border: none; }

.w-PhoneWrap {
  width: 350px;
  height: 713px;
  background: url("/common/widget/mobilePreview/images/iphone.png") no-repeat;
  background-size: contain;
  padding: 80px 21px 0 21px;
  position: relative; }

.phoneMask {
  width: 100%;
  height: 100%;
  background: #000;
  opacity: .3;
  position: absolute;
  width: 314px;
  height: 546px; }

.installWrap {
  padding: 50px;
  overflow: hidden; }
  .installWrap > div {
    padding: 0 40px; }
