@charset "utf-8";
.price_li{width:100%;display:none;font-size: 14px;color:#101010;}
.price_li.on{display:inline-block;}
.price_li .price_left_info{padding:15px 18px 15px 36px;float:left; width:294px;border:1px #b8b8b8 solid;border-radius:5px;display:inline-block;}
.price_li .price_left_info .price_info_li{width:100%;line-height:22px;padding:4px 0;display:inline-block;}
.price_li .price_left_info .price_info_li .info_li_left{float:left;display:inline-block;min-width:42px;max-width:84px;}
.price_li .price_left_info .price_info_li .info_li_right{float:left;display:inline-block;min-width: 210px;max-width:252px;word-break:break-all;word-wrap:break-word;overflow: hidden;}
.price_li .price_right{padding:15px 48px;float:right; width:143px;border:1px #b8b8b8 solid;border-radius:5px;display:inline-block;}
.price_li .price_right .right_title{width:100%;height:30px;line-height:30px;font-weight: bold;}
.price_li .price_right .price_set_li{margin-top:4px;line-height:28px;height:28px;border:1px #5bc0de solid;color:#fff;border-radius:5px;}
.price_li .price_right .price_set_li .price_type{width:50%;height:28px;background: #5bc0de;float:left;display:inline-block;text-align: center;}
.price_li .price_right .price_set_li .price_set_input{padding-left:2%; width:48%;height:28px;background: #fff;float:left;display:inline-block;border:none;border-radius:5px;}