@charset "UTF-8";
@import "./common/bootstrap/scss/custom/pathVariables";
@import "./common/bootstrap/scss/bootstrap/variables";
@import "./common/bootstrap/scss/bootstrap/mixins/clearfix";
@import "./common/bootstrap/scss/custom/custom-reset";

a:focus{ text-decoration:none; }
input::-moz-placeholder {
    color:#949799;
}
input::-webkit-input-placeholder{
	color:#939698;
}
.common-tips{ padding:5px 25px; height: 40px; }
.layout{ width: 1160px; }
.heardnew	.logo{ margin-top:5px; height:70px!important; overflow:hidden; }
.heardnew	.logo img{ height: 70px; margin-top: 0; }
.new-nav .action a{ width: 20px; height: 20px; line-height: 17px; background:#ccc; color:#8f9091; }

/* 2.2 供应商主页 */
.page-supplier-content{ margin-bottom: 0; }
.heardnew	.heard-center{ position: relative; }
.suppli-nav{ position:absolute; top:0; right: 150px; display: inline-block; height: 80px; line-height: 84px; }
	.suppli-nav a{ display: inline-block; margin-right: 40px; color: #939699; font-size: 18px; }
		.suppli-nav a.selected{ color: #313233; }
/* banner*/
.banner{ min-width:1190px; width:100%; height: 500px; }
	.banner .bannerCenter{ width:1170px; margin: 0 auto; }
	.page-supplier-main .supplier-info{ position:relative; min-width:1190px; width:100%; height: 500px; }
	.chang-box{ position: absolute; top: 0; right: 0; z-index: 2; width:30px; height: 30px; cursor: pointer; background: url(/distributor/theme/manage/blue/images/supplier/fenm.jpg) no-repeat; }
	.page-supplier-main .supplier-background{ background: url(/distributor/theme/manage/blue/images/supplier/bannernew.jpg) no-repeat; }
	.choose{ position: absolute; top: 12px; right: 50px; z-index: 2; display: inline-block; width: 140px; height: 36px; line-height: 36px; text-align: center; color:#626466; background-color: #fff; border-radius: 4px; }

.fun-bottom-center{ position:relative; margin: 0 auto; padding-top:184px; z-index: 2; width:507px; }
	.fun-bottom-center h1{ margin-bottom:24px; text-indent:38px; font-size: 48px; color: #fff; text-shadow: 2px 2px 7px #666; font-family:\5FAE\8F6F\96C5\9ED1;}
.ipt {
	float: left;
    margin-right: 5px;
    width: 400px;   
    font-size: 14px;
    padding: 10px 0 10px 53px;
    border:none;
    border-radius: 4px;
    color: #939699;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
    -moz-box-shadow:0 0 5px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 0 5px rgba(0,0,0,0.2);
}
.formbox{ position: relative; }
	.fun-bottom-center .gm-search2 { position: absolute; left:17px; top:2px; font-size: 24px; color: #E0E3E4; }
.submit {display: inline-block;	font-size: 16px;height: 40px;line-height: 40px;width: 100px;background-color: #FF8540;border:none;
	border-radius: 4px; color: #fff;font-family:\5FAE\8F6F\96C5\9ED1; box-shadow: 0 0 5px rgba(0,0,0,0.2); -moz-box-shadow: 0 0 5px rgba(0,0,0,0.2); -webkit-box-shadow: 0 0 5px rgba(0,0,0,0.2); }
.submit:active:focus,.submit:active{ background:#ff6342; }
/* 线路 */
.online-box{ padding: 40px 0 80px 0; }
	.onlin-box-center{ margin: 0 auto }
	.scroll{ position: relative; width: 1170px; margin: 0 auto; }
	.scroll-box{ position: relative; width:925px; height: 236px; margin: 0 auto; overflow: hidden; }
	.line-list{ margin-right:-100px; font-size: 18px; color: #a9abad; }
		.line-picture{ margin:0 auto 20px; width: 136px; height: 150px; }
		.line-picture img{ width: 136px; height: 150px; }
		.line-list li{ display:inline-block; float: left; width: 158px; margin-right:100px; text-align: center; }
		.line-list .add-line{ font-size: 24px; color: #626466; text-overflow:ellipsis; white-space:nowrap; overflow:hidden; }
	
	.scroll .prev{ position: absolute; top:52px; display: block; width: 44px; height: 44px; line-height: 42px; border-radius: 50%; background-color: #e0e1e2; left: 0; text-align:center; }
	.scroll .next{ position: absolute; top:52px; display: block; width: 44px; height: 44px; line-height: 42px; text-align: center; border-radius: 50%; background-color: #e0e1e2; right: 0;
		transform:rotatez(180deg); -webkit-transform:rotatez(180deg); -moz-transform:rotatez(180deg); -ms-transform:rotatez(180deg);
	 }
	.gm-back{ font-size: 16px; color: #fff; }
	.gm-next{ margin-left:8px; font-size:16px; color: #fff; }
	.new-nav .action{ top:9px; height: 37px; line-height: 31px; border-bottom: none; }
	.prod-number{ color: #a9abad; }

/* 同行最爱 */
.tonghang{ background-color: #EDF0F2; padding-bottom: 80px; }
.tonghang-box{ margin: 0 auto; padding-top: 40px; }
.title{ margin-bottom: 40px; font-size: 36px; color: #313233; text-align: center; }
.tonghang-list{ margin-right: -20px; }
.tonghang-list li{ position: relative; margin-right: 9px; float: left; width: 286px; height: 420px; border:1px solid #E0E1E2; background-color: #fff; }
	.tonghang-list li:hover{ box-shadow: 0 2px 12px rgba(0, 0, 0, 0.2); -moz-box-shadow:0 2px 12px rgba(0, 0, 0, 0.2); -webkit-box-shadow:0 2px 12px rgba(0, 0, 0, 0.2); }
	.pic-box{ width: 285px; height: 285px; overflow: hidden; }
		.pic-box img{ width: 285px; height: 285px; transition: transform 0.3s ease 0s; -moz-transition: transform 0.3s ease 0s; -webkit-transition: transform 0.3s ease 0s;}
		.tonghang-list li:hover img{ transform:scale(1.05); -moz-transform:scale(1.05); -webkit-transform:scale(1.05); }
		.tonghang-list .last-a{ position: absolute; top: 0; left: 0; width:100%; height: 420px; z-index: 3; display: block; height: 420px; }
		.info-p{ height: 54px; margin:20px 20px 0 20px; font-size: 18px; color: #626466; overflow: hidden; }
		.price{  margin:10px 15px 0 15px; color: #939699; }
		.price-s{ display: inline-block; float: left; font-size: 18px; color: #FF6342; }
		strong{ margin: 0 5px 0 4px; font-size: 24px; }
		.tuanqi-pric{ position: absolute; bottom:18px; right: 20px; z-index: 5; }

.logoH{ color: #85a0dd; }
.logohL{ margin-left:2px; }
.newprod{ background-color: #fff; }
	.newprod li{ width: 384px; }
	.newprod li .pic-box{ width: 383px; height: 287px; overflow: hidden; }
	.newprod li .pic-box img{ width: 383px; height: 287px; transition: transform 0.3s ease 0s; }
	.newprod li:hover img{ transform:scale(1.05); }
.fixbottom{ position:fixed; bottom:0; width:100%; min-width:1190px; display:block; height:100px; padding-top:21px; background:rgba(0,0,0,0.7); z-index: 15; }
	.fixcenter{ margin: 0 auto; }
	.l{ float: left; color: #9D9E9E; }
		.big-font{ font-size: 24px; color: #fff; }
		.l span{ margin-right: 14px; font-size: 12px; }
	.log-box{ position: relative; float: right; padding-right: 50px; width: 275px; }
	.log-box a{ display:inline-block; width: 100px; height: 40px; line-height:40px; text-align:center; border: 1px solid #fff; border-radius: 3px; font-size: 18px; color: #fff; }
	.log-box a.logo{ margin-left:17px; background-color: #FF8540; border: none; }
	.log-box a.tips-but-close{
		position:absolute;
		right: -20px;
		top: 2px;
	    display: inline-block;  
	    opacity: 0.7;
	    width: 44px;
	    border: none;
		background: rgba(0, 0, 0, 0) url("/distributor/theme/manage/blue/images/supplier/cancal.png") no-repeat;
	}
	.log-box span{ display: block; margin-top:5px; text-align:right; color: #9D9E9E; font-size:12px; }
	.log-box i{ position: absolute; right: -27px; top: -37px; font-size: 67px; color: #fff; }
	.gm-wrong{ cursor: pointer; }
.supperfooter{ color: #7a7c7d; background-color:#626466; }
	.footerCenter{ margin: 0 auto; width: 1170px; height:140px; padding: 13px 0;  text-align: center; }
	//.footerCenter i{ margin-right: 10px; }
	.footerCenter .tel{ font-size:18px; color:#abacad; }
	.footerCenter .address{ height: 25px; color: #abacad; overflow: hidden; }
	.footerCenter .copyrigt{ color: #919394; }
	.footerCenter a{ text-decoration: none; color: #7a7c7d; }
	.footerCenter .gm-telephone1{ margin-right:-2px; font-size: 22px; }

.footerloginhou{ height: 80px; padding-top:20px; text-align: center; }
.footerloginhou a{ text-decoration: none; color: #7a7c7d; }

.qqonline{ position:fixed; bottom:234px; left:50%; margin-left:700px; width:40px; height:40px; line-height: 40px; background:#fff; border-radius:4px;z-index:20; }
.qq-a{ display: block; position: relative; width: 40px; overflow: hidden; text-align: center; height: 40px; line-height: 40px; 
	border-radius:4px; }
	.qq-a i{ display: block; }
	.qq-a .gm-qq{ height:40px; line-height:36px; font-size: 35px; color: #ccc; transition:all 300ms ease-out 0s; border-radius:4px; border:1px solid #ccc; }
	.qq-a .txt{ width: 40px; height: 40px; line-height: 16px; color: #fff; text-align: center; text-indent:-2px; padding-top:3px; border-radius:4px; font-style:normal; background-color:#ccc; }
	.qq-a:hover .gm-qq{ margin-top: -40px; }
	.qq-a:hover .txt{ background-color: #FF8540; border-radius:4px; }

.banner { min-width: 1190px; width: 100%; height:300px; }
	.banner img{ min-width: 1190px; width: 100%; height:300px;} 
.conten-center{ margin: 0 auto; padding-top: 40px; width: 1170px; }
	.conten-list{ margin-right: -50px; margin-bottom: 40px; }
	.conten-list li{ float:left; margin:0 9px 9px 0; width: 285px; height: 320px; border: 1px solid #EFF0F0; text-align: center; border-radius: 4px; }
	.use-up { text-align: center; }
	.titile-zhuaxian{ margin:0 auto 30px; padding: 0 5px; width: 100px; height: 36px; line-height: 36px; font-size: 14px; color: #fff; text-align: center; background-color: #fbb03b; border-radius: 0 0 4px 4px; }
	.use-box{ margin:0 auto 20px; width: 100px;height: 100px; border-radius: 50%; background-color: #E6E7E8; color: #fff; text-align: center; }
	.use-up p{ margin:20px 10px 0 10px; height: 38px; overflow: hidden; color: #626466; }
	.use-down{ margin: 0 auto; width:149px; }
	.use-down i{ display: inline-block; color: #939699; }

	//.use-down .qq-p,.use-down .phone-p{ text-align: left; }
	.font-info{ font-size: 20px; }
	.gm-user{ font-size: 66px;}
	.use-down .phone-p,.use-down .tel-p{ color:#939699; }
	.tel-p{ margin-top: 5px; height: 25px; overflow: hidden; }
	.qq-p{ margin-top:2px; }
	.qq-p a{ color: #587eb1; }
	.qq-p a.logoH{ color: #85a0dd; }
	.phone-p,.tel-p,.qq-p { text-align: left; }
	.use-down i.gm-mobile2{ float: left; margin:-1px 4px 0 2px; }
	.use-down i.gm-qq{ float: left; margin:-1px 7px 0 2px; }
	.use-down i.gm-supplierPhone{ float: left; margin:-1px 6px 0 2px;}
	

.jieshao{ min-width: 1190px; width: 100%; height: 500px; padding-top: 40px; background: url(/distributor/theme/manage/blue/images/supplier/contenme_jies.jpg) no-repeat;}
	.jieshao-conten{ margin: 0 auto; width: 1170px; text-align: center; }
	.jieshao p{ color:#626466; line-height: 25px; }
	.jieshao .addbox{ margin-top: 40px; text-align: center; }
	.logbox{ display:block; margin:28px auto 0; height: 100px; text-align:center; }
	.logbox img{ margin-right: 10px; width: 100px; height: 100px; }


.footer{ width:100%; height:150px; background-color:#2d2b2e; }
.footer-box{ margin:0 auto; width:1200px; }
.footer-box .l{ margin-top:31px; color:#fff; }
.footer-box .l .fl{ display:inline-block; margin-right:38px; }
.footer-box .l .fr p{ font-size:22px; }
.footer-box .l .fr .show-ul{ margin-top:16px; width:337px; clear:both; font-size:16px; }
.footer-box .l .fr .show-ul li{ margin:0 10px 11px 0; float:left; }
.footer-box .r { margin-top:46px; }
.footer-box .r a{ display:inline-block; padding:16px 22px; border:1px solid #fff; border-radius:8px; color:#fff; font-size:24px; }

 /* supplier-pordcut-list */
 //.tab-content .list-box{ margin-top:-8px; }

 //.list-search .radio-select label:before{background:#FF8540; border:1px solid #FF8540;}
 .list-search .list-item input[type=text]{ padding:7px 8px; height:auto; line-height:normal; }
.list-search .radio-select label.active:before{background:#FF8540; border:1px solid #FF8540;}
.search-select li{ cursor: pointer; }
.prod-list div.new-nav-box{ display: inline-block; margin-top: 1px; width:799px; overflow:hidden; }
.prod-list .nav-tabs>li.active{ width:128px; }
.new-nav ul li{ width: 128px; }
.new-nav ul li a{ padding: 12px 0 10px 4px; }
.new-nav ul{ padding-left:0; }
.new-nav ul li.active a{ color:#616466; }

.page-supplier-main .nav-tabs > li a{ padding-right:3px; text-align:center; }
 .list-search .radio-select label.active:before{ border:1px solid #FF8540 !important; }
 .select-group .btn:not(.disabled):hover:before{ border-color:#FF8540; }
 .search-select li:hover{ background: #FF8540; }
 .list-box .table-bordered td{ padding: 20px 10px !important; }
 .list-box .price-show-box .table-bordered td{ padding:0!important; }
 .tab-content{ min-height:624px; }
 .page-supplier-main .supplier-plans{ margin:2px 30px 30px 0; }
 .page-supplier-main .nav-tabs{ border-bottom:none; }
 .btn-info{ margin-top:-2px; background:#ff8540; border:none; border-color:#ff8540; }
 	.btn-info:hover{ background:#ff8540; border:none; border-color:#ff8540; }
 	.btn-info:focus,.btn-info.focus{ background:#ff8540; border:none; border-color:#ff8540; }
 	.btn-info:active{
	background-color: #ff8540;
    border-color: #ff8540; }
    .btn-info:active:hover, .btn-info:active:focus, .btn-info:active.focus, .btn-info.active:hover, .btn-info.active:focus, .btn-info.active {
		background-color:#ff6342;
      border-color: #ff6342; }

 .list-search .radio-select .btn{ color: #636666; }
 .list-box .price a{ padding: 7px 26px; }

.list-box tr:hover td{border-color:#ffc29f!important;}
.list-search .list-item input[type=text]:focus{ box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(255, 194, 146, 0.6);border-color: #ffc292;outline: 0;opacity: 1;}
 .nav-tabs > li.active > a .badge{ background-color: #FF8540 !important; color: #fff; }
 .prod-list .nav-tabs>li>a .badge{ background-color: #FF8540; color: #fff; }
 .prod-list .gm-next{ margin-left: 3px; margin-top: -2px; font-size: 15px; color: #fff; }
 .prod-list .gm-back2{ margin-left: -2px; color: #fff; }
 .overflow>div{ width: auto; float:none; }

 .prod-list .supplier-brand-wrapper{ top:0; height: 200px; }
 .prod-list .fun-bottom-center{ padding-top: 100px; }
 .prod-list .supplier-product{ position: relative; margin-top: -46px; }
 .prod-list .supplier-plans{ position: relative; float: none; width:100%; }
 .prod-list .supplier-info{ height: 200px; }
 .prod-list .supplier-background{ background: url(/distributor/theme/manage/blue/images/supplier/bannersmall.jpg) no-repeat}
 .total-plan{ position: absolute; right: 0; top:16px; color: #fff; }
 .total-plan strong{ color: #FF6342; font-size: 14px; }
 .prod-list .list-search{ position: relative; margin-top:10px; width: 100%; background: #fff; border: none; }
 //.prod-list .list-item{ float: right; }
 .send-add{ margin:0 15px; color: #20a970; }
 .prod-list .input.ipt{ top:0; }
 .prod-list .gm-search2{ top:0; }
 .new-nav .action{ right: 180px; }
 .page-supplier-main .nav-tabs>li{ margin:0 4px 0 1px; border:none; }
 .page-supplier-main .nav-tabs>li>a{ color: #fff; }
.total-plan{ display: inline-block; }
.info h1{ text-indent:0; }
.list-search .radio-select{ position: absolute; right: 0; }
.linearbox{ position: absolute; bottom:0; left:0; height:80px; width:100%; 
	background:-webkit-gradient(linear, 0% 0%, 0% 100%,from(transparent), to(#333));
  	background: -webkit-gradient(linear, 0% 0%, 0% 100%, from(transparent), to(#333));
  	background: -webkit-linear-gradient(top, transparent, #333); 
  	background: -o-linear-gradient(top, transparent, #333);
}
.btn-default:hover{ background:#FF8540!important; border:1px solid #FF8540!important; }
.btn-default:active:focus,.btn-default:active{ background:#ff6342!important; border:1px solid #ff6342!important; }
.add-p{ height: 23px; overflow: hidden; }