@charset "utf-8";
@import "./common/bootstrap/scss/bootstrap/variables";

.edit_pro .notice .tuoIcon{padding:7px 8px;display: inline-block;position: absolute;top: 3px;background:#fff url(/distributor/theme/manage/blue/images/shop/tuo.png?v=3.1) center;border-radius:2px;}
.input-group .form-control{ width: 68.4%; }
.cover-list-box .ac_results li.ac_odd{ background-color: #fff; }
    .cover-list-box .ac_results .ac_over{ background-color: #EDF0F2; color:#313233; }
.query_warning{ display:block; top:4px; }
.gm-info-remind{ margin:0 12px; }
.right-content{
    float:left;
    width:100%;
    background: #fff;
    // padding-top: 20px;
    // padding-bottom: 39px;
    margin-bottom: 20px;
    //box-shadow:0px 5px 5px 1px #999;
    //border-radius: 0 0 4px 4px;
    // border-top: 2px solid #E0E1E2;
    min-width:950px;
    // border:1px solid #e0e1e2;
}
.pro_order .number_index{display:inline-block;width:26px;height:20px;background: $brand-info;color:white;text-align:center;line-height:20px;margin-top:30px;font-weight:bold;}
.ct_body_left .left_navs .nav_li{ padding:8px 0;width:195px;height:40px;line-height:40px;text-align:center; 
    border-left:5px #fafbfd solid;border-bottom:1px #e8e8e8 solid;background: #fafbfd;
    display:inline-block;color:#0d0d0d;
}
.close-notice-bt{
    float: right;
    margin-top: 12px;
    margin-right: 20px;
}

/* 右边栏 */
.table-zone{
    min-height: 950px;
    // float: left;
    // width: 100%;
    // margin-left: -490px;
    // padding-left: 490px;
    // padding:20px 20px 0px 20px;
    // border: 1px solid #E0E1E2;
}
.title-ul{
   	width: 454px;
    height: 34px;
    // position: relative;
    // margin-left:168px;
    //border-bottom: 2px solid #d7d8d9;
    margin: 0 auto;
    padding-top:20px;
}
.title-ul li{
    width: 151px;
    height: 34px;
    float: left;
    text-align: center;
    line-height:34px;
    border: 1px solid #d7d8d9;
}
.title-ul li:first-child{ 
    border-right: none; 
    border-top-left-radius:3px;
    border-bottom-left-radius:3px;
}
.title-ul li.last-list{
 border-left: none; 
 border-top-right-radius:3px;
 border-bottom-right-radius:3px;
}
.title-ul li a{
    display: block;
    width: 100%;
    height: 100%;
    color: #101010;
}
.title-ul li a:hover{ text-decoration:none; }
.title-ul li.select{ margin:-1px -1px 0 0; width: 151px; height:35px; line-height:35px; background: $brand-info; }
.title-ul li.select a{ color:#fff; text-decoration:none; }
.under_line{
    display: block;
    width: 132px;
    height: 10px;
    background: url("/distributor/theme/manage/blue/images/recommend/re_14.png");
    position: absolute;
    left: 9px;
    top:32px;
    -webkit-transition:all .2s linear;
}
.explain-text{
    padding-top: 25px;
    //margin-left: 146px;
}
.explain-bigger{
    margin-right: 33px;
    font-size: 14px;
    color: #0a0a0a;
}
.explain-smaller{
    font-size: 12px;
    color: #929292;
}
.day-icon{
    width: 58px;
    height: 35px;
    /*display: inline-block;*/
    float: left;
    background:  $brand-info;
    text-align: center;
    line-height: 32px;
    color: #fff;
}

.cover-list-box{   
    margin: auto;
    padding:15px 0 0 146px;
    border-bottom: 1px dashed #E8E8E8;
    padding-bottom: 20px;
}
.col-sm-6{ width:75.5%; }
.cover-pro-name{
    height: 34px;
    line-height:34px;
    text-indent:0.5rem;
    border: 1px solid #aaa;
    /*border-color: #aaa;*/
    outline: none;
    width: 397px;
}
.cover-list-box ul li{
    padding-top: 5px;
    height:25px;
    line-height:30px;
    position: relative;
    width:100%;
    display:inline-block;
}

.explain-smaller i{
    width: 15px;
    height: 15px;
    display: inline-block;
    background:url("/distributor/theme/manage/blue/images/recommend/re_19.png");
    vertical-align: middle;
    margin: 0 5px;
}

.drag-icon{
    width: 58px;
    height: 35px;
    float: left;
    background:url("/distributor/theme/manage/blue/images/recommend/tuij.png") no-repeat 10%  $brand-info;
    vertical-align: middle;
}
.menu-list-box{
    //margin-left: 77px;
    padding:15px 0 0 146px;
}
.menu-list-box ul li{
    padding-top:5px;
    height:25px;
    line-height:30px;
    position: relative;
}
.menu-pro-name{
    height: 34px;
    line-height:34px;
    text-indent:0.5rem;
    border: 1px solid #E0E1E2;   
    outline: none;
    width: 397px;
    float: left;
}
.delete-this-bt{
    /*display:inline-block;*/
    margin-left: 10px;
    float: left;
    vertical-align: middle;
    width:36px;
    height:36px;
    background:#FF4848;
    border-radius: 8px;
}
// .border_top{border-top:1px solid #e0e1e2}
.div_box{border-right: 1px solid #e0e1e2;border-left: 1px solid #e0e1e2;}
/* 推荐设置 重置 */
.edit-pro-box .pro_order{ cursor:default; }
.edit-pro-box{ border-bottom: 1px solid #e0e1e2;border-right: 1px solid #e0e1e2;border-left: 1px solid #e0e1e2;}
.pro_item .pro_order{ 
    width:28px; height:81px;border-radius:4px 0px 0px 4px;
    float:left;cursor: move;
    background:#fff url(/distributor/theme/manage/blue/images/recommend/tuo.png?v=3.1) repeat-y; }

.pro_text1{ height: 32px;width:120px }
.edit_pro{
 // margin-left:168px;
 width: 100%;
margin-left:0px !important;
position:relative;
padding:20px 20px 0 20px;
}
.min_height{border-left: 1px solid #e0e1e2;border-right: 1px solid #e0e1e2;border-bottom: 1px solid #e0e1e2;min-height:400px;padding-bottom:40px;}
.pro_list_up{ 
    // width: 89%;
    margin-bottom:10px;
    // float: left;
    padding-right:20px;
    margin-right: 168px;
}

.item_infos{ width: 100%;}
.del_pro{ right: -50px; padding:0; width:36px; height:36px; line-height:36px; text-align:center; background:#fff; color:#000; }
.del_pro i{ display:block; }
.del_pro i.gm-delete{ }
.add-one{
    display: block;
    width: 110px;
    height: 36px;
   //line-height: 36px;
    text-align: center;
    background-color: $brand-info;
    margin-top: 20px;
    color:#fff;
    font-size: 14px;
    border-radius: 4px;
}
.gm-add { margin-right: 8px;}
.save{
    margin-left: 77px;
    margin-top: 15px;
    width: 120px;
    height: 30px;
    display: block;
    background: url("/distributor/theme/manage/blue/images/recommend/re_30.png");
}
.f5{
    position:absolute;
    top:6px;
    left:-120px;
    width:110px;
    display: block;
    background:#5bc0de;
    height: 34px;
    line-height: 34px;
    color: #939699;
    line-height: 30px;
    background-color:#fff;
    border-radius: 5px;
    border:1px solid #e0e1e2;
    cursor: pointer;
}
.gm-refresh{ margin: 0 6px 0 9px; }
.btn-default{ margin-left: 10px; }
.tb-box-show{ display: block; }
/*.pro_name{ position:absolute; top:-20px; left:62px; }*/
.tb-box-hide{ display: none; }

.ac_results{
    /*z-index: 999;*/ 
    width:390px !important;
    border-radius:6px !important;
    //top: 10px !important;
    top:40px!important;
    left:64px!important;
}

/* 左边 */
.show-box{
    width: 350px;
    height: 710px; 
    float: left;
    margin:0 60px;
    border-radius: 5px;
    position: relative;
    background:url(/distributor/theme/manage/blue/images/recommend/tuij_rbg.png) no-repeat;
}
.show-box .mask-board{
    width: 350px;
    height: 710px;
    position: absolute;
    left: 0;
    top: 30px;
    z-index:100;
    background:#fff;
    filter:alpha(opacity=0);
    -moz-opacity:0;
    opacity:0;   
    display:block;
}

.iframe-box{
    margin:84px auto 0;
    width: 307px;
    height:543px;
}

// weixxin
.recommend_wx{
    width:168px;
    height: 360px;
    padding:0 20px 0 20px;
    text-align: center;
    position:absolute;
    top:18px;
    right: 20px;
    border:1px solid #e0e1e2;
}
.recommend_wx span:first-child{font-size:12px;position:relative;top:20px}
.recommend_wx div{height:128px;width:128px;margin-top:40px}
.recommend_wx div img{height:128px;width:128px}
.recommend_wx .btn{margin-top:20px;margin-left:0px }
.page-content-inner{
    // overflow-x:hidden
}
.pro_text2{width:223px;height:34px;float:left;margin-left:10px}
.query_pro{
    height: 33px;
    border-top-right-radius:3px;
    border-bottom-right-radius:3px;
}
.pro{margin-top:23px}
.table_zone_item{
    width: 100%;
    height: 42px;
    background-color:#f6f6f6;
    line-height:42px;
    border:1px solid #e0e1e2;
}
.table_zone_item span:first-child{
    font-size: 16px !important;
    margin-left: 20px;
}
.table_zone_item span:last-child{
    font-size: 12px;
    color: #514D4D;
    margin-left: 20px;
}
.mar_top{margin-top:20px;}
.pro_list{width:88%}
.pro_name{margin-left:10px}
.div_color{height:20px;background:#f2f2f2}
