input[type='checkbox'], input[type='radio'] {
  -webkit-box-shadow: inset 0 1px 2px white, 0 1px 2px rgba(0, 0, 0, .2);
  -webkit-appearance: none;
  -webkit-margin-start: 0;
  -webkit-margin-end: 3px;
  background: white;
  border-radius: 3px;
  border: 1px solid #a0a0a0;
  display: inline-block;
  margin-bottom: 0;
  margin-top: 0;
  position: relative;
  top: 2px;
  vertical-align: baseline;
}

input[type='checkbox']:disabled, input[type='radio']:disabled {
  border: 1px solid #b0b0b0;
  opacity: .75;
}

input[type='checkbox']:not(:disabled):not(:active):hover,
input[type='radio']:not(:disabled):not(:active):hover {
  background: -webkit-linear-gradient(#fff, #e6e6e6);
  border: 1px solid #909090;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 1);
}

input[type='checkbox']:not(:disabled):active,
input[type='radio']:not(:disabled):active {
  -webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, .2);
  background: -webkit-linear-gradient(#f0f0f0, #d0d0d0);
  border: 1px solid #808080;
  text-shadow: 0 1px 0 rgba(255, 255, 255, .25);
}

input[type='checkbox'] {
  border-radius: 3px;
  height: 14px;
  width: 14px;
}

input[type='checkbox']:checked::before {
  color: #808080;
  content: url('../images/common/checkmark.png');
  font-size: 13px;  /* Explicitly set the font size so that the positioning
                       of the checkmark is correct. */
  height: 16px;
  left: -1px;
  top:-1px;
  position: absolute;
}
input[type='checkbox']:disabled:checked::before {
  content: url('../images/common/checkmark2.png');
}

input[type='radio'] {
  border-radius: 100%;
  height: 15px;
  width: 15px;
}

input[type='radio']:checked::before {
  -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, .5);
  -webkit-margin-start: 3px;
  background: #3bb0fd;
  border-radius: 10px;
  content: '';
  display: inline-block;
  font-size: 13px;
  font-weight: 400;
  height: 7px;
  left: 0;
  margin-top: 3px;
  opacity: 1;
  position: absolute;
  top: 0;
  vertical-align: top;
  width: 7px;
}

input[type='radio']:disabled:checked::before {
  background: #a0aba0;
}

html[dir='rtl'] input[type='radio']:checked::before {
  right: 0;
}

input[type='radio']:active:checked::before {
  background: #606060;
}

/* .checkbox and .radio classes wrap labels. */

.checkbox,
.radio {
  margin: 9px 0;
  display: -webkit-box;
}

/* Make sure long spans wrap at the same place they start. */
.checkbox label input ~ span,
.radio label input ~ span {
  -webkit-box-flex: 1;
  -webkit-margin-start: 0.2em;
}

/* These rules are copied from button.css */
input[type='checkbox']:not(.custom-appearance):focus,
input[type='radio']:not(.custom-appearance):focus {
  -webkit-box-shadow: inset 0 1px 2px white,
      0 1px 2px rgba(0, 0, 0, .2),
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0,
      0 0 1px #c0c0c0;
  -webkit-transition: border-color 200ms;
  border-color: #4080fa;
  outline: none;
}

input[type=radio] ~ span,
input[type=checkbox] ~ span {
  color: #5d7388;
}

input[type=radio]:disabled ~ span,
input[type=checkbox]:disabled ~ span {
  color: #b0b0b0;
}

label:hover > input[type=checkbox]:not(:disabled) ~ span,
label:hover > input[type=radio]:not(:disabled) ~ span,
input[type=radio]:not(:disabled) ~ span > label:hover,
input[type=checkbox]:not(:disabled) ~ span > label:hover {
  color: #2c4258;
}
