@charset "UTF-8";

body {
	background-image: none;
	background-color: white;
	font-family: 'Hiragino Sans GB', 'Microsoft Yahei', 'Helvetica Neue',
		Helvetica, Arial, sans-serif;
	font-size: 14px;
}

.heardnew .logo {
	background-color: transparent !important;
	height: auto !important;
}

.heardnew .reg-log a {
	font-size: 14px;
}

.heardnew .heard-center, .footernew .footer-centr {
	width: 1170px;
}

.heardnew .nav-list {
	display: none !important;
}

.page-supplier-content, .page-supplier-main {
	position: relative;
}

.page-supplier-content {
	min-width: 1170px;
	margin-bottom: 45px;
	overflow: hidden;
}

.page-supplier-main .supplier-info {
	position: relative;
	height: 320px;
}

.page-supplier-main .supplier-background {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover !important;
}

.page-supplier-main .supplier-brand-wrapper {
	position: absolute;
	top: 95px;
	left: 0;
	width: 100%;
	height: 225px;
}

.page-supplier-main .supplier-brand {
	width: 1170px;
	height: 100%;
	margin: 0 auto 0;
	text-align: center;
	position: relative;
}

.page-supplier-main .supplier-logo {
	margin: 0 auto;
	width: 120px;
	height: 120px;
	z-index: 2;
	background: rgba(0, 0, 0, 0.4);
	padding: 5px;
	position: relative;
}

.page-supplier-main .supplier-logo img {
	height: 100%;
	background: #fff;
	width: 100%;
}

.page-supplier-main .supplier-name {
	margin: 15px auto 0;
	text-shadow: 1px 1px 5px #222;
	color: white;
	font-size: 20px;
	line-height: 100%;
}

.page-supplier-main .supplier-customize {
	position: absolute;
	right: 0;
	bottom: 7px;
}

.page-supplier-main .supplier-customize .gm-icon {
	color: white;
	font-size: 22px;
	cursor: pointer;
	background: url(../images/btn-bg.png);
	padding: 5px;
	border-radius: 3px;
	margin-left: 25px;
}

.page-supplier-main .supplier-product {
	width: 1170px;
	margin: 40px auto 0;
}

.page-supplier-main .nav-tabs {
	border-bottom: 1px solid #e0e1e2;
}

.page-supplier-main .nav-tabs>li {
	border: 1px solid white;
	border-bottom: none;
	border-top-left-radius: 4px;
	border-bottom-left-radius: 4px;
}

.page-supplier-main .nav-tabs>li.active {
	border-color: #e0e1e2;
}

.page-supplier-main .nav-tabs>li>a {
	margin-right: 0;
}

.page-supplier-main .nav-tabs>li>a .badge {
	background-color: #edf0f2;
}

.page-supplier-main .supplier-plans {
	float: left;
	width: 870px;
	margin:0 30px 30px 0;
	font-size: 14px;
}

.page-supplier-main .supplier-plans .table.plan-list {
	border-top: none;
}

.page-supplier-main .supplier-plans .table.plan-list td.ff-border-fix {
	border-left: 1px solid transparent;
}

.page-supplier-main .supplier-plans .table.plan-list td.line-dash-border
	{
	border-top-style: dashed;
}

.page-supplier-main .supplier-plans .table.plan-list>thead>tr>th {
	background-color: white;
}

.page-supplier-main .supplier-plans .table.plan-list>thead>tr>th,
	.page-supplier-main .supplier-plans .table.plan-list>thead>tr>td,
	.page-supplier-main .supplier-plans .table.plan-list>tbody>tr>th,
	.page-supplier-main .supplier-plans .table.plan-list>tbody>tr>td,
	.page-supplier-main .supplier-plans .table.plan-list>tfoot>tr>th,
	.page-supplier-main .supplier-plans .table.plan-list>tfoot>tr>td {
	padding: 8px;
}

.page-supplier-main .supplier-plans .tourplan-name {
	word-break: break-all;
	word-wrap: break-word;
}

.page-supplier-main .supplier-plans .disable {
	color: #939699;
	cursor: default;
}

.page-supplier-main .supplier-plans .inline {
	display: inline-block;
	vertical-align: middle;
	color: #626466;
}

.page-supplier-main .supplier-plans .inline.inline-date {
	width: 100px;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.page-supplier-main .supplier-plans .inline:nth-child(n+2) {
	margin-left: 8px;
}

.page-supplier-main .supplier-plans .inline .type {
	width: 50px;
	text-align: right;
	overflow: hidden;
	display: inline-block;
	vertical-align: middle;
}

.page-supplier-main .supplier-plans .inline .price {
	display: inline-block;
	vertical-align: middle;
	color: #d53c32;
}

.page-supplier-main .supplier-plans .table.contact-list {
	margin-top: 20px;
}
.contact-list th{border-bottom:solid 1px #e0e1e2!important;}

.page-supplier-main .supplier-plans .table.contact-list>thead>tr>th,
	.page-supplier-main .supplier-plans .table.contact-list>thead>tr>td,
	.page-supplier-main .supplier-plans .table.contact-list>tbody>tr>th,
	.page-supplier-main .supplier-plans .table.contact-list>tbody>tr>td,
	.page-supplier-main .supplier-plans .table.contact-list>tfoot>tr>th,
	.page-supplier-main .supplier-plans .table.contact-list>tfoot>tr>td {
	border: none;
}

.page-supplier-main .supplier-sidebar {
	float: left;
	width: 270px;
	overflow: hidden;
}

.page-supplier-main .supplier-sidebar .item {
	border: 1px solid #e0e1e2;
	padding: 20px;
}

.page-supplier-main .supplier-sidebar .item-head {
	margin: 0 0 20px;
}

.page-supplier-main .supplier-sidebar .item-head h4 {
	color: #313233;
}

.page-supplier-main .supplier-sidebar .item-main {
	padding: 0;
}

.page-supplier-main .supplier-sidebar .company-info {
	position: relative;
	color: #626466;
	overflow: hidden;
}

.page-supplier-main .supplier-sidebar .company-info:nth-child(n+2) {
	margin-top: 20px;
}

.page-supplier-main .supplier-sidebar .company-info .gm-icon {
	line-height: 100%;
}

.page-supplier-main .supplier-sidebar .company-info .info-icon {
	float: left;
	color: #939699;
	width: 20px;
	line-height: 100%;
}

.page-supplier-main .supplier-sidebar .company-info .info-content {
	margin-left: 20px;
	word-break: break-all;
	word-wrap: break-word;
	line-height: 100%;
}

.page-supplier-main .supplier-sidebar .company-parteners {
	overflow: hidden;
}

.page-supplier-main .supplier-sidebar .company-parteners li {
	float: left;
	width: 60px;
	height: 60px;
	line-height: 64px;
	overflow: hidden;
}

.page-supplier-main .supplier-sidebar .company-parteners li:nth-child(3n+1),
	.page-supplier-main .supplier-sidebar .company-parteners li:nth-child(3n+2)
	{
	margin-right: 20px;
	margin-bottom: 20px;
}

.page-supplier-main .supplier-sidebar .company-parteners img {
	width: 100%;
}

#tooltip {
	display: none;
	position: absolute;
	max-width: 400px;
	padding: 15px;
	background: white;
	border: 1px solid rgba(0, 0, 0, 0.15);
	border-radius: 4px;
	-webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
	background-clip: padding-box;
	break-word: break-all;
	word-wrap: break-word;
	white-space: pre-wrap !important;
	text-align: left;
}

#tooltip>pre {
	white-space: pre-wrap !important;
	word-break: break-all;
	word-wrap: break-word;
	background: transparent;
	border: none;
	font-size: 14px;
}

.supplier_dialog {
	display: none;
}

.supplier_dialog .option {
	text-align: left;
	padding: 26px 0px 23px;
	font-size: 14px;
}

.supplier_dialog .option label {
	margin: 0px 10px;
	cursor: pointer;
	display: inline-block;
	font-weight: normal;
}

.supplier_dialog .option label input[type="radio"] {
	right: 8px;
}

.supplier_dialog .picture {
	margin-left: 22px;
	display: none;
	width: 908px;
	text-align: left;
}

.supplier_dialog .imagebar {
	display: inline-block;
}

.supplier_dialog .imagebar ul {
	list-style: none;
	display: inline-block;
}

.supplier_dialog .imagebar ul li {
	width: 210px;
	height: 120px;
	margin: 0px 15px 15px 0px;
	position: relative;
	overflow: hidden;
	cursor: pointer;
	float: left;
	display: inline-block;
}

.supplier_dialog .imagebar ul li .icon {
	cursor: pointer;
	width: 210px;
	height: 120px;
	line-height: 120px;
	position: absolute;
	display: none; top : 0;
	left: 0;
	z-index: 2;
	border: 0;
	text-align: center;
	top: 0;
}

.supplier_dialog .imagebar ul li .icon:hover {
	
}

.supplier_dialog .imagebar ul li.selected .icon {
	font-size: 60px;
	color: #fff;
	display: block;
}

.supplier_dialog .uploadbar {
	display: none;
	height: 232px;
	padding-top: 38px;
}

.supplier_dialog .uploadbar .supplier_bg {
	width: 300px;
	height: 170px;
	line-height: 170px;
	border: 1px #8d8d8d solid;
	display: inline-block;
	float: left;
	text-align: center;
	font-size: 14px;
	color: #353535;
}

.supplier_dialog .uploadbar .supplier_bgUpDiv {
	height: 30px;
	float: left;
	margin: 143px 0px 0px 10px;
	width: 350px;
}

.supplier_dialog .uploadbar .supplier_bg img {
	width: 100%;
	height: 100%;
	display: inline-block;
	border: none;
}

.supplier_dialog .uploadbar .supplier_bgUpDiv .supplier_bgBtn {
	position: absolute;
	left: 0;
	top: 0;
	opacity: 0;
	height: 34px;
	width: 120px;
	filter: Alpha(opacity = 0);
	-moz-opacity: 0;
	cursor: pointer;
	font-size: 44px;
}

.supplier_dialog .uploadbar .supplier_bgUpDiv .supplier_bgUp {
	position: relative;
	padding: 0 10px 0 40px;
	width: 70px;
	height: 34px;
	line-height: 34px;
	color: #fff;
	background: url("../images/supplier/upload-icon.png") no-repeat 10px
		center #66d6ff;
	display: inline-block;
	overflow: hidden;
	font-size: 14px;
}

.supplier_dialog .uploadbar .upload-tips {
	width: 150px;
	line-height: 30px;
	color: #ccc;
	height: 30px;
}

.supplier_dialog .buttonbar {
	height: 40px;
	line-height: 40px;
	margin-top: 11px;
	padding: 10px;
	border-top: 1px solid #959595;
	clear: both;
}

.supplier_dialog .buttonbar .button {
	margin: 7px;
	padding: 0 15px 0 20px;
	color: #fff;
	letter-spacing: 5px;
}

.supplier_dialog .buttonbar .button.cancel {
	background-color: #f06464;
}

.supplier_dialog .buttonbar .button.save {
	background-color: #60d878;
}

.supplier_dialog .content {
	display: inline-block;
	width: 800px;
}

.supplier_dialog .content .share-title {
	margin: 56px 0px 30px 0px;
	color: #303030;
	font-size: 28px;
}

.supplier_dialog .content .share-link input {
	height: 40px;
	line-height: 40px;
	width: 500px;
	padding-left: 10px;
	color: #303030;
	font-size: 14px;
	margin: 0 auto;
	background: transparent !important;
}

.supplier_dialog .content .share-tips {
	line-height: 25px;
	color: #b0b0b0;
	font-size: 14px;
	padding-left: 144px;
	text-align: left;
	margin: 20px 0px 44px 0px;
}

/*上传样式*/
input[type=file] {
	font-size: 50px;
	overflow: hidden;
	opacity: 0;
	filter: alpha(opacity = 0);
	width: 100px;
	height: 26px;
}

.upBtn {
	width: 100px;
	height: 26px;
	display: inline-block;
	text-align: center;
	line-height: 26px;
	background-color: #fff;
	border: 1px solid #eb8739;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
}

.beforeUp {
	float: left;
}

.successUp, .doingUp {
	float: left;
	display: block;
}

.beforeUp {
	float: left;
	display: block;
}

.beforeUp .upBtn:hover {
	background: #eb8739;
	color: white;
}

.upBtn.success {
	background: white url(/theme/web/default/images/common/successIcon.png)
		no-repeat 12px 8px;
	width: 100px;
}

.upBtn.doing {
	background: white url(/theme/web/default/images/common/loading.gif)
		no-repeat 12px 6px;
	width: 112px;
	text-align: right;
	padding-right: 6px;
}

.upBtn_hover {
	background: #eb8739;
	color: white;
}

.successUp {
	top: -29px;
	left: 0px;
	position: relative;
	padding-right: 150px;
	background-color: white;
}

.doingUp {
	height: 30px;
	display: block;
	position: relative;
	top: -30px;
	left: 0px;
	width: 260px;
	padding-right: 100px;
	background-color: white;
}

.cancle {
	color: #3bb0fd !important;
	text-decoration: underline !important;
	vertical-align: bottom;
	padding-left: 5px;
}

.delUpFile {
	color: #6f6f6f !important;
}

.opacity {
	opacity: 0;
	filter: alpha(opacity = 0);
}

.hidden {
	display: none;
}

.text-h5 {
	font-size: 20px;
}

.m-l-md p, .address p {
	text-align: left;
}

.footer {
	width: 100%;
	height: 150px;
	background-color: rgba(0, 0, 0, 0.6);
	position: fixed;
	bottom: 0px;
	z-index: 2;
}

.footer-box {
	margin: 0 auto;
	width: 1200px;
}

.footer-box .l {
	margin-top: 31px;
	color: #fff;
}

.footer-box .l .fl {
	display: inline-block;
	margin-right: 38px;
}

.footer-box .l .fr p {
	font-size: 22px;
}

.footer-box .l .fr .show-ul {
	margin-top: 16px;
	width: 337px;
	clear: both;
	font-size: 16px;
}

.footer-box .l .fr .show-ul li {
	margin: 0 10px 11px 0;
	float: left;
}

.footer-box .r {
	margin-top: 46px;
}

.footer-box .r a {
	display: inline-block;
	padding: 16px 22px;
	border: 1px solid #fff;
	border-radius: 8px;
	color: #fff;
	font-size: 24px;
}

.new-nav {
	height: 48px;
	position: relative;
}

.new-nav>div {
	overflow: hidden;
}

.new-nav .action {
	display: none;
	width: 74px;
	right: 0;
	top: 0;
	height: 47px;
	line-height: 47px;
	position: absolute;
	text-align: right;
	border-bottom: 1px solid #e0e1e2;
}

.new-nav .action a {
	color: #8f9091;
	display: inline-block;
	margin-left: 6px;
	width: 30px;
	height: 30px;
	line-height: 30px;
	text-align: center;
	background: #e8e8e8;
	border-radius: 50%;
}

.new-nav .action a[action=prev] i {
	font-weight: 600;
}

.new-nav .action a i {
	font-size: 18px;
}

.new-nav .action a:first-child {
	margin-left: 0
}

.new-nav .action a.disabled {
	cursor: default;
	color: #afb0b2;
	opacity: 0.8;
}

.new-nav ul {
	width: 200%;
	padding-left: 15px;
}

.new-nav ul li {
	border-top-right-radius: 4px;
	border-bottom-left-radius: 0 !important;
	border-color: transparent !important;
}

.new-nav ul li.active {
	border-color: #e0e1e2 !important;
}

.new-nav ul li a {
	padding-left: 13px;
	padding-right: 18px;
}

.tab-content .list-box {
	margin: 0;
}

.overflow>div {
	width: 796px;
}

.overflow .action {
	display: block;
}

.supplier-info {
	position: relative;
}

.supplier-info .version-new {
	display: block;
	height: 140px;
	width: 120px;
	position: absolute;
	top: 20px;
	right: 20px;
	background: url(../images/new-fire-balloon.png) no-repeat;
}

.supplier-info .version-new span {
	width: 100%;
	display: block;
	position: absolute;
	left: 0;
}

.supplier-info .version-new span.lines {
	z-index: 1;
	bottom: 27px;
	height: 17px;
	background: url(../images/new-point.png) center 0 no-repeat;
}

.supplier-info .version-new span.words {
	left: -1px;
	display: none;
	top: 108px;
	height: 70px;
	background: url(../images/new-flag.png) center -12px no-repeat;
}