@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";

/*current page*/
.mt80{ margin-top: 80px; }

/* banner 介绍 */
.banner{ min-width:1190px; width: 100%; height: 460px; color:#fff; background:url(/www/theme/web/default/images/common/aboutme/aboutbanner.jpg) no-repeat center center; overflow:hidden; }
.bannr-center{ margin:0 auto; width:1160px; text-align:center; }    
.banner-log{ font-size:40px; }
.banner-log p{ margin-top:6px; }
.banner-log img{ margin-top:90px; width:196px; height:118px; }
.font-box{ margin-top:26px; font-size:18px; }
.font-box p{ line-height:25px; }

/* 服务范围 */
.services{ min-width:1190px; width:100%; background-color:#EDF0F2;}
.services-center{ margin:0 auto; width: 1170px; padding:34px 0 64px 0;text-align: center; }
.services h1,.introdu-center h1,.contentus-center h1{ font-size: 40px; }
.services-center .font-item{ margin-top: 21px; }
.serv-ul { margin:55px 0 0 65px; }
.serv-ul li{ display: inline; float: left; }
.serv-ul li div{ display:inline-block; margin-right: 92px; font-size: 14px; color: #939699; text-align: center;}
.serv-ul li i{ display:block; margin-bottom:16px; height:60px; line-height:60px; font-size:74px; color:#c1c4c6; }

/* gm 介绍 */
.gm-introdu{}
.gm-introdu .introdu-center{ margin: 0 auto; padding-top: 34px; width: 1170px; text-align: center; }
.introdu-center p:nth-child(2){ margin-top: 24px; }
.office-box{ margin-top: 40px; }
.font-item{ line-height: 25px; font-size: 16px; color:#626466; }

/* 联系我们  */
.contentus-center { margin: 0 auto; padding-top: 34px; width: 1170px; text-align: center;  }
.contentus-center .font-item{ margin-top: 10px;}
.map-box{ margin-top: 30px; min-width:1190px; width:100%; height: 346px; border-top:1px solid #e0e1e2; background: url(/www//theme/web/default/images/common/aboutme/aboumemap.jpg) no-repeat center center; }
.map-box img{ min-width:1190px; width: 100%; height: 346px; }
.map-boxcenter{ margin: 0 auto; width:1170px; padding-top: 80px; color:#313233; }
.map-boxcenter p{ margin-left:428px; line-height: 35px; font-size: 18px; }
