@charset "utf-8";

body{ font-size: 12px;  background:url("/theme/web/default/images/common/body_bg.jpg") repeat; 
		font-family: "微软雅黑","Times New Roman",Arial,Helvetica,sans-serif;
    }
.top_info {
    display: inline-block;
    height: 160px;
    text-align: center;
    width: 100%;
}    
 
.top_info .top_status {
    display: inline-block;
    font-size: 14px;
    height: 60px;
    text-align: left;
    width: 1200px;
}

.top_info .top_status .logo {
    height: 60px;
    width: 180px;
} 
   

.top_info .top_body_title {
    color: #fff;
    display: inline-block;
    font-size: 24px;
    height: 64px;
    line-height: 64px;
    text-align: left;
    width: 1200px;
}


.top_info .menus {
    display: inline-block;
    height: 45px;
    padding: 0;
    position: relative;
    text-align: left;
    width: 1200px;
    z-index: 1;
}


.userChoice .login-on .user {
    height: 40px;
    line-height: 40px;
    width: 140px;
}
.m-l-n-sm {
    margin-left: -10px;
}
.left {
    float: left;
}


.userChoice .login-on .user .downBtn {
    background: rgba(0, 0, 0, 0) url("/theme/web/default/images/common/submenu-btn.png") no-repeat scroll 0 0;
    border: medium none;
    height: 24px;
    left: 125px;
    position: relative;
    top: 10px;
    width: 24px;
}

.userChoice .login-on .choice {
    border-bottom: 1px solid #11216f;
    border-left: 1px solid #11216f;
    border-right: 1px solid #11216f;
    margin-left: 13px;
    margin-top: -2px;
    width: 130px;
}


.userChoice .login-on .choice li {
    background: #2e42a4 none repeat scroll 0 0;
    border-top: 1px solid #11216f;
    height: 30px;
    line-height: 30px;
    width: 130px;
}


.userChoice .login-on .choice li img {
    height: 20px;
    margin-left: 10px;
    margin-top: 5px;
    position: relative;
    width: 20px;
}


.userChoice .login-on .choice li a {
    color: white;
    font-size: 15px;
    margin-left: 5px;
}
.heard{  display: inline-block; width: 100%; text-align: center; 
		background:url("/theme/web/default/images/common/top_bg.png") no-repeat left top 100%; 
}
.aboutme-log{ margin:20px auto 0; width:150px; }

.aboutme{ margin:20px auto 0; width:800px; }
.content-font{ margin-top:20px; line-height:31px; font-size:19px; text-indent:2rem; }

.aboutme-log img{ width:150px; }
.content-font p{ margin-bottom:20px; }