@charset "utf-8";
input,textarea,select{	font-size:12px;	color:#333;	font-family:Arial, Helvetica, sans-serif;outline: none;}
select.diySelect{min-width:120px;max-width:100%;}
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, lengend, button, input, textarea, th, td {
margin:0;padding:0;}
a{text-decoration:none;cursor: pointer;}
a:hover{text-decoration:none;}
img{ border:none; }
ul,li{margin:0;padding:0;list-style:none;}
p { line-height: 1.6; }
table{ border-collapse:collapse; border-spacing:0; }
h1, h2, h3, h4, h5, h6{ font-weight:normal; }
body {font-family: "Lantinghei SC","Hiragino Sans GB","Microsoft Yahei","Helvetica Neue",Helvetica,Arial,sans-serif; font-size:12px;color:#4f4f4f; }
#allBody{margin:0;padding:0;width:100%;z-index: 1;background: #f5f5f5;}
.nav_top{padding:0px 56px;background:#fff;border-bottom:1px #acd3e4 solid ;min-width:208px; width:calc(100% - 112px);width:-webkit-calc(100% - 112px);width:-moz-calc(100% - 112px);width:-o-calc(100% - 112px);overflow-x: hidden;text-align: center;position: relative;}
.nav_top .logo{float:left;width:200px;height:60px; display:inline-block;background: url("/theme/web/default/images/common/logo.png") no-repeat left center;}
.nav_top .logo_title{float:left;height:60px;display:inline-block;font-size: 20px;line-height:25px;color:#818080;}
.nav_top .top_menus{margin:0 auto;display:inline-block;max-width:1200px;}
.nav_top .top_menus ul{}
.nav_top .top_menus ul li{float:left;line-height:40px;height:40px;font-size: 16px;padding:0 15px;}
.nav_top .top_menus ul li a{padding:10px;height:40px;line-height:40px;overflow: hidden;color:#545b63;}
.nav_top .top_menus ul li.on{color:#5b6bb4;}
.nav_top .top_menus ul li.on a{color:#5b6bb4;}
 /*2.1改版*/
 .reg-head{
	width: 100%;
	height: 100px;
	font-size:16px;
	background-color:white;
	position: relative;
	min-width:1172px;
}
.reg-head .logo_new{
	margin-left: 200px;
	float: left;
}
.reg-head .title_details{
	height:100px;
	line-height: 100px;
	font-size: 24px;
	padding: 0 16px;
	float: left;
}
/*2.1改版 end*/
.nav_top .user_opts{float:right; display:inline-block;position:relative;top:20px;}
.nav_top .user_opts .opt_but{float:left;display:inline-block;font-size:16px;padding:0 10px;margin:5px 3px;line-height:28px;height:28px;overflow: hidden;border-radius:3px;border:1px #4050a7 solid;color:#4050a7;}
.nav_top .user_opts .opt_text{float:left;display:inline-block;font-size:16px;padding:0 10px;margin:5px 3px;line-height:28px;height:28px;overflow: hidden;}
.nav_top .user_opts .opt_but.on{background: #4050a7;color:#fff;}
.content_body{width:100%;margin:0;padding:0;display:inline-block;}
.footer{width:100%;display:inline-block;padding: 50px 0 35px 0;}
.footer .footer_ct{width:100%;text-align: center;font-size: 12px;color:#c6c5c5;line-height:30px;}
.footer .footer_ct .footer_website{display:inline-block;max-width:100%;overflow: hidden;}
.footer .footer_ct .footer_website .footer_logo{float:left; width:80px;border-right:1px #c6c5c5 solid;height:52px;background: url("../images/common/bottom_logo.png") no-repeat left center;display:inline-block;}
.footer .footer_ct .footer_website .footer_info{float:left;display:inline-block;padding-left:20px;}
.footer .footer_ct .website_info_li{line-height:26px;text-align: left;}
.footer .footer_ct .text_li{line-height:26px;text-align: center;}

/*头部样式*/  
.userChoice{width: 240px;position:relative;margin-top:-50px;z-index:200;}
 .userChoice .beforeLogin li{	width: 90px;	text-align: center;	line-height: 40px;	color:  #2e42a1;}
.userChoice .btn{display:inline-block;font-size:16px;padding:0 10px;margin:5px 3px;line-height:28px;height:28px;overflow: hidden;border-radius:3px;border:1px #4050a7 solid;color:#4050a7;}
.userChoice .login-on{	width:240px;	height: 40px;}
 .userChoice .login-on .user{	width:140px;	height: 40px;	line-height:40px;}
 .userChoice .login-on .user .downBtn{height:24px;width:24px;	position:relative;top:10px;	left:125px;	border:none;	background:url(/theme/manage/blue/images/common/submenu-btn.png) no-repeat;}
 .userChoice  .login-on .user .downUpBtn{	height:34px;	width:24px;	border:none;	position:relative;	top:10px;	left:125px;	background:url(/theme/manage/blue/images/common/submenuon-btn.png) no-repeat;}
 .userChoice .login-on .choice{	width:130px;	margin-top:-2px;	margin-left:13px;	border-left:1px solid #11216f;border-right:1px solid #11216f;border-bottom:1px solid #11216f;}
 .userChoice .login-on .choice li{width:130px;height: 30px;line-height: 30px;	border-top:1px solid #11216f;background:#2e42a4;}
 .userChoice .login-on .choice li img{position:relative;margin-left:10px;margin-top:5px;width:20px;height:20px;}
 .userChoice .login-on .choice li a{color:white;font-size:15px;margin-left:5px;}
 .userChoice .login-on .block{display:none!important;width:180px;height: 65px;	position:relative;top:200px;right:0px;	background:transparent url(../../../../theme/web/default/images/common/block.png) no-repeat;background-size:100%;}
 .userChoice .login-on .block img{width:15px;height: 15px;position:relative;top:28px;left:20px;} 
.userChoice .login-on .block span{position:relative;top:22px;	left:20px;color:white;	font-size:14px;line-height: 30px;}

/* 头部2.0 */
.heardnew{ background-color:#fff; }
	.heardnew	.logo{ display: inline-block; float: left; width: 216px; margin-right: 70px; }
	.heardnew	.logo img{ margin-top:5px; }
	.heardnew	.heard-center{ margin: 0 auto; width: 1170px; }
	.heardnew	.nav-list{ display: inline; float: left; }
		.heardnew	.nav-list li{ display: inline; float: left; }
			.heardnew	.nav-list li a{ display: inline-block; height: 80px; line-height: 80px; padding:0 20px; font-size: 18px; color: #626466; }
				.heardnew	.nav-list li a:hover,.reg-log a:hover,.footer-list li a:hover{ text-decoration:none; }
				.heardnew	.nav-list li.selected{ color:#313233; background-color:#EDF0F2; }
				.heardnew	.nav-list li.selected	a{ color:#313233; }
	.heardnew .reg-log{ display: inline; float:right; height: 80px; line-height: 80px; }
		.heardnew .reg-log a{ font-size: 14px; color: #939699 !important; }
			.heardnew .reg-log a.login{ margin-left: 20px; padding:8px 15px; font-size: 14px; border: 1px solid #ccc; border-radius: 4px; }

	.heard-center .login-state {
			margin: 0 20px;
		    padding: 25px 0 13px;
		    line-height: 32px;
	}	
	.heard-center .pull-right {
		display:none;
	    float: right !important;
	}
	.heard-center .login-state > li {
		 display: inline-block;
	    color: #939699;
	    cursor:pointer;
	}
	.heard-center .common-notice {
	    margin-right: 15px;
	}
	.heard-center .common-notice a {
	    color: #939699 !important;
	    text-decoration: none;
	}
	.heardnew .login-state > li .gm-icon {
	    font-size: 18px;
	}
.heardnew .open .gm-arrow{
	display: inline-block; -webkit-transform: rotate(180deg);
	-moz-transform: rotate(180deg); -ms-transform: rotate(180deg); -o-transform: rotate(180deg); transform: rotate(180deg);}

	.heardnew .common-notice .label {
	    display: inline-block;
	    left: -10px;
	    padding: 1px 3px;
	    position: relative;
	    top: -10px;
	}
	.heardnew .label-warning {
	    background-color: #ff8540;
	}
	.label {
	    border-radius: 0.3em;
	    color: #fff;
	    display: inline;
	    font-size: 75%;
	    line-height: 1;
	    padding: 0.2em 0.6em 0.3em;
	    text-align: center;
	    vertical-align: baseline;
	    white-space: nowrap;
	}
	.dropdown-toggle{ font-size:14px; color:#939699; }
	.dropup, .dropdown {
	    position: relative;
	}
	.dropup, .dropdown:hover .dropdown-menu{
		display:block;
	}
	.login-state > li .gm-icon {
	    font-size: 18px;
	}
	.login-state > li .gm-icon {
	    font-size: 18px;
	}
	.open > .dropdown-menu {
	    display: block;
	}
	.dropdown-menu {	    
	    display: none;
	    float: left;
	    position: absolute;
	    top: 100%;
	    left:-9px;	    
	    margin: 2px 0 0;
	    min-width: 125px;
	    padding: 5px 0;	   
	    text-align: left;	    
	    z-index: 1000;
	    background-clip: padding-box;
	    background-color: #fff;
	    border: 1px solid rgba(0, 0, 0, 0.15);
	    border-radius: 4px;
	    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.176);
	    list-style:none;
	    font-size: 14px;
	}
	.dropdown-menu > li {
	    padding: 0 5px;
	}
	.dropdown-menu > li.divider {
		height: 1px;
	  margin: 9px 0;
	  overflow: hidden;
	  background-color: #e0e1e2 !important;
	}
	.dropdown-menu > li > a {
	    border-radius: 4px;
	    clear: both;
	    color: #313233 !important;
	    display: block;
	    font-weight: normal;
	    line-height: 26px;
	    padding: 3px 15px !important;
	    white-space: nowrap;
	}
	.dropdown-menu > li .gm-icon {
	    margin-right: 8px;
	}
	.dropdown-menu > li > a:hover, .dropdown-menu > li > a:focus {
	    background-color: #edf0f2 !important;
	    color:#626466 !important;
	    text-decoration: none;
	}
	.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	    background-color: #587ed1;
	    color: #fff;
	    outline: 0 none;
	    text-decoration: none;
	}
	.dropdown-menu > .disabled > a, .dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
	    color: #777777;
	}
	.dropdown-menu > .disabled > a:hover, .dropdown-menu > .disabled > a:focus {
	    background-color: transparent;
	    background-image: none;
	    cursor: not-allowed;
	    text-decoration: none;
	}
	.open > .dropdown-menu {
	    display: block;
	}
	.open > a {
	    outline: 0 none;
	}
	.dropdown-menu-right {
	    left: auto;
	    right: 0;
	}
	.dropdown-menu-left {
	    left: 0;
	    right: auto;
	}
	.dropdown-header {
	    color: #777777;
	    display: block;
	    font-size: 12px;
	    line-height: 1.42857;
	    padding: 3px 20px;
	    white-space: nowrap;
	}
	.dropdown-backdrop {
	    bottom: 0;
	    left: 0;
	    position: fixed;
	    right: 0;
	    top: 0;
	    z-index: 990;
	}
	.pull-right > .dropdown-menu {
	    left: auto;
	    right: 0;
	}
	.dropup .caret, .navbar-fixed-bottom .dropdown .caret {
	    border-bottom: 4px dashed;
	    border-top: 0 none;
	    content: "";
	}
	.dropup .dropdown-menu, .navbar-fixed-bottom .dropdown .dropdown-menu {
	    bottom: 100%;
	    margin-bottom: 2px;
	    top: auto;
	}
	@media (min-width: 768px) {
	.navbar-right .dropdown-menu {
	    left: auto;
	    right: 0;
	}
	.navbar-right .dropdown-menu-left {
	    left: 0;
	    right: auto;
	}
	}
	.dropdown.select .btn {
	    min-width: 125px;
	    text-align: left;
	}
	.dropdown.select .btn:hover, .dropdown.select .btn:focus {
	    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
	    border-color: #587ed1;
	}
	.dropdown.select .btn::after {
	    content: "";
	    float: right;
	    font-family: "gmIcon" !important;
	    font-size: 16px;
	    font-style: normal;
	    margin-right: -5px;
	}
	.dropdown.select .dropdown-menu {
	    margin-top: 0;
	}
	.dropdown.select .dropdown-menu > li {
	    padding: 0;
	}
	.dropdown.select .dropdown-menu > li > a {
	    border-radius: 0;
	    line-height: 1.42857;
	    padding: 5px 15px !important;
	}
	.dropdown.select .dropdown-menu > li > a:hover, .dropdown.select .dropdown-menu > li > a:focus {
	    background-color: #78a7ff !important;
	    color: #fff !important;
	}
	.btn-group, .btn-group-vertical {
	    display: inline-block;
	    position: relative;
	    vertical-align: middle;
	}
	.btn-group > .btn, .btn-group-vertical > .btn {
	    float: left;
	    position: relative;
	}
	#theme_radio,#theme_radio_,#theme_radio_list{		
		display:none;
	}
   .theme_radio_box{
   	cursor: pointer;
	width: 18px;
	height: 18px;
	display:inline-block;	
	border:1px solid #ddd;
	position:relative;
	top:5px;
   }
  /* .theme_radio_box:active{
   	background-image:url("../images/common/register_succde.png");
   }*/
/* 2.0 底部 */
.footernew{ min-width:1190px; width:100%; height: 60px; line-height: 60px; padding:0; background-color: #252D36; }
		.footernew	.footer-centr{ margin: 0 auto; width: 1190px; }
			.footernew	.footer-list li{ position:relative; display:inline; float: left; margin-right: 20px; }
				.footernew	.footer-list li a,.footernew	.footer-list li span{ font-size:14px; color:#fff; opacity:0.5; }
				.footernew	.footer-list li i{ margin-right:5px; }
		.footernew	.copyright{ display: inline; float: right; font-size: 14px; color:#fff; opacity:0.5;}
.footernew .weixinImg{width:200px;height:200px;position: absolute;top:-205px;left:-70px;box-shadow:0px 4px 4px grey;z-index:200;}

/*公共按钮*/
/*.next_but{width:250px;height:30px;line-height:30px;text-align: center;background: #eb8739;color:#fff;font-size: 16px;display:inline-block;border:none;border-radius:5px;cursor: pointer;}*/

/*2.1改版*/

.next_but{width:340px;height:44px;line-height:44px;text-align: center;background: #78A7FF;color:#fff;font-size: 16px;display:inline-block;border:none;border-radius:3px;cursor: pointer;}
#next_but{width:246px;height:44px;line-height:44px;text-align: center;color:#626466;font-size: 16px;display:inline-block;border:1px solid #939699;border-radius:3px;cursor: pointer;background-color:transparent;}

.add_item{
	padding-left:38px;
	width:70px;
	height:36px;
	line-height:36px;
	display:inline-block;
	background: url("../images/common/add_item_new.png") no-repeat 3px center #78A7FF;
	color:#fff;
	border-radius:3px;
	cursor: pointer;
	margin-top:-4px
}
label.radio_li{height:30px;line-height:30px;display:inline-block;padding:0 10px;margin-right:10px;cursor: pointer;color:black}
input.theme_radio{vertical-align: middle;margin-right:6px;}
/* .set_thtme_but{height:26px;width:140px;line-height:26px;text-align: center;font-size: 14px;color:#2a2a2a;background: #ffff;border:1px solid #eb8739;border-radius:5px;display:inline-block;}
.set_thtme_but.beforeUp:hover{background:#eb8739;color:white;}
.set_thtme_but.doing{background:url(../images/common/loading.gif) no-repeat 6px 5px;padding-left:20px;width:100px;}
.set_thtme_but.success{background:url(../images/common/successIcon.png) no-repeat 8px 7px;width:98px;}
.cancle{color:#3bb0fd!important;text-decoration:underline!important;vertical-align: text-top!important;padding-left:5px;} */
/*提示页面*/
.hint_body{padding:50px 0 30px 0;width:100%; display:inline-block;}
.hint_body .hint_tips_body{display:inline-block;}
.hint_body .hint_tips_body .hint_text{line-height:30px;padding-left:48px;text-align: left;font-size: 14px;color:#333;position: relative;}
.hint_body .hint_tips_body .hint_title{width:100%; line-height:40px;text-align: center;font-size: 20px;color:#474747;}
.hint_body .hint_tips_body .hint_text.hint_text_type{margin:10px 0;}
.hint_body .hint_title .title_text{line-height:40px;text-align: left;font-size: 20px;background: url("../images/common/success_icon.png") no-repeat left top;}
.hint_body .hint_title .subtitle_text{height:20px;line-height:20px;color:#666;}
.hint_body .hint_content{padding:10px 0;width:100%;display:inline-block;text-align: center;font-size: 14px;}
.question_alert{margin:0 10px; width:16px;height:36px;background: url("../images/common/question_icon_new.png") no-repeat center center;display:inline-block;cursor: pointer;}
.hint_body .hint_content .success_tips{display:inline-block;text-align: left;width:380px;padding-left:15px;}
.hint_body .hint_content .hint_ct_li{padding-left:35px; line-height:35px;display:inline-block;max-width:100%;}
.hint_body .hint_content .hint_ct_lis{line-height:25px;display:inline-block;width:90%;font-size: 14px;color: #939699;text-align: center;}
.hint_body .hint_content .hint_ct_liBig{color: black;font-size: 20px}
.hint_body .hint_content .hint_ct_li .left_icon{color: red; font-size: 18px; line-height: 35px; margin-right: 2px;}
.hint_body .hint_tips_body .hint_text_left{float:left;display:inline-block;}
.hint_body .hint_tips_body .hint_text_link_ct{display:inline-block;width:100%;}
.hint_body .hint_tips_body .hint_text_buts{display:inline-block;padding:4px 0;}
.hint_body .hint_tips_body .hint_text_buts .link_qq_but{float:left;display:inline-block;margin-right:10px;}
.hint_body .hint_tips_body .linkGmQrcode{width:16px;height:16px;display:inline-block;background: url("../images/common/qrcode_icon.png") no-repeat;vertical-align: middle;}
/*提示信息*/
.bottom_point{padding:20px 0;height:30px;line-height:30px;font-size: 14px;color:#595959;text-align: center;}
.bottom_point .point_info{padding-left:35px;height:30px;line-height:30px;display:inline-block;background: url("../images/common/point_out.png") no-repeat left center;}
.Validform_checktip span{color:red;}
.tologin{padding:0 3px;border:1px #4050a7 solid;border-radius:3px;}
/*联系客服*/
.linksGmService{height:500px;width:332px;display:inline-block;}
.linksGmService .gm-qq3:hover:before{content:"\e600";}
.linksGmService .title{height:32px;line-height:32px;font-size:14px;font-weight:bold;color:#000;padding:0;padding-left: 15px;margin:-4px;border-bottom:1px solid #e8e9e9;}
.linksGmService .border-bottom{border-bottom:1px solid #e8e9e9;}
.linksGmService .service-date, .linksGmService .service-fankui, .linksGmService .service-tuiguang, .linksGmService .service-saoyisao{padding:10px 0px;margin: 0px 12px;display:inline-block;width:308px;}
.linksGmService .service-date-title, .linksGmService .service-fankui-title, .linksGmService .service-tuiguang-title, .linksGmService .service-saoyisao-title{font-size:14px;color:#666;margin-bottom:2px;}
.linksGmService .service-date-content, .linksGmService .service-fankui-content, .linksGmService .service-tuiguang-content, .linksGmService .service-saoyisao-content{font-size:12px;color:#666;padding-left:21px;display:inline-block;}
.linksGmService .service-date-content div, .linksGmService .service-fankui-content div, .linksGmService .service-tuiguang-content div, .linksGmService .service-saoyisao-content div{line-height:20px;}
.linksGmService .service-saoyisao-content img{width:120px;height:120px;border:1px solid #ccc;border-radius:5px;margin:5px 0px;}
.linksGmService .service-saoyisao-content .content-left div, .linksGmService .service-saoyisao-content .content-right div{text-align:center;}
.linksGmService .content-left,.linksGmService .content-right{float:left;}
.linksGmService .w215{width:215px;}
.linksGmService .w65{width:65px;}
.linksGmService .w60{width:60px;}
.linksGmService .mr5{margin-right:5px;}
.linksGmService .mr25{margin-right:25px;}
.linksGmService .ml10{margin-left:10px;}
.linksGmService a{text-decoration: none; outline:none;}
.linksGmService i{margin-right:5px;height:16px; width:16px;color:#96999c;display:inline-block; top:0;position: relative;}
.linksGmService .gm-qq3, .linksGmService .gm-qq2{color:#78a7ff;}
/*默认placeholder颜色*/
.placeholder{color:#ccc;}
@media all and (max-width:480px) {
	.nav_top{padding:10px;width:calc(100% - 20px);width:-webkit-calc(100% - 20px);width:-moz-calc(100% - 20px);width:-o-calc(100% - 20px);}
	.nav_top .user_opts{position:absolute;right:0;top:10px;}
}
.major_a{color:#de6a6f;display:inline-block;}
.major_a_br{border:1px #de6a6f solid;border-radius:3px;}
.mt20{margin-top:20px;}
.fl40{margin-left:40px;}
.fl26{margin-left:26px;}
.mb5{margin-bottom:6px;height:36px;}
.belongLis.mb5 {display: inline-block;}
.fl{float:left;display:inline-block;}

/* 清除浮动 */
.clearfix:before,.clearfix:after{ content:"";display:table; }
.clearfix:after{ clear:both; }
.clearfix{ *zoom:1; }

/* 浮动定义 */
.fl{ float:left; display:inline; }
.fr{ float:right; display:inline; }

.right {
    float: right;
}
.left {
    float: left;
}

/* 定位 */
.ps-a{ position:absolute; }
.ps-r{ position:relative; }
.ps-f{ position:fixed; }

.dp-b{ display:block; }
.dp-i{ display:inline; }
.dp-ib{ display:inline-block; }

/* hide */
.hidden{
	display: none;
}
/*上传样式*/
input[type=file]{font-size:50px;overflow:hidden;opacity:0;filter:alpha(opacity=0);width:140px;height:26px;}
.upBtn {width: 118px;height: 26px;display: inline-block; text-align: center; line-height: 26px; background-color: #fff; border: 1px solid #eb8739; border-radius: 5px;-moz-border-radius: 5px; -webkit-border-radius: 5px;}
/* .beforeUp:hover{background:#eb8739;color:white;} */
.upBtn.success{background: url(/theme/web/default/images/common/successIcon.png) no-repeat 12px 8px;width:100px;}
.upBtn.doing{ background: url(/theme/web/default/images/common/loading.gif) no-repeat 5px 6px;width: 118px;text-align:right; padding-left: 0px;}
.upBtn_hover{background:#eb8739;color:white;}
.doingUp{height:30px;display:inline-block;}
.cancle { color: #3bb0fd !important; text-decoration: underline !important; vertical-align: bottom; padding-left: 5px;}
.delUpFile{color: rgb(111,111,111)!important;}
.opacity{opacity:0;filter:alpha(opacity=0)}

/*二维码样式*/
.weixinImg{width:200px;height:200px;position: absolute;top:-205px;left:90px;box-shadow:0px 4px 4px grey;z-index:200;}
.weixinImg img{width:200px;height:200px;}
/*#weixinImg{width:200px;height:200px;top:-205px;left:1400px;box-shadow:0px 4px 4px grey;z-index:200;}*/
.weixinImg::after{color:white; border-width: 10px 10px 0px 10px; border-style: solid;border-color:white  transparent  transparent  transparent ; content: ""; position: absolute;display: inline-block; left: 95px; top: 200px;}


/*分页*/
#pagination{padding:58px 0;width:100%;display:inline-block;font-size: 14px;}
#pagination .pagetable .pagenumber{display: inline-block;height:30px;}
#pagination .pagetable .pagenumber .page{padding:0 10px;margin:0 2px; float:left; height:25px;line-height:25px; border:1px #e1e1e1 solid;text-align: center;color:#777;display:inline-block;}
#pagination .pagetable .pagenumber>.page{background: #f6f6f6;}
#pagination .pagetable .pagenumber>a>.page:hover{background: #5eb5f4;color:#fff;border:1px #5eb5f4 solid;}
#pagination .pagetable .pagenumber .fisrtPage,#pagination .pagetable .pagenumber .previousPage,
#pagination .pagetable .pagenumber .nextPage,#pagination .pagetable .pagenumber .lastPage{color:#4595f1;box-shadow:0 2px 2px #e1e1e1;-moz-box-shadow:0 2px 2px #e1e1e1;-webkit-box-shadow:0 2px 2px #e1e1e1;-o-box-shadow:0 2px 2px #e1e1e1;}
#pagination .pagetable .pagenumber>.currentPage{background: #4595f1;color:#fff;border:1px #4595f1 solid;}


/*
	@author aaron
	底部公用未登录时的浮动面板
 */
.show-not-login{position:fixed;left:0px;bottom:0px;right:0;height:140px; width:100%;display:inline-block;text-align:center; z-index: 99;}
.show-not-login .login-tips-bg{position: absolute;left:0px;bottom:0px;right:0px;width:100%;height:140px;background: #000;filter:alpha(opacity=70); -moz-opacity:0.7;opacity:0.7;z-index: -1;}
.show-not-login .login-tips{margin: 0 ;padding:25px 2px; width:1166px;z-index: 1;color:#fff;font-size: 18px;display:inline-block;text-align:left;}
.show-not-login .login-tips .login-tips-icon{float:left;background:url("../images/tourplan/login/floatLogo.png") no-repeat;background-size:100% 100%;background-position:center center; width:150px;height:90px;margin-right:32px;display:inline-block;}
.show-not-login .login-tips .login-tips-info{float:left;max-width:500px;overflow:hidden; display:inline-block;}
.login-tips .login-tips-info .login-tips-info-title{font-size: 36px;line-height:50px;margin-bottom:4px;}
.login-tips .login-tips-info .login-tips-info-tips{line-height:36px; color:#fff;filter:alpha(opacity=60); -moz-opacity:0.6;opacity:0.6;}
.show-not-login .login-tips .login-tips-buts{float:right;padding:23px 0;  display:inline-block;}
.login-tips .login-tips-buts .tips-but-reg{padding:0 25px;margin-right:20px;float:left; height:44px;line-height:44px;color:#fff;background: #78a7ff;border-radius:5px;display:inline-block;}
.login-tips .login-tips-buts .tips-but-login{padding:0 25px;margin-right:20px;float:left; height:44px;line-height:44px;color:#fff;background: #ff6342;border-radius:5px;display:inline-block;}
.login-tips .login-tips-buts .tips-but-close{float:left;height:44px;line-height:44px;width:44px;display:inline-block; background: url("../images/tourplan/cancal.png") no-repeat;background-position: center center;filter:alpha(opacity=70); -moz-opacity:0.7;opacity:0.7;}

/* 2.2 供应商主页 */
.heardnew	.heard-center{ position: relative; }
.suppli-nav{ position:absolute; top:28px; right: 150px; display: none; }
	.suppli-nav a{ display: inline-block; margin-right: 40px; color: #939699; font-size: 18px; }
		.suppli-nav a.selected{ color: #313233; }

/*
	@author aaron
	底部供应商新未登录时的浮动面板
 */
.fixbottom{ position:fixed; bottom:0; width:100%; min-width:1190px; display:block; height: 80px; background-color: #3B3C3D; }
	.fixcenter{ margin: 0 auto; }
	.l{ float: left; color: #9D9E9E; }
		.big-font{ font-size: 24px; color: #fff; }
		.l span{ margin-right: 14px; }
	.log-box{ position: relative; float: right; padding-right: 50px; width: 275px; }
	.log-box a{ display:inline-block; width: 100px; height: 40px; line-height:40px; text-align:center; border: 1px solid #fff; border-radius: 3px; font-size: 18px; color: #fff; }
	.log-box a.logo{ margin-left:17px; background-color: #FF8540; border: none; }
	.log-box span{ display: block; text-align: center; color: #9D9E9E; }
	.log-box i{ position: absolute; right: -16px; top: -27px; font-size: 67px; color: #fff; }
