.all{
	width: 100%;
	margin: 0px auto;
	padding: 0px;
	font-family: "微软雅黑";
}
.allBody{
	background-color: white;
}
.head{
	width: 100%;
	/*height: 70px;*/
	font-size:16px;
	/*border-bottom: 1px solid #acd3e4;*/
	background-color:white;
	position: relative;
	min-width:1172px;
	height:100px;
}
.head .logo{
	width: 160px;
	height:30px;
	padding: 0px 10px;
	border-radius:20px;
	position:absolute;
	top:0px;
	left:30px;
	background:transparent;
}
.head .logo_new{
	margin-left: 200px;
}
.head .menu{
	line-height: 30px;
	font-size: 16px;
	width:100%;
	text-align: center;
}
.head .menu ul{
	width:240px;
	margin: 0px auto;
}
.head .menu ul li{
	width: 80px;
}
.head .menu ul li a{
	color: black;
}
 .head .title_details{
	height:100px;
	line-height: 100px;
	font-size: 24px;
	padding: 0 16px;
}
/* .userChoice{
	width: 240px;
	position:absolute;
	top:5px;
	right:20px;
	background-color: white;
}*/
.userChoice .beforeLogin li{
	width: 90px;
	text-align: center;
	line-height: 40px;
	color:  #2e42a1;
}
.userChoice .btn{
display:inline-block;
font-size:16px;
padding:0 10px;
margin:5px 3px;
line-height:28px;
height:28px;
overflow: hidden;
border-radius:3px;
border:1px #4050a7 solid;
color:#4050a7;
}
.userChoice .btn-active{
	background:#4050a7;
	color:white!important;
}
.userChoice .login-on{
	width:240px;
	height: 40px;
}
.userChoice .login-on .user{
	width:140px;
	height: 40px;
	line-height:40px;
}
.userChoice .login-on .user .downBtn{
	height:24px;
	width:24px;
	position:relative;
	top:10px;
	left:125px;
	border:none;
	background:url("/theme/web/default/images/common/submenu-btn.png") no-repeat;
}
.userChoice .login-on .user .downUpBtn{
	height:34px;
	width:24px;
	border:none;
	position:relative;
	top:10px;
	left:125px;
	background:url("/theme/web/default/images/common/submenuon-btn.png") no-repeat;
}
.login-on .choice{
	width:130px;
	margin-top:-2px;
	margin-left:13px;
	border-left:1px solid #11216f;
	border-right:1px solid #11216f;
	border-bottom:1px solid #11216f;
}
.login-on .choice li{
	width:130px;
	height: 30px;
	line-height: 30px;
	border-top:1px solid #11216f;
	background:#2e42a4;
}
.login-on .choice li img{
	position:relative;
	margin-left:10px;
	margin-top:5px;
	width:20px;
	height:20px;
}
.userChoice .login-on .choice li a{
	color:white;
	font-size:15px;
	margin-left:5px;
}
.userChoice .login-on .block{
	width:180px;
	height: 65px;
	position:relative;
	top:200px;
	right:0px;
	background:transparent url("/theme/web/default/images/common/block.png") no-repeat;
	background-size:100%;
	display:none;
}
.userChoice .login-on .block img{
	width:15px;
	height: 15px;
	position:relative;
	top:28px;
	left:20px;
}
.userChoice .login-on .block span{
	position:relative;
	top:22px;
	left:20px;
	color:white;
	font-size:14px;
	line-height: 30px;
}
.main{
	width: 100%;
	height: auto;
}
.foot{
	width: 100%;
	min-width:1120px;
	height:280px;
	position:relative;
	left:0;
	bottom:0;
	font-size:16px;
	background: white;
}
/*.foot .foot-detail{
	margin: 0px auto;
	padding-top: 50px;
	width: 1120px;
	height: 200px;
	color: #c8c6c7;
}
.line{width:100%!important;height:2px!important;border-bottom:1px solid white;line-height:2px!important;}
.foot .foot-detail .foot-info .border-left{
	border-left: 1px solid white;
	height: 80px;
	width: 300px;
	padding-left: 28px;
}
.foot .foot-detail .foot-info .address{
	width: 800px;
	margin-top: 130px;
	line-height: 40px;
}
.foot .foot-detail .foot-info .address .qqLog{position: relative;vertical-align: sub;}
.foot .foot-detail .foot-info .address a img{height:20px;}
.foot .foot-detail .qrcodeImg{
	height: 170px;
	width: 170px;
}
.foot .foot-detail  .logo-img{
	width: 90px;
	height: 80px;
}*/
.foot .foot_details{
	margin-left:215px;
	position: relative;
	top:24px;
	font-family:"微软雅黑";
	font-size:14px;
	color: black;
	width:1150px;
	height:30px;
	min-width:1150px;
}
.foot .foot_details>span{
	display: inline-block;
	margin-left:15px;
}
.foot .foot_details span i{
	position: relative;
}
.foot .foot_details span .qq{
    font-size: 12px;
    color:black;
}
.foot .foot_details span .weibo{
	 color:black;
}
.foot .foot_details .copying{
	color: #808080;
	margin-left: 230px;
}
.foot .foot_details .copying a{
	color: #808080;
}
.weixinImg{
	width:200px;
	height:200px;
	position: absolute;
	top:-205px;
	left:-47px;
	box-shadow:0px 4px 4px grey;
}
.weixinImg img{
	width:200px;
	height:200px;
}
.weixinImg::after{
	color:white; 
	border-width: 10px 10px 0px 10px; 
	border-style: solid;
	border-color:white  transparent  transparent  transparent ; 
	content: ""; 
	position: absolute;
	display: inline-block; 
	left: 95px; top: 200px;
}
.linkGmQrcode:hover{
	cursor: pointer;
};