@charset "utf-8";

.prod-centerBg{ background:url(/theme/manage/blue/images/prewindex/bg.jpg) repeat;}
.prod-center{ margini:0 auto; width:1170px; }
.online-list{ margin:25px -110px 0 0;}
.online-list li{ display:inline-block; float:left; margin-right:120px; text-align:center; color:#A0A0A0; }
.online-list span{ display:block; color:#000; }

.tongh-plan{ margin-bottom:40px; }
.title{ text-align:center; color:#000; }
.title h4{ margin:40px 0 10px 0; font-size:32px; }

.new-pic{ margin-top:20px; }
.plan-pic{ margin-top:35px; }
.line-txt{ height:32px; background:url(/theme/manage/blue/images/prewindex/plantext.jpg) no-repeat; }
.new-txt{ height:32px; background:url(/theme/manage/blue/images/prewindex/newtext.jpg) no-repeat; }