@charset "utf-8";
@import "common";
@import "../../common/scss/share";

.result-bg{
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
}

.result-wrap{
    position: relative;
    overflow: hidden;

    > h2{
        width: 275px;
        height: 31px;
        margin: 30px auto 20px;
        @include bg-pos(0 -162px);
        @include text-indent;
    }

    .head-img{
        display: block;
        margin: 0 15px;
        position: relative;
        color: #fff;

        div{
            position: absolute;
            left: 0;
            top: 0;
            width: 100%;
            height: 100%;
            display: -webkit-box;
            -webkit-box-align: center;
            -webkit-box-pack: center;
            text-align: center;
        }

        h3{
            width: 100%;
            font-size: 38px;
            margin-top: -34px;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        }
        p{
            width: 100%;
            margin-left: -100%;
            margin-bottom: -38px;
            font-size: 14px;
            text-shadow: 2px 2px 2px rgba(0, 0, 0, .4);
        }
    }
}

.pro-list{
    margin-top: 15px;
    padding: 0 10px;

    li{
        float: left;
        width: 50%;
        padding: 0 5px;
        margin-bottom: 10px;
    }

    a{
        position: relative;
        display: block;
        background-color: #fff;
        padding-bottom: 5px;

        span{
            position: absolute;
            left: 6px;
            top: 6px;
            padding: 0 6px;
            line-height: 14px;
            font-size: 10px;
            border-radius: 14px;
            color: #fff;
            background-color: red;
        }

        > p{
            color: #474747;
            font-size: 14px;
            line-height: 18px;
            height: 36px;
            overflow: hidden;
            text-overflow: ellipsis;
            display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-top: 5px;
            padding: 0 68px 0 6px;
        }

        div{
            position: absolute;
            width: 62px;
            height: 62px;
            padding-top: 7px;
            right: 6px;
            bottom: 8px;
            background-color: #f1472b;
            border: 2px solid #fff;
            border-radius: 50%;
            text-align: center;
            line-height: 1;
            color: #fff;

            p{
                padding-bottom: 3px;
                width: 40px;
                margin: 0 auto;
                border-bottom: 1px solid #fff;
            }

            strong{
                display: block;
                margin: 2px 0;
                font-size: 14px;
                white-space: nowrap;

                i{
                    font-size: 11px;
                    font-style: normal;
                }
            }

            p, del{
                display: block;
                font-size: 10px;
                white-space: nowrap;
            }
        }
    }
}

.fixed-bar{
    a{
        position: relative;
        width: 294px;
        background-position: 0 -52px;
    }

    span{
        position: absolute;
        right: -12px;
        top: -8px;
        width: 34px;
        height: 34px;
        text-align: center;
        line-height: 30px;
        border-radius: 50%;
        background-color: #f1472b;
        border: 2px solid #fff;
        color: #fff;
        font-size: 12px;
    }
}

.draw-btn{
    position: absolute;
    left: 50%;
    margin-left: -106px;
    top: -webkit-calc(240 * #{$mobile-size});
    width: 211px;
    height: 51px;
    z-index: 1000;
    display: none;
    @include bg-pos(0 -104px);
    @include text-indent;
}

.mask{
    position: fixed;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    background-color: rgba(0, 0, 0, 0.4); 
    -webkit-box-align: center; 
    -webkit-box-pack: center; 
    padding: 0 20px; 
    z-index: 1000;
    display: none;
}
.result-pop{
    @extend .mask;
    display: -webkit-box; 

    img{
        width: 100%;
    }
    > div{
        position: relative;
        width: 100%;
        min-height: 100px;
        background-color: #fe7a32;
        border-radius: 8px;
        overflow: hidden;
    }

    .main-cont{
        padding: 15px 18px;
        color: #fff;
        
        h2{
            text-align: center;
            span{
                display: none;
            }
        }
        h3{
            font-size: 16px;
            text-align: center;
        }
    }

    .pro-list{
        padding: 0;
        li{
            width: 100%;
            padding: 0;
        }
    }
    .btns-wrap{
        padding: 14px 18px;
        background-color: #fff;

        a, input{
            -webkit-appearance: none;
            display: block;
            line-height: 35px;
            margin-bottom: 14px;
            text-align: center;
            border: 2px solid #fe7a32;
            border-radius: 35px;
            color: #fe7a32;
            font-size: 18px;

            &:last-child{
                margin-bottom: 0;
            }
        }

        input{
            width: 100%;
            border: 1px solid #cccccc;
            border-radius: 3px;
            text-align: left;
            color: #333;
            font-size: 14px;
            padding: 0 10px;
        }
    }

    .prize-list{
        li{
            width: 100%;

            div{
                background-color: #e74a32;
            }
        }
    }
}

.text-win:before{
    content: '';
    display: inline-block;
    width: 205px;
    height: 77px;
    @include bg-pos(0 -193px);
}
.text-not-win:before{
    @extend .text-win;
    width: 264px;
    height: 66px;
    background-position: 0 -272px;
}
.text-receive:before{
    @extend .text-win;
    width: 251px;
    height: 76px;
    background-position: 0 -340px;
}