@charset "utf-8";
@import "common";

$padding: 10px;
body{
    padding: 0 $padding;
    color: #fff;
}
.rule-title{
    text-align: center;
    padding: $padding 0;
    span{display: none;}

    &:before{
        content: '';
        display: block;
        margin: 0 auto;
        width: 267px;
        height: 45px;
        @include bg-pos(0 -417px);
    }
}

.link-btn{
    @include text-indent;
    display: block;
    margin: 0 auto $padding;
    width: 211px;
    height: 51px;
    @include bg-pos(0 -465px);
}

.sub-title{
    font-size: 32px;
    text-align: center;
    padding-bottom: $padding;
}

.img-wrap{
    text-align: center;
    margin-bottom: $padding;
    img{
        width: 160px;
    }
}

.help-block{
    font-size: 12px;
    text-align: center;
    color: #eee4e4;
}

.rules{
    font-size: 14px;
    line-height: 20px;
    padding: 16px 0 12px;

    p{
        margin-bottom: $padding;
    }
}

.contact-info{
    text-align: center;
    line-height: 2;
    padding-bottom: 5px;
    h4{
        font-size: 16px;
    }

    a{
        color: #fff;
        text-decoration: underline;
    }
}