@charset "UTF-8";
/*reset*/
body {
  background: #f6f6f6;
}

html, body {
  height: 100%;
}

section {
  min-height: 100%;
  margin-top: -164px;
  margin-bottom: -120px;
  padding-top: 164px;
  padding-bottom: 120px;
}

h1, h2, h3, h4, h5, h6, h7 {
  font-weight: 400;
  margin: 0;
}

p {
  margin: 0;
}

a {
  cursor: pointer;
}

/*gloabl*/
.fl {
  float: left;
}

.fr {
  float: right;
}

header, footer, section {
  min-width: 1170px;
}

.link-14 {
  font-size: 14px;
}

.yellow {
  color: #ff8540;
}

.arial {
  font-family: "arial";
}

.day-icon {
  display: block;
  width: 40px;
  height: 40px;
  line-height: 40px;
  font-size: 14px;
  color: #fff;
  background: #ff9248;
  border-radius: 50%;
  text-align: center;
}

.dashed {
  border-bottom: dashed 1px #e0e1e2;
  margin-bottom: 10px;
}

.text-overflow {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.btns .btn {
  margin-right: 15px;
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 3px;
}

.p-body {
  min-width: 1180px;
  width: 1180px;
  margin: 0 auto;
  position: relative;
}

.p-download {
  color: #626466 !important;
}

.p-download i {
  color: #587ed1;
  margin-right: 2px;
}

.p-download:hover i {
  color: #3057ad;
}

.p-arrow-right {
  width: 0;
  height: 0;
  border-top: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-left: 3px solid #FF7E1D;
}

.p-no-data {
  text-align: center;
}

div.p-no-data {
  border: solid 1px #e0e1e2;
  line-height: 80px !important;
}

tr.p-no-data td {
  padding: 0 !important;
  line-height: 80px !important;
}

.p-service {
  position: relative;
  padding-left: 22px;
}

.p-service i {
  position: absolute;
  top: -3px;
  left: 3px;
}

header .heardnew {
  border-bottom: solid 1px #e0e1e2;
}

.gm-rocket-up {
  display: none;
  text-decoration: none !important;
  font-size: 50px;
  color: #94989B;
  position: fixed;
  bottom: 140px;
  right: 0;
}

.gm-rocket-up:hover {
  color: #78a7ff;
}

.gm-rocket-up:active {
  color: #587ed1;
}

.form-control-feedback {
  height: 32px;
  line-height: 32px;
}

/*tour type*/
.group-tour-type, .free-tour-type, .ship-tour-type {
  position: absolute;
  right: 0;
  top: 20px;
  text-align: center;
  padding-top: 4px;
  padding-left: 4px;
  width: 64px;
  height: 26px;
  color: #ffffff;
  font-size: 12px;
  background-size: 100% 100%;
  min-height: 0;
}

.group-tour-type {
  background-image: url(../../images/group-tour.png);
}

.free-tour-type {
  background-image: url(../../images/free-tour.png);
}

.ship-tour-type {
  background-image: url(../../images/ship-tour.png);
}

.common-tips .gm-icon {
  margin-right: 8px;
}

.tooltip {
  z-index: 999999999;
}

a {
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

a:hover {
  text-decoration: none;
}

header, footer, section {
  min-width: 1180px;
}

.open {
  display: block !important;
}

/* header-top start */
.header {
  background-color: #f6f6f6;
  overflow: hidden;
}

.header .head {
  margin: 0 auto;
  width: 1180px;
  height: 34px;
}

.header .head .title {
  float: left;
  font-size: 12px;
  color: #666666;
  line-height: 34px;
}

.header .option {
  float: right;
  height: 34px;
}

.header .option > div {
  position: relative;
  float: left;
  margin-right: 20px;
  color: #666666;
  font-size: 12px;
  line-height: 34px;
}

.header .option > div a {
  color: #666666;
  font-size: 12px;
  line-height: 34px;
}

.header .option > div i {
  color: #c4c4c4;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.header .option .cellphone a span {
  padding-left: 21px;
}

.header .option .login a {
  margin-right: 12px;
}

.header .option .supplierLogin, .header .option .login a:last-child {
  margin-right: 0px;
}

.header .option > div i.fa-mobile {
  position: absolute;
  left: 0;
  top: 3px;
  font-size: 26px;
}

.header .option i.fa-qq, .header .option i.fa-weixin {
  font-size: 16px;
}

.header .option > div a:hover, .header .option > div a:hover i {
  color: #ff7e1d;
}

/* header-top end */
.top-bg {
  background-color: #ffffff;
  padding-top: 10px;
}

.top-bg .top-box {
  margin: 0 auto;
  padding-bottom: 20px;
  margin-bottom: 10px;
  width: 1180px;
  min-height: 70px;
}

.top-bg .top-box .logo {
  float: left;
  margin-right: 20px;
  margin-bottom: 10px;
  width: 280px;
  text-align: left;
  overflow: hidden;
}

.top-bg .top-box .logo a.title {
  display: block;
  margin-top: 10px;
  color: #666666;
  font-size: 24px;
  line-height: 1;
  font-weight: 700;
  text-align: center;
}

/* search  start*/
.search-box {
  position: relative;
  float: left;
  margin-top: 10px;
  height: 44px;
  border: solid 2px #ff8540;
}

.search-box .sub-search-list {
  position: relative;
  margin-bottom: 10px;
  height: 44px;
  overflow: hidden;
}

.search-box .city-dropdown {
  float: left;
  position: relative;
}

.search-box .city-dropdown .set-out-btn {
  position: relative;
  float: left;
  border-radius: 0;
  border: none;
  padding: 12px 12px;
  width: 108px;
  border-right: solid 1px #e0e1e2;
  height: 40px;
  text-align: left;
  cursor: pointer;
  background-color: #f6f6f6;
}

.search-box .city-dropdown .set-out-btn .txt {
  float: left;
  font-size: 12px;
  color: #999999;
}

.search-box .city-dropdown li {
  padding: 0px;
}

.search-box .city-dropdown.select .dropdown-menu li a:hover {
  color: #fff !important;
  text-decoration: none;
  outline: 0;
  background-color: #ff7e1d !important;
  border-radius: 0px !important;
}

.search-box .set-out-btn .fa-angle-down {
  position: absolute;
  right: 12px;
  top: 14px;
}

.search-box .search-txt {
  position: relative;
  float: left;
  padding-left: 20px;
  width: 100%;
  height: 40px;
  line-height: 40px;
  border: none;
  padding-right: 40px;
  overflow: hidden;
  font-size: 12px;
}

.search-box .search-btn {
  position: relative;
  width: 78px;
  height: 40px;
  float: left;
  border-radius: 0;
  line-height: 40px;
  color: #fff;
  background-color: #ff8540;
  box-sizing: border-box;
  text-align: center;
  text-decoration: none;
  font-size: 14px;
  border: none;
}

.search-box .search-input {
  float: left;
  width: 394px;
}

.search-box i.fa-close {
  line-height: 40px;
  font-size: 14px;
  position: absolute;
  top: 0px;
  height: 40px;
  width: 40px;
  text-align: center;
  z-index: 1;
  color: #999999;
  right: 78px;
  cursor: pointer;
  display: none;
}

.search-box i.fa-search {
  padding-right: 10px;
}

.search-box .hot-city {
  position: absolute;
  top: 44px;
  left: -2px;
  width: 579px;
  background-color: #fff;
  padding: 0 15px 15px 15px;
  border: solid 1px #e5e5e5;
  z-index: 98;
  display: none;
}

.search-box .hot-city .title {
  height: 40px;
  line-height: 40px;
  margin-bottom: 15px;
  text-align: left;
  color: #ff7e1d;
  font-weight: bold;
  border-bottom: dotted 1px #e5e5e5;
  font-size: 14px;
}

.search-box .hot-city i.fa-remove {
  position: absolute;
  right: 15px;
  top: 13px;
  color: #999999;
  cursor: pointer;
}

.search-box .hot-city .son-title {
  font-size: 12px;
  color: #333333;
  font-weight: 700;
  vertical-align: top;
  margin-right: 20px;
  text-align: left;
  line-height: 1;
}

.search-box .hot-city .city-con-right {
  position: absolute;
  left: 44px;
}

.search-box .hot-city .city-con-right ul {
  margin-bottom: 10px;
  overflow: hidden;
}

.search-box .hot-city .city-con-right ul:last-child {
  margin-bottom: 0px;
}

.search-box .hot-city .city-con-right li {
  float: left;
  position: relative;
}

.search-box .hot-city .city-con-right li a {
  padding-right: 10px;
  padding-bottom: 10px;
  color: #666666;
  font-size: 12px;
  display: block;
  line-height: 1;
  text-decoration: none;
}

.search-box .hot-city .city-con-right li a:hover {
  color: #ff7e1d;
}

.search-box .search-list {
  position: absolute;
  top: 44px;
  left: -2px;
  z-index: 99999;
  width: 110px;
  max-height: 331px;
  background-color: #fff;
  border: solid 1px #e5e5e5;
  overflow: auto;
  display: none;
}

.search-box .search-list li {
  float: left;
  padding-left: 10px;
  width: 100%;
  height: 30px;
  line-height: 30px;
  border-bottom: dashed 1px #e5e5e5;
  cursor: pointer;
}

.search-box .search-list li:last-child {
  border-bottom: none;
}

.search-box .search-list li a {
  color: #666666;
  text-decoration: none;
}

.search-box .search-list li:hover a {
  color: #ff8540;
}

/* search end */
/* cus-service start */
.cus-service {
  position: relative;
  float: right;
  margin-top: 10px;
  width: 200px;
  background-color: #f6f6f6;
}

.cus-service .cus-service-con {
  height: 50px;
  border: solid 1px #e5e5e5;
  overflow: hidden;
}

.cus-service .icon {
  width: 50px;
  height: 50px;
  text-align: center;
}

.cus-service i.fa-phone {
  color: #ff7e1d;
  font-size: 38px;
  line-height: 50px;
}

.cus-service .txt {
  width: 124px;
  text-align: left;
  margin-top: 5px;
}

.cus-service .txt .title {
  font-size: 12px;
  color: #999999;
}

.cus-service .txt .tel {
  font-family: Arial;
  font-size: 18px;
  color: #ff7e1d;
  font-weight: 700;
}

.cus-service .faIcon {
  line-height: 50px;
}

.cus-service .faIcon i.fa-caret-down {
  color: #ff7e1d;
  font-size: 14px;
  transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -webkit-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.cus-service:hover .faIcon i.fa-caret-down {
  transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -webkit-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
}

.cus-service:hover .cus-service-ul {
  display: block;
}

.cus-service-ul {
  display: none;
  position: absolute;
  top: 50px;
  width: 200px;
  overflow: hidden;
  background-color: #ffffff;
  border: solid 1px #e5e5e5;
}

.cus-service-ul li {
  padding-left: 20px;
  padding-right: 20px;
  height: 40px;
  line-height: 40px;
  color: #666666;
}

.cus-service-ul li > p {
  height: 40px;
  line-height: 40px;
  width: 100%;
  border-bottom: dashed 1px #e5e5e5;
}

.cus-service-ul li:last-child p {
  border-bottom: none;
}

.cus-service-ul li .name {
  float: left;
}

.cus-service-ul li .tel {
  float: right;
}

/* cus-service end */
/* head-nav start */
.head-nav {
  background-color: #333333;
  height: 40px;
}

.head-nav > ul {
  width: 1180px;
  margin: 0 auto;
}

.head-nav > ul > li {
  position: relative;
  float: left;
  height: 40px;
  line-height: 40px;
  width: 120px;
  text-align: center;
  overflow: hidden;
}

.head-nav > ul > li > a {
  display: block;
  text-decoration: none;
  color: #ffffff;
  font-size: 18px;
}

.head-nav > ul > li > a:hover, .head-nav > ul > li a.active {
  background-color: #ff7e1d;
}

.sub-list {
  position: absolute;
  left: 0;
  top: 40px;
  background-color: #ffffff;
  z-index: 99;
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
  display: none;
}

.sub-list li {
  height: 32px;
  line-height: 32px;
  white-space: nowrap;
  width: 120px;
  text-align: center;
}

.sub-list a {
  display: block;
  color: #333333;
  font-size: 14px;
}

.sub-list a:hover {
  background-color: #ff7e1d;
  color: #ffffff;
}

.head-nav > ul > li.more {
  overflow: visible;
}

.head-nav > ul > li.more:hover .sub-list {
  display: block;
}

/* head-nav end */
/* go-top start */
.go-top {
  position: fixed;
  bottom: 200px;
  z-index: 999;
  display: none;
}

.go-top > div {
  width: 50px;
  height: 50px;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ededed;
  text-align: center;
  color: #666666;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.go-top > div i {
  color: #999999;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
}

.go-top .qq i.fa-qq {
  font-size: 26px;
  line-height: 50px;
}

.go-top .code, .go-top .qq {
  position: relative;
  margin-bottom: 2px;
  overflow: hidden;
  text-align: center;
}

.go-top .code .fa-qrcode {
  font-size: 34px;
  line-height: 50px;
}

.go-top .code .code-img {
  opacity: 0;
  position: absolute;
  right: 50px;
  top: 0;
  z-index: 999;
  background-color: #ffffff;
  width: 154px;
  height: 168px;
  padding: 20px;
  border: solid 1px #e5e5e5;
}

.go-top .code .code-img img {
  width: 114px;
  height: 114px;
}

.go-top .code:hover, .go-top .qq:hover {
  overflow: visible;
  background-color: #ff7e1d;
}

.go-top .code:hover i.fa-qrcode, .go-top .qq:hover i.fa-qq {
  color: #ffffff;
}

.go-top .scroll-top {
  display: none;
}

.go-top .scroll-top:hover {
  background-color: #ff7e1d;
}

.go-top .scroll-top:hover i.fa-angle-up {
  color: #ffffff;
}

.go-top .code:hover .code-img {
  opacity: 1;
  animation: myfirst 1s;
  -moz-animation: myfirst 1s;
  -webkit-animation: myfirst 1s;
  -o-animation: myfirst 1s;
}

.go-top .scroll-top .fa-angle-up {
  font-size: 40px;
  color: #999999;
  line-height: 50px;
}

@keyframes myfirst {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
@-moz-keyframes myfirst /* Firefox */ {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
@-webkit-keyframes myfirst /* Safari ºÍ Chrome */ {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
@-o-keyframes myfirst /* Opera */ {
  from {
    opacity: 0;
    right: -104px;
  }
  to {
    opacity: 1;
    right: 50px;
  }
}
/* go-top end */
/* contact start */
.contact {
  padding-top: 24px;
  background-color: #666666;
  text-align: center;
  height: 80px;
}

.contact .txt {
  color: #c4c4c4;
  font-size: 14px;
  line-height: 1;
  height: 14px;
  overflow: hidden;
}

.contact .copyright {
  color: #999999;
  font-size: 12px;
  line-height: 1;
  padding-top: 10px;
}

/* contact end */
/* skill start */
.skill {
  background-color: #333333;
  color: #999999;
  font-size: 12px;
  height: 40px;
  line-height: 40px;
  text-align: center;
}

/* skill end */
.red {
  color: #ff6342;
}

.page-content {
  height: auto;
}

/*资讯管理*/
a {
  text-decoration: none;
}

body {
  margin: 0px;
  background: #edf0f2;
}

#allBody {
  background: #edf0f2;
}

.information {
  width: 100%;
  background: transparent;
  display: inline-block;
}

.share_header {
  width: 100%;
  background: #fff;
  padding: 10px 0px;
  display: none;
}

.information_body {
  width: 90%;
  padding: 0px 5%;
  display: inline-block;
  margin-top: 0px;
  position: relative;
  color: #666666;
  background-color: #fff;
}

.information_body {
  font-family: "Microsoft YaHei";
}

.information_body.information_title a {
  color: #404040;
}

.information_input {
  width: 100%;
  text-align: center;
}

.infomation_content {
  width: 880px;
  float: left;
  display: inline-block;
  padding: 30px 0px;
  background-color: #fff;
  border: 1px solid #e5e5e5;
}

.information_foot {
  width: 100%;
  text-align: center;
  color: #939699;
  font-size: 12px;
  clear: both;
  display: none;
}

/*资讯分享*/
/*去除分享的多余样式*/
.jiathis_style .centerBottom {
  display: none !important;
}

.jiathis_style .ckepopBottom {
  display: none !important;
}

.information_share {
  width: 270px;
  height: auto;
  margin-left: 25px;
  float: left;
  display: inline-block;
  border: 1px solid #e5e5e5;
}

.information_share .share {
  height: 315px;
  background-color: #fff;
  padding-top: 1px;
}

.information_share .gmmtour {
  height: 450px;
  padding-top: 1px;
  margin-top: 25px;
  background-color: #fff;
}

.information_share .gmmtour .gmmtourInfo img.qrcode {
  width: 220px;
  height: 220px;
  border-radius: 64px;
}

.information_share .gmmtour .gmmtourInfo small {
  letter-spacing: 2px;
}

.information_share .jiathis_style_24x24 {
  width: 220px;
  margin: 0px auto;
  color: #000;
}

.information_share .jiathis_style_24x24 img {
  width: 220px;
  height: 220px;
  border-radius: 10px;
}

.information_share .jiathis_style_24x24 p {
  font-size: 16px;
  margin-top: 12px;
  margin-bottom: 5px;
  text-align: center;
}

.share_btns {
  margin-left: 28px;
  height: 30px;
  margin-top: 5px;
}

.gmmtourInfo {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  color: #000;
  text-align: center;
}

.gmmtourInfo .gmweixin {
  background: url(../../images/information/share.png) no-repeat 0px -202px;
  padding-left: 25px;
  height: 26px;
  line-height: 26px;
  margin-left: 5px;
  border: none;
  color: #4F4F4F;
}

.gmmtourInfo p {
  font-size: 18px;
  margin-top: 12px;
}

.gmmtourInfo .grey_text {
  font-size: 16px;
  color: #626266;
  margin-top: 10px;
}

.gmmtourInfo .small_text {
  font-size: 13px;
  letter-spacing: 2px;
  color: #939699;
}

.information_share .focus {
  margin: 15px 0 0 12px;
  display: inline-block;
  width: 176px;
  height: 44px;
  line-height: 44px;
  background: #FF4848;
  border-radius: 4px;
  padding-left: 1px;
  color: #fff;
  font-size: 14px;
  text-align: center;
}

.information_share .focus img {
  width: 48px !important;
  height: 44px !important;
  background: white;
  margin: 0 0 0 -1px;
  float: left;
}

.weibo {
  border-top: 1px dashed #e8e8e8;
  margin-top: 20px;
  font-size: 16px;
  padding-top: 25px;
}

/*资讯列表*/
.information_first {
  width: 100%;
  margin-top: 0px;
  padding-top: 20px;
  height: 200px;
  display: inline-block;
}

.information_first .information_left {
  width: 26.2%;
  float: left;
  display: inline-block;
  height: 200px;
}

.information_first .information_right {
  margin-left: 1%;
  width: 72%;
  float: right;
  display: inline-block;
  height: 200px;
  font-size: 16px;
}

.information_item {
  width: 100%;
  padding-top: 14px;
  height: 215px;
  margin-top: 18px;
  border-top: 1px solid lightgrey;
}

.information_item .item_left {
  width: 77%;
  float: left;
  display: inline-block;
  height: 200px;
}

.information_item .item_right {
  width: 22%;
  float: right;
  margin-left: 1%;
  height: 220px;
  display: inline-block;
}

.information_item .information_img img {
  width: 100%;
  zoom: 1;
  cursor: pointer;
}

.information_img img {
  width: 100%;
  max-height: 500px;
}

.information_img2 img {
  max-width: 100%;
  max-height: 500px;
  margin: 5px 0px;
}

.information_content img {
  max-width: 100%;
}

.information_item .information_img {
  margin-top: 47px;
}

.information_title {
  text-align: center;
  color: #666666;
  font-weight: bold;
  width: 100%;
  font-size: 20px;
  text-overflow: ellipsis;
  word-wrap: normal;
  white-space: nowrap;
  overflow: hidden;
}

.information_controll {
  width: 136px;
  float: right;
  line-height: 20px;
  font-size: 16px;
  color: #4595F1;
  height: 28px;
  display: inline-block;
}

.information_view {
  width: 100px;
  display: inline-block;
  height: 36px;
  background: #4595F1;
  color: white !important;
  line-height: 36px;
  text-align: center;
  float: right;
  margin-top: 32px;
}

.information_controll span {
  display: inline-block;
  width: 42px;
  text-align: right;
  cursor: pointer;
  font-size: 15px;
}

.information_count {
  width: 100%;
  height: 30px;
  background: red;
}

.information_summary, .information_content {
  width: 100%;
  margin-top: 10px;
  font-size: 16px;
  line-height: 28px;
  letter-spacing: 1px;
  word-wrap: break-word;
  font-family: '\5FAE\8F6F\96C5\9ED1';
}

.information_content .newImg {
  display: block;
  max-width: 100%;
  margin: 10px auto;
}

.information_data {
  width: 100%;
  margin-top: 18px;
  font-size: 12px;
  color: #666666;
  text-align: center;
}

.release_time, .read_count, .share_count {
  display: inline-block;
  height: 24px;
}

.release_icon {
  background: white url(../../images/information/time.png) no-repeat center;
  padding: 10px;
}

.read_icon {
  background: white url(../../images/information/liulan.png) no-repeat center;
  padding: 10px;
}

.release_time {
  margin-right: 20px;
}

.return_top {
  z-index: 20;
  position: fixed;
  display: none;
  color: #626466;
  font-size: 50px;
  cursor: pointer;
  bottom: 80px;
}

a.return_top:hover {
  color: #79A4FF;
  text-decoration: none;
}

a.return_top:active {
  color: #557ED0;
  text-decoration: none;
}

/*新增、修改资讯弹层*/
.input_information {
  max-height: 580px;
  padding-bottom: 20px;
  overflow-y: auto;
}

.input_item {
  width: 860px;
  margin-left: 20px;
  min-height: 30px;
  margin-top: 20px;
  display: inline-block;
}

.input_item .input_left {
  width: 50px;
  float: left;
  display: inline-block;
  text-align: right;
  line-height: 17px;
  margin-right: 20px;
  font-size: 14px;
}

.input_item:FIRST-CHILD .input_left {
  line-height: 30px;
}

.input_item .input_right {
  width: 790px;
  float: left;
  display: inline-block;
}

.input_item .input_right input {
  width: 100%;
  border: 1px solid grey;
  height: 30px;
}

.input_item .input_right .summary {
  width: 100%;
  height: 70px;
  resize: none;
}

.input_item .input_right .information_content {
  width: 100%;
  height: 200px;
  resize: none;
}

.input_information .choice_img {
  width: 100px;
  height: 28px;
  font-size: 14px;
  margin-top: 12px;
  background: #4595F1;
  color: white;
  line-height: 28px;
  text-align: center;
  cursor: pointer;
}

.show_img {
  width: 210px;
  height: 115px;
  margin-top: 12px;
}

.show_img img {
  width: 170px;
  zoom: 1;
}

.show_img .delImg {
  color: #4595F1;
  margin-left: 10px;
  cursor: pointer;
}

.input-tips {
  color: #A3A3A3;
  font-size: 12px;
}

/*分享后页面*/
.after_share {
  width: 1180px;
  margin: 25px auto;
}

.web {
  display: none;
}

/*资讯的分享后的头部的样式 不能去掉 */
.shareBusiness {
  width: 1200px;
  margin: 0px auto;
  height: 80px;
}

.bus_info {
  width: 100%;
  height: 60px;
  padding: 10px 0px;
}

.bus_info dl dd, .bus_info dl dt {
  float: left;
  display: inline-block;
}

.bus_info dl dd {
  margin-left: 20px;
}

.bus_info .bus_name {
  font-size: 26px;
  color: #333;
}

.bus_logo {
  max-height: 60px;
}

/* 新闻详情关联产品 */
.related-product-box {
  padding: 20px 15px;
  box-sizing: border-box;
  overflow: hidden;
}

.related-product {
  width: 100%;
  display: table;
  border-top: solid 1px #e0e1e2;
  padding-top: 20px;
}

.related-product .pic {
  float: left;
  margin-right: 10px;
  position: relative;
}

.related-product .pic img {
  width: 186px;
  height: 140px;
}

.related-product .pic span[class*=Box] {
  display: none;
}

.related-product .related-con {
  font-size: 14px;
  max-width: 450px;
  float: left;
}

.related-product .related-con .title {
  color: #313233;
  font-size: 20px;
  line-height: 20px;
  margin-bottom: 10px;
}

.ellipsis1 {
  max-width: 100%;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  box-sizing: border-box;
  display: inline-block;
}

.related-product .related-con .wei-time {
  display: none;
}

.related-product .related-con span.groupTour {
  background-color: #ff8540;
}

.related-product .related-con span.shipTour {
  background-color: #78a7ff;
}

.related-product .related-con span.shipTour {
  background-color: #20ce8b;
}

.related-product .related-con .txt {
  color: #626466;
  overflow: hidden;
}

.related-product .related-con .time {
  overflow: hidden;
}

.related-product .related-con .time > span {
  float: left;
}

.related-product .related-con .time .date {
  overflow: hidden;
  white-space: nowrap;
  max-width: 200px;
  text-overflow: ellipsis;
}

.related-product .related-con .txt span[class*=Tour] {
  margin-right: 10px;
  color: #fff;
  display: inline-block;
  font-size: 12px;
  line-height: 1;
  border-radius: 3px;
  padding: 3px;
  float: left;
}

.related-product .related-con .txt > div {
  float: left;
}

.related-product .related-con .txt span.dark-greens {
  color: #20a970 !important;
  margin-right: 5px;
  float: left;
}

.related-product .related-con .business a {
  color: #587ed1;
}

.related-product .related-con .business a:hover {
  text-decoration: underline;
}

.related-product .related-con .time em {
  color: #ff8540;
  font-style: normal;
}

.related-product .related-btn {
  text-align: center;
  display: table-cell;
  vertical-align: middle;
  width: 160px;
}

.related-product .related-btn .price {
  color: #ff6342;
  font-size: 16px;
  line-height: 1;
  margin-bottom: 20px;
}

.related-product .related-btn .price span {
  font-size: 30px;
}

.related-product .related-btn a {
  color: #fff;
  font-weight: normal;
  text-align: center;
  cursor: pointer;
  background-image: none;
  border: 1px solid #78a7ff;
  padding: 7px 25px;
  font-size: 14px;
  border-radius: 4px;
  -webkit-transition: 0.2s;
  -o-transition: 0.2s;
  transition: 0.2s;
  color: #fff;
  background-color: #78a7ff;
}

.related-product .related-btn a:hover {
  text-decoration: none;
  background-color: #587ed1;
  border-color: #587ed1;
}

.related-product .m-img {
  display: none;
}

@media screen and (max-device-width: 1199px) {
  body {
    padding-bottom: 40px;
    font-family: "Microsoft YaHei";
    background-color: #f2f2f2;
  }

  .heardnew, .footernew {
    display: none;
  }

  .information {
    width: 94%;
    margin: 3%;
    background: #fff;
    display: inline-block;
    font-family: "Microsoft YaHei";
  }

  .share_header {
    width: 100%;
    background: #fff;
    padding: 10px 0px;
    display: block;
  }

  .information_body {
    display: inline-block;
    margin-top: 0px;
    position: relative;
    color: #000;
    background-color: #fff;
  }

  .information_body a {
    color: #404040;
  }

  .information_input {
    width: 100%;
    text-align: center;
  }

  .infomation_content {
    width: 100%;
    float: left;
    display: inline-block;
    padding: 20px 0px;
  }

  .information_foot {
    width: 100%;
    text-align: center;
    color: #939699;
    font-size: 12px;
    clear: both;
    display: block;
  }

  /*资讯分享*/
  .information_share {
    width: 100%;
    height: auto;
    margin-top: 20px;
    float: left;
    display: none;
  }

  .information_share .share {
    border-top: 1px solid #ccc;
    height: 260px;
  }

  .information_share .gmmtour .gmmtourInfo img {
    width: 165px;
    height: 165px;
  }

  .information_share .gmmtour {
    border-top: 1px solid #ccc;
    height: 498px;
    margin-top: 20px;
  }

  .information_share .jiathis_style_24x24 {
    width: 168px;
    margin: 0px auto;
  }

  .information_share .jiathis_style_24x24 img {
    width: 168px;
    height: 168px;
  }

  .information_share .jiathis_style_24x24 p {
    font-size: 16px;
    margin-top: 14px;
    margin-bottom: 10px;
  }

  .gmmtourInfo {
    width: 165px;
    margin-left: auto;
    margin-right: auto;
  }

  .gmmtourInfo .gmweixin {
    background: url(../../images/information/share.png) no-repeat 0px -202px;
    padding-left: 25px;
    height: 26px;
    line-height: 26px;
    margin-left: 5px;
    border: none;
    color: #4F4F4F;
  }

  .gmmtourInfo p {
    font-size: 16px;
    margin-top: 12px;
    margin-bottom: 9px;
  }

  .gmmtourInfo .focus {
    margin-top: 15px;
    margin-left: 12px;
    display: inline-block;
    width: 139px;
    height: 37px;
    background: #E04D69;
    padding-left: 1px;
    color: #fff;
    font-size: 16px;
    line-height: 37px;
    text-align: center;
  }

  .gmmtourInfo .focus img {
    width: 37px !important;
    height: 35px !important;
    background: white;
    margin-top: 1px;
    float: left;
  }

  /*资讯列表*/
  .information_first {
    width: 100%;
    margin-top: 0px;
    padding-top: 20px;
    height: 200px;
    display: inline-block;
  }

  .information_first .information_left {
    width: 26.2%;
    float: left;
    display: inline-block;
    height: 200px;
  }

  .information_first .information_right {
    margin-left: 1%;
    width: 72%;
    float: right;
    display: inline-block;
    height: 200px;
    font-size: 16px;
  }

  .information_item {
    width: 100%;
    padding-top: 14px;
    height: 215px;
    margin-top: 18px;
    border-top: 1px solid lightgrey;
  }

  .information_item .item_left {
    width: 77%;
    float: left;
    display: inline-block;
    height: 200px;
  }

  .information_item .item_right {
    width: 22%;
    float: right;
    margin-left: 1%;
    height: 220px;
    display: inline-block;
  }

  .information_item .information_img img {
    width: 100%;
    zoom: 1;
    cursor: pointer;
  }

  .information_img img {
    max-width: 100%;
  }

  .information_item .information_img {
    margin-top: 47px;
  }

  .information_title {
    cursor: pointer;
    color: #666666;
    width: 100%;
    font-size: 20px;
    line-height: 20px;
    font-family: "Microsoft YaHei";
    white-space: normal;
  }

  .information_controll {
    width: 136px;
    float: right;
    line-height: 20px;
    font-size: 16px;
    color: #4595F1;
    height: 28px;
    display: inline-block;
  }

  .information_view {
    font-family: "Microsoft YaHei";
    width: 100px;
    display: inline-block;
    height: 36px;
    background: #4595F1;
    color: white !important;
    line-height: 36px;
    text-align: center;
    float: right;
    margin-top: 32px;
  }

  .information_controll span {
    display: inline-block;
    width: 42px;
    text-align: right;
    cursor: pointer;
    font-size: 15px;
  }

  .information_count {
    width: 100%;
    height: 30px;
    background: red;
  }

  .information_summary, .information_content {
    width: 100%;
    margin-top: 10px;
    font-size: 16px;
    line-height: 28px;
    letter-spacing: 1px;
    word-wrap: break-word;
    font-family: '\5FAE\8F6F\96C5\9ED1';
  }

  .information_data {
    width: 100%;
    margin-top: 18px;
    font-size: 12px;
    font-family: "Microsoft YaHei";
    color: #939699;
  }

  .release_time, .read_count, .share_count {
    display: inline-block;
    height: 24px;
  }

  .release_time {
    margin-right: 20px;
  }

  .return_top {
    z-index: 20;
    position: fixed;
    display: inline-block;
    width: 38px;
    height: 38px;
    border-radius: 18px;
    bottom: 88px;
    right: 5px !important;
  }

  .return_icon {
    background: url(../../images/information/share/backTop1.png) no-repeat center;
  }

  /*新增、修改资讯弹层*/
  .input_information {
    max-height: 580px;
    padding-bottom: 20px;
    overflow-y: auto;
  }

  .input_item {
    width: 860px;
    margin-left: 20px;
    min-height: 30px;
    margin-top: 20px;
    display: inline-block;
  }

  .input_item .input_left {
    width: 50px;
    float: left;
    display: inline-block;
    text-align: right;
    line-height: 17px;
    margin-right: 20px;
    font-size: 14px;
  }

  .input_item:FIRST-CHILD .input_left {
    line-height: 30px;
  }

  .input_item .input_right {
    width: 790px;
    float: left;
    display: inline-block;
  }

  .input_item .input_right input {
    width: 100%;
    border: 1px solid lightgrey;
    height: 30px;
  }

  .input_item .input_right .summary {
    width: 100%;
    height: 70px;
    resize: none;
  }

  .input_item .input_right .information_content {
    width: 100%;
    height: 200px;
    resize: none;
  }

  .input_information .choice_img {
    width: 100px;
    height: 28px;
    font-size: 14px;
    margin-top: 12px;
    background: #4595F1;
    color: white;
    line-height: 28px;
    text-align: center;
    cursor: pointer;
  }

  .show_img {
    width: 210px;
    height: 115px;
    margin-top: 12px;
  }

  .show_img img {
    width: 170px;
    zoom: 1;
  }

  .show_img .delImg {
    color: #4595F1;
    margin-left: 10px;
    cursor: pointer;
  }

  .input-tips {
    color: #A3A3A3;
    font-size: 12px;
  }

  /*分享后页面*/
  .after_share {
    width: 100%;
    margin: 0px;
  }

  .web {
    display: table;
  }

  .after_share .share_titleImg {
    min-width: 123px;
    margin: 0px auto;
    color: #626466;
    position: relative;
    background: #fff;
  }

  .share_titleImg img {
    max-height: 50px;
  }

  .share_titleImg .gmImg {
    float: left;
  }

  .share_titleImg .title_info {
    float: left;
    max-width: 220px;
    min-width: 0;
    text-align: left;
    font-family: "Microsoft YaHei";
    margin-left: 10px;
    box-sizing: border-box;
  }

  .share_titleImg .title_info .title_bold {
    font-size: 20px;
    letter-spacing: 2px;
    line-height: 26px;
    color: #333;
    display: inline-block;
    white-space: normal;
    word-wrap: break-word;
    width: 100%;
  }

  .share_titleImg .title_info .title_desc {
    font-size: 12px;
    color: #666;
  }

  /*手机端分享*/
  .bottom_share {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0px;
    padding: 3px 0;
    width: 100%;
    height: 35px;
    line-height: 35px;
    background: rgba(0, 0, 0, 0.6);
    z-index: 1;
    overflow: hidden;
  }

  .bottom_share .share_buts {
    float: left;
    display: inline-block;
    width: 100%;
    text-align: center;
  }

  .bottom_share .share_buts .share_but {
    color: #fff;
    display: inline-block;
  }

  .share_body {
    position: fixed;
    left: 0px;
    right: 0px;
    bottom: 0px;
    width: 100%;
    display: inline-block;
    z-index: 5;
    background: url("../../images/information/share/share_bg.png") no-repeat top center;
    display: none;
    background-size: 100% 100%;
  }

  .share_body .share_title {
    width: 100%;
    height: 35px;
    line-height: 35px;
    border-bottom: 1px #fff solid;
    text-align: center;
    color: #4a4a4a;
    font-size: 14px;
    font-weight: bold;
  }

  .share_body .share_ct {
    padding: 15px;
    width: calc(100% - 30px);
    width: -webkit-calc(100% - 30px);
    width: -moz-calc(100% - 30px);
    width: -o-calc(100% - 30px);
  }

  .share_body .share_ct .share_list {
    width: 100%;
    text-align: center;
    display: inline-block;
  }

  .share_body .share_ct .share_list a {
    padding: 50px 10px 10px 10px;
    width: 60px;
    height: 25px;
    line-height: 25px;
    display: inline-block;
    text-align: center;
    color: #a0a0a0;
  }

  .share_body .share_ct .share_list a.share_qqZone {
    background: url("../../images/information/share/qqzone.png") no-repeat top center;
    background-size: 40px 40px;
  }

  .share_body .share_ct .share_list a.share_renren {
    background: url("../../images/information/share/renren.png") no-repeat top center;
    background-size: 40px 40px;
  }

  .share_body .share_ct .share_list a.share_sina {
    background: url("../../images/information/share/sina.png") no-repeat top center;
    background-size: 40px 40px;
  }

  .share_body .share_other {
    width: 100%;
    text-align: center;
  }

  .share_body .share_other .share_close_but {
    width: 100%;
    height: 30px;
    line-height: 30px;
    text-align: center;
    color: #fff;
    background: #b5b5b5;
    border-radius: 5px;
    display: inline-block;
  }

  .ft12 {
    font-size: 12px;
  }

  .WxShareTips {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: inline-block;
    z-index: 999;
    display: none;
  }

  .WxShareTips .shareTipsBg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: #000;
    filter: alpha(opacity=50);
    opacity: 0.5;
    -moz-opacity: 0.5;
  }

  .WxShareTips .shareTipsCt {
    width: 100%;
    height: 100%;
    text-align: right;
    z-index: 10;
  }

  .WxShareTips .shareTipsCt img {
    width: 78%;
    max-width: 520px;
    height: auto;
    margin-right: 5px;
  }

  .WxShareTips .shareTipsCt .shareTipsBut {
    width: 100%;
    padding-top: 50px;
    text-align: center;
    display: inline-block;
  }

  .WxShareTips .shareTipsCt .closeShareTips {
    height: 38px;
    line-height: 38px;
    width: 68%;
    text-align: center;
    color: #fff;
    background: #202020;
    display: inline-block;
    border-radius: 5px;
    border: 1px #fff solid;
  }

  /* 新闻详情关联产品 */
  .related-product .pic img {
    width: 100%;
    height: auto;
  }

  .related-product .related-btn {
    box-sizing: border-box;
    display: block;
    width: 100%;
    overflow: hidden;
    padding: 0 20px;
  }

  .related-product-box {
    background-color: #f2f2f2;
    padding: 0;
  }

  .related-product {
    background-color: #fff;
    margin-top: 20px;
    padding-top: 0;
    display: block;
    box-sizing: border-box;
  }

  .related-product .pic {
    margin-right: 0;
  }

  .related-product .related-con {
    box-sizing: border-box;
    padding: 20px;
    max-width: none;
    width: 100%;
  }

  .related-product .related-con .title {
    color: #333333;
    font-size: 28px;
    line-height: 28px;
  }

  .related-product .pic span[class*=Box] {
    display: block;
    position: absolute;
    bottom: 20px;
    left: 10px;
    line-height: 24px;
    padding: 8px 20px;
    box-sizing: border-box;
    color: #fff;
    font-size: 24px;
    border-radius: 50px;
  }

  .related-product .pic span.shipTourBox {
    background-color: #ff8540;
  }

  .related-product .related-con .txt, .related-product .related-con .business, .related-product .related-con .time {
    display: none;
  }

  .related-product .related-btn .price {
    float: left;
    color: #ff4848;
    margin-top: 20px;
  }

  .related-product .related-btn a {
    float: right;
    font-size: 28px;
    padding: 21px 25px;
    border: 1px solid #FF9D3B;
    background-color: #FF9D3B;
  }

  .related-product .related-con .wei-time {
    display: block;
    color: #999999;
  }

  .related-product .related-con .wei-time i {
    font-size: 28px;
    line-height: 1;
  }

  .related-product .related-con .wei-time span {
    font-size: 24px;
  }

  .related-product .pc-img {
    display: none;
  }

  .related-product .m-img {
    display: block;
  }
}
