@charset "utf-8";
@import "../components/reset";
@import "../components/header";
@import "../components/footer";


$border_box:#e5e5e5;
$body_bg:#f9f9f9;
$font_title:#666666;
$font_deep:#333333;
$font_content:#999999;
$font_desc:#ccccccc;
$color_main:#FF7E1D;
.red{ color:#ff6342; }
.page-content{height:auto;}
/*资讯管理*/
a{text-decoration: none;}
body{margin:0px;background:#edf0f2;}
#allBody{background:#edf0f2;}
.information{width:100%;background:transparent;display:inline-block;}
    .share_header{width:100%;background:#fff;padding:10px 0px;display: none;}
    .information_body{width:90%;padding:0px 5%;display: inline-block;margin-top:0px;position: relative;color:$font_title;background-color:#fff;}
    .information_body{font-family: "Microsoft YaHei";}
    .information_body.information_title a{color:#404040;}
    .information_input{width:100%;text-align:center;}
    .infomation_content{width:880px;float:left;display:inline-block;padding:30px 0px;background-color:#fff;border:1px solid $border_box; }
    .information_foot{width:100%;text-align:center;color:#939699;font-size: 12px;clear:both;display:none;}
    /*资讯分享*/
    /*去除分享的多余样式*/
    .jiathis_style .centerBottom{display:none!important;}
    .jiathis_style .ckepopBottom{display:none!important;}
    .information_share{width:270px;height:auto;margin-left:25px;float:left;display:inline-block;border:1px solid $border_box; }
    .information_share .share{height:315px;background-color:#fff;padding-top:1px;}
    .information_share .gmmtour{height:450px;padding-top: 1px;margin-top:25px;background-color:#fff;}
    .information_share .gmmtour .gmmtourInfo img.qrcode{width:220px;height:220px;border-radius:64px;}
    .information_share .gmmtour .gmmtourInfo small{letter-spacing: 2px;}
    .information_share .jiathis_style_24x24{width:220px;margin:0px auto;color:#000;}
    .information_share .jiathis_style_24x24 img{width:220px;height:220px;border-radius:10px;}
    .information_share .jiathis_style_24x24  p{font-size:16px;margin-top: 12px;margin-bottom:5px;text-align:center;}
    .share_btns{margin-left:28px;height:30px;margin-top:5px;}
    .gmmtourInfo{width:100%;margin-left: auto;margin-right: auto;color:#000;text-align:center;}
    .gmmtourInfo .gmweixin{background:url(../../images/information/share.png) no-repeat 0px -202px ;padding-left:25px;height:26px;line-height: 26px;margin-left: 5px;border:none;color:#4F4F4F;}
    .gmmtourInfo p{font-size:18px;margin-top: 12px;}
    .gmmtourInfo .grey_text{font-size:16px;color:#626266;margin-top:10px;}
    .gmmtourInfo .small_text{font-size:13px;letter-spacing:2px;color:#939699;}
    .information_share .focus{ margin:15px 0 0 12px ; display: inline-block;width:176px;height:44px; line-height:44px; background:#FF4848; border-radius:4px; padding-left:1px;color:#fff;font-size:14px;text-align:center;}
    .information_share .focus img{width:48px!important;height:44px!important;background:white;margin:0 0 0 -1px;float:left;}
    .weibo{border-top:1px dashed #e8e8e8;margin-top:20px;font-size:16px;padding-top:25px;}
    .weibo span{}
    /*资讯列表*/
    .information_first{width:100%;margin-top:0px;padding-top:20px;height:200px;display: inline-block;}
    .information_first .information_left{width:26.2%;float:left;display: inline-block;height:200px;}
    .information_first .information_right{margin-left:1%;width:72%;float:right;display: inline-block;height:200px;font-size:16px;}
    .information_item{width:100%;padding-top:14px;height:215px;margin-top:18px;border-top:1px solid lightgrey;}
    .information_item .item_left{width:77%;float:left;display: inline-block;height:200px;}
    .information_item .item_right{width:22%;float:right;margin-left:1%;height:220px;display: inline-block;}
    .information_item .information_img img{width:100%;zoom:1;cursor:pointer;}
    .information_img img{width:100%;max-height:500px;}
    .information_img2 img{max-width:100%;max-height:500px;margin:5px 0px;}
    .information_content img{max-width:100%;}
    .information_item .information_img{margin-top:47px;}
    .information_title{text-align:center;color:$font_title;font-weight:bold;width:100%;font-size:20px;text-overflow:ellipsis;word-wrap:normal;white-space:nowrap;overflow:hidden;}
    .information_controll{width:136px;float:right;line-height:20px;font-size:16px;color:#4595F1;height:28px;display: inline-block;}
    .information_view{width:100px;display: inline-block;height:36px;background:#4595F1;color:white!important;line-height:36px;text-align:center;float:right;margin-top:32px;}
    .information_controll span{display: inline-block;width:42px;text-align:right;cursor:pointer;font-size: 15px;}
    .information_count{width:100%;height:30px;background:red;}
    .information_summary,.information_content{width:100%;margin-top:10px;font-size:16px;line-height:28px;letter-spacing: 1px;word-wrap:break-word; font-family:'\5FAE\8F6F\96C5\9ED1';}
    .information_content .newImg{display:block;max-width:100%;margin:10px auto;}
    .information_data{width:100%;margin-top: 18px;font-size:12px;color: $font_title;text-align:center;}
    .release_time,.read_count,.share_count{display: inline-block;height:24px;}
    .release_icon{background:white url(../../images/information/time.png) no-repeat center;padding:10px;}
    .read_icon{background:white url(../../images/information/liulan.png) no-repeat center;padding:10px;}
    .release_time{margin-right:20px;}
    .return_top{z-index: 20;position:fixed;display:none;color:#626466;font-size:50px;cursor: pointer;bottom:80px;}
    a.return_top:hover{color:#79A4FF;text-decoration: none;}
    a.return_top:active{color:#557ED0;text-decoration: none;}
    /*新增、修改资讯弹层*/
    .input_information{max-height:580px;padding-bottom:20px;overflow-y:auto;}
    .input_item{width:860px;margin-left:20px;min-height:30px;margin-top:20px;display: inline-block;}
    .input_item .input_left{width:50px;float:left;display: inline-block;text-align:right;line-height:17px;margin-right:20px;font-size:14px;}
    .input_item:FIRST-CHILD .input_left{line-height:30px;}
    .input_item .input_right{width:790px;float:left;display: inline-block;}
    .input_item .input_right input{width:100%;border:1px solid grey;height:30px;}
    .input_item .input_right .summary{width:100%;height:70px;resize: none;}
    .input_item .input_right .information_content{width:100%;height:200px;resize: none;}
    .input_information .choice_img{width:100px;height:28px;font-size: 14px;margin-top:12px;background:#4595F1;color:white;line-height:28px;text-align:center;cursor: pointer;}
    .show_img{width:210px;height:115px;margin-top:12px;}
    .show_img img{width:170px;zoom:1;}
    .show_img .delImg{color:#4595F1;margin-left:10px;cursor: pointer;}
    .input-tips{color:#A3A3A3;font-size:12px;}
    
    /*分享后页面*/
    .after_share{width:1180px;margin:25px auto;}
    .web{display:none}
     /*资讯的分享后的头部的样式 不能去掉 */
   .shareBusiness{width:1200px;margin:0px auto;height:80px;}
   .bus_info{width:100%;height:60px;padding:10px 0px;}
   .bus_info dl dd,.bus_info dl dt{float:left;display: inline-block;}
   .bus_info dl dd{margin-left:20px;}
   .bus_info .bus_name{font-size:26px;color:#333;}
   .bus_logo{max-height:60px;}
    /* 新闻详情关联产品 */
    .related-product-box{padding:20px 15px;box-sizing:border-box;overflow:hidden;}
    .related-product{width:100%;display:table;border-top:solid 1px #e0e1e2;padding-top:20px;}
    .related-product .pic{float:left;margin-right:10px;position:relative;}
    .related-product .pic img{width:186px;height:140px;}
    .related-product .pic span[class*=Box]{display:none;}
    .related-product .related-con{font-size:14px;max-width:450px;float:left;}
    .related-product .related-con .title{color:#313233;font-size:20px;line-height:20px;margin-bottom:10px;}
    .ellipsis1{max-width:100%;white-space:nowrap;text-overflow:ellipsis;overflow:hidden;box-sizing:border-box;display:inline-block;}
    .related-product .related-con .wei-time{display:none;}
    .related-product .related-con span.groupTour{background-color:#ff8540;}
    .related-product .related-con span.shipTour{background-color:#78a7ff;}
    .related-product .related-con span.shipTour{background-color:#20ce8b;}
    .related-product .related-con .txt{color:#626466;overflow:hidden;}
    .related-product .related-con .time{overflow:hidden;}
    .related-product .related-con .time>span{float:left;}
    .related-product .related-con .time .date{overflow:hidden;white-space:nowrap;max-width:200px;text-overflow:ellipsis;}
    .related-product .related-con .txt span[class*=Tour]{margin-right:10px;color:#fff;display:inline-block;font-size:12px;line-height:1;border-radius:3px;padding:3px;float:left;}
    .related-product .related-con .txt>div{float:left;}
    .related-product .related-con .txt span.dark-greens{color:#20a970 !important;margin-right:5px;float:left;}
    .related-product .related-con .business a{color:#587ed1;}
    .related-product .related-con .business a:hover{text-decoration:underline;}
    .related-product .related-con .time em{color:#ff8540;font-style:normal;}
    .related-product .related-btn{text-align:center;display:table-cell;vertical-align:middle;width:160px;}
    .related-product .related-btn .price{color:#ff6342;font-size:16px;line-height:1;margin-bottom:20px;}
    .related-product .related-btn .price span{font-size:30px;}
    .related-product .related-btn a {color:#fff;font-weight: normal;text-align: center;cursor: pointer;background-image: none;border: 1px solid #78a7ff;padding: 7px 25px;font-size: 14px;border-radius: 4px;-webkit-transition: 0.2s;-o-transition: 0.2s;transition: 0.2s;color:#fff;background-color:#78a7ff;}
    .related-product .related-btn a:hover{text-decoration: none;background-color: #587ed1;border-color: #587ed1; }
    .related-product .m-img{display:none;}
@media screen  and (max-device-width:1199px)  {
    body{padding-bottom:40px;font-family: "Microsoft YaHei";background-color:#f2f2f2;}
    .heardnew,.footernew{display:none;}
    .information{width:94%;margin:3%;background:#fff;display:inline-block;font-family: "Microsoft YaHei";}
    .share_header{width:100%;background:#fff;padding:10px 0px;display:block;}
    .information_body{display: inline-block;margin-top:0px;position: relative;color:#000;background-color:#fff;}
    .information_body a{color:#404040;}
    .information_input{width:100%;text-align:center;}
    .infomation_content{width:100%;float:left;display:inline-block;padding: 20px 0px;}
    .information_foot{width:100%;text-align:center;color:#939699;font-size: 12px;clear:both;display:block;}
    /*资讯分享*/
    .information_share{width:100%;height:auto;margin-top: 20px;float:left;display:none;}
    .information_share .share{border-top:1px solid #ccc;height:260px;}
    .information_share .gmmtour .gmmtourInfo img{width:165px;height:165px;}
    .information_share .gmmtour{border-top:1px solid #ccc;height:498px;margin-top:20px;}
    .information_share .jiathis_style_24x24{width:168px;margin:0px auto;}
    .information_share .jiathis_style_24x24 img{width:168px;height:168px;}
    .information_share .jiathis_style_24x24  p{font-size: 16px;margin-top: 14px;margin-bottom: 10px;}
    .gmmtourInfo{width:165px;margin-left: auto;margin-right: auto;}
    .gmmtourInfo .gmweixin{background:url(../../images/information/share.png) no-repeat 0px -202px ;padding-left:25px;height:26px;line-height: 26px;margin-left: 5px;border:none;color:#4F4F4F;}
    .gmmtourInfo p{font-size: 16px;margin-top: 12px;margin-bottom: 9px;}
    .gmmtourInfo .focus{margin-top:15px;margin-left:12px;display: inline-block;width:139px;height:37px;background:#E04D69;padding-left:1px;color:#fff;font-size:16px;line-height:37px;text-align:center;}
    .gmmtourInfo .focus img{width:37px!important;height:35px!important;background:white;margin-top:1px;float:left;}
    /*资讯列表*/
    .information_first{width:100%;margin-top:0px;padding-top:20px;height:200px;display: inline-block;}
    .information_first .information_left{width:26.2%;float:left;display: inline-block;height:200px;}
    .information_first .information_right{margin-left:1%;width:72%;float:right;display: inline-block;height:200px;font-size:16px;}
    .information_item{width:100%;padding-top:14px;height:215px;margin-top:18px;border-top:1px solid lightgrey;}
    .information_item .item_left{width:77%;float:left;display: inline-block;height:200px;}
    .information_item .item_right{width:22%;float:right;margin-left:1%;height:220px;display: inline-block;}
    .information_item .information_img img{width:100%;zoom:1;cursor:pointer;}
    .information_img img{max-width:100%;}
    .information_item .information_img{margin-top:47px;}
    .information_title{cursor:pointer;color:$font_title;width:100%;font-size:20px;line-height: 20px;font-family: "Microsoft YaHei";white-space: normal;}
    .information_controll{width:136px;float:right;line-height:20px;font-size:16px;color:#4595F1;height:28px;display: inline-block;}
    .information_view{font-family: "Microsoft YaHei";width:100px;display: inline-block;height:36px;background:#4595F1;color:white!important;line-height:36px;text-align:center;float:right;margin-top:32px;}
    .information_controll span{display: inline-block;width:42px;text-align:right;cursor:pointer;font-size: 15px;}
    .information_count{width:100%;height:30px;background:red;}
    .information_summary,.information_content{width:100%;margin-top:10px;font-size:16px;line-height:28px;letter-spacing: 1px;word-wrap:break-word; font-family:'\5FAE\8F6F\96C5\9ED1';}
    .information_data{width:100%;margin-top: 18px;font-size:12px;font-family: "Microsoft YaHei";color:#939699;}
    .release_time,.read_count,.share_count{display: inline-block;height:24px;}
    .release_time{margin-right:20px;}
    .return_top{z-index: 20;position:fixed;display:inline-block;width:38px;height:38px;border-radius:18px;bottom:88px;right:5px!important;}
    .return_icon{background:url(../../images/information/share/backTop1.png) no-repeat center;}
    
    /*新增、修改资讯弹层*/
    .input_information{max-height:580px;padding-bottom:20px;overflow-y:auto;}
    .input_item{width:860px;margin-left:20px;min-height:30px;margin-top:20px;display: inline-block;}
    .input_item .input_left{width:50px;float:left;display: inline-block;text-align:right;line-height:17px;margin-right:20px;font-size:14px;}
    .input_item:FIRST-CHILD .input_left{line-height:30px;}
    .input_item .input_right{width:790px;float:left;display: inline-block;}
    .input_item .input_right input{width:100%;border:1px solid lightgrey;height:30px;}
    .input_item .input_right .summary{width:100%;height:70px;resize: none;}
    .input_item .input_right .information_content{width:100%;height:200px;resize: none;}
    .input_information .choice_img{width:100px;height:28px;font-size: 14px;margin-top:12px;background:#4595F1;color:white;line-height:28px;text-align:center;cursor: pointer;}
    .show_img{width:210px;height:115px;margin-top:12px;}
    .show_img img{width:170px;zoom:1;}
    .show_img .delImg{color:#4595F1;margin-left:10px;cursor: pointer;}
    .input-tips{color:#A3A3A3;font-size:12px;}
    
    
    
    /*分享后页面*/
    .after_share{width:100%;margin:0px;}
    .web{display:table;}
    .after_share .share_titleImg{min-width:123px;margin:0px auto;color:#626466;position: relative;background:#fff;}
    .share_titleImg img{max-height: 50px;}
    .share_titleImg .gmImg{float:left;}
    .share_titleImg .title_info{float: left;max-width:220px;min-width:0;text-align: left;font-family: "Microsoft YaHei";margin-left:10px;box-sizing:border-box;}
    .share_titleImg .title_info .title_bold{font-size:20px;letter-spacing:2px;line-height:26px;color:#333;display:inline-block;white-space:normal;word-wrap: break-word;width:100%;}
    .share_titleImg .title_info .title_desc{font-size:12px;color:#666;}
    /*手机端分享*/
    .bottom_share{position: fixed;bottom:0;left:0;right:0px;padding:3px 0; width:100%;height:35px;line-height:35px;background:rgba(0,0,0,0.6);z-index: 1;overflow: hidden;}
    .bottom_share .share_buts{float:left;display:inline-block;width:100%;text-align: center;}
    .bottom_share .share_buts .share_but{color:#fff;display:inline-block;}
    .share_body{position:fixed;left:0px;right:0px;bottom:0px; width:100%;display:inline-block; z-index: 5;background: url("../../images/information/share/share_bg.png") no-repeat top center;display:none;background-size:100% 100%;}
    .share_body .share_title{width:100%;height:35px;line-height:35px; border-bottom:1px #fff solid;text-align: center;color:#4a4a4a;font-size: 14px;font-weight: bold;}
    .share_body .share_ct{padding:15px;width:calc(100% - 30px);width:-webkit-calc(100% - 30px);width:-moz-calc(100% - 30px);width:-o-calc(100% - 30px);}
    .share_body .share_ct .share_list{width:100%;text-align: center;display:inline-block;}
    .share_body .share_ct .share_list a{padding:50px 10px 10px 10px;width:60px;height:25px;line-height:25px;display:inline-block;text-align: center;color:#a0a0a0;}
    .share_body .share_ct .share_list a.share_qqZone{background: url("../../images/information/share/qqzone.png") no-repeat top center;background-size: 40px 40px;}
    .share_body .share_ct .share_list a.share_renren{background: url("../../images/information/share/renren.png") no-repeat top center;background-size: 40px 40px;}
    .share_body .share_ct .share_list a.share_sina{background: url("../../images/information/share/sina.png") no-repeat top center;background-size: 40px 40px;}
    .share_body .share_other{width:100%;text-align: center;}
    .share_body .share_other .share_close_but{width:100%; height:30px;line-height:30px;text-align: center;color:#fff;background: #b5b5b5;border-radius:5px;display:inline-block;}
    .ft12{font-size: 12px;}
    .WxShareTips{position: fixed;top:0;left:0;right:0;bottom:0;width:100%;height:100%;display:inline-block;z-index: 999;display:none;}
    .WxShareTips .shareTipsBg{position: absolute;top:0;left:0;right:0;bottom:0;width:100%;height:100%;z-index: -1;background: #000;filter:alpha(opacity=50);opacity:0.5;-moz-opacity:0.5;}
    .WxShareTips .shareTipsCt{width:100%;height:100%;text-align: right;z-index: 10;}
    .WxShareTips .shareTipsCt img{width:78%;max-width:520px; height:auto;margin-right:5px;}
    .WxShareTips .shareTipsCt .shareTipsBut{width:100%;padding-top:50px;text-align: center;display:inline-block;}
    .WxShareTips .shareTipsCt .closeShareTips{height:38px;line-height:38px;width:68%;text-align: center;color:#fff;background: #202020;display:inline-block;border-radius:5px;border:1px #fff solid;}
    /* 新闻详情关联产品 */
    .related-product .pic img{width:100%;height:auto;}
    .related-product .related-btn{box-sizing:border-box;display:block;width:100%;overflow:hidden;padding:0 20px;}
    .related-product-box{background-color:#f2f2f2;padding:0;}
    .related-product{background-color:#fff;margin-top:20px;padding-top:0;display:block;box-sizing:border-box;}
    .related-product .pic{margin-right:0;}
    .related-product .related-con{box-sizing:border-box;padding:20px;max-width:none;width:100%;}
    .related-product .related-con .title{color:#333333;font-size:28px;line-height:28px;}
    .related-product .pic span[class*=Box]{display:block;position:absolute;bottom:20px;left:10px;line-height:24px;padding:8px 20px;box-sizing:border-box;color:#fff;font-size:24px;border-radius:50px}
    .related-product .pic span.shipTourBox{background-color:#ff8540;;}
    .related-product .related-con .txt,.related-product .related-con .business,.related-product .related-con .time{display:none;}
    .related-product .related-btn .price{float:left;color:#ff4848;margin-top:20px;}
    .related-product .related-btn a{float:right;font-size:28px;padding:21px 25px;border:1px solid #FF9D3B;background-color:#FF9D3B;}
    .related-product .related-con .wei-time{display:block;color:#999999;}
    .related-product .related-con .wei-time i{font-size:28px;line-height:1;}
    .related-product .related-con .wei-time span{font-size:24px;}
    .related-product .pc-img{display:none;}
    .related-product .m-img{display:block;}
}