@charset "utf-8";
/*重置公共样式*/
#rightBody.right_body_ct{background: #f2f2f2;}
#rightBody .sight_main #table_list table thead tr{box-shadow:0px 1px 5px #c4c4c4;-moz-box-shadow:0px 1px 5px #c4c4c4;-webkit-box-shadow:0px 1px 5px #c4c4c4;-o-box-shadow:0px 1px 5px #c4c4c4;}
/*main-content*/
#rightBody .sight_main{position:relative;z-index:0;box-shadow:1px -3px 3px #ccc;margin:0 auto;width:950px;min-height:580px;width:949px;border-right: 1px solid #DADADA;}
#rightBody .sight_main .w965{width: 965px;}
#rightBody .sight_main .w932{width: 932px;}
#rightBody .sight_main .w180{width: 180px;}
#rightBody .sight_main .w200{width: 200px;}
#rightBody .sight_main .w150{width: 150px;}
#rightBody .sight_main .h40{height: 40px;line-height: 40px;}
#rightBody .sight_main .h45{height: 45px;line-height: 45px;}

#rightBody .sight_main .sight_right{padding-left:3px;float:left;min-height:580px;display:inline-block;}
#rightBody .sight_main .sight_right_top{background: #fff;}
#rightBody .sight_main .sight_right_main{display:inline-block;padding:20px 20px 20px 20px;}
#rightBody .sight_main .sight_right_main .sight_list{display:inline-block;margin-left:-1px;}
#rightBody .sight_main .sight_right_main .sight_list .sight_item{float:left;display:inline-block;margin:0 5px 10px 0;}
#rightBody .sight_main .sight_right_main .sight_list .sight_item .sight_item_div{position: relative;z-index:0;width:180px;height:270px;}
#rightBody .sight_main .sight_right_main .sight_list .sight_item .sight_pic, #rightBody .sight_main .sight_right_main .sight_list .sight_item .sight_pic img{display:inline-block;overflow:hidden;width:164px;height:246px;}
  .sight_pic_operate_opacity,.sight_pic_title{position:absolute;z-index:99;left:0px;bottom:25px;display:inline-block;height:35px;width:164px;background: rgba(0,0,0,.6);}
#rightBody .sight_main .sight_right_main .sight_list .sight_item .sight_pic_operate{position:absolute;z-index:100;left:0px;bottom:38px;display:inline-block;height:10px;line-height:10px;width:164px;text-align: center;color:#fff;font-size:14px;}
#rightBody .sight_main .sight_right_main .sight_list .sight_item .sight_pic_operate a{color:#fff;font-size:16px;}
#rightBody .sight_main .sight_right_main .sight_list .sight_item #sightOperate{display:show;}

#rightBody .sight_main .sight_right_main .sight_list .sight_item .sight_pic_title{position:absolute;z-index:5;
top:0;display:inline-block;height:24px;line-height:24px;width:164px;text-align: center;color:#fff;font-size:14px;
}
#rightBody .sight_main .sight_right_main .sight_list .sight_item #sightTitle{display:show;}

.search-select{height:25px;line-height:25px;}
select[name=touristlineId].search-select{width:184px;}
.search-select option{height:16px;padding:5px 0 5px 3px;}
