@charset "utf-8";
/**
* 首页css
* @author wuxing
* @date 2015-02-28
*/
/*重置公共样式*/
input.theme_input{width: 200px;padding:4px 4px 4px 6px;height:20px;border:1px solid #eee;-webkit-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);-o-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);font-size: 14px;}
.aui_outer .ct_info .main_view select.search_sel{margin-right:5px;padding:0 2px 0 5px; width:100px;height:25px; border:1px solid #eee;-webkit-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);-moz-box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);box-shadow:inset 1px 1px 1px rgba(0, 0, 0, 0.3);}
.aui_outer .ct_info .main_view{font-size: 12px; height: 100%; width: 100%;}

.aui_outer .ct_info .content_view td {padding-bottom: 5px;padding-top: 5px;}
.aui_outer .ct_info .content_list td, .content_view td {border-bottom: 1px solid #eee;height: 30px;padding-left: 5px;}

.aui_outer .ct_info [class*="form"]{text-align: left;font-size:14px;}
.aui_outer .ct_info [class*="form"] .tc{margin:20px;text-align: left;}
.aui_outer .ct_info [class*="form"] .tc .label{float:left;display: inline-block; width:28%;text-align: right;}
.aui_outer .ct_info [class*="form"] .tc .save_but{margin-top:10px;}
.aui_outer .ct_info .content_view .tree_body{ max-height: 150px;overflow-x: hidden;overflow-y: scroll;}
.aui_outer .ct_info .main_view .main_view_left{float:left;display:inline-block;width:324px;height:363px;overflow: hidden;}
.aui_outer .ct_info .main_view .main_view_right{padding-left:10px;float:left;display:inline-block;width:300px;height:363px;overflow: hidden;}
.aui_outer .ct_info .main_view .main_view_right .main_view_right_ct{width:100%;height:323px;overflow-x: hidden;overflow-y: scroll;}
.aui_outer .ct_info .main_view .main_view_right .main_view_right_ct .play_li{line-height:30px;padding:5px 0;}
.aui_outer .ct_info .main_view .main_view_right .main_view_right_top{height:30px;width:100%;display:inline-block;padding-bottom:10px;}
.aui_outer .ct_info .main_view .main_view_right .remove_parent{width:36px;text-align: center;border:1px #ccc solid;height:28px;color:#777;display:inline-block;}