@charset "utf-8";
/**
* 首页css
* @author wuxing
* @date 2015-02-28
*/
/*重置公共样式*/
#rightBody input.theme_input{width: 200px;}

#rightBody .ct_info .password_form{margin:50px;text-align: left;font-size:14px;}
#rightBody .ct_info .password_form .tc{margin:20px;text-align: left;}
#rightBody .ct_info .password_form .tc .label{display: inline-block; width:14%;text-align: right;}
#rightBody .ct_info .password_form .tc .save_but{margin-top:10px;}
