@charset "utf-8";
.recommend-setting{width:850px;margin:25px auto 10px;color:#666;}
.recommend-left {width:300px;height:603px;border-right:solid 1px #ccc;background:url(../images/iphone.png) no-repeat;float:left;padding-right:75px;}
.iphone{border:solid 1px #666;margin:70px 25px;height:453px;background:url(../images/preview.png) left bottom no-repeat;}
.iphone h1{background:url(../images/iphone-title.png) top center no-repeat;height:29px;line-height:26px;color:#fff;font-size:12px;font-weight:400;padding-left:102px;}
.preview{background:#fff;height:112px;overflow:hidden;position:relative;display:none;}
.preview img{display:block;width:250px;}
.preview-index{position:absolute;bottom:0;left:0;height:35px;width:100%;}
.preview-index span{display:block;height:100%;position:absolute;top:0;left:0;}
.preview-index .bg{background:#333;opacity:0.3;position:absolute;width:100%;}
.preview-index .title{width:70%;line-height:35px;color:#fff;font-weight:700;text-indent:10px;overflow:hidden;}
.preview-index .index{width: 30%;left: auto;right: 0;height: 10px;top: 12px;text-align:right;}
.preview-index .index a{display:inline-block;cursor:default;border:solid 1px #fff;border-radius:50%;height:8px;width:8px;margin:0 5px;background:transparent;}
.preview-index .index a.active{background-color:#fff;}

.recommend-right{width:339px;float:left;margin-left:100px}
.formError{min-width:100px;}
.recommend-right ul{display:none;width:410px;}
.recommend-right h3{display:inline-block;}
.recommend-right h3 a{display:inline-block;height:35px;line-height:35px;padding:0 35px;border-top:solid 1px #ccc;border-bottom:solid 1px #ccc;}
.recommend-right h3 a.active{background-color:#78a7ff;color:#fff;border-color:#78a7ff;}
.recommend-right h3 a:first-child{border-top-left-radius:5px;border-bottom-left-radius:5px;border-left:solid 1px #ccc;}
.recommend-right h3 a:last-child{border-top-right-radius:5px;border-bottom-right-radius:5px;border-right:solid 1px #ccc;}

.btn-container{text-align:center;padding-bottom:25px;margin-bottom:30px;border-bottom:solid 1px #ccc;}
.btn-container button{background:#78a7ff;font-size:16px;font-weight:700;border:none;outline:none;color:#fff;height:40px;padding:0 35px;border-radius:5px;cursor:pointer;}

.recommend-right li .query_warning{top: 13px;right: 14px;}
.recommend-right li{position:relative;border:solid 1px #ccc;margin-top:20px;border-radius:5px;border-top-left-radius:0;padding-bottom:15px;width:335px;}
.recommend-right li h4{height:30px;line-height:30px;padding:0 10px;}
.recommend-right li div.input{position:relative;padding:10px 10px 5px;display:inline-block;height:26px;margin-right:45px;}
.recommend-right li div.input input{border:solid 1px #ccc;width:180px;padding:5px 8px;}
.recommend-right li div.input span{cursor:pointer;background:#78a7ff;text-align:center;width:60px;color:#fff;right:-50px;top:10px;display:inline-block;height:26px;line-height:26px;position:absolute;overflow:hidden;}
.recommend-right li em{position:absolute;top:-1px;left:-51px;width:50px;height:25px;line-height:25px;display:block;font-style:normal;background:#78a7ff;color:#fff;text-align:center;}
.recommend-right li .msg{color:#ff4848;}
/*pv样式*/
.recommended_set_pv{position:absolute;width:70px;height:84px;line-height:84px;top:0;left:340px}