@charset "utf-8";
#rightBody .ct_info .recommend_content{padding: 0 20px 20px 20px;}
#rightBody .ct_info .recommend_content .diy_left_input{margin:10px 15px;}
#rightBody .ct_info .recommend_content .diy_left_input input.theme_input{width:300px;height:25px;  padding: 2px 4px 2px 6px}
#rightBody .theme_but{height:30px;line-height:30px;}
#rightBody .diy_left_input .left_icon {height:60px;line-height: 60px;}
#rightBody .ct_info .statistics_items{display:inline-block;padding:10px 0px 0px 40px;font-size:14px}
#rightBody .ct_info .recommend_pv{height:30px;line-height:30px;font-size:12px;width:60px;float:right;margin-top:-30px}

