@charset "utf-8";

#rightBody{width:100%;}
#contents .content_body .ct_body_all {background: none;}
#contents .content_body .shadows {background: none;}
#contents .content_body .supplier-info{height:220px;width:100%;display:inline-block;background: #fff;}
#contents .content_body .supplier-info .info{margin:20px 8px 20px 20px;width:898px;height:180px;border:1px solid #808080;-moz-border-radius: 5px; -webkit-border-radius:5px;border-radius::5px;display:inline-block;text-align: center;}
#contents .content_body .supplier-info .logo{width:130px;height:130px;display:inline-block;overflow: hidden;margin: 30px 20px 20px 10px;}
#contents .content_body .supplier-info .logo img{width:130px;height:130px;}
#contents .content_body .supplier-info .content{width:700px;height:145px;display:inline-block;overflow: hidden;margin: 15px 15px 15px 0px;}
#contents .content_body .supplier-info .content .title{height:35px;line-height:35px;width:100%;display:inline-block;padding-left:4px;font-size:20px;text-align:left;border-bottom:3px solid #e2e2e2;}
#contents .content_body .supplier-info .content .text{line-height:28px;text-align:left;font-size:16px;}
#contents .content_body .supplier-info .content .text div{padding:0px 5px; width: 98%;white-space:normal;word-break:break-all;line-height:28px;}
#contents .content_body .supplier-info .certifaicate{overflow:hidden;margin:20px 20px 20px 8px;padding:25px 21px;width:196px;height:130px;border:1px solid #808080;display:inline-block;-moz-border-radius: 5px; -webkit-border-radius:5px;border-radius::5px;}
#contents .content_body .supplier-info .certifaicate div{float:left;width:60px;height:60px;margin:2px;-moz-border-radius: 3px; -webkit-border-radius:3px;border-radius::3px;}
#contents .content_body .supplier-info .certifaicate div img{width:60px;height:60px;-moz-border-radius: 3px; -webkit-border-radius:3px;border-radius::3px;}
#contents .content_body .tour-plan{width:100%;display:inline-block;background: #fff;margin: 5px 0px 0px 0px;}
#contents .content_body .tour-plan .line-menu{width:100%;display:inline-block;border-bottom:3px solid #e2e2e2;font-size:20px;}
#contents .content_body .tour-plan .line-menu li{float:left;height:52px;line-height:52px;padding:0px 8px;margin:0px 2px;cursor: pointer;}
#contents .content_body .tour-plan .line-menu li.on,#contents .content_body .tour-plan .line-menu li:hover{margin-bottom:-3px;border-bottom: 3px solid #5bc0de; color:#76c8e2;}
#contents .content_body .tour-plan .line-menu .li-first{width:170px;cursor:default;}
#contents .content_body .tour-plan .line-menu .li-first:hover{border-bottom:none;}
.tour_plan_content .tour_plan_bg{margin:10px 0px;padding:30px 10px;}
.tour_plan_content .table_plan{width:100%;word-break:break-all;text-align: center;border:1px solid #d5dee4;border-collapse: collapse;color:#fff;}
.tour_plan_content .table_plan .tour-name{cursor: pointer;}
.tour_plan_content .table_plan tr th{height:45px;line-height:45px;border:1px solid #d5dee4;font-size: 16px;}
.tour_plan_content .table_plan tr td{height:35px;border:1px solid #d5dee4;}


.tour_plan_content .table_plan .pointer {cursor: pointer; }
.tour_plan_content .table_plan span {display: inline-block;}
.tour_plan_content .table_plan span.red {color:#fe9c99}
.tour_plan_content .table_plan span.more {cursor:pointer;background-image: url("/console/theme/blue/images/product/icon-Dropkey.png");display: inline-block;height: 10px;width: 10px;}
.tour_plan_content .table_plan span.nomore {height: 10px;width: 10px;}

.tour_plan_content .table_plan .dates {}
.tour_plan_content .table_plan .more_dates {display: none; background-color: #fff;color:#000; z-index: 999; width:240px; position: absolute;text-align: center;-moz-border-radius: 5px; -webkit-border-radius:5px;border-radius::5px;}
.tour_plan_content .table_plan .more_dates li{width:240px;}
.tour_plan_content .table_plan .more_dates .month {width:35%;text-align: right;vertical-align: top;margin-top: 2px;}
.tour_plan_content .table_plan .more_dates .date {word-break:break-all;width:60%;text-align: left;}
.tour_plan_content .table_plan .dates:hover .more_dates {display: block;}

.tour_plan_content .table_plan .prices { }
.tour_plan_content .table_plan .prices li{white-space: nowrap; padding: 0 15px; }
.tour_plan_content .table_plan .prices .type {}
.tour_plan_content .table_plan .prices .price {}
.tour_plan_content .table_plan .more_prices {display: none; background-color: #fff;color:#000; z-index: 999; position: absolute;width:130px;text-align: center;-moz-border-radius: 5px; -webkit-border-radius:5px;border-radius::5px;}
.tour_plan_content .table_plan .prices .more_prices li .type{width:50%;text-align: right;vertical-align: top;margin-top: 2px;}
.tour_plan_content .table_plan .prices .more_prices li .price{width:45%;text-align: left;}
.tour_plan_content .table_plan .prices:hover .more_prices {display: block;}

#contents .content_body .supplier-contact{width:100%;display:inline-block;background: #fff;margin: 5px 0px 0px 0px;}
#contents .content_body .supplier-contact .table-contact{width:100%;text-align: center;border:1px solid #808080;border-collapse: collapse;-moz-border-radius: 5px; -webkit-border-radius:5px;border-radius::5px;}
#contents .content_body .supplier-contact .table-contact tr th{height:38px;background-color: #5bc0de;color:#fff;}
#contents .content_body .supplier-contact .table-contact tr td{height:35px;border:1px solid #808080;}

#message {background:url('../images/supplier/tips.png');text-align:center;line-height:49px;height:41px;width:171px;position:absolute;display:none;left:98px;color:#77c9e2;-moz-border-radius: 3px; -webkit-border-radius:3px;border-radius::3px;cursor: pointer;}

