@charset "utf-8";
/*重置公共样式*/
#rightBody.right_body_ct{background: #f2f2f2;}
/*main-content*/
#rightBody .sight_main{position:relative;z-index:0;box-shadow:1px -3px 3px #ccc;margin:0 auto;width:950px;min-height:580px;width:949px;border-right: 1px solid #DADADA;}
#rightBody .sight_main .w765{width: 765px;}
#rightBody .sight_main .w732{width: 732px;}
#rightBody .sight_main .w180{width: 180px;}
#rightBody .sight_main .w200{width: 200px;}
#rightBody .sight_main .w150{width: 150px;}
#rightBody .sight_main .h40{height: 40px;line-height: 40px;}
#rightBody .sight_main .h45{height: 45px;line-height: 45px;}

#rightBody .sight_main .sight_left{float:left;min-height:580px; box-shadow:1px 1px 6px #ccc;-moz-box-shadow:1px 1px 6px #ccc;-webkit-box-shadow:1px 1px 6px #ccc;-o-box-shadow:1px 1px 6px #ccc;overflow:hidden;display:inline-block; }
/*重置树的样式*/
#rightBody .sight_main .sight_left #areaTree ul.fancytree-container{background: #f2f2f2;border: none;margin-top:10px;}

#rightBody .sight_main .sight_right{padding-left:3px;float:left;min-height:580px;display:inline-block;background-color: #fff}
#rightBody .sight_main .sight_right_main{display:inline-block;padding:20px 15px 20px 20px;}
