@charset "utf-8";
@import "variables-bootstrap";
@import "varibale";
@import "scss/mixins";
@import "scss/type";

@import "scss/buttons";
//手机端图标
@import "wl-iconfont/iconfont";

@import "reset";

.fr{float:right !important;}